/// We could be heroes
///
/// @group heroes
///
/// @example scss - usage
///
///   @include k-Hero;
///
/// @example html
///
///  <div class="k-Hero k-Hero__grid">
///    <div class="k-Marger">
///      <div class="k-Grid">
///        <div class="k-GridCol">
///          <div class="k-Marger">
///            <h2 class="k-Title"> … </h2>
///            <p class="k-Paragraph"> … </p>
///            <div class="k-Button k-Button--helium k-Button--big"> … </div>
///          </div>
///        </div>
///        <div class="k-GridCol">
///         <div class="k-Hero__card k-Card k-Card--withBorder" />
///        </div>
///      </div>
///    </div>
///  </div>

@mixin k-Hero {
  $box-shadow-values: 0 5px 15px;
  $box-shadow-color: map-get($k-colors, 'line-1');

  .k-Hero {
    background-color: map-get($k-colors, 'background-1');
    border: 1px solid map-get($k-colors, 'line-2');

    @include k-media-max('m') {
      text-align: center;
    }
  }

  .k-Hero--withShadow {
    box-shadow: $box-shadow-values $box-shadow-color;
  }

  .k-Hero__grid {
    padding: 0 k-px-to-rem(40px);
  }

  .k-Hero__card {
    height: k-px-to-rem(420px);
  }
}
