/// We could be heroes
///
/// @group heroes
///
/// @example scss - usage
///
///   @include k-Hero((
///     font: 'light',
///   ));
///
/// @example html
///
///  <div class="k-Hero">
///    <div class="k-Hero__text">
///      <h1 class="k-Hero__title">Wool balls</h1>
///      <p class="k-Hero__subtitle">Infinite fun.</p>
///    </div>
///    <div class="k-Hero__action">
///      …
///    </div>
///  </div>

@mixin k-Hero($hero) {
  @include k-with-module('k-Hero') {
    $font: k-map-fetch($hero, 'font');

    .k-Hero {
      text-align: center;
      overflow: auto;

      @include k-media-min('l') {
        @include k-grid;
        text-align: left;
      }
    }

    .k-Hero__text {
      margin: k-px-to-rem(40px) 0 k-px-to-rem(30px);

      @include k-media-min('s') {
        margin: k-px-to-rem(62px) 0 k-px-to-rem(30px);
      }

      @include k-media-min('l') {
        margin: k-px-to-rem(107px) 0;
        @include k-grid-col(4);
        @include k-grid-offset(1);
      }
    }

    .k-Hero__title {
      @include k-typographyFont($font);
      @include k-typographyFontSize(5, normal);

      @include k-media-min('m') {
        @include k-typographyFontSize(7, normal);
      }
    }

    .k-Hero__subtitle {
      margin: 0;
      display: none;
      @include k-typographyFont($font);
      @include k-typographyFontSize(0, 1.6);

      @include k-media-min('m') {
        display: block;
        @include k-typographyFontSize(2, 1.6);
      }
    }

    .k-Hero__action {
      margin: 0 0 k-px-to-rem(40px);
      text-align: left;

      @include k-media-min('s') {
        @include k-grid-col(10);
        @include k-grid-offset(1);
      }

      @include k-media-min('m') {
        margin: 0 0 k-px-to-rem(80px);
        @include k-grid-col(8);
        @include k-grid-offset(2);
      }

      @include k-media-min('l') {
        margin: k-px-to-rem(107px) 0;
        @include k-grid-col(4);
        @include k-grid-offset(2);
      }
    }

    .k-Hero--onDark {
      color: #fff;

      a {
        color: inherit;
      }
    }
  }
}
