/// We could be heroes
///
/// @group heroes
///
/// @example scss - usage
///
///   @include k-Hero;
///
/// @example html
///
///  <div class="k-Hero k-Hero__grid k-Card k-Card--withBorder">
///    <div class="k-Marger">
///      <div class="k-Grid">
///        <div class="k-GridCol">
///          <h3 class="k-Title k-Hero__title">Lorem ipsum dolor sit amet</h3>
///          <p class="k-Paragrph">
///            Phasellus viverra nulla ut metus varius …
///          </p>
///        </div>
///        <div class="k-GridCol">
///         <div class="k-Card k-Card--withBorder k-Hero__card" />
///        </div>
///      </div>
///    </div>
///  </div>

@mixin k-Hero {

  .k-Hero {
    height: k-px-to-rem(500px);
    background-color: map-get($k-colors, 'background-1');
    border: 1px solid map-get($k-colors, 'line-2');
  }

  .k-Hero__grid {
    padding: 0 k-px-to-rem(40px);
  }

  .k-Hero__title {
    color: black;
  }

  .k-Hero__card {
    height: k-px-to-rem(420px);
  }
}
