/// Utilities to get link styles.
///
/// @group link
///
/// @example scss - Usage
///
///   @include k-utilities-link;
///
/// @example html
///
///   <a class="k-u-link-primary1" href="…" />
///   <a class="k-u-link-background1" href="…" />
///
///   <a class="k-u-link-primary1--important" href="…" />
///   <a class="k-u-link-background1--important" href="…" />

@mixin k-utilities-link {
  $transition-speed: .3s;

  .k-u-link-primary1 {
    color: map-get($k-colors, 'primary-1');
    transition: color $transition-speed;

    &--important {
      color: map-get($k-colors, 'primary-1') !important;
      transition: color $transition-speed !important;
    }

    &:hover,
    &:focus {
      color: map-get($k-colors, 'primary-3');
    }
    &--important:hover,
    &--important:focus {
      color: map-get($k-colors, 'primary-3') !important;
    }
  }

  .k-u-link-background1 {
    color: map-get($k-colors, 'background-1');
    transition: color $transition-speed;

    &--important {
      color: map-get($k-colors, 'background-1') !important;
      transition: color $transition-speed !important;
    }

    &:hover,
    &:focus {
      color: map-get($k-colors, 'primary-1');
    }
    &--important:hover,
    &--important:focus {
      color: map-get($k-colors, 'primary-1') !important;
    }
  }
}
