<%= example "Avatar uploader" do %>

  <div class="k-AvatarUploader">
    <label for="file" class="k-AvatarUploader__label" tabindex="1">
      <span class="k-AvatarUploader__dropzone">
        <svg class="k-AvatarUploader__dropzone__svg" viewBox="0 0 14 18"
            xmlns="http://www.w3.org/2000/svg">
          <path d="M13.984 14.244c-.404-2.563-2.527-4.502-4.95-5.22
            1.042-1.158 1.595-3.05 1.597-4.33C10.636 2.73 9.024.688
            6.97.688c-2.055 0-3.667 2.04-3.664 4.006.002 1.287.56 3.188
            1.61 4.346-2.4.73-4.497 2.658-4.9 5.204C-.15 15.3 1.075 16
            1.865 16.357c1.554.703 3.33.943 5.02.955 1.71.012 3.5-.21
            5.086-.883.832-.354 2.19-1.07 2.014-2.186z" />
        </svg>
      </span>

      <span>Lorem ipsum dolor</span>
    </label>

    <input id="file" class="k-AvatarUploader__input" type="file" />
  </div>

<% end %>

<%= example "Avatar uploader" do %>

  <div class="k-AvatarUploader">
    <label for="file" class="k-AvatarUploader__label">
      <span class="k-AvatarUploader__dropzone k-AvatarUploader__dropzone--loading">
        <svg class="k-AvatarUploader__dropzone__svg" viewBox="0 0 50 50"
            xmlns="http://www.w3.org/2000/svg">
          <ellipse class="" ry="25" rx="25" cy="25" cx="25"></ellipse>
        </svg>
      </span>

      <span>Lorem ipsum dolor</span>
    </label>

    <input id="file" class="k-AvatarUploader__input" type="file" />
  </div>

<% end %>
