<%= example 'tab bar' do %>

  <div id="tabbar" class="k-TabBar">
    <nav class="k-TabBar__nav">
      <ul class="k-TabBar__list">
        <li>
          <a class="k-TabBar__item is-selected" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
        <li>
          <a class="k-TabBar__item" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
        <li>
          <a class="k-TabBar__item" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <p>
    <a data-toggle-class="is-fixed"
       data-toggle-element="#tabbar"
       href="#">Toggle fixed version</a>
  </p>

<% end %>

<%= example 'Tab bar with 4 items' do %>

  <div id="tabbar2" class="k-TabBar">
    <nav class="k-TabBar__nav">
      <ul class="k-TabBar__list">
        <li>
          <a class="k-TabBar__item is-selected" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
        <li>
          <a class="k-TabBar__item" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
        <li>
          <a class="k-TabBar__item" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
        <li>
          <a class="k-TabBar__item" href="#">
            Lorem <br />ipsum dolor
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <p>
    <a data-toggle-class="is-fixed"
       data-toggle-element="#tabbar2"
       href="#">Toggle fixed version</a>
  </p>

<% end %>
