// Media queries

// Media queries sorted by thinnest to largest
$k-media-queries: (
  xxs: (
    min-width: null,
    max-width: 399px,
  ),
  xs: (
    min-width: 400px,
    max-width: 639px,
  ),
  s: (
    min-width: 640px,
    max-width: 767px,
  ),
  m: (
    min-width: 768px,
    max-width: 1079px,
  ),
  l: (
    min-width: 1080px,
    max-width: 1439px,
  ),
  xl: (
    min-width: 1440px,
    max-width: null,
  ),
) !default;

// Grid

$k-grid: (
  columns: 12,
  container: 1440px,
  gutter-width: 20px,
  thin-gutter-width: 15px,

  container-padding: 40px,
  container-padding-thin: 20px,
) !default;

// Fonts

$k-fonts: (
  light: (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  '400': (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  regular: (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    weight: 500
  ),
  '500': (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    weight: 500
  ),
  '600': (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    weight: 600
  ),
  bold: (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    letter-spacing: .01rem,
    weight: 700
  ),
  '700': (
    family: ("GeneralSans", Helvetica, Arial, sans-serif),
    letter-spacing: .01rem,
    weight: 700
  ),
) !default;

// Colors

$k-colors: (
  'font-1': var(--color-grey-900, #222), // Dark Grey
  'font-2': var(--color-grey-500, #b8b8b8), // Semi Dark Grey
  'font-3': var(--color-grey-600, #949494), // Extra semi dark grey, used for text

  'background-1': var(--color-grey-000, #fff), // White
  'background-2': var(--color-grey-100, #fbfbfb), // Extra Light Grey
  'background-3': var(--color-grey-200, #f6f6f6), // Light Grey

  'line-1': var(--color-grey-300, #eeeeee), // Semi Light Grey
  'line-2': var(--color-grey-400, #d8d8d8), // Grey
  'line-3': var(--color-grey-800, #2d2d2d), // Extra semi dark grey, not used for text

  'grey-1': var(--color-grey-700, #636363), // Medium grey used for text or not

  'primary-1': var(--color-primary-500, #19b4fa), // Primary
  'primary-2': var(--color-primary-700, #05a8e6), // Semi Dark Primary
  'primary-3': var(--color-primary-900, #0496cc), // Dark Primary
  'primary-4': var(--color-primary-300, #bae8fd), // Light Primary
  'primary-5': var(--color-primary-100, #e8f7fe), // Extra Light Primary
  'primary-6': var(--color-primary-100, #e8f7fe), // Thin Primary

  'tertiary-1': var(--color-success-100, #effaf1), // Light Green
  'tertiary-2': var(--color-success-300, #cff0d6), // Semi Light Green

  'valid': var(--color-success-500, #61d079), // Green

  'error': var(--color-danger-500, #ff0046), // Red
  'error-2': var(--color-danger-100, #ffe5ec), // Light Red
  'error-3': var(--color-danger-300, #ffb2c7), // Semi Light Red
  'error-4': var(--color-danger-700, #d8043e), // Semi Dark Red
  'error-5': var(--color-danger-900, #a8002e), // Dark Red

  'orange': var(--color-warning-500, #ff7800),
  'orange-1': var(--color-warning-100, #fff2e7), // Orange light
  'orange-2': var(--color-warning-700, #f57905), // Orange semi dark
  'orange-3': var(--color-warning-900, #eb6e00), // Orange dark
) !default;


$k-typography-scale: (
  '-4': 10px,
  '-3': 11px,
  '-2': 12px,
  '-1': 14px,
   '0': 16px,
   '1': 18px,
   '2': 20px,
   '3': 22px,
   '4': 24px,
   '5': 28px,
   '6': 32px,
   '7': 36px,
   '8': 41px,
   '9': 46px,
  '10': 52px,
  '11': 58px,
  '12': 64px,
  '13': 74px,
  '14': 84px,
  '15': 94px,
  '16': 105px,
) !default;
