// Media queries

// Media queries sorted by thinnest to largest
$k-media-queries: (
  xxs: (
    min-width: null,
    max-width: 479px,
  ),
  xs: (
    min-width: 480px,
    max-width: 639px,
  ),
  s: (
    min-width: 640px,
    max-width: 767px,
  ),
  m: (
    min-width: 768px,
    max-width: 1079px,
  ),
  l: (
    min-width: 1080px,
    max-width: 1439px,
  ),
  xl: (
    min-width: 1440px,
    max-width: null,
  ),
) !default;

// Grid

$k-grid: (
  columns: 12,
  container: 1440px,
  gutter-width: 20px,
  thin-gutter-width: 15px,
) !default;

// Susy

$columns: map-get($k-grid, 'columns');
$container: map-get($k-grid, 'container');
$gutter-width: map-get($k-grid, 'gutter-width');
$column-width: ($container - ($columns - 1) * $gutter-width) / $columns;

$susy: (
  columns: $columns,
  container: $container,
  gutter-position: split,
  gutters: $gutter-width/$column-width,
) !default;

// Fonts

$k-fonts: (
  light: (
    family: ("Maax", Helvetica, Arial, sans-serif),
    weight: 300
  ),
  regular: (
    family: ("Maax", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  bold: (
    family: ("Maax", Helvetica, Arial, sans-serif),
    weight: 600
  ),
  regular-uppercase: (
    family: ("Maax", Helvetica, Arial, sans-serif),
    weight: 400,
    transform: uppercase
  ),
  bold-uppercase: (
    family: ("Maax", Helvetica, Arial, sans-serif),
    weight: 600,
    letter-spacing: .1rem,
    transform: uppercase
  ),
) !default;

// Colors

$k-colors: (
  'font-1': #333,
  'font-2': #b8b8b8,
  'background-1': #fff,
  'background-2': #fbfbfb,
  'background-3': #f6f6f6,
  'line-1': #eee,
  'line-2': #d8d8d8,

  'primary-1': #4a84ff,
  'primary-2': #3b75f0,
  'primary-3': #2c66e1,
  'primary-4': #cadbfd,
  'primary-5': #ecf2ff,
  'primary-6': #f6f9ff,

  'secondary-1': #4bfffa,
  'secondary-2': #3cf0eb,
  'secondary-3': #2de1dc,

  'tertiary-1': #68ffa0,
  'tertiary-2': #59f091,
  'tertiary-3': #4ae191,

  'valid': #70c050,
  'error': #ff4146,
  'error-2': #ffecec,
) !default;
