/* Maax-Light */
@font-face {
  font-family: 'Maax';
  font-weight: 300;
  font-style: normal;

  src: url('~maax/Maax-Regular.eot') format('eot'),
       url('~maax/Maax-Regular.svg') format('svg'),
       url('~maax/Maax-Regular.ttf') format('ttf'),
       url('~maax/Maax-Regular.woff2') format('woff2'),
       url('~maax/Maax-Regular.woff') format('woff');
}

/* Maax-Regular */
@font-face {
  font-family: 'Maax';
  font-weight: 400;
  font-style: normal;

  src: url('~maax/Maax-Regular.eot') format('eot'),
       url('~maax/Maax-Regular.svg') format('svg'),
       url('~maax/Maax-Regular.ttf') format('ttf'),
       url('~maax/Maax-Regular.woff2') format('woff2'),
       url('~maax/Maax-Regular.woff') format('woff');
}

/* Maax-Bold */
@font-face {
  font-family: 'Maax';
  font-weight: 600;
  font-style: normal;

  src: url('~maax/Maax-Medium.eot') format('eot'),
       url('~maax/Maax-Medium.svg') format('svg'),
       url('~maax/Maax-Medium.ttf') format('ttf'),
       url('~maax/Maax-Medium.woff2') format('woff2'),
       url('~maax/Maax-Medium.woff') format('woff');
}
