/// Link typography.
///
/// @group typography
///
/// @example scss - usage
///
///   @include k-Link;
///
/// @example html
///
///   <a class='k-Link'>Link</a>
///

@mixin k-Link {
  // Font
  $font: 'source-sans';
  $font-step: -1;

  // Color
  $color: map-get($k-colors, 'primary-1');
  $hover-color: map-get($k-colors, 'primary-2');
  $active-color: map-get($k-colors, 'primary-3');


  .k-Link {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step);

    color: $color;
    text-decoration: none;

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }
  }
}
