/// Paragraph font
///
/// @group typography
///
/// @example scss - usage
///
///   @include k-Paragraph;
///
/// @example html
///
///   <p class='k-Paragraph k-Paragraph--primary'>Paragraph 1</p>
///   <p class='k-Paragraph k-Paragraph--secondary'>Paragraph 2</p>
///   <p class='k-Paragraph k-Paragraph--tertiary'>Paragraph 3</p>
///   <p class='k-Paragraph k-Paragraph--quaternary'>Paragraph 4</p>

@mixin k-Paragraph {
  $font: 'source-sans-light';

  .k-Paragraph {
    @include k-typographyFont($font);
  }

  .k-Paragraph--primary {
    @include k-typographyFontScale($font-step: 1, $font-step-on-media: 2);
  }

  .k-Paragraph--secondary {
    @include k-typographyFontScale($font-step: 0, $font-step-on-media: 1);
  }

  .k-Paragraph--tertiary {
    @include k-typographyFontScale();
  }

  .k-Paragraph--quaternary {
    @include k-typographyFontScale($font-step: -1);
  }
}
