/// The schema used to validate typographic scale definitions.
///
/// @group typography
///
/// @type Map
$k-typography-scale-schema: (
  type: 'map',

  properties: (
    styles: (
      type: 'map',

      additional-properties: (
        type: 'map',

        properties: (
          family: k-string-schema(),
          step:   k-number-schema($unit: none),
        ),

        required: (
          'family',
          'step'
        )
      )
    )
  ),

  required: (
    'styles'
  )
);
