/// Title
///
/// @group typography
///
/// @example scss - usage
///
///   @include k-Title;
///
/// @example html
///
///   <h1 class='k-Title k-Title--primary'>Title 1</h1>
///   <h2 class='k-Title k-Title--secondary'>Title 2</h2>
///   <h3 class='k-Title k-Title--tertiary'>Title 3</h3>
///   <h4 class='k-Title k-Title--quaternary'>Title 4</h4>
///   <h5 class='k-Title k-Title--quinary'>Title 5</h5>

@mixin k-Title {
  $font: 'source-sans-light';

  .k-Title {
    @include k-typographyFont($font);
  }

  .k-Title--primary {
    @include k-typographyFontScale($font-step: 7,
                                   $font-step-on-media: 12,
                                   $title: true);
  }

  .k-Title--secondary {
    @include k-typographyFontScale($font-step: 6,
                                   $font-step-on-media: 9,
                                   $title: true);
  }

  .k-Title--tertiary {
    @include k-typographyFontScale($font-step: 5,
                                   $font-step-on-media: 7,
                                   $title: true);
  }

  .k-Title--quaternary {
    @include k-typographyFontScale($font-step: 4,
                                   $font-step-on-media: 5,
                                   $title: true);
  }

  .k-Title--quinary {
    @include k-typographyFontScale($font-step: 2,
                                   $font-step-on-media: 4,
                                   $title: true);
  }
}
