/// Validate a color.
///
/// @group definitions
///
/// @return {color}
///
/// @example scss - Usage
///   k-color-definition(10px)
///   // "10px" is not a valid color in "k-Button: $button"

@function k-color-definition($value) {
  // @if $value and type-of($value) != 'color' {
  //   $error-message: k-log(
  //     '"#{$value}" is not a valid color in "#{$k-module}".'
  //   );
  // }

  @return $value;
}
