/// Validate a number with unit.
///
/// @group definitions
///
/// @return {number}
///
/// @example scss - Usage
///   k-number-definition(#000)
///   // "#000" is not a valid number in "k-Button: $button"
///
///   k-number-definition(10px, 'rem')
///   // "10px" has not a valid unit "rem" in "k-Button: $button"

@function k-number-definition($value, $unit: none) {
  @if $value {
    @if type-of($value) != "number" {
      $error-message: k-log(
        '"#{$value}" is not a valid number in "#{$k-module}".'
      );
    }

    @if $unit != none and unit($value) != $unit {
      $error-message: k-log(
        '"#{$value}" has not a valid unit "#{$unit}" in "#{$k-module}".'
      );
    }
  }

  @return $value;
}
