/// Validate a string.
///
/// @group definitions
///
/// @return {string}
///
/// @example scss - Usage
///   k-number-definition(10px)
///   // "10px" is not a valid string in "k-Button: $button"

@function k-string-definition($value) {
  @if $value and type-of($value) != 'string' {
    $error-message: k-log('"#{$value}" is not a valid string "#{$k-module}".');
  }

  @return $value;
}
