<p>&lt;button&gt; tag</p>

<p>
  <button class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </button>
</p>

<p>&lt;a&gt; tag</p>

<p>
  <a class="k-ButtonImage" href="#" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </a>
</p>

<p>&lt;span&gt; tag</p>

<p>
  <span class="k-ButtonImage" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </span>
</p>

<p>&lt;button&gt; tag (tiny)</p>

<p>
  <button class="k-ButtonImage k-ButtonImage--tiny" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </button>
</p>

<p>&lt;button&gt; tag (big)</p>

<p>
  <button class="k-ButtonImage k-ButtonImage--big" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </button>
</p>

<p>&lt;button&gt; tag (disabled)</p>

<p>
  <button class="k-ButtonImage k-ButtonImage--big" disabled="disabled" title="Profil">
    <img class="k-ButtonImage__img"
      src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64">
  </button>
</p>
