p
  = '<button> tag'
p
  button.k-ButtonImage title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"

p
  = '<a> tag'
p
  a.k-ButtonImage href="#" title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"

p
  = '<span> tag'
p
  span.k-ButtonImage title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"

p
  = '<button> tag (tiny)'
p
  button.k-ButtonImage.k-ButtonImage--tiny title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"

p
  = '<button> tag (big)'
p
  button.k-ButtonImage.k-ButtonImage--big title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"

p
  = '<button> tag (disabled)'
p
  button.k-ButtonImage disabled="disabled" title="Profile"
    img.k-ButtonImage__img src="https://secure.gravatar.com/avatar/7aecc2cd4a77ead1bb9bcf1f250a7fc4?s=64"
