<h2 class="k-StyleguideTitle__breadcrumb">Simulators</h2>

<%= render 'layouts/kitten/component',
           component: 'organisms/simulators/loan-simulator',
           title: 'Loan simulator',
           description: 'Simulator is used when the user needs to make a decision based on several parameters. It is important to differentiate what the user wants to choice (the data he enters) from what the user needs to know (the result) ' ,
           examples_display: :vertical %>
