<h2 class="k-StyleguideTitle__breadcrumb">Buttons</h2>

<%= render 'layouts/kitten/component',
           component: 'atoms/buttons/button',
           title: 'Primary buttons',
           description: 'The Primary button is used for primary actions on a web page, on a modal, or on a navigation component. They can be used in 2 sizes: default and big. If not specified, call-to-actions are in the “button” style. Copy always starts with an action verb. Long buttons are used for a long action copy. The Primary button can have a colored background to be more visible. If two primary buttons are aligned horizontally, the main call to action is always on the right. ' %>

<%= render 'layouts/kitten/component',
           component: 'atoms/buttons/button-icon',
           title: 'Icon buttons',
           description: 'The Icon button is used for secondary actions, in order to perform contextual and simple actions, such as “search”, “call”, “share”. They don’t require an action verb to be understood. They can be used in 3 sizes: default, big and tiny. ' %>

<%= render 'layouts/kitten/component',
           component: 'atoms/buttons/button-image',
           title: 'Image buttons',
           description: 'Image button is used as secondary button. Their background is a personal picture of the user or a default picture. They are used to access personal actions (e.g.. “My Account”). ' %>
