<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Normal' do %>
      <div class="k-Testimony">
        <h2 class="k-Testimony__title">De Finibus Bonorum et Malorum</h2>
        <img class="k-Testimony__image"
             alt="Cute kitten"
             src="https://placehold.it/150x150/caf4fe/caf4fe"
             width="150"
             height="150" />
        <blockquote class="k-Testimony__text">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        </blockquote>
      </div>
    <% end %>
  </div>
</div>
