/// Grid
///
/// A flexible grid system based on flexbox.
///
/// @ignore    +-Grid---------------------------+
/// @ignore    |+-Grid__col--6-+                |
/// @ignore    ||              |+-Grid__col--6-+|
/// @ignore    ||              ||              ||
/// @ignore    ||              ||              ||
/// @ignore    ||              |+--------------+|
/// @ignore    |+--------------+                |
/// @ignore    +--------------------------------+
///
/// @group grid
///
/// @example scss - usage
///
///     @include k-Grid;
///
/// @example html
///
///     <div class="k-Grid">
///       <div class="k-Grid__col--12 k-Grid__col--6@lg">
///         …
///       </div>
///       <div class="k-Grid__col--12 k-Grid__col--6@lg">
///         …
///       </div>
///     </div>
@mixin k-Grid {
  $gutter-width: k-map-fetch($k-grid, 'gutter-width');

  // Container row
  .k-Grid {
    @include k-grid;
  }

  // k-Grid__col-1 to k-Grid__col-6 helpers
  @each $name, $query in $k-media-queries {
    $min-width: map-get($query, 'min-width');

    // No media query for the smallest media query (xxs), it's the default
    @if $min-width == null {
      @include _k-GridCols($name, $min-width);
    }
    @if $min-width {
      @media (min-width: $min-width) {
        @include _k-GridCols($name, $min-width);
      }
    }
  }
}

// .k-Grid__col-1 to .k-Grid__col-12 helpers

@mixin _k-GridCols($media, $min-width) {
  $number-of-columns: k-map-fetch($k-grid, 'columns');

  %k-col-#{$media} {
    @include k-grid-colBase;
  }

  @for $columns from 1 through $number-of-columns {
    // For the smallest width, do not add breakpoint suffix (@xxs)
    @if $min-width == null {
      .k-Grid__col--#{$columns} {
        @include k-grid-colSize($columns);
        @extend %k-col-#{$media};
      }
      .k-Grid__col--offset-#{$columns} {
        @include k-grid-offset($columns);
      }
    }

    // For all other widths, add breakpoint suffixes (@s, @m, @l, …)
    @if $min-width {
      .k-Grid__col--#{$columns}\@#{$media} {
        @include k-grid-colSize($columns);
        @extend %k-col-#{$media};
      }
      .k-Grid__col--offset-#{$columns}\@#{$media} {
        @include k-grid-offset($columns);
      }
    }
  }
}
