// Buttons

@include k-TagButton;

// Dropdowns

@include k-Dropdown;

// Form

@include k-Checkbox;
@include k-CheckboxSet;
@include k-LocationInput;
@include k-FormComposer;
@include k-FormInfo;
@include k-RadioButton;
@include k-RadioButtonSet;

@include k-TextAreaWrapper;
@include k-TextInput;
@include k-TextInputWithLimit;
@include k-TextInputWithButton;
@include k-TextInputWithUnit;

// DEPRECATED
@include k-TextInputWithInfo((
  label: (
    font: 'bold',
    font-size: -2,
    color: map-get($k-colors, 'font-1'),
  ),
  error: (
    font: 'regular',
    font-size: -2,
    color: map-get($k-colors, 'error'),
  )
));

// Grid

@include k-SideGrid;
@include k-SingleColumn;

// Lines

@include k-InfoLines;

// Meters

@include k-Progress;

// Navigation

@include k-PlatformSwitch((
  colors: (
    background: map-get($k-colors, 'background-2'),
    border: map-get($k-colors, 'line-1'),
    background-hover: map-get($k-colors, 'line-1'),
    border-active: map-get($k-colors, 'primary-1'),
  )
));

@include k-UserMenu;

// Press

@include k-PressQuotes;

// Teaser

@include k-Teaser;

// Testimonies

@include k-TestimonyList;

@include k-Testimony((
  font: 'light',
));

// Titles

@include k-TitleWithActions;

// Typography

@include k-TypographyBodyCopy;
