// Buttons

@include k-Button;
@include k-ButtonIcon;
@include k-ButtonImage;
@include k-ButtonImageWithText;
@include k-ButtonWithBadge;
@include k-TagButton;

// Boxes

@include k-LinkBox;
@include k-InformationBox;

// Cards

@include k-Card;

// Dev

@include k-DevGrid;
@include k-DevBreakpoint;

// Dropdowns

@include k-Dropdown;
@include k-PhoneDropdown;

// Footer

@include k-Footer;

// Form

@include k-Checkbox;
@include k-CheckboxSet;
@include k-LocationInput;
@include k-Label;
@include k-FormActions;
@include k-FormComposer;
@include k-FormInfo;
@include k-FormRow;
@include k-RadioButton;
@include k-RadioButtonSet;
@include k-SearchInput;

@include k-Select;

@include k-SliderTooltip((
  colors: (
    border: map-get($k-colors, 'primary-4'),
    border-inactive: map-get($k-colors, 'line-1'),
    background: map-get($k-colors, 'background-2'),
    background-inactive: map-get($k-colors, 'background-2'),
    text: map-get($k-colors, 'primary-1'),
    text-inactive: map-get($k-colors, 'font-2'),
  )
));

@include k-Slider((
  colors: (
    progress: map-get($k-colors, 'primary-1'),
    progress-disabled: map-get($k-colors, 'line-2'),
    ramp: map-get($k-colors, 'line-1'),
    handle: map-get($k-colors, 'primary-1'),
    handle-disabled: map-get($k-colors, 'line-2'),
    icon: map-get($k-colors, 'background-1'),
    icon-disabled: map-get($k-colors, 'background-1'),
    border: map-get($k-colors, 'primary-1'),
  )
));

@include k-Switch;
@include k-TextAreaWrapper;
@include k-TextInput;
@include k-TextInputWithLimit;
@include k-TextInputWithButton;
@include k-TextInputWithUnit;

// DEPRECATED
@include k-TextInputWithInfo((
  label: (
    font: 'bold',
    font-size: -2,
    color: map-get($k-colors, 'font-1'),
  ),
  error: (
    font: 'regular',
    font-size: -2,
    color: map-get($k-colors, 'error'),
  )
));

// Footer

@include k-Footer;

// Grid

@include k-Grid;
@include k-Row;
@include k-SideGrid;
@include k-SingleColumn;
@include k-VerticalGrid;

// Header

@include k-Header;

// Images

@include k-Cropper;
@include k-ImageWithCaption;

// Icons

@include k-ArrowIcon;

// Layout

@include k-HorizontalStroke;
@include k-Line;
@include k-ResponsiveIframeContainer;
@include k-VerticalStroke;

// Lines

@include k-InfoLines;

// Links

@include k-ExternalRichLink;

@include k-LinkList;

// Lists

@include k-BulletList;
@include k-TagList;

// Loaders

@include k-Loader;
@include k-LoaderWithParagraph;

// Meters

@include k-Progress;

// Navigation

@include k-HeaderNav;

@include k-HorizontalNav;

@include k-PlatformSwitch((
  colors: (
    background: map-get($k-colors, 'background-2'),
    border: map-get($k-colors, 'line-1'),
    background-hover: map-get($k-colors, 'line-1'),
    border-active: map-get($k-colors, 'primary-1'),
  )
));

@include k-TabBar((z-index: 50));

@include k-UserMenu;

// Notifications

@include k-Badge;
@include k-IconBadge;

// Press

@include k-PressQuotes;

// Popover

@include k-Popover;

// Simulators

@include k-LoanSimulator((
  colors: (
    error: map-get($k-colors, 'error'),
  )
));

// Steppers

@include k-Stepper;

// Teaser

@include k-Teaser;

// Testimonies

@include k-TestimonyList;

@include k-Testimony((
  font: 'light',
));

// Titles

@include k-TitleWithActions;

// Tooltips

@include k-Tooltip;
@include k-TooltipNew;
@include k-StaticTooltip;

// Tours

@include k-Tour;
@include k-HeaderTour;

// Typography

@include k-SupTitle;
@include k-TypographyBodyCopy;
@include k-Title;
@include k-Paragraph;

// Uploaders

@include k-SimpleUploader;
