@import 'kitten/atoms/form/checkbox';

@include k-Checkbox((
  font: 'source-sans-semi-bold',
  colors: (
    background: #fff,
    background-checked: #4a84ff,
    border: #d8d8d8,
    border-hover: #4a84ff,
    background-disabled: #d8d8d8,
  )
));
