@include k-TextInput((
  font: 'source-sans',
  font-size: -1,
  colors: (
    base: (
      color: #333,
      border: #d8d8d8,
      background: #fff,
    ),
    focus: (
      border: #4a84ff,
    ),
    disabled: (
      color: #fff,
      border: #fff,
      background: #d8d8d8,
    ),
    is-valid: (
      color: #70c050,
      border: #70c050,
    ),
    is-error: (
      color: #ff4146,
      border: #ff4146,
    )
  )
));
