<%= example do %>
  <div class="k-GridDuo">
    <div class="k-GridDuo__col">
      Destroy couch. Curl into a furry donut white cat sleeps on a black
      shirt stare at ceiling have secret plans. Pee in the shoe under the bed
      leave dead animals as gifts why must they do that scamper my left donut
      is missing, as is my right chase ball of string. Poop on grasses sit
      on human or intently sniff hand, or jump around on couch, meow constantly
      until given food.
    </div>
    <div class="k-GridDuo__col">
      Destroy the blinds please stop looking at your phone and pet me step on
      your keyboard while you're gaming and then turn in a circle.
    </div>
  </div>
<% end %>
