// TODO: we have to clean these schemas as we use definitions now for
// mixins arguments validations.
@import "kitten/schema/typography/vertical-margin-schema";
@import "kitten/schema/typography/vertical-padding-schema";
