/// Bullet list.
///
/// @group lists
///
/// @example scss - Usage
///
///     @include k-BulletList;
///
/// @example html
///
///     <ul class="k-BulletList">
///       <li>..</li>
///     </ul>

@mixin k-BulletList {
  // Font
  $font: 'source-sans-light';
  $font-step: 0;
  $line-height: 2;

  .k-BulletList {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step, $line-height);
  }
}
