/// Utilities to reset default button styles.
///
/// @group reset
///
/// @example scss - Usage
///
///   @include k-utilities-reset-button;
///
/// @example html
///
///   <button class="k-u-reset-button" />

@mixin k-utilities-reset-button {
  .k-u-reset-button {
  /**
  * https://fvsch.com/styling-buttons/#reset
  * Reset button styles.
  * It takes a bit of work to achieve a neutral look.
  */
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
  }
}
