@import 'kitten/molecules/form/slider';

@include k-Slider((
  colors: (
    progress: #4a84ff,
    progress-disabled: #d8d8d8,
    ramp: #eee,
    handle: #4a84ff,
    handle-disabled: #d8d8d8,
    icon: #fff,
    icon-disabled: #fff,
    border: #4a84ff,
  )
));
