@import 'kitten/molecules/form/text-input-with-unit';

@include k-TextInputWithUnit((
  input-font: source-sans,
  unit-font: source-sans-semi-bold,
  colors: (
    border: #d8d8d8,
    error: #ff4146,
    focus: #4a84ff
  )
));
