@import 'kitten/molecules/form/text-input-with-button';

@include k-TextInputWithButton((
  font: 'source-sans-semi-bold',
  font-size: -4,
  color: #fff,
  colors: (
    button: (
      background: #4a84ff,
    ),
    is-valid: (
      background: #70c050,
    ),
    is-error: (
      background: #ff4146,
    )
  )
));
