/// Display element in one line centered vertically.
///
/// @group layout
///
/// @example scss - Usage
///
///   @include k-Line;
///
/// @example html
///
///   <div class="k-Line">
///     <span class="k-Line__item">…</span>
///   </div>

@mixin k-Line {
  .k-Line {
    align-items: center;
    display: flex;
  }

  .k-Line__item {
    margin-right: k-px-to-rem(10px);
  }
}
