/// Display a separator.
///
/// @group layout
///
/// @example scss - Usage
///
///   @include k-Separator;
///
/// @example html
///
///   <hr class="k-Separator" />

@mixin k-Separator {
  .k-Separator {
    @include k-separatorBase;

    height: 1px;
  }
}
