/// Display a status.
///
/// @group layout
///
/// @example scss - Usage
///
///   @include k-Status;
///
/// @example html
///
///   <div class="k-Status" />

@mixin k-Status {
  .k-Status {
    display: flex;
    align-items: center;
  }

  .k-StatusIcon {
    width: k-px-to-rem(10px);
    height: k-px-to-rem(10px);
    border-radius: k-px-to-rem(5px);
    margin-right: k-px-to-rem(10px);
    border-style: solid;
    border-width: 1px;
  }

  .k-StatusText {
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-3);
  }
}
