/// Display a vertical stroke
///
/// @group layout
///
/// @example scss - Usage
///
///   @include k-VerticalStroke;
///
/// @example html
///
///   <span class="k-VerticalStroke" />

@mixin k-VerticalStroke {
  .k-VerticalStroke {
    display: block;
    border: none;
    background: map-get($k-colors, "font-1");
  }

  .k-VerticalStroke--tiny {
    height: k-px-to-rem(20px);
    width: k-px-to-rem(2px);
  }

  .k-VerticalStroke--default {
    height: k-px-to-rem(30px);
    width: k-px-to-rem(4px);
  }

  .k-VerticalStroke--big {
    height: k-px-to-rem(50px);
    width: k-px-to-rem(4px);
  }

  .k-VerticalStroke--huge {
    height: k-px-to-rem(100px);
    width: k-px-to-rem(6px);
  }
}
