/// Display a vertical separator.
///
/// @group layout
///
/// @example scss - Usage
///
///   @include k-VerticalSeparator;
///
/// @example html
///
///   <hr class="k-VerticalSeparator" />

@mixin k-VerticalSeparator {
  .k-VerticalSeparator {
    @include k-separatorBase;

    width: 1px;
    height: 7px;
  }

  &.k-VerticalSeparator--darker {
    background: map-get($k-colors, "line-2");
  }
}
