/// Flexible grid row container.
///
/// @group grid
///
/// @example scss - Usage
///
///   .k-MyComponent {
///     @include k-grid;
///   }
///   .k-MyComponent__child {
///     @include k-grid-col(6);
///     @include k-grid-offset(1);
///   }
@mixin k-grid {
  $gutter-width: k-map-fetch($k-grid, 'gutter-width');

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter-width/2);
  margin-left: -($gutter-width/2);
}
