/// Return the first non-null value, given a variable list of parameters.
///
/// @group 0100_helpers
///
/// @example scss - Usage
///   one-of(null, 1, 'x')
///   // 1
@function k_one-of($values...) {
  @each $value in $values {
    @if $value != null {
      @return $value;
    }
  }

  @return null;
}

/// Check if all arguments are true.
///
/// @group 0100_helpers
///
/// @return {Boolean}
///
/// @example scss - Usage
///   and(true, false, true)
///   // false
@function k_all($values...) {
  @each $value in $values {
    @if not $value {
      @return false;
    }
  }

  @return true;
}
