.bundle/
Gemfile.lock
log/*.log
pkg/
tmp/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/db
spec/dummy/.sass-cache
*.gem
.sass-cache
npm-debug.log
node_modules/

# Changes are ignore so that you can play in it.
app/views/layouts/kitten/playground.html.erb
