.bundle/
Gemfile.lock
log/*.log
pkg/
tmp/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/db
spec/dummy/.sass-cache
*.gem
/node_modules
.sass-cache
app
config
lib
spec
vendor/assets/stylesheets/kitten
Gemfile
.rubocop.yml
.ruby-version
Rakefile
kitten.gemspec
.stylelintrc
public
