{
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "block-no-empty": true,
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "function-name-case": "lower",
    "function-parentheses-space-inside": "never-single-line",
    "indentation": 2,
    "length-zero-no-unit": true,
    "max-empty-lines": 3,
    "max-line-length": 82,
    "max-nesting-depth": 4,
    "no-descending-specificity": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "no-indistinguishable-colors": true,
    "no-missing-eof-newline": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "selector-max-specificity": "0,3,0",
    "selector-no-id": true,
    "unit-case": "lower",
    "scss/at-function-pattern": [ "k-[-a-z]+", {
      "message": "Expected @function name to match the following syxtax
      `@function k-function-name`",
      "severity": "warning"
    } ],
    "scss/at-mixin-pattern": [ "k-[a-zA-Z]", {
      "message": "Expected @mixin name to match the following syxtax `@mixin
      k-[M|m]ixinName`",
      "severity": "warning"
    } ]
  }
}
