<h3 id="<%= component %>" class="k-Row karl-Section__title">
  <%= title %>
</h3>

<%= render template: "kitten/#{component}" %>

<% if description.present? %>
  <section class="karl-Section__example">
    <div class="karl-Example__description">
      <p><%= description %></p>
    </div>
  </section>
<% end %>

<hr class="k-Separator k-Separator--darker" />
