<h3 id="<%= component %>" class="k-Grid__col--12 karl-Section__title">
  <%= title %>
</h3>

<% if defined?(examples_display) && examples_display == :vertical %>
  <% classname = 'karl-Section__example--vertical' %>
<% else %>
<% end %>

<div class="k-Grid__col--12">
  <%= render template: "kitten/#{component}" %>
</div>

<% if description.present? %>
  <section class="karl-Section__example">
    <div class="karl-Example__description">
      <p><%= description %></p>
    </div>
  </section>
<% end %>
