<div class="k-StyleguideSection__allTitle"><%= title %></div>

<% if defined?(examples_display) && examples_display == :vertical %>
  <% classname = 'k-StyleguideSection__allSection--vertical' %>
<% else %>
  <% classname = 'k-StyleguideSection__allSection' %>
<% end %>

<section class="<%= classname %>">
  <%= render template: "kitten/#{component}" %>
</section>

<section class="k-StyleguideSection__allSection">
  <div class="k-StyleguideSection__allDescription">
    <p><%= description%></p>
  </div>
  <div class="k-StyleguideSection__allBloc"></div>
</section>
