<% if hidden_on_s %>
  <div class="k-u-hidden@s-down">
<% end %>

<h3 id="<%= component %>" class="k-Row karl-Section__title">
  <%= title %>
</h3>

<%= render template: "kitten/#{component}" %>

<%= react_component('KarlSeparator') %>

<% if hidden_on_s %>
  </div>
<% end %>
