<h1 class="karl-Title">Brand colors</h1>
<!-- Branding KissKissBankBank -->
  <h2 id="kisskiss/colors" class="karl-Section__title">
    KissKissBankBank colors
  </h2>
  <%= render "kitten/branding/colors", colors: [
    {
      name: 'Primary',
      hexa: '#0D9DDB',
      border: '#0D9DDB',
    },
    {
      name: 'Primary semi black',
      hexa: '#008CCA',
      border: '#008CCA',
    },
    {
      name: 'Primary black',
      hexa: '#007BB9',
      border: '#007BB9',
    },
    {
      name: 'Primary light',
      hexa: '#CBE8F9',
      border: '#CBE8F9',
    },
    {
      name: 'Primary extra light',
      hexa: '#E6F5FB',
      border: '#CBE8F9',
    },
    {
      name: 'Primary thin',
      hexa: '#F3FAFD',
      border: '#CBE8F9',
    },
  ] %>

<!-- Branding hellomerci -->
  <h2 id="hellomerci/colors" class="karl-Section__title">
    hellomerci colors
  </h2>
  <%= render "kitten/branding/colors", colors: [
    {
      name: 'Primary',
      hexa: '#79CCD7',
      border: '#79CCD7',
    },
    {
      name: 'Primary semi black',
      hexa: '#6ABDC8',
      border: '#6ABDC8',
    },
    {
      name: 'Primary black',
      hexa: '#5AAFB9',
      border: '#5AAFB9',
    },
    {
      name: 'Primary light',
      hexa: '#D7EFF2',
      border: '#D7EFF2',
    },
    {
      name: 'Primary extra light',
      hexa: '#F1F9FB',
      border: '#D7EFF2',
    },
    {
      name: 'Primary thin',
      hexa: '#F8FCFD',
      border: '#D7EFF2',
    },
  ] %>

<!-- Branding LENDOPOLIS -->
  <h2 id="lendopolis/colors" class="karl-Section__title">
    LENDOPOLIS colors
  </h2>
  <%= render "kitten/branding/colors", colors: [
    {
      name: 'Primary',
      hexa: '#197FF2',
      border: '#197FF2',
    },
    {
      name: 'Primary semi black',
      hexa: '#0A70E3',
      border: '#0A70E3',
    },
    {
      name: 'Primary black',
      hexa: '#0061D4',
      border: '#0061D4',
    },
    {
      name: 'Primary light',
      hexa: '#BAD8FB',
      border: '#BAD8FB',
    },
    {
      name: 'Primary extra light',
      hexa: '#E8F2FD',
      border: '#BAD8FB',
    },
    {
      name: 'Primary thin',
      hexa: '#F3F8FE',
      border: '#BAD8FB',
    },
  ] %>
