  <section>
  <!-- Branding KissKissBankBank -->
    <h2 id="kisskiss/colors" class="karl-Title__breadcrumb">Branding colors KissKissBankBank</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/kisskissbankbank/colors" %>
    </section>

  <!-- Branding hellomerci -->
    <h2 id="hellomerci/colors" class="karl-Title__breadcrumb">Branding colors Hellomerci</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/hellomerci/colors" %>
    </section>

  <!-- Branding LENDOPOLIS -->
    <h2 id="lendopolis/colors" class="karl-Title__breadcrumb">Branding colors Lendopolis</h2>
    <section class="karl-Colors__chart">
      <%= render "kitten/branding/lendopolis/colors" %>
    </section>
  </section>
