<h1 class="karl-Title">Brand colors</h1>
<section>
<!-- Branding KissKissBankBank -->
  <h2 id="kisskiss/colors" class="karl-Section__title">
    KissKissBankBank colors
  </h2>
  <section class="karl-Colors__chart">
    <%= render "kitten/branding/kisskissbankbank/colors" %>
  </section>

<!-- Branding hellomerci -->
  <h2 id="hellomerci/colors" class="karl-Section__title">
    hellomerci colors
  </h2>
  <section class="karl-Colors__chart">
    <%= render "kitten/branding/hellomerci/colors" %>
  </section>

<!-- Branding LENDOPOLIS -->
  <h2 id="lendopolis/colors" class="karl-Section__title">
    LENDOPOLIS colors
  </h2>
  <section class="karl-Colors__chart">
    <%= render "kitten/branding/lendopolis/colors" %>
  </section>
</section>
