<div id="branding">
  <% Kitten.configuration.branding_categories.each do |category| %>
    <%= render_category(category) %>
    <% category[:components].each do |component| %>
      <%= render_component(component[:path], title: component[:name]) %>
    <% end %>
  <% end %>
</div>

<div id="components">
  <% Kitten.configuration.component_categories.each do |category| %>
    <%= render_category(category) %>
    <% category[:components].each do |component| %>
      <%= render_component(component[:path], title: component[:name],
                          hidden_on_s: component[:hidden_on_s]) %>
    <% end %>
  <% end %>
</div>
