.karl-About__items {
  display: flex;
  justify-content: space-between;
}

.karl-About__itemsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include k-media-max('s') {
    margin-top: k-px-to-rem(50px);
  }
}

.karl-About__title {
  align-self: center;

  @include k-media-min('m') {
    align-self: left;
  }
}

.karl-About__text {
  align-self: center;

  @include k-media-min('m') {
    align-self: left;
  }
}

.karl-About__svg {
  height: k-px-to-rem(80px);

  @include k-media-max('s') {
    margin: 0 auto;
  }
}

.karl-About__bloc {
  margin-top: k-px-to-rem(70px);

  @include k-media-max('s') {
    margin-top: 0;
  }
}
