// Branding/Colors

.karl-Colors__cardBackground {
  padding-top: 8rem;

  background-color: map-get($k-colors, 'primary-3');
}

.karl-Colors__cardDescription {
  padding: k-px-to-rem(15px) k-px-to-rem(20px);

  @include k-typographyFont('source-sans-light');
  @include k-typographyFontSize(-1);
  border-top: solid 1px map-get($k-colors, 'line-1');
}

.karl-Colors__cardParagraph {
  margin: .12rem 0;
}

// Branding/Fonts

.karl-Fonts__card {
  height: 120px;
}

.karl-Fonts__cardDescription {
  text-align: center;
}

.karl-Fonts__cardTitle {
  font-size: 1.125rem;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.karl-Fonts__cardParagraph {
  font-size: .75rem;
}
