$card-size: k-px-to-rem(48px);

.karl-Colors {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: k-px-to-rem(20px);
  height: k-px-to-rem(90px);

  background-color: map-get($k-colors, 'background-1');
  border-radius: k-px-to-rem(8px);
}

.karl-Colors__cardBackground {
  padding-top: $card-size;
  margin-left: k-px-to-rem(20px);
  width: $card-size;
  border-radius: k-px-to-rem(50px);
  border: k-px-to-rem(1px) solid transparent;
}

.karl-Colors__cardDescription {
  @include k-typographyFont('regular');

  margin-left: k-px-to-rem(10px);
  color: map-get($k-colors, 'font-1');
}

.karl-Colors__cardColorName {
  @include k-typographyFont('bold');
  @include k-typographyFontSize(1);

  margin: 0;
}

.karl-Colors__cardHexaName {
  @include k-typographyFontSize(0);

  margin: 0;
  letter-spacing: k-px-to-rem(1px);
}

.karl-Colors__cardSection {
  border-top: k-px-to-rem(1px) solid map-get($k-colors, 'line-2');
  margin: k-px-to-rem(30px) 0 k-px-to-rem(15px);
}
