$size-card: k-px-to-rem(50px);

.karl-Colors {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: k-px-to-rem(20px);
  height: k-px-to-rem(90px);

  background-color: map-get($k-colors, 'background-1');
  border-radius: k-px-to-rem(8px);
}


.karl-Colors__cardBackground {
  padding-top: $size-card;
  margin-left: k-px-to-rem(20px);
  width: $size-card;
  border-radius: $size-card;
  border: k-px-to-rem(1px) solid;
}

.karl-Colors__cardDescription {
  @include k-typographyFont('source-sans');

  margin-left: k-px-to-rem(10px);
  color: map-get($k-colors, 'font-1');
}

.karl-Colors__cardColorName {
  @include k-typographyFontSize(1);

  margin: 0;
  font-weight: 600;
}

.karl-Colors__cardHexaName {
  @include k-typographyFontSize(0);

  margin: 0;
  letter-spacing: k-px-to-rem(1px);
}

.karl-Colors__cardSection {
  border-top: k-px-to-rem(1px) solid map-get($k-colors, 'line-2');
  margin: k-px-to-rem(30px) 0 k-px-to-rem(16px);
}
