.karl-Colors {
  @include k-media-min('m') {
    display: flex;
  }
}

.karl-Colors__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  height: k-px-to-rem(340px);

  @include k-media-min('m') {
    width: 25%;
  }
}

.karl-Colors__cardDescription {
  @include k-typographyFont('regular');

  margin-bottom: k-px-to-rem(30px);
  margin-left: k-px-to-rem(20px);
}

.karl-Colors__separator {
  margin-bottom: k-px-to-rem(40px);
}
