// Header

.karl-Header {
  background-color: $blue;
  height: $header-height;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.karl-Header__container {
  display: flex;
  @include container;
  box-sizing: border-box;
}

.karl-Header__content {
  width: span(12);
}



.karl-Title {
  margin-top: 5rem;
}

.karl-Title__breadcrumb {
  margin-bottom: 2.5rem;

  padding-top: 3rem;
  border-bottom: 2px solid $light-grey-2;

  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4rem;
  text-transform: capitalize;
}
