// Header

.karl-Header {
  position: fixed;
  z-index: 2;

  height: $header-height;
  width: 100%;

  background-color: $blue;
  height: $header-height;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.karl-Header__container {
  display: flex;

  @include container;
  box-sizing: border-box;
  padding: 0 gutter() * 2;
}

.karl-Header__content {
  width: span(12);
}

.karl-Title {
  @include k-typographyFont('source-sans-light');
  @include k-typographyFontSize(9);

  text-align: center;
  margin-top: 5rem;

  &:after {
    display: block;
    margin: k-px-to-rem(30px) auto 0;
    width: 50px;
    border-bottom: 1px $light-grey-2 solid;
    content: '';
  }
}
