$karl-overgrid-z-index: 9999;

.karl-Main {
  background-color: $light-grey-1;
}

.karl-Main__container {
  @include container;

  box-sizing: border-box;
  padding: 0 gutter() * 2;

  position: relative;
  display: flex;

  box-sizing: border-box;
}

.karl-Main__content {
  width: span(8);
  margin: 0 auto;
}

// Utilities

.k-u-clearfix:after {
  display: table;

  clear: both;
  content: " ";
}

// Overlay grid

.karl-OverGrid {
  position: fixed;
  top: 0;
  z-index: $karl-overgrid-z-index;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.karl-OverGrid__container {
  @include container;
  box-sizing: border-box;

  padding: 0 gutter() * 2;

  height: 100%;
  outline: 1px dotted rgba(black, .2);
}

.karl-OverGrid__row {
  height: 100%;
  @include k-grid;
}

.karl-OverGrid__col {
  height: 100%;

  @include k-grid-col(1);
}

.karl-OverGrid__inner {
  height: 100%;
  background: rgba(black, .1);
}


// Represent the grid visually

.karl-GridBox {
  min-height: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 2px;
  background: #4a84ff;
}

// Show the name of the current breakpoint

.karl-OverBreakpoint:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $karl-overgrid-z-index + 1;

  width: 2em;
  height: 1.25em;
  padding: .25em;

  background: rgba(black, .1);
  border-bottom-right-radius: .25rem;

  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(black, .5);

  @each $name, $_query in $k-media-queries {
    @include k-media-min($name) { content: "#{$name}"; }
  }
}
