.karl-Main {
  background-color: $light-grey-1;
}

.karl-Main__container {
  @include container;
  position: relative;
  display: flex;

  box-sizing: border-box;
}

.karl-Main__content {
  width: span(8);
  margin: 0 auto;
}

// Utilities
.k-u-clearfix:after {
  display: table;

  clear: both;
  content: " ";
}

// Overlay grid
.karl-OverGrid {
  position: fixed;
  top: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.karl-OverGrid__row {
  @include container;
  box-sizing: border-box;

  padding: 0 gutter();
  height: 100%;

  outline: 1px dotted rgba(0, 0, 0, .2);
}

.karl-OverGrid__col {
  @include span(1);
  height: 100%;
  min-height: 3rem;

  background: rgba(0, 0, 0, .1);
}
