.karl-Main {
  background-color: $light-grey-1;
}

.karl-Main__container {
  @include container;
  box-sizing: border-box;
  padding: 0 gutter() * 2;

  position: relative;
  display: flex;
  box-sizing: border-box;
}

.karl-Main__content {
  width: span(8);
  margin: 0 auto;
}

// Utilities

.k-u-clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

// Overlay grid

.karl-OverGrid {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99999;
}

.karl-OverGrid__container {
  @include container;
  box-sizing: border-box;
  padding: 0 gutter() * 2;

  height: 100%;
  outline: 1px dotted rgba(black, .2);
}

.karl-OverGrid__row {
  height: 100%;
  @include k-grid;
}

.karl-OverGrid__col {
  height: 100%;
  @include k-grid-col(1);
}

.karl-OverGrid__inner {
  height: 100%;
  background: rgba(black, .1);
}


// Represent the grid visually

.karl-GridBox {
  min-height: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 2px;
  background: #4a84ff;
}
