$karl-overgrid-z-index: 9999;

.karl-Main {
  background-color: $light-grey-1;
}

.karl-Main__container {
  @include container;

  box-sizing: border-box;
  padding: 0 gutter() * 2;

  position: relative;
  display: flex;

  box-sizing: border-box;
}

.karl-Main__content {
  width: span(8);
  margin: 0 auto;
}

// Utilities

.k-u-clearfix:after {
  display: table;

  clear: both;
  content: " ";
}

// Represent the grid visually

.karl-GridBox {
  min-height: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 2px;
  background: #4a84ff;
}

.karl-RowBox {
  background-color: #4a84ff;

  &:nth-child(odd) {
    background-color: #cadbfd;
  }
}
