/* Maax-Black */
@font-face {
  font-family: 'maaxblack';
  src: url('maax-black-webfont.eot') format('eot'),
       url('maax-black-webfont.svg') format('svg'),
       url('maax-black-webfont.ttf') format('ttf'),
       url('maax-black-webfont.woff2') format('woff2'),
       url('maax-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Maax-Bold-Italic */
@font-face {
    font-family: 'maaxbold_italic';
    src: url('maax-bold_italic-webfont.eot') format('eot'),
         url('maax-bold_italic-webfont.svg') format('svg'),
         url('maax-bold_italic-webfont.ttf') format('ttf'),
         url('maax-bold_italic-webfont.woff2') format('woff2'),
         url('maax-bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Bold */
@font-face {
    font-family: 'maaxbold';
    src: url('maax-bold-webfont.eot') format('eot'),
         url('maax-bold-webfont.svg') format('svg'),
         url('maax-bold-webfont.ttf') format('ttf'),
         url('maax-bold-webfont.woff2') format('woff2'),
         url('maax-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Italic */
@font-face {
    font-family: 'maaxitalic';
    src: url('maax-italic-webfont.eot') format('eot'),
         url('maax-italic-webfont.svg') format('svg'),
         url('maax-italic-webfont.ttf') format('ttf'),
         url('maax-italic-webfont.woff2') format('woff2'),
         url('maax-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Light */
@font-face {
    font-family: 'maaxlight';
    src: url('maax-light-webfont.eot') format('eot'),
         url('maax-light-webfont.svg') format('svg'),
         url('maax-light-webfont.ttf') format('ttf'),
         url('maax-light-webfont.woff2') format('woff2'),
         url('maax-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Medium-Italic */
@font-face {
    font-family: 'maaxmedium_italic';
    src: url('maax-medium_italic-webfont.eot') format('eot'),
         url('maax-medium_italic-webfont.svg') format('svg'),
         url('maax-medium_italic-webfont.ttf') format('ttf'),
         url('maax-medium_italic-webfont.woff2') format('woff2'),
         url('maax-medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Medium */
@font-face {
    font-family: 'maaxmedium';
    src: url('maax-medium-webfont.eot') format('eot'),
         url('maax-medium-webfont.svg') format('svg'),
         url('maax-medium-webfont.ttf') format('ttf'),
         url('maax-medium-webfont.woff2') format('woff2'),
         url('maax-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Maax-Regular */
@font-face {
    font-family: 'maaxregular';
    src: url('maax-regular-webfont.eot') format('eot'),
         url('maax-regular-webfont.svg') format('svg'),
         url('maax-regular-webfont.ttf') format('ttf'),
         url('maax-regular-webfont.woff2') format('woff2'),
         url('maax-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
