
// Menu Dropdown
.karl-Menu {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: fixed;

  .karl-Container.menu-isOpened & {
    height: 100%;
    width: span(2);
    opacity: 1;
    top: $header-height;
  }

  ul { margin: 0; padding: 0; }
}

.karl-MenuBackground {
  background-color: $sapphire;
  width: span(1);
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: $header-height;
  transition: width .5s;

  .karl-Container.menu-isOpened & {
    width: span(2);
    height: auto;
    opacity: 1;
    background-color: $sapphire;
  }
}

.karl-Menu__title {
  float: right;
  padding-right: 1rem;
  margin-top: .8rem;
  position: relative;

  color: white;
  font-size: .75rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    content: url($arrowRight-path);
    position: absolute;
    right: 5em;
  }

  .karl-Container.menu-isOpened & {
    &:after {
    content: url($arrowLeft-path);
    }
  }
}

.karl-Menu__list {
  & > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

.karl-Menu__listTitle {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding: 3.125rem 0 1rem 1rem;
  display: block;

  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.karl-Menu__listItem {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding: 1.5rem 0 .75rem 1rem;
  display: block;

  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.with-arrow {
    &:after {
      position: absolute;
      content: url($arrowBottom-path);
      right: 1.8em;
    }

    &.is-opened {
      background-color: $light-navy;

      &:after {
        content: url($arrowTop-path);
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $light-navy;
  }
}

.karl-Menu__subListItem {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding-left: 2rem;
  display: block;

  list-style: none;

  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 3.2rem;
  color: white;
  text-decoration: none;

  &.with-arrow {
    &:after {
      position: absolute;
      content: url($arrowBottom-path);
      right: 1.8em;
    }

    &.is-opened {
      background-color: $light-navy;

      &:after {
        content: url($arrowTop-path);
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $light-navy;
  }
}

.karl-Menu__subList,
.karl-Menu__subSecondList {
  display: none;

  &.is-opened {
    display: block;
  }
}

.karl-Menu__subSecondListItem {
  border-bottom: 1px solid $light-navy;
  display: block;
  padding-left: 3rem;

  list-style: none;

  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 3.2rem;
  color: #cadbfd;
  text-decoration: none;

  &:hover,
  &:focus,
  &.is-selected,
  &.is-opened {
    background-color: $light-navy;
  }
}
