$menu-padding-right: 1rem;
$header-title-margin: 2rem;

$menu-color: map-get($k-colors, 'primary-3');

// We need a fixed with to position correctly '.karl-Menu__header__title'
$menu-width: 14rem;

// Opacity
.karl-Opacity {
  background-color: #f6f6f6;
  opacity: .8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Menu Dropdown
.karl-Menu {
  position: fixed;
  left: 0;
  z-index: 3;

  width: auto;

  // TODO manage transition
  //transition: width 0.5s, background-color 0.5;

  &.is-opened {
    width: $menu-width;
    height: 100%;

    background-color: map-get($k-colors, 'primary-2');

    overflow: scroll;

    @include k-media-xs { width: 100%; }
  }

  // This class simulates closing on the menu only on XS media query.
  &.is-clicked {
    @include k-media-xs {
      width: auto;
      height: auto;

      background-color: transparent;
    }
  }

  ul { margin: 0; padding: 0; }
}

.karl-Menu__header {
  position: relative;
}

.karl-Menu__header__title {
  position: absolute;
  top: 0;

  margin-top: 0;
  margin-bottom: 0;
  width: $menu-width;
  right: -$menu-width - $header-title-margin;

  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: $header-height;
}

.karl-Menu__content {
  display: none;
  clear: both;

  .karl-Menu.is-opened & {
    display: block;
    top: 0;
    bottom: 0;
  }

  // This class simulates closing on the menu only on XS media query.
  .karl-Menu.is-clicked & {
    @include k-media-xs { display: none; }
  }
}

.karl-Menu__title {
  display: block;
  position: relative;

  float: right;
  height: $header-height;
  margin-left: 2rem;
  padding-right: $menu-padding-right;

  color: white;
  font-size: .75rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  line-height: $header-height;

  cursor: pointer;

  &:before {
    position: absolute;
    left: -1em;

    content: url($arrowRight-path);
  }

  .karl-Menu.is-opened & {
    &:before {
      content: url($arrowLeft-path);
    }
  }

  .karl-Menu.is-opened.is-clicked &:before {
    @include k-media-xs {
      content: url($arrowRight-path);
    }
  }
}

.karl-Menu__list {
  & > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

.karl-Menu__listTitle {
  display: block;
  position: relative;

  padding: 3.125rem 0 1rem 1rem;

  border-bottom: 1px solid $menu-color;

  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.karl-Menu__listItem {
  position: relative;
  display: block;
  padding-right: $menu-padding-right;

  padding: 1.5rem 0 .75rem 1rem;
  padding-right: $menu-padding-right;

  border-bottom: 1px solid $menu-color;

  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.with-arrow {
    &:after {
      position: absolute;
      right: $menu-padding-right;

      content: url($arrowBottom-path);
    }

    &.is-opened {
      background-color: $menu-color;

      &:after {
        content: url($arrowTop-path);
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $menu-color;
  }
}

.karl-Menu__link {
  display: block;

  border-bottom: 1px solid $menu-color;
  list-style: none;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 3.2rem;

  text-decoration: none;
}

.karl-Menu__subListItem {
  position: relative;

  padding-left: 2rem;

  color: white;

  &.with-arrow {
    &:after {
      position: absolute;
      right: $menu-padding-right;

      content: url($arrowBottom-path);
    }

    &.is-opened {
      background-color: $menu-color;

      &:after {
        content: url($arrowTop-path);
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $menu-color;
  }
}

.karl-Menu__subList,
.karl-Menu__subSecondList {
  display: none;

  &.is-opened {
    display: block;
  }
}

.karl-Menu__subSecondListItem {
  padding-left: 3rem;

  color: #cadbfd;

  &:hover,
  &:focus,
  &.is-selected,
  &.is-opened {
    background-color: $menu-color;
  }
}
