
// Section
.karl-Section {
  padding: 3.25em 8em;
}

.karl-Section__example {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4.5em;
}

@media (max-width: 1100px) {
  .karl-Section__example {
    display: block;
  }
}

.karl-Section__example--vertical {
  flex-direction: column;
}

.karl-Section__title {
  margin-bottom: 1rem;

  @include k-typographyFont('source-sans-light');
  @include k-typographyFontSize(6);

  color: #333;
}

// Section Example
.karl-Example {
  clear: both;
}

.karl-Example__title {
  @include k-typographyFont('source-sans-semi-bold');

  color: map-get($k-colors, 'font-2');
  font-size: 0.75rem;
  text-align: left;
  font-style: italic;
}

.karl-Example__title--margin {
  padding-right: 2rem;
}

.karl-Example__description {
  width: 40%;
  margin-right: 6rem;

  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.karl-Example__column {
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .karl-Example__description {
    width: 90%;
    padding-right: 6em;
  }
}

.karl-Example__bloc {
  margin-top: 1.5rem;
  width: 470px;
  height: 272px;

  background-color: map-get($k-colors, 'primary-1');
}

@media (max-width: 1100px) {
  .karl-Example__bloc {
    width: 90%;
  }
}
