// Section
.karl-Section__title {
  margin-top: k-px-to-rem(32px);
  margin-bottom: k-px-to-rem(16px);

  @include k-typographyFont('bold');
  @include k-typographyFontSize(5); // 28px

  color: map-get($k-colors, 'font-1');

  @include k-media-max('xs') {
    text-align: center;
  }
}

// Section Example
.karl-Example {
  clear: both;

  @include k-media-max('xs') {
    text-align: center;
  }
}

.karl-Example__title {
  @include k-typographyFont('regular');
  @include k-typographyFontSize(0); // 16px
  font-style: italic;

  color: map-get($k-colors, 'font-2');
  text-align: left;

  @include k-media-max('xs') {
    text-align: center;
  }
}

// GitHub Ribbon
.karl-GithubRibbon {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}
