// Section
.karl-Section__title {
  margin-top: 2rem;
  margin-bottom: 1rem;

  @include k-typographyFont('light');
  @include k-typographyFontSize(6);

  color: #333;

  @include k-media-max('xs') {
    text-align: center;
  }
}

// Section Example
.karl-Example {
  clear: both;

  @include k-media-max('xs') {
    text-align: center;
  }
}

.karl-Example__title {
  @include k-typographyFont('bold');

  color: map-get($k-colors, 'font-2');
  font-size: 0.75rem;
  text-align: left;
  font-style: italic;

  @include k-media-max('xs') {
    text-align: center;
  }
}

// GitHub Ribbon
.karl-GithubRibbon {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}
