$header-height: 3rem;

// ARROWS
$arrowBottom-path: '~icons/arrow-bottom.svg';
$arrowTop-path:    '~icons/arrow-top.svg';
$arrowRight-path:  '~icons/arrow-right.svg';
$arrowLeft-path:   '~icons/arrow-left.svg';

// COLORS
@import 'kitten/normalize';

$blue: #4a84ff;
$sapphire: #3b75f0;
$light-navy: #2c66e1;
$light-grey-1: #fbfbfb;
$light-grey-2: #d8d8d8;
$light-grey-3: #eeeeee; // border branding card
$light-grey-4: #b8b8b8; // subtitles
