$header-height: 3rem;

// ARROWS
$arrowBottom-path: '~icons/arrow-bottom.svg';
$arrowTop-path:    '~icons/arrow-top.svg';
$arrowRight-path:  '~icons/arrow-right.svg';
$arrowLeft-path:   '~icons/arrow-left.svg';

// COLORS
@import 'kitten/normalize';
