<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'With image on the left' do %>
      <div class="k-Teaser">
        <div class="k-Teaser__col k-Teaser__col--image">
          <img alt="Cute kitten"
               src="https://placehold.it/400x300/caf4fe/caf4fe"
               width="400"
               height="300" />
        </div>
        <div class="k-Teaser__col k-Teaser__col--text">
          <h2 class="k-Teaser__title">Parva feles</h2>
          <p>
            A partu solet feline kittens binarii ad quinarium est.
          </p>
          <p class="k-Teaser__action">
            <button class="k-Button k-Button--hydrogen">Button</button>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'With image on the right' do %>
      <div class="k-Teaser">
        <div class="k-Teaser__col k-Teaser__col--text">
          <h2 class="k-Teaser__title">Lactis</h2>
          <p>
            Lacte matris kittens sit amet, nutritionem et augmentum proprium.
          </p>
          <p class="k-Teaser__action">
            <button class="k-Button k-Button--helium">Button</button>
          </p>
        </div>
        <div class="k-Teaser__col k-Teaser__col--image">
          <img alt="Cute kitten"
               src="https://placehold.it/400x300/caf4fe/caf4fe"
               width="400"
               height="300" />
        </div>
      </div>
    <% end %>
  </div>
</div>
