/// Return a schema for lists with the specified item type.
///
/// @group schema
///
/// @parameter {Map} $items - item type
///
/// @return {Map}
///
/// @example scss - Usage
///   k-list-schema(string-schema());
///   // Will return a schema expecting a list of string items.
@function k-list-schema($items) {
  @return (type: "list", items: $items);
}
