/// Return a schema expecting a number, optionally with a unit constraint.
///
/// @group schema
///
/// @parameter {String|List} $unit [null] - a unit
///
/// @return {Map}
///
/// @example scss - Usage
///   k-number-schema();
///   // Will return a schema accepting any number.
///
///   k-number-schema($unit: none);
///   // Will return a schema accepting only unitless numbers.
///
///   k-number-schema($unit: (em, rem));
///   // Will return a schema accepting only numbers in ems or rems.
@function k-number-schema($unit: null) {
  @if $unit != null {
    @return (type: "number", unit: $unit);
  } @else {
    @return (type: "number");
  }
}
