/// Return a schema for string values.
///
/// @group schema
///
/// @return {Map}
///
///
/// @example scss - Usage
///   k-string-schema();
///   // Will return a schema expecting a string.
@function k-string-schema() {
  @return (type: "string");
}
