/// Badge
///
/// @group notifications
///
/// @example scss - usage
///
///   @include k-Badge;
///
/// @example html
///
///   <span class="k-Badge">42</span>

@mixin k-Badge {
  $color: map-get($k-colors, 'background-1');
  $background-color: map-get($k-colors, 'primary-1');
  $border-size: k-px-to-rem(2px);
  $min-badge-size: k-px-to-rem(18px);

  .k-Badge {
    box-sizing: border-box;
    padding: k-px-to-rem(2px) k-px-to-rem(5px);
    line-height: 1;
    min-height: $min-badge-size + $border-size;
    min-width: $min-badge-size + $border-size;
    background-color: $background-color;
    border-radius: k-px-to-rem(10px);
    color: $color;
    @include k-typographyFont('regular');
    @include k-typographyFontSize(-4, 1.2);
    border: $border-size solid white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .k-Badge--spaced {
    margin: 0 k-px-to-rem(5px);
  }

  .k-Badge--no-border {
    min-height: $min-badge-size;
    min-width: $min-badge-size;
    border: 0;
  }
}
