/// A list of links, used for example in the footer.
///
/// @group links
///
/// @example scss - usage
///   @include k-LinkList;
///
/// @example html
///   <ul class="k-LinkList">
///     <li class="k-LinkList__item">
///       <a class="k-LinkList__link" href="#">Link A</a>
///      </li>
///     <li class="k-LinkList__item">
///       <a class="k-LinkList__link" href="#">Link B</a>
///      </li>
///   </ul>
@mixin k-LinkList {
  .k-LinkList {
    // override ul defaults
    list-style-type: none;
    padding: 0;
  }

  .k-LinkList__item {
    margin: k-px-to-rem(10px) 0;
  }

  .k-LinkList__link {
    @include k-typographyFont('source-sans-light');
    @include k-typographyFontSize(2);

    text-decoration: none;
    color: inherit;
  }
}
