<%= example "Side grid with right aside" do %>
  <div class="k-SideGrid">
    <div class="k-SideGrid__container">
      <div class="k-SideGrid__row">
        <div class="k-SideGrid__content">
          <p>
            Cat ipsum dolor sit amet, lick sellotape and meowzer!.
            Hopped up on catnip. Purr kitty power! and damn that dog or poop on
            grasses so rub whiskers on bare skin act innocent meowing non stop
            for food thug cat.
          </p>
        </div>

        <div class="k-SideGrid__aside">
          <div class="k-SideGrid__asideContent">
            <p>
              Cat ipsum dolor sit amet, lick sellotape and meowzer!.
              Hopped up on catnip. Purr kitty power! and damn that dog or poop on
              grasses so rub whiskers on bare skin act innocent meowing non stop
              for food thug cat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= example "Side grid with left aside" do %>
  <div class="k-SideGrid k-SideGrid--asideLeft">
    <div class="k-SideGrid__container">
      <div class="k-SideGrid__row">
        <div class="k-SideGrid__aside">
          <div class="k-SideGrid__asideContent">
            <p>
              Cat ipsum dolor sit amet, lick sellotape and meowzer!.
              Hopped up on catnip. Purr kitty power! and damn that dog or poop on
              grasses so rub whiskers on bare skin act innocent meowing non stop
              for food thug cat.
            </p>
          </div>
        </div>

        <div class="k-SideGrid__content">
          <p>
            Cat ipsum dolor sit amet, lick sellotape and meowzer!.
            Hopped up on catnip. Purr kitty power! and damn that dog or poop on
            grasses so rub whiskers on bare skin act innocent meowing non stop
            for food thug cat.
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
