@import 'common/*';

/// TODO: comments

@function k-button-base-definition($button-map) {
  @return (
    typography: map-get($button-map, 'typography'),
    multiplier: map-get($button-map, 'multiplier'),
    font: map-get($button-map, 'font'),
    colors: k-button-colors-definition(map-get($button-map, 'colors'))
  );
}

@function k-button-colors-definition($colors) {
  @return (
    base: k-button-color-definition(map-get($colors, 'base'), $required: true),
    hover: k-button-color-definition(map-get($colors, 'hover'), $required: true),
    active: k-button-color-definition(map-get($colors, 'active'), $required: true),
    disabled: k-button-color-definition(map-get($colors, 'disabled'), $required: true),
    focus: k-button-color-definition(map-get($colors, 'focus'), $required: false),
  );
}

@function k-button-color-definition($color, $required: false) {
  $error-required: k-required($color, $required);

  @return (
    color: k-color-definition(map-get($color, 'color'), $required: true),
    border-color: k-color-definition(map-get($color, 'border-color'), $required: false),
    background-color: k-color-definition(map-get($color, 'background-color'), $required: true)
  );
}

@function k-button-border-definition($border-color) {
  $border-color: transparent !default; // Default value.

  @return k-color-definition($border-color, $required: true);
}
