/// TODO: comments

@function k-font-definition($font) {
  @return (
    family: k-string-definition(k-map-fetch($font, "family")),
    font-weight: k-number-definition(map-get($font, "font-weight"), $unit: none),
    letter-spacing: k-number-definition(map-get($font, "letter-spacing")),
    text-transform: k-string-definition(map-get($font, "text-transform")),
    text-decoration: k-string-definition(map-get($font, "text-decoration")),
    text-align: k-string-definition(map-get($font, "text-align"))
  );
}
