@function k-typography-definition($typography) {
  @return (
    root: k-number-definition(
      k-default(map-get($typography, 'root'), 16px),
      $unit: 'px'
    ),
    font-size: k-number-definition(
      k-default(map-get($typography, 'font-size'), 1rem),
      $unit: 'rem'
    ),
    font-weight: k-number-definition(
      k-default(map-get($typography, 'font-weight'), 400),
      $unit: 'none'
    ),
    line-height: k-number-definition(
      k-default(map-get($typography, 'line-height'), 1.5rem),
      $unit: 'rem'
    )
  );
}
