@import 'kitten/helpers/typography/typography-schema';
@import 'kitten/helpers/typography/font-style-schema';

/// The schema used to validate typographic scale definitions.
///
/// @group 0500_typography_components
///
/// @type Map
$k-typography-scale-schema: (
  type: 'map',

  properties: (
    typography: $k-typography-schema,

    multiplier: k-number-schema($unit: none),

    styles: (
      type: 'map',

      additional-properties: map-merge(
        $k-font-style-schema,
        (
          type: 'map',

          properties: (
            family: k-string-schema(),
            step:   k-number-schema($unit: none),
          ),

          required: (
            'family',
            'step'
          )
        )
      )
    )
  ),

  required: (
    'typography',
    'multiplier',
    'styles'
  )
);
