/// Checkbox
///
/// @group form
///
/// @example scss - usage
///
///   @include k-Checkbox((
///     font: 'source-sans-semi-bold',
///     colors: (
///       background: #fff,
///       background-checked: #4a84ff,
///       background-disabled: #d8d8d8,
///       border: #d8d8d8,
///       border-hover: #4a84ff,
///     )
///   ));
///
/// @example html
///
///   <div class="k-Checkbox">
///     <input id="input" type="checkbox" class="k-Checkbox__input" />
///     <label for="input" class="k-Checkbox__label">I agree</label>
///   </div>

@mixin k-Checkbox($input) {
  @include k-with-module('k-Checkbox: $input') {

    // Font
    $font: k-string-definition(k-map-fetch($input, 'font'));
    $font-size: -2;
    $line-height: 1;

    // Colors
    $background-color: k-color-definition(
      k-map-fetch($input, ('colors', 'background')));
    $background-color-checked: k-color-definition(
      k-map-fetch($input, ('colors', 'background-checked')));
    $background-color-disabled: k-color-definition(
      k-map-fetch($input, ('colors', 'background-disabled')));
    $border-color: k-color-definition(
      k-map-fetch($input, ('colors', 'border')));
    $border-color-hover: k-color-definition(
      k-map-fetch($input, ('colors', 'border-hover')));

    $checkbox-size: k-px-to-rem(20px);
    $border-radius: k-px-to-rem(4px);
    $icon: '~icons/checked.svg';

    .k-Checkbox {
      @include k-typographyFont($font);
      @include k-typographyFontSize($font-size, $line-height);

      display: flex;
      align-items: center;
      align-self: flex-start;

      margin: k-px-to-rem(10px);
    }

    .k-Checkbox__label {
      display: flex;
      align-items: center;
      align-self: flex-start;

      cursor: pointer;

      &:before {
        box-sizing: border-box;
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;

        content: '';
        margin-right: k-px-to-rem(10px);
        background: $background-color;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        transition: border-color .2s, background-color .2s;
      }

      &:hover:before,
      .k-Checkbox__input:focus + &:before {
        border-color: $border-color-hover;
      }

      .k-Checkbox__input:checked + &:before {
        background: $background-color-checked url($icon) no-repeat center center;
        border-color: $border-color-hover;
      }

      .k-Checkbox__input:disabled + & {
        cursor: not-allowed;

        &:before {
          background: $background-color-disabled;
          border-color: $background-color-disabled;
        }
      }
    }

    .k-Checkbox__input {
      position: absolute;
      visibility: none;
      opacity: 0;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
