/// Checkbox
///
/// @group form
///
/// @example scss - usage
///
///   @include k-Checkbox;
///
/// @example html
///
///   <div class="k-Checkbox">
///     <input id="input" type="checkbox" class="k-Checkbox__input" />
///     <label for="input" class="k-Checkbox__label">I agree</label>
///   </div>

@mixin k-Checkbox {
  // Font
  $font: 'source-sans-semi-bold';
  $font-size: -2;
  $line-height: 1;

  // Colors
  $background-color: map-get($k-colors, 'background-1');
  $background-color-checked: map-get($k-colors, 'primary-1');
  $background-color-disabled: map-get($k-colors, 'font-2');
  $border-color: map-get($k-colors, 'font-2');
  $border-color-hover: map-get($k-colors, 'primary-1');

  $checkbox-size: k-px-to-rem(20px);
  $border-radius: k-px-to-rem(4px);
  $icon: '~icons/checked.svg';

  .k-Checkbox {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-size, $line-height);

    display: flex;
    align-items: center;
    align-self: flex-start;

    margin: k-px-to-rem(10px) 0;
  }

  .k-Checkbox__label {
    display: flex;
    align-items: center;
    align-self: flex-start;

    cursor: pointer;

    &:before {
      box-sizing: border-box;
      display: inline-block;
      width: $checkbox-size;
      height: $checkbox-size;
      margin-right: k-px-to-rem(10px);

      content: '';
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;

      transition: border-color .2s, background-color .2s;
    }

    &:hover:before,
    .k-Checkbox__input:focus + &:before {
      border-color: $border-color-hover;
    }

    .k-Checkbox__input:checked:focus + &:before {
      box-shadow: 0 0 k-px-to-rem(3px) $background-color-checked;
    }

    .k-Checkbox__input:checked + &:before {
      background: $background-color-checked
                  url($icon)
                  no-repeat
                  center;
      border-color: $border-color-hover;
    }

    .k-Checkbox__input:disabled + & {
      color: $background-color-disabled;
      cursor: not-allowed;

      &:before {
        background-color: $background-color-disabled;
        border-color: $background-color-disabled;
      }
    }
  }

  .k-Checkbox__input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
