/// Label
///
/// A clickable form label, used in forms, usually over an input.
///
/// @group form
///
/// @example scss - usage
///
///   @include k-Label((
///     font: 'source-sans-semi-bold'
///   ));
///
/// @example html
///
///   <label class="k-Label" for="age">Age</label>
///   <input id="age" name="age" />
///
///   <span class="k-Label">Gender</span>
///   <label><input type="radio" name="sex" value="m" /> Male</label>
///   <label><input type="radio" name="sex" value="f" /> Female</label>
///   <label><input type="radio" name="sex" value="n" /> Non-binary</label>

@mixin k-Label($label) {
  $font: k-map-fetch($label, 'font');

  .k-Label {
    display: block;

    @include k-typographyFont($font);

    cursor: pointer;
  }
}
