/// Label
///
/// A clickable form label, used in forms, usually over an input.
///
/// @group 0000_form
///
/// @example scss - usage
///
///   $label: (
///     font: source-sans-semi-bold
///   );
///   @include k-Label($label);
///
/// @example html
///
///   <label class="k-Label" for="age">Age</label>
///   <input id="age" name="age" />
///
///   <span class="k-Label">Gender</span>
///   <label><input type="radio" name="sex" value="m" /> Male</label>
///   <label><input type="radio" name="sex" value="f" /> Female</label>
///   <label><input type="radio" name="sex" value="n" /> Non-binary</label>

@mixin k-Label($label) {
  $font: map-get($label, font);

  .k-Label {
    display: block;

    @include k-font($font);

    cursor: pointer;
  }
}
