/// Cursor utilities.
///
/// @group cursor
///
/// @example scss - Usage
///
///   @include k-utilities-cursor;
///
/// @example html
///
///   <span class="k-u-cursor-default">…</span>
///   <span class="k-u-cursor-pointer">…</span>
///   <span class="k-u-cursor-not-allowed">…</span>
///   <span class="k-u-cursor-crosshair">…</span>
///
///   <span class="k-u-cursor-default--important">…</span>
///   <span class="k-u-cursor-pointer--important">…</span>
///   <span class="k-u-cursor-not-allowed--important">…</span>
///   <span class="k-u-cursor-crosshair--important">…</span>

@mixin k-utilities-cursor {
  .k-u-cursor-default {
    cursor: default;

    &--important {
      cursor: default !important;
    }
  }

  .k-u-cursor-pointer {
    cursor: pointer;

    &--important {
      cursor: pointer !important;
    }
  }

  .k-u-cursor-not-allowed {
    cursor: not-allowed;

    &--important {
      cursor: not-allowed !important;
    }
  }

  .k-u-cursor-crosshair {
    cursor: crosshair;

    &--important {
      cursor: crosshair !important;
    }
  }
}
