/// Loader with paragraph.
///
/// @group loaders
///
/// @example scss - usage
///
///   @include k-LoaderWithParagraph;
///
/// @example html
///
///   <div class="k-LoaderWithParagraph k-LoaderWithParagraph--column">
///     …
///   </div>

@mixin k-LoaderWithParagraph {
  .k-LoaderWithParagraph {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .k-LoaderWithParagraph--column {
    flex-direction: column;
  }
}
