/// Margin utilities.
///
/// @group spacing
///
/// @example scss - Usage
///
///   @include k-utilities-margin;
///
/// @example html
///
///   <div class="k-u-margin-none">…</div>
///
///   <div class="k-u-margin-top-single">…</div>
///
///   <div class="k-u-margin-top-single@xxs-down">…</div>
///   <div class="k-u-margin-top-single@xs-down">…</div>
///   <div class="k-u-margin-top-single@s-down">…</div>
///   <div class="k-u-margin-top-single@m-down">…</div>
///   <div class="k-u-margin-top-single@l-down">…</div>
///
///   <div class="k-u-margin-top-single@xs-up">…</div>
///   <div class="k-u-margin-top-single@s-up">…</div>
///   <div class="k-u-margin-top-single@m-up">…</div>
///   <div class="k-u-margin-top-single@l-up">…</div>
///   <div class="k-u-margin-top-single@xl-up">…</div>
///
///   <div class="k-u-margin-bottom-single">…</div>
///   <div class="k-u-margin-bottom-singleHalf">…</div>
///   <div class="k-u-margin-bottom-double">…</div>
///   <div class="k-u-margin-bottom-doubleHalf">…</div>
///   <div class="k-u-margin-bottom-triple">…</div>
///   <div class="k-u-margin-bottom-tripleHalf">…</div>
///   <div class="k-u-margin-bottom-quadruple">…</div>
///   <div class="k-u-margin-bottom-quadrupleHalf">…</div>
///   <div class="k-u-margin-bottom-quintuple">…</div>
///   <div class="k-u-margin-bottom-quintupleHalf">…</div>
///   <div class="k-u-margin-bottom-sextuple">…</div>
///   <div class="k-u-margin-bottom-sextupleHalf">…</div>
///   <div class="k-u-margin-bottom-septuple">…</div>
///   <div class="k-u-margin-bottom-septupleHalf">…</div>
///   <div class="k-u-margin-bottom-octuple">…</div>
///   <div class="k-u-margin-bottom-octupleHalf">…</div>
///   <div class="k-u-margin-bottom-nonuple">…</div>
///   <div class="k-u-margin-bottom-nonupleHalf">…</div>
///   <div class="k-u-margin-bottom-decuple">…</div>
///   <div class="k-u-margin-bottom-none">…</div>
///
///   <div class="k-u-margin-left-single">…</div>
///   <div class="k-u-margin-left-singleHalf">…</div>
///   <div class="k-u-margin-left-double">…</div>
///   <div class="k-u-margin-left-doubleHalf">…</div>
///   <div class="k-u-margin-left-triple">…</div>
///   <div class="k-u-margin-left-tripleHalf">…</div>
///   <div class="k-u-margin-left-quadruple">…</div>
///   <div class="k-u-margin-left-quadrupleHalf">…</div>
///   <div class="k-u-margin-left-quintuple">…</div>
///   <div class="k-u-margin-left-quintupleHalf">…</div>
///   <div class="k-u-margin-left-sextuple">…</div>
///   <div class="k-u-margin-left-sextupleHalf">…</div>
///   <div class="k-u-margin-left-septuple">…</div>
///   <div class="k-u-margin-left-septupleHalf">…</div>
///   <div class="k-u-margin-left-octuple">…</div>
///   <div class="k-u-margin-left-octupleHalf">…</div>
///   <div class="k-u-margin-left-nonuple">…</div>
///   <div class="k-u-margin-left-nonupleHalf">…</div>
///   <div class="k-u-margin-left-decuple">…</div>
///   <div class="k-u-margin-left-none">…</div>
///
///   <div class="k-u-margin-right-single">…</div>
///   <div class="k-u-margin-right-singleHalf">…</div>
///   <div class="k-u-margin-right-double">…</div>
///   <div class="k-u-margin-right-doubleHalf">…</div>
///   <div class="k-u-margin-right-triple">…</div>
///   <div class="k-u-margin-right-tripleHalf">…</div>
///   <div class="k-u-margin-right-quadruple">…</div>
///   <div class="k-u-margin-right-quadrupleHalf">…</div>
///   <div class="k-u-margin-right-quintuple">…</div>
///   <div class="k-u-margin-right-quintupleHalf">…</div>
///   <div class="k-u-margin-right-sextuple">…</div>
///   <div class="k-u-margin-right-sextupleHalf">…</div>
///   <div class="k-u-margin-right-septuple">…</div>
///   <div class="k-u-margin-right-septupleHalf">…</div>
///   <div class="k-u-margin-right-octuple">…</div>
///   <div class="k-u-margin-right-octupleHalf">…</div>
///   <div class="k-u-margin-right-nonuple">…</div>
///   <div class="k-u-margin-right-nonupleHalf">…</div>
///   <div class="k-u-margin-right-decuple">…</div>
///   <div class="k-u-margin-right-none">…</div>
///
///   <div class="k-u-margin-none--important">…</div>
///
///   <div class="k-u-margin-top-single--important">…</div>
///
///   <div class="k-u-margin-top-single@xxs-down--important">…</div>
///   <div class="k-u-margin-top-single@xs-down--important">…</div>
///   <div class="k-u-margin-top-single@s-down--important">…</div>
///   <div class="k-u-margin-top-single@m-down--important">…</div>
///   <div class="k-u-margin-top-single@l-down--important">…</div>
///
///   <div class="k-u-margin-top-single@xs-up--important">…</div>
///   <div class="k-u-margin-top-single@s-up--important">…</div>
///   <div class="k-u-margin-top-single@m-up--important">…</div>
///   <div class="k-u-margin-top-single@l-up--important">…</div>
///   <div class="k-u-margin-top-single@xl-up--important">…</div>
///
///   <div class="k-u-margin-bottom-single--important">…</div>
///   <div class="k-u-margin-bottom-double--important">…</div>
///   <div class="k-u-margin-bottom-triple--important">…</div>
///   <div class="k-u-margin-bottom-quadruple--important">…</div>
///   <div class="k-u-margin-bottom-quintuple--important">…</div>
///   <div class="k-u-margin-bottom-sextuple--important">…</div>
///   <div class="k-u-margin-bottom-septuple--important">…</div>
///   <div class="k-u-margin-bottom-octuple--important">…</div>
///   <div class="k-u-margin-bottom-nonuple--important">…</div>
///   <div class="k-u-margin-bottom-decuple--important">…</div>
///   <div class="k-u-margin-bottom-none--important">…</div>
///
///   <div class="k-u-margin-left-single--important">…</div>
///   <div class="k-u-margin-left-double--important">…</div>
///   <div class="k-u-margin-left-triple--important">…</div>
///   <div class="k-u-margin-left-quadruple--important">…</div>
///   <div class="k-u-margin-left-quintuple--important">…</div>
///   <div class="k-u-margin-left-sextuple--important">…</div>
///   <div class="k-u-margin-left-septuple--important">…</div>
///   <div class="k-u-margin-left-octuple--important">…</div>
///   <div class="k-u-margin-left-nonuple--important">…</div>
///   <div class="k-u-margin-left-decuple--important">…</div>
///   <div class="k-u-margin-left-none--important">…</div>
///
///   <div class="k-u-margin-right-single--important">…</div>
///   <div class="k-u-margin-right-double--important">…</div>
///   <div class="k-u-margin-right-triple--important">…</div>
///   <div class="k-u-margin-right-quadruple--important">…</div>
///   <div class="k-u-margin-right-quintuple--important">…</div>
///   <div class="k-u-margin-right-sextuple--important">…</div>
///   <div class="k-u-margin-right-septuple--important">…</div>
///   <div class="k-u-margin-right-octuple--important">…</div>
///   <div class="k-u-margin-right-nonuple--important">…</div>
///   <div class="k-u-margin-right-decuple--important">…</div>
///   <div class="k-u-margin-right-none--important">…</div>

@mixin k-u-margin($position, $slug, $size) {
  $value: k-px-to-rem($size);

  .k-u-margin-#{$position}-#{$slug} {
    margin-#{$position}: $value;

    &--important {
      margin-#{$position}: $value !important;
    }
  }

  @each $name, $query in $k-media-queries {
    @if $name != "xl" {
      .k-u-margin-#{$position}-#{$slug}\@#{$name}-down {
        @include k-media-max($name) {
          margin-#{$position}: $value;

          &--important {
            margin-#{$position}: $value !important;
          }
        }
      }
    }

    @if $name != "xxs" {
      .k-u-margin-#{$position}-#{$slug}\@#{$name}-up {
        @include k-media-min($name) {
          margin-#{$position}: $value;

          &--important {
            margin-#{$position}: $value !important;
          }
        }
      }
    }
  }
}

@mixin k-u-margin-multiple($position, $attributes, $slug, $size) {
  $value: k-px-to-rem($size);

  .k-u-margin-#{$position}-#{$slug} {
    @each $attr in $attributes {
      margin-#{$attr}: $value;
    }
    &--important {
      @each $attr in $attributes {
        margin-#{$attr}: $value !important;
      }
    }
  }

  @each $name, $query in $k-media-queries {
    @if $name != "xl" {
      .k-u-margin-#{$position}-#{$slug}\@#{$name}-down {
        @include k-media-max($name) {
          @each $attr in $attributes {
            margin-#{$attr}: $value;
          }

          &--important {
            @each $attr in $attributes {
              margin-#{$attr}: $value !important;
            }
          }
        }
      }
    }

    @if $name != "xxs" {
      .k-u-margin-#{$position}-#{$slug}\@#{$name}-up {
        @include k-media-min($name) {
          @each $attr in $attributes {
            margin-#{$attr}: $value;
          }

          &--important {
            @each $attr in $attributes {
              margin-#{$attr}: $value !important;
            }
          }
        }
      }
    }
  }
}

@mixin k-utilities-margin {
  .k-u-margin-none {
    margin: 0;

    &--important {
      margin: 0 !important;
    }
  }

  $k-sizes: (
    none: 0,
    noneHalf: 5px,
    single: 10px,
    singleHalf: 15px,
    double: 20px,
    doubleHalf: 25px,
    triple: 30px,
    tripleHalf: 35px,
    quadruple: 40px,
    quadrupleHalf: 45px,
    quintuple: 50px,
    quintupleHalf: 55px,
    sextuple: 60px,
    sextupleHalf: 65px,
    septuble: 70px,
    septubleHalf: 75px,
    octuple: 80px,
    octupleHalf: 85px,
    nonuple: 90px,
    nonupleHalf: 95px,
    decuple: 100px,
    '0': 0,
    '5': 5px,
    '10': 10px,
    '15': 15px,
    '20': 20px,
    '25': 25px,
    '30': 30px,
    '35': 35px,
    '40': 40px,
    '45': 45px,
    '50': 50px,
    '55': 55px,
    '60': 60px,
    '65': 65px,
    '70': 70px,
    '75': 75px,
    '80': 80px,
    '85': 85px,
    '90': 90px,
    '95': 95px,
    '100': 100px,
  );

  @each $name, $size in $k-sizes {
    @include k-u-margin('top', $name, $size);
    @include k-u-margin('bottom', $name, $size);
    @include k-u-margin('left', $name, $size);
    @include k-u-margin('right', $name, $size);
    @include k-u-margin-multiple('vertical', ('left', 'right'), $name, $size);
    @include k-u-margin-multiple('horizontal', ('top', 'bottom'), $name, $size);
  }
}
