/// Padding utilities based on spacing tokens.
///
/// @group spacing
///
/// @example scss - Usage
///
///   @include k-utilities-p;
///
/// @example html
///
///   <div class="k-u-p-0">…</div>
///   <div class="k-u-p-1@s-up">…</div>
///   <div class="k-u-p-12@xs-down">…</div>

@mixin k-u-p($position, $attributes, $slug, $size) {
  .k-u-p-#{$position}-#{$slug} {
    @each $attr in $attributes {
      padding-#{$attr}: var(--spacing-#{$size}) !important;
    }
  }
}

@mixin k-utilities-p {
  .k-u-p-0 {
    padding: 0 !important;
  }

  $k-sizes: (
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
  );

  $k-variants: (
    v: ('top', 'bottom'),
    h: ('left', 'right'),
    t: ('top'),
    b: ('bottom'),
    l: ('left'),
    r: ('right'),
  );

  @each $variant_name, $attribute in $k-variants {
    @each $size_name, $size in $k-sizes {
      @include k-u-p(
        $variant_name,
        $attribute,
        $size_name,
        $size,
      );
    }
  }

  @each $mq_name, $query in reverse($k-media-queries) {
    $addendum: \@#{$mq_name}-down;

    @if $mq_name != "xl" {
      @include k-media-max($mq_name) {
        @each $variant_name, $attribute in $k-variants {
          @each $size_name, $size in $k-sizes {
            @include k-u-p(
              $variant_name,
              $attribute,
              $size_name + $addendum,
              $size,
            );
          }
        }
      }
    }
  }

  @each $mq_name, $query in $k-media-queries {
    $addendum: \@#{$mq_name}-up;

    @if $mq_name != "xxs" {
      @include k-media-min($mq_name) {
        @each $variant_name, $attribute in $k-variants {
          @each $size_name, $size in $k-sizes {
            @include k-u-p(
              $variant_name,
              $attribute,
              $size_name + $addendum,
              $size,
            );
          }
        }
      }
    }
  }
}
