/// Padding utilities.
///
/// @group spacing
///
/// @example scss - Usage
///
///   @include k-utilities-padding;
///
/// @example html
///
///   <div class="k-u-padding-none">…</div>
///
///   <div class="k-u-padding-top-single">…</div>
///
///   <div class="k-u-padding-top-single@xxs-down">…</div>
///   <div class="k-u-padding-top-single@xs-down">…</div>
///   <div class="k-u-padding-top-single@s-down">…</div>
///   <div class="k-u-padding-top-single@m-down">…</div>
///   <div class="k-u-padding-top-single@l-down">…</div>
///
///   <div class="k-u-padding-top-single@xs-up">…</div>
///   <div class="k-u-padding-top-single@s-up">…</div>
///   <div class="k-u-padding-top-single@m-up">…</div>
///   <div class="k-u-padding-top-single@l-up">…</div>
///   <div class="k-u-padding-top-single@xl-up">…</div>
///
///   <div class="k-u-padding-bottom-single">…</div>
///   <div class="k-u-padding-bottom-singleHalf">…</div>
///   <div class="k-u-padding-bottom-double">…</div>
///   <div class="k-u-padding-bottom-doubleHalf">…</div>
///   <div class="k-u-padding-bottom-triple">…</div>
///   <div class="k-u-padding-bottom-tripleHalf">…</div>
///   <div class="k-u-padding-bottom-quadruple">…</div>
///   <div class="k-u-padding-bottom-quadrupleHalf">…</div>
///   <div class="k-u-padding-bottom-quintuple">…</div>
///   <div class="k-u-padding-bottom-quintupleHalf">…</div>
///   <div class="k-u-padding-bottom-sextuple">…</div>
///   <div class="k-u-padding-bottom-sextupleHalf">…</div>
///   <div class="k-u-padding-bottom-septuple">…</div>
///   <div class="k-u-padding-bottom-septupleHalf">…</div>
///   <div class="k-u-padding-bottom-octuple">…</div>
///   <div class="k-u-padding-bottom-octupleHalf">…</div>
///   <div class="k-u-padding-bottom-nonuple">…</div>
///   <div class="k-u-padding-bottom-nonupleHalf">…</div>
///   <div class="k-u-padding-bottom-decuple">…</div>
///   <div class="k-u-padding-bottom-none">…</div>
///
///   <div class="k-u-padding-left-single">…</div>
///   <div class="k-u-padding-left-singleHalf">…</div>
///   <div class="k-u-padding-left-double">…</div>
///   <div class="k-u-padding-left-doubleHalf">…</div>
///   <div class="k-u-padding-left-triple">…</div>
///   <div class="k-u-padding-left-tripleHalf">…</div>
///   <div class="k-u-padding-left-quadruple">…</div>
///   <div class="k-u-padding-left-quadrupleHalf">…</div>
///   <div class="k-u-padding-left-quintuple">…</div>
///   <div class="k-u-padding-left-quintupleHalf">…</div>
///   <div class="k-u-padding-left-sextuple">…</div>
///   <div class="k-u-padding-left-sextupleHalf">…</div>
///   <div class="k-u-padding-left-septuple">…</div>
///   <div class="k-u-padding-left-septupleHalf">…</div>
///   <div class="k-u-padding-left-octuple">…</div>
///   <div class="k-u-padding-left-octupleHalf">…</div>
///   <div class="k-u-padding-left-nonuple">…</div>
///   <div class="k-u-padding-left-nonupleHalf">…</div>
///   <div class="k-u-padding-left-decuple">…</div>
///   <div class="k-u-padding-left-none">…</div>
///
///   <div class="k-u-padding-right-single">…</div>
///   <div class="k-u-padding-right-singleHalf">…</div>
///   <div class="k-u-padding-right-double">…</div>
///   <div class="k-u-padding-right-doubleHalf">…</div>
///   <div class="k-u-padding-right-triple">…</div>
///   <div class="k-u-padding-right-tripleHalf">…</div>
///   <div class="k-u-padding-right-quadruple">…</div>
///   <div class="k-u-padding-right-quadrupleHalf">…</div>
///   <div class="k-u-padding-right-quintuple">…</div>
///   <div class="k-u-padding-right-quintupleHalf">…</div>
///   <div class="k-u-padding-right-sextuple">…</div>
///   <div class="k-u-padding-right-sextupleHalf">…</div>
///   <div class="k-u-padding-right-septuple">…</div>
///   <div class="k-u-padding-right-septupleHalf">…</div>
///   <div class="k-u-padding-right-octuple">…</div>
///   <div class="k-u-padding-right-octupleHalf">…</div>
///   <div class="k-u-padding-right-nonuple">…</div>
///   <div class="k-u-padding-right-nonupleHalf">…</div>
///   <div class="k-u-padding-right-decuple">…</div>
///   <div class="k-u-padding-right-none">…</div>
///
///   <div class="k-u-padding-horizontal-single">…</div>
///   <div class="k-u-padding-horizontal-singleHalf">…</div>
///   <div class="k-u-padding-horizontal-double">…</div>
///   <div class="k-u-padding-horizontal-doubleHalf">…</div>
///   <div class="k-u-padding-horizontal-triple">…</div>
///   <div class="k-u-padding-horizontal-tripleHalf">…</div>
///   <div class="k-u-padding-horizontal-quadruple">…</div>
///   <div class="k-u-padding-horizontal-quadrupleHalf">…</div>
///   <div class="k-u-padding-horizontal-quintuple">…</div>
///   <div class="k-u-padding-horizontal-quintupleHalf">…</div>
///   <div class="k-u-padding-horizontal-sextuple">…</div>
///   <div class="k-u-padding-horizontal-sextupleHalf">…</div>
///   <div class="k-u-padding-horizontal-septuple">…</div>
///   <div class="k-u-padding-horizontal-septupleHalf">…</div>
///   <div class="k-u-padding-horizontal-octuple">…</div>
///   <div class="k-u-padding-horizontal-octupleHalf">…</div>
///   <div class="k-u-padding-horizontal-nonuple">…</div>
///   <div class="k-u-padding-horizontal-nonupleHalf">…</div>
///   <div class="k-u-padding-horizontal-decuple">…</div>
///   <div class="k-u-padding-horizontal-none">…</div>
///
///   <div class="k-u-padding-vertical-single">…</div>
///   <div class="k-u-padding-vertical-singleHalf">…</div>
///   <div class="k-u-padding-vertical-double">…</div>
///   <div class="k-u-padding-vertical-doubleHalf">…</div>
///   <div class="k-u-padding-vertical-triple">…</div>
///   <div class="k-u-padding-vertical-tripleHalf">…</div>
///   <div class="k-u-padding-vertical-quadruple">…</div>
///   <div class="k-u-padding-vertical-quadrupleHalf">…</div>
///   <div class="k-u-padding-vertical-quintuple">…</div>
///   <div class="k-u-padding-vertical-quintupleHalf">…</div>
///   <div class="k-u-padding-vertical-sextuple">…</div>
///   <div class="k-u-padding-vertical-sextupleHalf">…</div>
///   <div class="k-u-padding-vertical-septuple">…</div>
///   <div class="k-u-padding-vertical-septupleHalf">…</div>
///   <div class="k-u-padding-vertical-octuple">…</div>
///   <div class="k-u-padding-vertical-octupleHalf">…</div>
///   <div class="k-u-padding-vertical-nonuple">…</div>
///   <div class="k-u-padding-vertical-nonupleHalf">…</div>
///   <div class="k-u-padding-vertical-decuple">…</div>
///   <div class="k-u-padding-vertical-none">…</div>

@mixin k-u-padding($position, $attributes, $slug, $size) {
  $value: k-px-to-rem($size);

  .k-u-padding-#{$position}-#{$slug} {
    @each $attr in $attributes {
      padding-#{$attr}: $value !important;
    }
  }
}

@mixin k-utilities-padding {
  .k-u-padding-none {
    padding: 0 !important;
  }

  $k-sizes: (
    none: 0,
    noneHalf: 5px,
    single: 10px,
    singleHalf: 15px,
    double: 20px,
    doubleHalf: 25px,
    triple: 30px,
    tripleHalf: 35px,
    quadruple: 40px,
    quadrupleHalf: 45px,
    quintuple: 50px,
    quintupleHalf: 55px,
    sextuple: 60px,
    sextupleHalf: 65px,
    septuble: 70px,
    septubleHalf: 75px,
    octuple: 80px,
    octupleHalf: 85px,
    nonuple: 90px,
    nonupleHalf: 95px,
    decuple: 100px,
    auto: auto,
  );

  $k-variants: (
    vertical: ('top', 'bottom'),
    horizontal: ('left', 'right'),
    top: ('top'),
    bottom: ('bottom'),
    left: ('left'),
    right: ('right'),
  );

  @each $variant_name, $attribute in $k-variants {
    @each $size_name, $size in $k-sizes {
      @include k-u-padding(
        $variant_name,
        $attribute,
        $size_name,
        $size,
      );
    }
  }

  @each $mq_name, $query in reverse($k-media-queries) {
    $addendum: \@#{$mq_name}-down;

    @if $mq_name != "xl" {
      @include k-media-max($mq_name) {
        @each $variant_name, $attribute in $k-variants {
          @each $size_name, $size in $k-sizes {
            @include k-u-padding(
              $variant_name,
              $attribute,
              $size_name + $addendum,
              $size,
            );
          }
        }
      }
    }
  }

  @each $mq_name, $query in $k-media-queries {
    $addendum: \@#{$mq_name}-up;

    @if $mq_name != "xxs" {
      @include k-media-min($mq_name) {
        @each $variant_name, $attribute in $k-variants {
          @each $size_name, $size in $k-sizes {
            @include k-u-padding(
              $variant_name,
              $attribute,
              $size_name + $addendum,
              $size,
            );
          }
        }
      }
    }
  }
}
