<%= example "Titre avec deux boutons" do %>
  <div class="k-titleWithActions">
    <h2 class="k-titleWithActions__title">
      Feles sunt socialis animalibus
    </h2>
    <p class="k-titleWithActions__action is-first">
      <a href="#" class="k-Button k-Button--default k-titleWithActions__action__button">
        Quod prodigo potissimum
      </a>
    </p>
    <p class="k-titleWithActions__action is-last">
      <a href="#" class="k-Button k-Button--default k-titleWithActions__action__button">
        Et mutuo cum animalibus
      </a>
    </p>
  </div>
<% end %>
