/// Border utilities.
///
/// @group border
///
/// @example scss - Usage
///
///   @include k-utilities-border;
///
/// @example html
///
///   <div class="k-u-border-left-line1">…</div>
///   <div class="k-u-border-left-line1--important">…</div>

@mixin k-utilities-border {
  .k-u-border-top-line1 {
    border-top: 1px solid map-get($k-colors, 'line-1');
  }
  .k-u-border-top-line1--important {
    border-top: 1px solid map-get($k-colors, 'line-1') !important;
  }

  .k-u-border-right-line1 {
    border-right: 1px solid map-get($k-colors, 'line-1');
  }
  .k-u-border-right-line1--important {
    border-right: 1px solid map-get($k-colors, 'line-1') !important;
  }

  .k-u-border-bottom-line1 {
    border-bottom: 1px solid map-get($k-colors, 'line-1');
  }
  .k-u-border-bottom-line1--important {
    border-bottom: 1px solid map-get($k-colors, 'line-1') !important;
  }

  .k-u-border-left-line1 {
    border-left: 1px solid map-get($k-colors, 'line-1');
  }
  .k-u-border-left-line1--important {
    border-left: 1px solid map-get($k-colors, 'line-1') !important;
  }
}
