/// Background color utilities.
///
/// @group background
///
/// @example scss - Usage
///
///   @include k-utilities-background-color;
///
/// @example html
///
///   <span class="k-u-background-color-background1">…</span>
///   <span class="k-u-background-color-background2">…</span>
///   <span class="k-u-background-color-primary5">…</span>
///   <span class="k-u-background-color-primary6">…</span>

@mixin k-utilities-background-color {
  .k-u-background-color-background1 {
    background-color: map-get($k-colors, 'background-1');
  }

  .k-u-background-color-background2 {
    background-color: map-get($k-colors, 'background-2');
  }

  .k-u-background-color-primary5 {
    background-color: map-get($k-colors, 'primary-5');
  }

  .k-u-background-color-primary6 {
    background-color: map-get($k-colors, 'primary-6');
  }
}
