/// Compute a multiple of the base line height.
///
/// @group typography
///
/// @parameter {Number} $distance - a unitless number
///
/// @return {Number}
///
/// @example scss - Usage
///   $k-typography: (
///     line-height: 1.5rem,
///     ...
///   );
///
///   margin-top: k-typography-distance(3);
///   // 4.5rem
@function k-typography-distance($distance) {
  $base-line-height: k-map-fetch($k-typography, 'line-height');

  @return $base-line-height * $distance;
}
