/// Font style schema.
///
/// @group 0310_typography_helpers
///
/// @type Map
$k-font-style-schema: (
  type: 'map',

  properties: (
    color:          k-color-schema(),
    font-size:      k-number-schema(),
    font-weight:    k-number-schema($unit: none),
    letter-spacing: k-number-schema(),

    font-style: k-enum-schema(
      'normal',
      'italic',
      'oblique',
      'initial',
      'inherit'
    ),

    text-transform: k-enum-schema(
      'none',
      'lowercase',
      'uppercase',
      'capitalize'
    )
  )
);
