/// Apply a font from the global list of available fonts
///
/// @group typography
@mixin k-typographyFont(
  $font-name,
) {
  $font: k-map-fetch($k-fonts, $font-name);
  $family: map-get($font, 'family');
  $weight: map-get($font, 'weight');
  $transform: map-get($font, 'transform');
  $letter-spacing: map-get($font, 'letter-spacing');

  font-family: $family !important;
  @if $weight {
    font-weight: $weight !important;
  }
  @if $transform {
    text-transform: $transform !important;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing !important;
  }
}
