/// The schema used to validate typography objects.
///
/// @group typography
///
/// @type Map
$k-typography-schema: (
  type: 'map',

  properties: (
    root:        k-number-schema($unit: px),
    font-size:   k-number-schema($unit: rem),
    font-weight: k-number-schema($unit: none),
    line-height: k-number-schema($unit: rem),

    typeface: (
      type: 'map',

      additional-properties: (
        type: 'map',

        properties: (
          family: k-string-schema(),
        ),

        required: (
          'family'
        )
      )
    )
  ),

  required: (
    'root',
    'font-size',
    'font-weight',
    'line-height',
    'typeface'
  )
);
