/// Vertical margin schema.
///
/// @group 0310_typography_helpers
///
/// @type Map
$k-vertical-margin-schema: (
  type: 'map',

  properties: (
    top:    k-number-schema($unit: none),
    bottom: k-number-schema($unit: none)
  )
);
