/// A horizontal navigation, used in header.
///
/// @group navigation
///
/// @example scss - usage
///
///   @include k-HeaderNav-nav;
///
/// @example html
///
///   <ul class="k-HeaderNav-nav" role="menubar">
///     <li class="k-HeaderNav-nav__element" role="menuitem">
///       <a class="k-HeaderNav-nav__item" href="#">
///         Nav link 1
///       </a>
///     </li>
///     <li class="k-HeaderNav-nav__element k-HeaderNav-nav__element--fixedSize"
///         role="menuitem">
///       <a class="k-HeaderNav-nav__item is-selected" href="#">
///         Nav link 2 (selected)
///       </a>
///     </li>
///   </ul>

@mixin k-HeaderNav {
  // Font
  $font: 'regular';
  $font-step: -1; // 14px
  $line-height: normal;

  // Colors
  $base-color: map-get($k-colors, 'font-1');

  // Hover
  $hover-color: map-get($k-colors, 'primary-1');

  // Focus
  $focus-color: map-get($k-colors, 'primary-1');

  // State 'is-selected'
  $is-selected-color: map-get($k-colors, 'primary-1');

  $border-width: k-px-to-rem(4px);
  $padding-x: k-px-to-rem(40px);

  $transition-speed: .2s;

  .k-HeaderNav {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: k-px-to-rem(10px);

    @include k-media-min('s') {
      padding-left: k-px-to-rem(20px);
    }
  }

  .k-HeaderNav * {
    @include k-typographyFont($font);

    &:focus {
      outline: none;
    }
  }

  .k-HeaderNav-Logo {
    padding: k-px-to-rem(10px);
    display: flex;
    align-items: center;

    @include k-media-max('xxs') {
      padding-left: k-px-to-rem(5px);
      padding-right: k-px-to-rem(5px);
    }

    &:focus {
      outline: k-px-to-rem(5px) auto -webkit-focus-ring-color;
    }
  }

  .k-HeaderNav--right,
  .k-HeaderNav--centered {
    &, .k-HeaderNav--hidden {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  .k-HeaderNav--right {
    justify-content: flex-end;
    flex-grow: 1;
  }

  .k-HeaderNav--centered {
    &, .k-HeaderNav--hidden {
      justify-content: center;
      flex-grow: 100;
    }
  }

  .k-HeaderNav--column {
    &, .k-HeaderNav--hidden {
      flex-direction: column;
    }
  }

  .k-HeaderNav-nav {
    height: 100%;

    .k-HeaderNav--hidden {
      display: flex;
    }
  }

  .k-HeaderNav--hidden {
    height: 100%;
    line-height: 1;
  }

  .k-HeaderNav__UserMenu {
    height: 100%;
    display: flex;

    .text--withEllipsis {
      text-overflow: ellipsis;
      max-width: k-px-to-rem(135px);
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .k-HeaderNav__UserMenuButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 $padding-x;
    border: 0;
    @include k-typographyFontSize($font-step, $line-height);

    @include k-media-max('xxs') {
      padding: 0 k-px-to-rem(15px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .k-HeaderNav__UserMenuButton--nopadding {
    padding: 0;
  }

  .k-HeaderNav-nav__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .k-HeaderNav-nav--center {
    justify-content: center;
  }

  .k-HeaderNav-nav__element {
    -ms-overflow-x: hidden;

    display: flex;
    align-items: stretch;
  }

  .k-HeaderNav-nav__element--fixedSize {
    flex-shrink: 0;
  }

  .k-HeaderNav-nav__item {
    display: flex;
    align-items: center;

    padding: 0 $padding-x;
    border-top: $border-width solid transparent;

    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step, $line-height);

    color: $base-color;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: color $transition-speed, border-color $transition-speed;

    &:hover, &:focus {
      color: $hover-color;
      text-decoration: none;
    }

    &:active {
      border-color: $focus-color;
      color: $focus-color;
    }

    &.is-selected {
      border-color: $is-selected-color;
      color: $is-selected-color;
    }
  }
}
