/// A horizontal navigation, used in header.
///
/// @group navigation
///
/// @example scss - usage
///
///   @include k-HorizontalNav;
///
/// @example html
///
///   <ul class="k-HorizontalNav" role="menubar">
///     <li class="k-HorizontalNav__element" role="menuitem">
///       <a class="k-HorizontalNav__item" href="#">
///         Nav link 1
///       </a>
///     </li>
///     <li class="k-HorizontalNav__element k-HorizontalNav__element--fixedSize"
///         role="menuitem">
///       <a class="k-HorizontalNav__item is-selected" href="#">
///         Nav link 2 (selected)
///       </a>
///     </li>
///   </ul>

@mixin k-HorizontalNav {
  // Fonts.
  $font: 'bold-uppercase';

  // Colors.
  $colors: (
    base: (
      background-color: map-get($k-colors, 'background-1'),
      color: map-get($k-colors, 'font-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
    ),
    focus: (
      border-color: map-get($k-colors, 'primary-1'),
      color: map-get($k-colors, 'primary-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
    ),
  );

  // base colors
  $base: k-colors-definition(k-map-fetch($colors, 'base'));
  $base-color: map-get($base, 'color');
  $base-background-color: map-get($base, 'background-color');

  // hover colors
  $hover-color: k-color-definition(k-map-fetch($colors, ('hover', 'color')));

  // focus colors
  $focus-color: k-color-definition(k-map-fetch($colors, ('focus', 'color')));
  $focus-border-color: k-color-definition(
    k-map-fetch($colors, ('focus', 'border-color')));

  // state 'is-selected' colors
  $is-selected-color: k-color-definition(
    k-map-fetch($colors, ('is-selected', 'color')));
  $is-selected-border-color: k-color-definition(
    k-map-fetch($colors, ('is-selected', 'border-color')));

  $border-width: 2px;
  $padding: k-px-to-rem(20px);

  .k-HorizontalNav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .k-HorizontalNav__element {
    -ms-overflow-x: hidden;
  }

  .k-HorizontalNav__element--fixedSize {
    flex-shrink: 0;
  }

  .k-HorizontalNav__item {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 $padding;
    border-bottom: $border-width solid transparent;

    @include k-typographyFont($font);
    font-size: k-px-to-rem(12px);
    line-height: normal;

    color: $base-color;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: color .2s, border-color .2s;

    @include k-media-within('m') {
      padding: 0 k-px-to-rem(10px);
    }

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }

    &:active {
      border-color: $focus-border-color;
      color: $focus-color;
    }

    &.is-selected {
      border-color: $is-selected-border-color;
      color: $is-selected-color;
    }

    &:focus {
      color: $hover-color;
      text-decoration: none;

      outline: 0;
      box-shadow: 0 0 1rem $hover-color;
    }
  }
}
