/// A tab bar navigation, used in mobile and tablet versions.
///
/// Available options:
///   - `z-index`
///
/// @group navigation
///
/// @parameter {Map} $options - Tabbar options
///
/// @example scss - usage
///
///   @include k-TabBar((z-index: 50));
///
/// @example html
///
///   <div class="k-TabBar k-TabBar--responsive is-fixed">
///     <ul class="k-TabBar__nav">
///       <li>
///         <a class="k-TabBar__item is-selected" href="#">
///           Link selected
///         </a>
///       </li>
///       <li>
///         <a class="k-TabBar__item" href="#">
///           Link
///         </a>
///       </li>
///       …
///     </ul>
///   </div>

@mixin k-TabBar($options) {
  // Fonts.
  $font: 'source-sans-semi-bold-uppercase';
  $font-step: -4;
  $line-height: 1.5;

  // Colors.
  $color: map-get($k-colors, 'primary-5');
  $current-color: #fff;
  $background-color: map-get($k-colors, 'primary-1');
  $border-color: map-get($k-colors, 'primary-4');

  // Size.
  $round-size: k-px-to-rem(25px);
  $border-width: 1px;
  $current-border-width: 2px;

  .k-TabBar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 $border-width 0 rgba($current-color, .1);

    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $background-color;

    .k-TabBar.is-fixed & {
      position: fixed;
      left: 0;
      bottom: 0;

      @if map-has-key($options, 'z-index') {
        z-index: k-number-definition(map-get($options, 'z-index'));
      }
    }
  }

  .k-TabBar__item {
    height: k-px-to-rem(50px);

    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step, $line-height);
    letter-spacing: k-px-to-rem(0.8px);
    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-top: $current-border-width solid transparent;
    cursor: pointer;
    color: $color;
    transition: color .2s, border-color .2s;

    &:hover {
      color: $current-color;
      text-decoration: none;
    }

    &.is-selected {
      border-color: $current-color;
      border-width: $current-border-width;
      color: $current-color;
    }
  }

  .k-TabBar__item--thinGutters {
    padding-left: k-px-to-rem(6px);
    padding-right: k-px-to-rem(6px);

    @include k-media-min('xs') {
      padding-left: k-px-to-rem(12px);
      padding-right: k-px-to-rem(12px);
    }
  }

  .k-TabBar--responsive {
    display: flex;

    &.is-fixed {
      // approximate size of the final element so that it doesn't hide
      // the last elements on the page
      min-height: k-px-to-rem(50px);
    }

    @include k-media-min('m') {
      display: none;
    }
  }
}
