/// Tag list.
///
/// @group lists
///
/// @example scss - usage
///
///   @include k-TagList;
///
/// @example html
///
///   <ul class="k-TagList">
///     <li class="k-TagList k-TagList__item--first">…</li>
///     <li class="k-TagList">…</li>
///     …
///   </ul>

@mixin k-TagList {
  $font: 'source-sans-semi-bold';
  $font-step: -1; // 14px.
  $font-step-tiny: -2; // 12px.
  $color: map-get($k-colors, 'font-1');
  $spacing: k-px-to-rem(5px);
  $icon-height: k-px-to-rem(10px);
  $icon-height-tiny: k-px-to-rem(11px);

  .k-TagList {
    margin: 0;
    padding: 0;

    list-style: none;

    color: $color;
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step);
  }

  .k-TagList--tiny {
    @include k-typographyFontSize($font-step-tiny);
  }

  .k-TagList__item {
    display: inline-block;
    margin-right: $spacing;

    &:before {
      margin-right: $spacing;
      content: '•';
      color: $color;
    }
  }

  .k-TagList__item--first {
    &:before {
      margin-right: 0;
      content: '';
    }
  }

  .k-TagList__item--last {
    margin-right: 0;
  }

  .k-TagList__icon {
    height: $icon-height;
    margin-right: $spacing;

    .k-TagList--tiny & {
      height: $icon-height-tiny;
    }
  }
}
