<style>
/* temporary styles */
.k-Follow__logo { background: grey; border-radius: 50%; height: 2.5rem; width: 2.5rem; display: inline-block; vertical-align: middle; }
.k-Follow__logo--facebook { background: #3b5998; }
.k-Follow__logo--twitter { background: #1da1f2; }
.k-Follow__logo--twitter { background: #0077b5; }
</style>
<div class="k-Row k-Row--padded k-Row--lightBottomBorder k-Row--centered">
  <div class="k-Row__content">
    <div class="k-Follow">
      <span class="k-Follow__text">Suivez nous</span>
      <a class="k-Follow__logo k-Follow__logo--facebook" href="#">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="40"
             height="40"
             height="40"
             viewBox="-30 -30 160 160"
             fill="#fff">
          <path d="M54.293 79.97v-26.278h8.82l1.32-10.241h-10.14v-6.539c0-2.964.823-4.985 5.075-4.985l5.423-.002v-9.159c-.938-.125-4.156-.404-7.902-.404-7.818 0-13.171 4.772-13.171 13.536v7.553h-8.842v10.241h8.842v26.278h10.575z" />
        </svg>
      </a>
      <a class="k-Follow__logo k-Follow__logo--twitter" href="#">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="40"
             height="40"
             viewBox="-30 -30 160 160"
             fill="#fff">
          <path d="M85.712 32.217c-2.445 1.084-5.072 1.816-7.83 2.146 2.814-1.687 4.976-4.358 5.994-7.542-2.634 1.562-5.551 2.697-8.657 3.308-2.487-2.649-6.029-4.305-9.95-4.305-7.528 0-13.631 6.104-13.631 13.632 0 1.068.121 2.109.353 3.106-11.33-.569-21.374-5.996-28.097-14.243-1.174 2.014-1.846 4.355-1.846 6.853 0 4.73 2.406 8.902 6.064 11.347-2.235-.071-4.337-.684-6.175-1.705l-.001.171c0 6.604 4.699 12.114 10.935 13.367-1.144.312-2.348.478-3.591.478-.879 0-1.732-.085-2.565-.244 1.735 5.415 6.769 9.357 12.734 9.466-4.665 3.656-10.543 5.835-16.93 5.835-1.101 0-2.185-.064-3.252-.191 6.033 3.868 13.198 6.125 20.896 6.125 25.074 0 38.786-20.771 38.786-38.785 0-.591-.014-1.179-.04-1.764 2.665-1.921 4.976-4.322 6.803-7.055z" />
        </svg>
      </a>
      <a class="k-Follow__logo k-Follow__logo--linkedin" href="#">
        <!-- TODO use LinkedIn "in" logo -->
        <svg xmlns="http://www.w3.org/2000/svg"
             width="40"
             height="40"
             viewBox="-30 -30 160 160"
             fill="#fff">
          <path d="M54.293 79.97v-26.278h8.82l1.32-10.241h-10.14v-6.539c0-2.964.823-4.985 5.075-4.985l5.423-.002v-9.159c-.938-.125-4.156-.404-7.902-.404-7.818 0-13.171 4.772-13.171 13.536v7.553h-8.842v10.241h8.842v26.278h10.575z" />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="k-Row k-Row--padded">
  <div class="k-Row__content">
    <div class="k-Grid">
      <div class="k-Footer__app k-Grid__col--4 k-Grid__col--offset-4 k-Grid__col--3@m k-Grid__col--offset-0@m k-Grid__col--2@l">
        <p>
          <!-- TODO use correct logo with "®" -->
          <img src="https://assets1.hellomerci.com/assets/logos/hellomerci-e9bb3f885b0b2041a250b87fdb4b4caf.svg"
               width="99"
               height="39"
               alt="hellomerci" />
        </p>
        <p>
          Plateforme de prêts entre particuliers de 200 à 10&nbsp;000&nbsp;€.
        </p>
      </div>
      <div class="k-Footer__nav k-Grid__col--12 k-Grid__col--offset-1@l k-Grid__col--6@m">
        <div class="k-Grid">
          <div class="k-Grid__col--4">
            <ul class="k-LinkList">
              <li><a href="#">Emprunter</a></li>
              <li><a href="#">Comment ça marche&nbsp;?</a></li>
              <li><a href="#">CGU</a></li>
            </ul>
          </div>
          <div class="k-Grid__col--4">
            <ul class="k-LinkList">
              <li><a href="#">Collectes publiques</a></li>
              <li><a href="#">Sélection de projets</a></li>
              <li><a href="#">La méthode</a></li>
              <li><a href="#">Nos statistiques</a></li>
            </ul>
          </div>
          <div class="k-Grid__col--4">
            <ul class="k-LinkList">
              <li><a href="#">Presse</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">L'équipe</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="k-Footer__actions k-Grid__col--4 k-Grid__col--offset-4 k-Grid__col--3@m k-Grid__col--offset-0@m k-Grid__col--2@l k-Grid__col--offset-1@l">
        <div class="k-Select" id="select"></div>
        <script type="text/babel">
          ReactDOM.render(
            React.createElement(Select, {
              name: 'locale',
              options: [
                { value: 'en', label: 'English' },
                { value: 'fr', label: 'Français' },
              ],
              clearable: false,
              searchable: false,
              placeholder: false,
              multi: false,
              value: 'fr',
            }),
            document.getElementById('select'),
          )
        </script>
      </div>
    </div>
  </div>
</div>

<div class="k-Row k-Row--padded k-Row--centered">
  <div class="k-Row__content">

    <div class="k-Grid">
      <div class="k-Footer__logo k-Grid__col--12 k-Grid__col--6@s k-Grid__col--4@l">

        <div class="k-Footer__logo__img">
          <!-- TODO utiliser SVG -->
          <img src="https://assets1.hellomerci.com/assets/logos/autorite_francaise-2624106a99325103754e803f5f59c457.png"
               alt="Logo autorités françaises"
               width="50"
               height="50" />
        </div>
        <div class="k-Footer__logo__text">
          hellomerci est une plateforme de financement participatif régulée par les autorités françaises.<br />
          Immatriculation&nbsp;: 14007218.
        </div>

      </div>
      <div class="k-Footer__logo k-Grid__col--12 k-Grid__col--6@s k-Grid__col--4@l">

      <div class="k-Footer__logo__img">
          <!-- TODO utiliser bon SVG ingenico GROUP -->
          <img class="k-Footer__logo__img"
               src="https://d3v4jsc54141g1.cloudfront.net/assets/footer-logo-ingenico-1a09c400b4e8fb39e2898f176e397b4a.png"
               alt="Logo Ingenico"
               width="102"
               height="60" />
        </div>
        <div class="k-Footer__logo__text">
          KissKissBankBank Technologies est agent de l'institution financière
          <a href="https://www.nbb.be/fr/supervision-financiere/controle-prudentiel/domaines-de-controle/etablissements-de-paiement-et-9">
            Ingenico Financial Solutions NV/SA
          </a>.<br />
          Paiements sécurisés avec Ingenico Payment Services.
        </div>

      </div>
      <div class="k-Footer__copyright k-Grid__col--12 k-Grid__col--4@l">
        © <%= Time.zone.now.year %> KissKissBankBank &amp; Co
      </div>
    </div>

  </div>
</div>
