<%= render template: 'kitten/pages/header' %>

<style>
  body { background: white; }
</style>

<div class="k-Row" style="background: #4a84ff">
  <div class="k-Row__content">

    <div class="k-Hero k-Hero--onDark">
      <div class="k-Hero__text">
        <h1 class="k-Hero__title">Petits pêts entre amis</h1>
        <p class="k-Hero__subtitle">Vos amis vous avancent de l’argent.</p>
        <p class="k-Hero__subtitle">Vous les remboursez sans intérêt et sans prise de tête.</p>
      </div>
      <div class="k-Hero__action">
        <div class="k-Card k-Card--light">
          <form id="loan-simulator">
            <%= react_component('KarlLoanSimulator') %>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="k-Row k-Row--padded k-Row--light k-Row--lightBottomBorder k-Row--centered">
  <div class="k-Row__content">

    <div class="k-TestimonyList">
      <div class="k-TestimonyList__item k-Testimony">
        <h2 class="k-Testimony__title">Empruntez à taux 0%</h2>
        <img class="k-Testimony__image"
             alt="Cute kitten"
             src="https://placehold.it/150x150/4a84ff/fff"
             width="150"
             height="150" />
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;Quel bonheur d’emprunter à taux 0&nbsp;% à des gens qui nous veulent du bien.&nbsp;&raquo;
        </blockquote>
      </div>
      <div class="k-TestimonyList__item k-Testimony">
        <h2 class="k-Testimony__title">En deux minutes</h2>
        <img class="k-Testimony__image"
             alt="Cute kitten"
             src="https://placehold.it/150x150/4a84ff/fff"
             width="150"
             height="150" />
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;Grâce à hellomerci, j’ai rassemblé l’argent dont j’avais besoin en quelques minutes.&nbsp;&raquo;
        </blockquote>
      </div>
      <div class="k-TestimonyList__item k-Testimony">
        <h2 class="k-Testimony__title">En toute intimité</h2>
        <img class="k-Testimony__image"
             alt="Cute kitten"
             src="https://placehold.it/150x150/4a84ff/fff"
             width="150"
             height="150" />
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;Super rassurant de pouvoir emprunter à ses amis sans voir à le crier sur tous les toits.&nbsp;&raquo;
        </blockquote>
      </div>
      <div class="k-TestimonyList__item k-Testimony">
        <h2 class="k-Testimony__title">Et en toute sécurité</h2>
        <img class="k-Testimony__image"
             alt="Cute kitten"
             src="https://placehold.it/150x150/4a84ff/fff"
             width="150"
             height="150" />
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;C’est bien de savoir que toutes les données collectées sont cryptées et sécurisées.&nbsp;&raquo;
        </blockquote>
      </div>
    </div>

    <p>
      <button class="k-Button">C’est parti&nbsp;!</button>
    </p>

  </div>
</div>

<div class="k-Row k-Row--padded k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <div class="k-Teaser">
      <div class="k-Teaser__col k-Teaser__col--image">
        <img alt="Cute kitten"
             src="https://placehold.it/400x300/4a84ff/fff"
             width="400" />
      </div>
      <div class="k-Teaser__col k-Teaser__col--text">
        <h2 class="k-Teaser__title">J’emprunte à mes amis</h2>
        <p>
          C’est simple et rapide. J’emprunte à mes proches en quelques clics.
          hellomerci rassemble l’argent pour moi et le transfère
          directement sur mon compte bancaire.
        </p>
        <p class="k-Teaser__action">
          <button class="k-Button">En savoir plus</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="k-Row k-Row--padded k-Row--light k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <div class="k-Teaser">
      <div class="k-Teaser__col k-Teaser__col--text">
        <h2 class="k-Teaser__title">Je rembourse mes amis</h2>
        <p>
          C’est garanti et pratique. hellomerci prélève automatiquement mon
          compte pour rembourser mes prêteurs.
        </p>
        <p class="k-Teaser__action">
          <button class="k-Button">En savoir plus</button>
        </p>
      </div>
      <div class="k-Teaser__col k-Teaser__col--image">
        <img alt="Cute kitten"
             src="https://placehold.it/300x260/4a84ff/fff"
             width="300" />
      </div>
    </div>
  </div>
</div>

<div class="k-Row k-Row--padded k-Row--centered k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <p>
      <img alt="La Banque Postale"
           src="https://placehold.it/100x100/4a84ff/fff"
           width="100"
           height="100" />
    </p>
    <p>
      Même La Banque Postale recommande hellomerci
      <img alt="☺"
           src="https://placehold.it/21x21/4a84ff/fff"
           width="21"
           height="21" />
    </p>
  </div>
</div>

<div class="k-Row k-Row--padded k-Row--light k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <div class="k-titleWithActions">
      <h2 class="k-titleWithActions__title">
        hellomerci présente aussi des projets d’intérêt collectif
        quand ils sont soutenus par nos partenaires.
      </h2>
      <p class="k-titleWithActions__action">
        <a href="#" class="k-Button">Voir les collectes publiques</a>
      </p>
      <p class="k-titleWithActions__action">
        <a href="#" class="k-Button">Voir la liste de nos partenaires</a>
      </p>
    </div>
  </div>
</div>

<div class="k-Row k-Row--padded k-Row--lightBottomBorder k-Row--centered">
  <div class="k-Row__content">
    <h2>La presse parle de vos collectes publiques</h2>

    <div class="k-TestimonyList">
      <div class="k-TestimonyList__item k-Testimony">
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;En 48 heures, le projet a recueilli
          10&nbsp;000&nbsp;€&nbsp;&raquo;
        </blockquote>
        <img alt="Cute kitten"
             src="https://placehold.it/80x30/4a84ff/fff"
             width="80"
             height="30" />
      </div>
      <div class="k-TestimonyList__item k-Testimony">
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;Un archet, un permis ou un magasin&nbsp;: le
          crowdfunding entre dans la vie quotidienne.&nbsp;&raquo;
        </blockquote>
        <img alt="Cute kitten"
             src="https://placehold.it/90x30/4a84ff/fff"
             width="90"
             height="30" />
      </div>
      <div class="k-TestimonyList__item k-Testimony">
        <blockquote class="k-Testimony__text">
          &laquo;&nbsp;Certains clients nous rapellent qu’ils ont participé
          au lancement du magasin&nbsp;!&nbsp;&raquo;
        </blockquote>
        <img alt="Cute kitten"
             src="https://placehold.it/70x30/4a84ff/fff"
             width="70"
             height="30" />
      </div>
    </div>
  </div>
</div>

<%= render template: 'kitten/pages/footer' %>
