<header class="k-Header" role="banner">

  <div class="k-Header__container">
    <div class="k-Header__row">

      <div class="k-Header__items">

        <p class="k-Header__item k-Header__item--fixedSize">
          <a class="k-Header__logo k-Header__logo--lightOnM" href="launcher-who-am-i">
            <%= image_tag 'brand/kisskissbankbank.svg', alt: 'kisskissbankbank' %>
          </a>
        </p>

        <div class="k-Header__item k-Header__titles">
          <div>
            <p class="k-Header__title">Étape 1</p>
            <p class="k-Header__subtitle">
              Commencez par l'essentiel
            </p>
          </div>
        </div>

      </div>

      <div class="k-Header__items k-Header__items--fixedSize">

        <div class="k-Header__item">
          <p class="k-Paragraph k-Paragraph--quaternary">
            Enregistré il y a 2 minutes
          </p>
        </div>

        <div class="k-Header__item">
          <%= link_to 'Sauvegarder et quitter',
                      '#',
                      class: 'k-Button k-Button--lithium' %>
        </div>

      </div>

    </div>
  </div>

</header>

<div class="k-Row k-Row--centered k-Row--lightBottomBorder">
  <div class="k-Row__content">
    <%= react_component("Stepper", props: {
      items: [
        {
          text: "Statut\n du créateur",
          href: "#",
          linkClassNames: "k-Stepper__link--inProgress",
          iconType: "inProgress",
        },
        {
          text: "Le projet",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
        {
          text: "Description\n sommaire",
          linkClassNames: "k-Stepper__link--inactive",
          iconType: "default",
        },
      ]
    }) %>
  </div>
</div>

<div class="k-Row k-LauncherStep">
  <div class="k-Row__content">
    <div class="k-Grid">
      <div class="k-Grid__col--5 k-Grid__col--offset-1">
        <div class="k-LauncherStep__form">

          <p class="k-Title k-Title--secondary">
            Qui suis-je&nbsp;?
          </p>

          <div class="k-RadioButton k-u-margin-bottom-triple">
            <input id="karl-radio-button-1"
                   type="radio"
                   name="karl-radio-button"
                   class="k-RadioButton__input" />
            <label for="karl-radio-button-1" class="k-RadioButton__label">
              Particulier / Auto-entrepreneur
            </label>
            <div class="k-RadioButton__labelContents">
              <p class="k-Paragraph k-Paragraph--quaternary">
                Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima
                vera est, ut, quem ad modum in se quisque sit, sic in amicum sit
                animatus.
              </p>
            </div>
          </div>

          <div class="k-RadioButton k-u-margin-bottom-triple">
            <input id="karl-radio-button-2"
                   type="radio"
                   name="karl-radio-button"
                   class="k-RadioButton__input" />
            <label for="karl-radio-button-2" class="k-RadioButton__label">
              Association
            </label>
            <div class="k-RadioButton__labelContents">
              <p class="k-Paragraph k-Paragraph--quaternary">
                Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima
                vera est, ut, quem ad modum in se quisque sit, sic in amicum sit
                animatus.
              </p>
            </div>
          </div>

          <div class="k-RadioButton k-u-margin-bottom-triple">
            <input id="karl-radio-button-3"
                   type="radio"
                   name="karl-radio-button"
                   class="k-RadioButton__input" />
            <label for="karl-radio-button-3" class="k-RadioButton__label">
              Entreprise
            </label>
            <div class="k-RadioButton__labelContents">
              <p class="k-Paragraph k-Paragraph--quaternary">
                Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima
                vera est, ut, quem ad modum in se quisque sit, sic in amicum sit
                animatus.
              </p>
            </div>
          </div>

          <div class="k-RadioButton k-u-margin-bottom-triple">
            <input id="karl-radio-button-4"
                   type="radio"
                   name="karl-radio-button"
                   class="k-RadioButton__input" />
            <label for="karl-radio-button-4" class="k-RadioButton__label">
              Collectivité territorial
            </label>
            <div class="k-RadioButton__labelContents">
              <p class="k-Paragraph k-Paragraph--quaternary">
                Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima
                vera est, ut, quem ad modum in se quisque sit, sic in amicum sit
                animatus.
              </p>
            </div>
          </div>

          <div class="k-Checkbox">
            <input id="input-1"
                   type="checkbox"
                   class="k-Checkbox__input" />
            <label for="input-1" class="k-Checkbox__label">Déposez un projet
              Scouts et Guides de France.</label>
            &nbsp;<a href="#" class="k-Checkbox__link">En savoir plus</a>
          </div>

          <div class="k-Checkbox">
            <input id="input-2"
                   type="checkbox"
                   class="k-Checkbox__input" />
            <label for="input-2" class="k-Checkbox__label">Déposez un projet
              Éclaireurs Unionistes de France.</label>
            &nbsp;<a href="#" class="k-Checkbox__link">En savoir plus</a>
          </div>

          <div class="k-u-margin-top-triple k-u-margin-bottom-triple">
            <a class="k-Button k-Button--hydrogen" href="#">Retour</a>
            <input class="k-Button k-Button--helium"type="submit" name="" value="Suivant">
          </div>

        </div>
      </div>

      <div class="k-Grid__col--4 k-Grid__col--offset-2" style="border-left:1px solid #eee;background-color:#fbfbfb;">
        <div class="k-u-margin-top-triple">
          <%= react_component('DocLinkBox', props: {
            title: 'Lorem Ipsum ',
            text: 'Aenean leo ligula, porttitor eu, vitae eleifend
                ac, enimiquam ante.',
            }
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>
