/// Progress
///
/// @group meter
///
/// @example scss - usage
///
///   @include k-Progress
///
/// @example html
///
///   <div class="k-Progress">
///     <div class="k-Progress__ramp">
///       <div class="k-Progress__slider"></div>
///     </div>
///   </div>

@mixin k-Progress {

  // Base
  $color: map-get($k-colors, 'primary-1');

  // Disabled
  $disabled-color: map-get($k-colors, 'line-2');

  // Ramp
  $ramp-color: map-get($k-colors, 'line-1');

  $ramp-height: k-px-to-rem(20px);
  $border-radius: k-px-to-rem(30px);

  .k-Progress {
    max-width: 100%;
  }

  .k-Progress__ramp {
    position: relative;
    height: $ramp-height;
    border-radius: $border-radius;

    background: $ramp-color;
  }

  .k-Progress__slider {
    width: 0;
    height: 100%;

    border-radius: $border-radius;
    background: $color;

    .k-Progress.is-disabled & {
      background: $disabled-color;
    }
  }
}
