/// SimulatorResult
///
/// @group simulators
///
/// @example scss - usage
///
///   $simulator-result: (
///     colors: (
///       border: red,
///       background: pink
///     )
///   );
///   @include k-SimulatorResult($simulator-result);
///
/// @example html
///
///   <div class="k-SimulatorResult">
///     <div class="k-SimulatorResult__item">
///       <div class="k-SimulatorResult__item__label">duration</div>
///       <div class="k-SimulatorResult__item__value">3 months</div>
///     </div>
///     <div class="k-SimulatorResult__item is-last">
///       <div class="k-SimulatorResult__item__label">cost</div>
///       <div class="k-SimulatorResult__item__value">99$</div>
///     </div>
///   </div>
@mixin k-SimulatorResult($simulator-result) {
  $colors: map-get($simulator-result, 'colors');
  $border-color: map-get($colors, 'border');
  $background-color: map-get($colors, 'background');
  $text-color: map-get($colors, 'text');

  $label-font: map-get($simulator-result, 'label-font');
  $value-font: map-get($simulator-result, 'value-font');

  .k-SimulatorResult {
    display: flex;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    text-align: center;
  }

  .k-SimulatorResult__item {
    flex: 1;
    padding: 1em;
    border-right: 1px solid $border-color;
    background: $background-color;
    color: $text-color;

    &.is-last {
      border-right: none;
    }
  }

  .k-SimulatorResult__item__label {
    @include k-font($label-font);
    @include k-typographyFontSize(-2);
  }

  .k-SimulatorResult__item__value {
    @include k-font($value-font);
    @include k-typographyFontSize(1);
  }
}
