/// Use the @error directive for >= Sass 3.4 to throw an error
/// and simulate it for Sass 3.3 and below
///
/// @group helpers_utility
///
/// @return {Boolean}
///
/// @example scss - Usage
///   k-log('Oops! Something went wrong!');
///   // Will throw 'Oops! Something went wrong!'
@function k-log($message) {
  @if not feature-exists("at-error") {
    @warn $message;
  } @else {
    @error $message;
  }
}
