/// This mixin returns a value from a given map for the given key.
/// If the key cannot be found, it will throw an error during compilation.
///
/// @group 0100_helpers
///
/// @return {string}
///
/// @example scss - Usage
///   k-map-fetch((foo: 'bar'), 'foo');
///   // 'bar'
///
///   k-map-fetch((foo: 'bar'), 'test');
///   // "test" is required in "k-module".

@function k-map-fetch($map, $key) {
  @if type-of($map) != 'map' {
    @return $map;
  }

  $value: map-get($map, $key);
  @return k-required($value, $key);
}
