/// Convert px value to rem value.
///
/// @group helpers_utility
///
/// @parameter {Number} $px - a px value
///
/// @return {Number} 1.42rem
///
/// @example scss - Usage
///   k-px-to-rem(20px);
///   // 1.25rem

@function k-px-to-rem($px) {
  @if $px == 0 or $px == 'auto' {
    @return $px
  }

  $root-font-size: map-get($k-typography, 'root');
  @return ($px / $root-font-size) * 1rem;
}
