/// These mixins define the responsive elements.
///
/// @group helpers_utility
///
/// @example scss - Usage
///   .k-Header__nav {
///     @include tablet {
///       display: none;
///     };
///   }

$mobile-max-width: 480px;
$tablet-max-width: 768px;
$desktop-max-width: 1200px;

@mixin desktop-hd {
  @media (min-width: $desktop-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}
