<%= example "Bullet list" do %>
  <ul class="k-BulletList">
    <li> Default bullet list</li>
    <li> Default bullet list</li>
  </ul>
  <ul class="k-BulletList">
    <li class="k-BulletList k-BulletList--RadioButton">
      Bullet list with margin
    </li>
    <li class="k-BulletList k-BulletList--RadioButton">
      Bullet list with margin
    </li>
  </ul>
<% end %>
