<%= example "Bullet list" do %>
  <ul class="k-BulletList">
    <li>Default bullet list</li>
    <li>
      Multae sunt varietates felium, quae inter se coloribus, pilis, forma
      caudae, magnitudine differunt. Praedatores periti sunt qui mures, rattos,
      aves, et alia parva animalia comedunt; possumus dicere venationem esse
      solum ludum felium.
    </li>
  </ul>
<% end %>
