/// Utilities to get responsive image.
///
/// @group image
///
/// @example scss - Usage
///
///   @include k-utilities-responsive;
///
/// @example html
///
///   <img class="k-u-image-responsive" href="…" alt="…" />

@mixin k-utilities-responsive {
  .k-u-image-responsive {
    display: block;

    max-width: 100%;
    height: auto;
  }

  .k-u-object-responsive {
    position: relative;
    overflow: hidden;
    // iframe ratio.
    padding-bottom: 67.5%;
    height: 0;
    margin: 10px 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}
