<%= example "horizontal nav" do %>
<ul class="k-HorizontalNav" role="menubar">
  <li role="menuitem">
    <a class="k-HorizontalNav__item" href="#">
      Nav link
    </a>
  </li>
  <li role="menuitem">
    <a class="k-HorizontalNav__item" href="#">
      Nav link 2
    </a>
  </li>
  <li role="menuitem">
    <a class="k-HorizontalNav__item" href="#">
      Nav link 3
    </a>
  </li>
  <li role="menuitem">
    <a class="k-HorizontalNav__item is-selected" href="#">
      Nav link 4 (selected)
    </a>
  </li>
</ul>
<% end %>
