<%= example "platform switch" do %>

  <ul class="k-PlatformSwitch">
    <li>
      <a class="k-PlatformSwitch__item" href="#">

        <div class="k-PlatformSwitch__element">
          <span style="border:1px solid #d8d8d8;padding:9px 70px;
            color:#d8d8d8;text-transform:uppercase;text-decoration:none;"
            href="#">LOGO</span>
        </div>

        <div class="k-PlatformSwitch__element
                    k-PlatformSwitch__element--pull-end
                    k-PlatformSwitch__element--animate">
          <span class="k-ButtonIcon k-ButtonIcon--tiny">
            <svg class="k-ButtonIcon__svg" viewBox="0 0 10 10"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M7.828,5L6.414,6.413L2.172,2.172l1.414-1.415L7.828,5z"/>
                <path d="M7.828,5L3.586,9.243L2.172,7.827l4.242-4.241L7.828,5z"/>
              </g>
            </svg>
          </span>
        </div>

      </a>
    </li>

    <li>
      <a class="k-PlatformSwitch__item" href="#">

        <div class="k-PlatformSwitch__element">
          <span style="border:1px solid #d8d8d8;padding:9px 70px;
            color:#d8d8d8;text-transform:uppercase;text-decoration:none;"
            href="#">LOGO</span>
        </div>

        <div class="k-PlatformSwitch__element
                    k-PlatformSwitch__element--pull-end
                    k-PlatformSwitch__element--animate">
          <span class="k-ButtonIcon k-ButtonIcon--tiny">
            <svg class="k-ButtonIcon__svg" viewBox="0 0 10 10"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M7.828,5L6.414,6.413L2.172,2.172l1.414-1.415L7.828,5z"/>
                <path d="M7.828,5L3.586,9.243L2.172,7.827l4.242-4.241L7.828,5z"/>
              </g>
            </svg>
          </span>
        </div>

      </a>
    </li>

    <li>
      <a class="k-PlatformSwitch__item" href="#">

        <div class="k-PlatformSwitch__element">
          <span style="border:1px solid #d8d8d8;padding:9px 70px;
            color:#d8d8d8;text-transform:uppercase;text-decoration:none;"
            href="#">LOGO</span>
        </div>

        <div class="k-PlatformSwitch__element
                    k-PlatformSwitch__element--pull-end
                    k-PlatformSwitch__element--animate">
          <span class="k-ButtonIcon k-ButtonIcon--tiny">
            <svg class="k-ButtonIcon__svg" viewBox="0 0 10 10"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M7.828,5L6.414,6.413L2.172,2.172l1.414-1.415L7.828,5z"/>
                <path d="M7.828,5L3.586,9.243L2.172,7.827l4.242-4.241L7.828,5z"/>
              </g>
            </svg>
          </span>
        </div>

      </a>
    </li>
  </ul>
<% end %>
