<%= example 'tab bar' do %>

  <ul id="tabbar" class="k-TabBar">
    <li>
      <a class="k-TabBar__item is-selected" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
    <li>
      <a class="k-TabBar__item" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
    <li>
      <a class="k-TabBar__item" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
  </ul>

  <p>
    <a data-toggle-class="is-fixed" data-toggle-element="#tabbar"
      href="#">Toggle fixed version</a>
  </p>

<% end %>

<%= example 'Tab bar thin gutters' do %>

  <ul id="tabbar2" class="k-TabBar">
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters is-selected" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        Lorem <br />ipsum dolor
      </a>
    </li>
  </ul>

  <p>
    <a data-toggle-class="is-fixed" data-toggle-element="#tabbar2"
      href="#">Toggle fixed version</a>
  </p>

<% end %>
