<%= example do %>

  <ul id="tabbar" class="k-TabBar">
    <li>
      <a class="k-TabBar__item is-selected" href="#">
        <span class="k-TabBar__text">Link selected</span>
      </a>
    </li>
    <li>
      <a class="k-TabBar__item" href="#">
        <span class="k-TabBar__text">Link</span>
      </a>
    </li>
    <li>
      <a class="k-TabBar__item" href="#">
        <span class="k-TabBar__text">Link</span>
      </a>
    </li>
  </ul>

  <p>
    <a onclick="document.getElementById('tabbar').className += ' is-fixed';this.remove();"
      href="#">See fixed version</a>
  </p>

<% end %>

<%= example do %>

  <h4>Tab bar (thin gutters)</h4>

  <ul id="tabbar2" class="k-TabBar">
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters is-selected" href="#">
        <span class="k-TabBar__text">Link selected</span>
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        <span class="k-TabBar__text">Link</span>
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        <span class="k-TabBar__text">Link</span>
      </a>
    </li>
    <li>
      <a class="k-TabBar__item k-TabBar__item--thinGutters" href="#">
        <span class="k-TabBar__text">Compte</span>
      </a>
    </li>
  </ul>

  <p>
    <a onclick="document.getElementById('tabbar2').className += ' is-fixed';this.remove();"
      href="#">See fixed version</a>
  </p>

<% end %>
