<%= example "Form actions" do %>
  <div class="k-FormActions">
    <a href="#" class="k-Button k-Button--hydrogen">
      Button
    </a>

    <button class="k-Button k-Button--helium">
      Button
    </button>

    <input type="submit" class="k-Button k-Button--beryllium" value="Button" />
  </div>
<% end %>
