<%= example "Form composer" do %>
  <div class="k-FormComposer">
    <div class="k-FormComposer__element">
      <input class="k-TextInput"
             type="text"
             placeholder="Lorem ipsum dolor sit amet" />
    </div>

    <div class="k-FormComposer__element--main">
    </div>

  </div>
<% end %>
