<%= example 'Search input' do %>

  <form class="k-SearchInput" role="search">

    <input class="k-TextInput k-SearchInput__input"
           type="text"
           name="foobar"
           placeholder="Foobar…" />

    <input class="k-SearchInput__submit"
           type="submit"
           value="Search" />

  </form>

<% end %>
