<%= example "select without a placeholder value" do %>
  <div class="k-Select" id="select">
    <%= react_component('KarlSimpleSelect') %>
  </div>
<% end %>

<%= example "select with a placeholder value" do %>
  <div class="k-Select" id="select2">
    <%= react_component('KarlPlaceholderSelect') %>
  </div>
<% end %>
