<%= example "select without a placeholder value" do %>
  <div class="k-Select" id="select">
    <%= react_component('Select', props: {
          name: 'locale',
          options: [
            { value: 'en', label: 'English' },
            { value: 'fr', label: 'Français' },
            { value: 'es', label: 'Español' },
          ],
          clearable: false,
          searchable: false,
          placeholder: false,
          multi: false,
          value: 'fr',
    }) %>
  </div>
<% end %>

<%= example "select with a placeholder value" do %>
  <div class="k-Select" id="select2">
    <%= react_component('Select', props: {
          name: 'locale',
          options: [
            { value: 'de', label: 'Deutsch' },
            { value: 'en', label: 'English' },
            { value: 'es', label: 'Español' },
            { value: 'fr', label: 'Français' },
            { value: 'it', label: 'Italiano' },
            { value: 'nl', label: 'Nederlands' },
            { value: 'sv', label: 'Svenska' },
            { value: 'no', label: 'Norsk' },
            { value: 'is', label: 'Íslenska' },
            { value: 'ca', label: 'Català' },
            { value: 'ki', label: 'Gĩkũyũ' },
            { value: 'se', label: 'Davvisámegiella' },
            { value: 'av', label: 'авар мацӀ' },
            { value: 'yi', label: 'ייִדיש' },
            { value: 'bh', label: 'भोजपुरी' },
            { value: 'hi', label: 'हिन्दी' },
            { value: 'cr', label: 'ᓀᐦᐃᔭᐍᐏᐣ' },
          ],
          clearable: false,
          searchable: false,
          multi: false,
          placeholder: 'Language…',
          value: nil,
    }) %>
  </div>
<% end %>
