<%= example do %>
  <div id="select" class="k-Select"></div>
  <script type="text/babel">
    ReactDOM.render(
      React.createElement(Select, {
        name: 'locale',
        options: [
          { value: 'en', label: 'English' },
          { value: 'fr', label: 'Français' },
          { value: 'it', label: 'Italiano' },
          { value: 'nl', label: 'Nederlands' },
          { value: 'es', label: 'Español' },
          { value: 'de', label: 'Deutsch' },
        ],
        clearable: false,
        searchable: false,
        placeholder: false,
        multi: false,
        value: 'fr',
      }),
      document.getElementById('select'),
    )
  </script>
<% end %>
