<%= example "select without placeholder" do %>
  <div class="k-Select" id="select"></div>
  <script type="text/babel">
    ReactDOM.render(
      React.createElement(Select, {
        name: 'locale',
        options: [
          { value: 'en', label: 'English' },
          { value: 'fr', label: 'Français' },
          { value: 'es', label: 'Español' },
        ],
        clearable: false,
        searchable: false,
        placeholder: false,
        multi: false,
        value: 'fr',
      }),
      document.getElementById('select'),
    )
  </script>
<% end %>

<%= example "select with placeholder" do %>
  <div class="k-Select" id="select2"></div>
  <script type="text/babel">
    ReactDOM.render(
      React.createElement(Select, {
        name: 'locale',
        options: [
          { value: 'de', label: 'Deutsch' },
          { value: 'en', label: 'English' },
          { value: 'es', label: 'Español' },
          { value: 'fr', label: 'Français' },
          { value: 'it', label: 'Italiano' },
          { value: 'nl', label: 'Nederlands' },
          { value: 'is', label: 'Íslenska' },
          { value: 'av', label: 'авар мацӀ' },
          { value: 'bh', label: 'भोजपुरी' },
          { value: 'cr', label: 'ᓀᐦᐃᔭᐍᐏᐣ' },
          { value: 'hi', label: 'हिन्दी' },
          { value: 'em', label: '༼ つ ◕◡◕ ༽つ' },
        ],
        clearable: false,
        searchable: false,
        multi: false,
        placeholder: 'Language…',
        value: null,
      }),
      document.getElementById('select2'),
    )
  </script>
<% end %>
