<%= example "Text input with label with info" do %>
  <div class="k-TextInputWithInfo">
    <label for="input" class="k-TextInputWithInfo__label">Nom du label</label>
    <input id="input"
           class="k-TextInput"
           type="text"
           placeholder="Lorem ipsum dolor sit amet" />
  </div>
<% end %>

<%= example "Text input with info - Error" do %>
  <div class="k-TextInputWithInfo">
    <input class="k-TextInput is-error"
           type="text"
           placeholder="Lorem ipsum dolor sit amet" />
    <p class="k-TextInputWithInfo__error">Cum sociis natoque penatibus et magnis</p>
  </div>
<% end %>
