<%= example "4. Text input with button - Error" do %>
  <div class="k-TextInputWithButtonInfo">
    <form class="k-TextInputWithButton">
      <input class="k-TextInput is-error k-TextInputWithButton__input"
               type="text"
               name=""
               placeholder="Lorem ipsum dolor sit amet" />

      <input class="k-TextInputWithButton__submit is-error"
              type="submit"
              value="Button" />
    </form>
    <p class="k-TextInputWithInfo__error">Cum sociis natoque penatibus et magnis</p>
  </div>
<% end %>
