<%= example "4. Text input with unit - Error" do %>
  <div class="k-TextInputWithUnit">
    <input class="k-TextInput is-error k-TextInputWithUnit__input"
           placeholder="Lorem ipsum dolor sit amet"
           type="number" />

    <span class="k-TextInputWithUnit__unit is-error">€</span>
  </div>
  <p class="k-TextInputWithInfo__error">Cum sociis natoque penatibus et magnis</p>
<% end %>
