/// Setup a button image element.
///
/// This mixin will setup an element to look like a button with a image.
///
/// You can use 3 versions of this button: tiny, default and big.
///
/// @group buttons
///
/// @parameter {Map} $button-image - a button image specification
///
/// @example scss - Usage
///
///   $button-image: (
///     colors: (
///       base: (
///         border-color: #d8d8d8
///       ),
///       hover: (
///         border-color: none
///       ),
///       active: (
///         border-color: #151515
///       )
///     )
///   )

@mixin k-ButtonImage($button-image) {
  @include k-with-module('k-ButtonImage: $button-image') {

    $button-size: 40px;
    $button-size-tiny: 30px;
    $button-size-big: 50px;

    .k-ButtonImage {
      @include k-buttonRoundedImage($button-size);

      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      border: 0;
      padding: 0;
      opacity: 1;
      transition: opacity .2s;

      &:hover{
        opacity: .8;
      }
    }

    .k-ButtonImage--tiny {
      @include k-buttonRoundedImage($button-size-tiny);
    }

    .k-ButtonImage--big {
      @include k-buttonRoundedImage($button-size-big);
    }

    .k-ButtonImage__img {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%;
    }
  }
}
