/// Setup a button tag element.
///
/// This mixin will setup an element to look like a button
/// with a tag inside.
///
/// Paddings depend on the size of button and the size of tag.
/// It is calculate automaticaly with this 2 values.
///
/// You can use only default version of this button
///
/// @group buttons
///
/// @parameter {Map} $button-tag - a button tag specification
///
/// @example scss - Usage
///
///   $button-tag: (
///     default: (
///       colors: (
///         base: (
///           color: #333,
///           background-color: #fff,
///           border-color: #d8d8d8,
///         ),
///         focus: (
///           color: #4a84ff,
///           border-color: #cadbfd,
///           background-color: #fff,
///         ),
///         hover: (
///           color: #4a84ff,
///           border-color: #cadbfd,
///           background-color: #fff,
///         ),
///         active: (
///           color: #fff,
///           border-color: #2c66e1,
///           background-color: #2c66e1,
///         ),
///         is-selected: (
///           color: #fff,
///           border-color: #2c66e1,
///           background-color: #2c66e1,
///         ),
///         disabled: (
///           color: #fff,
///           border-color: #d8d8d8,
///           background-color: #d8d8d8,
///         )
///       )
///     ),

@mixin k-ButtonTag($button-tag) {
  @include k-with-module('k-ButtonTag: $button-tag') {
    $button-tag: map-get-deep($button-tag, ('default'));

    $border-size: 1px;

    // Button tag element default settings.
    $button-tag-min-width: k-px-to-rem(60px - ($border-size * 2));
    $button-tag-line-height: k-px-to-rem(40px - ($border-size * 2));

    // The button tag has a radius of .25rem
    $button-tag-radius: .25rem;

    // Button font-size is computed using a modular scale and a defined step of this
    // scale.
    $button-step: -2;

    $transition-speed: .2s;

    .k-ButtonTag {
      @include k-buttonBase($button-tag);
      @include k-typographyFontSize($button-step, $button-tag-line-height);

      padding: 0 $button-tag-radius;
      border-radius: $button-tag-radius;
      min-width: $button-tag-min-width;
      min-height: $button-tag-line-height;
    }
  }
}
