@import 'kitten/helpers/button/base';

/// Setup a button image element.
///
/// This mixin will setup an element to look like a button with a image.
///
/// This button autorize 3 versions (tiny, default, big).
///
/// @group 0600_buttons_components
///
/// @parameter {Map} $button-image - a button image specification
///
/// @example scss - Usage
///
///   $button-image: (
///     size: (
///       tiny: 30px,
///       default: 40px,
///       big: 50px
///     ),
///     colors: (
///       base: (
///         border-color: #d8d8d8
///       ),
///       hover: (
///         border-color: none
///       ),
///       active: (
///         border-color: #151515
///       )
///     )
///   )

@mixin k-ButtonImage($button-image) {
  /// TODO: Validations…

  $button-size: map-get-deep($button-image, ('size', 'default'));
  $button-size-tiny: map-get-deep($button-image, ('size', 'tiny'));
  $button-size-big: map-get-deep($button-image, ('size', 'big'));

  // TODO: Create helper mixin k-buttonRoundedImage()
  $k-button-size: k-px-to-rem($button-size);
  $k-border-radius-size: $k-button-size / 2;

  .k-ButtonImage {
    @include k-buttonBase($button-image);

    overflow: hidden;
    padding: 0;
    width: $k-button-size;
    height: $k-button-size;
    border-radius: $k-border-radius-size;
  }

  .k-ButtonImage--tiny {
    $k-button-size-tiny: k-px-to-rem($button-size-tiny);
    $k-border-radius-size-tiny: $k-button-size-tiny / 2;

    width: $k-button-size-tiny;
    height: $k-button-size-tiny;
    border-radius: $k-border-radius-size-tiny;
  }

  .k-ButtonImage--big {
    $k-button-size-big: k-px-to-rem($button-size-big);
    $k-border-radius-size-big: $k-button-size-big / 2;

    width: $k-button-size-big;
    height: $k-button-size-big;
    border-radius: $k-border-radius-size-big;
  }

  .k-ButtonImage__img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
}
