/// Setup a button element.
///
/// This mixin will setup an element to look like a button.
///
/// Vertical paddings depend on the vertical-rhythm and horizontal padding and
/// horizontal paddings depends on the font-size.
///
/// @group buttons
///
/// @parameter {Map} $button - a button specification
///
/// @example scss - Usage
///   @include k-Button((
///     font: 'source-sans-semi-bold-uppercase',
///      colors: (
///        light: (
///          color: #333,
///          background-color: #fff,
///          border: #d8d8d8,
///        ),
///        focus-light: (
///          color: #fff,
///          background-color: #4a84ff,
///          border-color: transparent,
///        ),
///        hover-light: (
///          color: #fff,
///          background-color: #4a84ff,
///          border-color: transparent,
///        ),
///        active-light: (
///          color: #fff,
///          background-color: #4a84ff,
///          border-color: transparent,
///        )
///      )
///   ));

@mixin k-Button($button) {
  @include k-with-module('k-Button: $button') {
    $border-size: 1px;

    // Button element default settings.
    $button-min-width: k-px-to-rem(160px - ($border-size * 2));
    $button-line-height: k-px-to-rem(40px - ($border-size * 2));

    // Button element big settings.
    $button-big-min-width: k-px-to-rem(200px - ($border-size * 2));
    $button-big-line-height: k-px-to-rem(50px - ($border-size * 2));


    // The button element has a radius of 1.25rem (
    //   20px (designed border-radius) / 16px (base font-size)
    // ). The horizontal paddings are computed using this radius.
    $button-radius: 1.25rem;
    $button-big-radius: 1.56rem;

    // Button font-size is computed using a modular scale and a defined step of this
    // scale.
    $button-step: -2;

    $font: k-string-definition(k-map-fetch($button, 'font'));

    // light
    $light-color: k-color-definition(
      k-map-fetch($button, ('colors', 'light', 'color')));
    $light-background-color: k-color-definition(
      k-map-fetch($button, ('colors', 'light', 'background-color')));
    $light-border-color: k-color-definition(
      k-map-fetch($button, ('colors', 'light', 'border-color')));

    // focus light
    $focus-light-color: k-color-definition(
      k-map-fetch($button, ('colors', 'focus-light', 'color')));
    $focus-light-background-color: k-color-definition(
      k-map-fetch($button, ('colors', 'focus-light', 'background-color')));
    $focus-light-border-color: k-color-definition(
      k-map-fetch($button, ('colors', 'focus-light', 'border-color')));

    // hover light
    $hover-light-color: k-color-definition(
      k-map-fetch($button, ('colors', 'hover-light', 'color')));
    $hover-light-background-color: k-color-definition(
      k-map-fetch($button, ('colors', 'hover-light', 'background-color')));
    $hover-light-border-color: k-color-definition(
      k-map-fetch($button, ('colors', 'hover-light', 'border-color')));

    // active light
    $active-light-color: k-color-definition(
      k-map-fetch($button, ('colors', 'active-light', 'color')));
    $active-light-background-color: k-color-definition(
      k-map-fetch($button, ('colors', 'active-light', 'background-color')));
    $active-light-border-color: k-color-definition(
      k-map-fetch($button, ('colors', 'active-light', 'border-color')));

    .k-Button--column {
      justify-content: space-between;
      flex-direction: column;
    }

    .k-Button {
      @include k-buttonBase($button);
      @include k-typographyFontSize($button-step, $button-line-height);
      @include k-typographyFont($font);

      padding: 0 $button-radius * 2;
      border-radius: $button-radius;
      min-width: $button-min-width;

      text-decoration: none;
      text-align: center;
    }

    .k-Button--light {
      color: $light-color;
      background-color: $light-background-color;
      border-color: $light-border-color;

      &:focus {
        color: $focus-light-color;
        background-color: $focus-light-background-color;
        border-color: $focus-light-border-color;
      }

      &:hover {
        color: $hover-light-color;
        background-color: $hover-light-background-color;
        border-color: $hover-light-border-color;
      }

      &:active {
        color: $active-light-color;
        background-color: $active-light-background-color;
        border-color: $active-light-border-color;
      }
    }

    .k-Button--big {
      @include k-typographyFontSize($button-step, $button-big-line-height);

      padding: 0 $button-big-radius * 2;
      border-radius: $button-big-radius;
      min-width: $button-big-min-width;
    }

  }
}
