/// Setup a button icon element.
///
/// This mixin will setup an element to look like a button
/// with a picto inside.
///
/// Paddings depend on the size of button and the size of picto.
/// It is calculate automaticaly with this 2 values.
///
/// You can use 2 versions of this button: default and primary
///
/// @group buttons
///
/// @parameter {Map} $button-icon - a button icon specification
/// @parameter {Map} $icon        - a icon specification
///
/// @example scss - Usage
///
///   $button-icon: (
///     default: (
///       colors: (
///         base: (
///           color: #333,
///           background-color: #fff,
///           border-color: #d8d8d8,
///         ),
///         hover: (
///           color: #4a84ff,
///           border-color: #cadbfd,
///           background-color: #fff,
///         ),
///         active: (
///           color: #fff,
///           border-color: #2c66e1,
///           background-color: #2c66e1,
///         ),
///         is-selected: (
///           color: #fff,
///           border-color: #2c66e1,
///           background-color: #2c66e1,
///         ),
///         disabled: (
///           color: #fff,
///           border-color: #d8d8d8,
///           background-color: #d8d8d8,
///         )
///       )
///     ),

@mixin k-ButtonIcon($button-icon) {
  @include k-with-module('k-ButtonIcon: $button-icon') {
    $button-icon-default: map-get-deep($button-icon, ('default'));
    $button-icon-primary: map-get-deep($button-icon, ('primary'));

    $button-icon-facebook: (
      colors: (
        base: (
          color: #fff,
          border-color: #3b5998,
          background-color: #3b5998,
        ),
        hover: (
          color: #fff,
          border-color: #2c4a89,
          background-color: #2c4a89,
        ),
        active: (
          color: #fff,
          border-color: #1d3b7a,
          background-color: #1d3b7a,
        ),
        is-selected: (
          color: #fff,
          border-color: #1d3b7a,
          background-color: #1d3b7a,
        ),
        disabled: (
          color: #fff,
          border-color: #d8d8d8,
          background-color: #d8d8d8,
        )
      )
    );
    $button-icon-twitter: (
      colors: (
        base: (
          color: #fff,
          border-color: #55acee,
          background-color: #55acee,
        ),
        hover: (
          color: #fff,
          border-color: #469ddf,
          background-color: #469ddf,
        ),
        active: (
          color: #fff,
          border-color: #388ed0,
          background-color: #388ed0,
        ),
        is-selected: (
          color: #fff,
          border-color: #388ed0,
          background-color: #388ed0,
        ),
        disabled: (
          color: #fff,
          border-color: #d8d8d8,
          background-color: #d8d8d8,
        )
      )
    );
    $button-icon-linkedin: (
      colors: (
        base: (
          color: #fff,
          border-color: #00669e,
          background-color: #00669e,
        ),
        hover: (
          color: #fff,
          border-color: #00578f,
          background-color: #00578f,
        ),
        active: (
          color: #fff,
          border-color: #004880,
          background-color: #004880,
        ),
        is-selected: (
          color: #fff,
          border-color: #004880,
          background-color: #004880,
        ),
        disabled: (
          color: #fff,
          border-color: #d8d8d8,
          background-color: #d8d8d8,
        )
      )
    );

    $border-size: 1px;

    $button-size: 30px - ($border-size * 2);
    $button-size-medium: 40px - ($border-size * 2);
    $button-size-big: 50px - ($border-size * 2);

    // SVG element default settings.
    $icon-width: k-px-to-rem(12px);
    $icon-height: k-px-to-rem(14px);

    $button-radius: 1.25rem;

    $transition-speed: .2s;

    .k-ButtonIcon {
      @include k-buttonBase($button-icon-default);
      @include k-buttonRounded($button-size, $icon-width, $icon-height);
    }

    .k-ButtonIcon__svg {
      display: block;
      margin: 0;
      padding: 0;
      width: $icon-width;
      height: $icon-height;
      transition: fill $transition-speed;

      @include k-buttonSvg(
        $button-icon-default,
        'k-ButtonIcon',
        'k-ButtonIcon__svg__stroke'
      );

      @include k-buttonSvg(
        $button-icon-primary,
        'k-ButtonIcon--primary',
        'k-ButtonIcon__svg__stroke'
      );

      @include k-buttonSvg(
        $button-icon-facebook,
        'k-ButtonIcon--facebook',
        'k-ButtonIcon__svg__stroke'
      );

      @include k-buttonSvg(
        $button-icon-twitter,
        'k-ButtonIcon--twitter',
        'k-ButtonIcon__svg__stroke'
      );

      @include k-buttonSvg(
        $button-icon-linkedin,
        'k-ButtonIcon--linkedin',
        'k-ButtonIcon__svg__stroke'
      );

      .k-ButtonIcon__svg__stroke {
        transition: stroke $transition-speed;
      }
    }

    .k-ButtonIcon--primary {
      @include k-buttonBase($button-icon-primary);
    }

    .k-ButtonIcon--facebook {
      @include k-buttonBase($button-icon-facebook);
    }

    .k-ButtonIcon--twitter {
      @include k-buttonBase($button-icon-twitter);
    }

    .k-ButtonIcon--linkedin {
      @include k-buttonBase($button-icon-linkedin);
    }

    .k-ButtonIcon--medium {
      @include k-buttonRounded($button-size-medium, $icon-width, $icon-height);

      .k-ButtonIcon__svg {
        width: $icon-width;
        height: $icon-height;
      }
    }

    .k-ButtonIcon--big {
      @include k-buttonRounded($button-size-big, $icon-width, $icon-height);
    }

    .k-ButtonIcon__heart {
      $heart-size: k-px-to-rem(14px);
      @include k-buttonRounded($button-size, $heart-size, $heart-size);

      .k-ButtonIcon__svg {
        width: $heart-size;
        height: $heart-size;
      }
    }

    .k-ButtonIcon__signup {
      $signup-size: k-px-to-rem(18px);
      @include k-buttonRounded($button-size, $signup-size, $signup-size);

      .k-ButtonIcon__svg {
        width: $signup-size;
        height: $signup-size;
      }
    }

    .k-ButtonIcon--withoutHover {
      pointer-events: none;
    }
  }
}
