/// Setup a button icon element.
///
/// This mixin will setup an element to look like a button with a picto inside.
///
/// Paddings depend on the size of button and the size of picto.
/// It is calculate automaticaly with this 2 values.
///
/// You can use 3 versions of this button: tiny, default and big.
///
/// @group 0600_buttons_components
///
/// @parameter {Map} $button-icon - a button icon specification
/// @parameter {Map} $icon        - a icon specification
///
/// @example scss - Usage
///
///   $button-icon: (
///     colors: (
///       base: (
///         color: #333,
///         background-color: #fff,
///         border-color: #d8d8d8
///       ),
///       hover: (
///         color: #fff,
///         background-color: #333,
///         border-color: none
///       ),
///       active: (
///         color: #fff,
///         background-color: #151515
///       ),
///       disabled: (
///         color: #fff,
///         background-color: #d8d8d8
///       ),
///       is-selected: (
///         color: #fff,
///         background-color: #333
///       )
///     )
///   )
///
///   $icon: (
///     width: 14px,
///     height: 12px
///   )

@mixin k-ButtonIcon($button-icon) {
  @include k-with-module('k-ButtonIcon: $button-icon') {

    $button-size: 40px;
    $button-size-tiny: 30px;
    $button-size-big: 50px;

    $icon-width: 14px;
    $icon-height: 12px;

    // SVG element default settings.
    $k-icon-width: k-px-to-rem($icon-width);
    $k-icon-height: k-px-to-rem($icon-height);

    // Get data for SVG.
    $colors: map-get($button-icon, 'colors');
    $base-color: map-get-deep($colors, ('base', 'color'));
    $hover-color: map-get-deep($colors, ('hover', 'color'));
    $active-color: map-get-deep($colors, ('active', 'color'));
    $disabled-color: map-get-deep($colors, ('disabled', 'color'));
    $focus-color: map-get-deep($colors, ('focus', 'color'));
    $is-selected-color: map-get-deep($colors, ('is-selected', 'color'));

    .k-ButtonIcon {
      @include k-buttonBase($button-icon);
      @include k-buttonRounded($button-size, $k-icon-width, $k-icon-height);

      &:hover {
        .k-ButtonIcon__svg {
          fill: $hover-color;
        }
      }

      &:focus {
        .k-ButtonIcon__svg {
          @if $focus-color {
            fill: $focus-color;
          }
          @else {
            fill: $hover-color;
          }
        }
      }

      &:active {
        .k-ButtonIcon__svg {
          fill: $active-color;
        }
      }

      &:disabled {
        .k-ButtonIcon__svg {
          fill: $disabled-color;
        }
      }

      &.is-selected {
        .k-ButtonIcon__svg {
          fill: $is-selected-color;
        }
      }
    }

    .k-ButtonIcon--tiny {
      @include k-buttonRounded($button-size-tiny, $k-icon-width, $k-icon-height);
    }

    .k-ButtonIcon--big {
      @include k-buttonRounded($button-size-big, $k-icon-width, $k-icon-height);
    }

    .k-ButtonIcon__svg {
      display: block;
      margin: 0;
      padding: 0;
      width: $k-icon-width;
      height: $k-icon-height;
      fill: $base-color;
    }
  }
}
