/// Card
///
/// @group cards
///
/// @example scss - usage
///
///   @include k-Card;
///
/// @example html
///
///   <div class="k-Card k-Card--tiny k-Card--outline" />

@mixin k-Card {
  $color: map-get($k-colors, 'background-1');
  $height: k-px-to-rem(99px);
  $width: k-px-to-rem(99px);

// Radius
  $radius-tiny: k-px-to-rem(4px);
  $radius: k-px-to-rem(8px);
  $radius-big: k-px-to-rem(16px);

  $border-color: map-get($k-colors, 'line-1');
  $border-size: k-px-to-rem(1px);

  .k-Card {
    height: $height;
    max-width: $width;

    border-radius: $radius;
    background-color: $color;
  }

  .k-Card__outline {
    border: $border-size solid $border-color;
  }

  .k-Card--tiny {
    border-radius: $radius-tiny;
  }

  .k-Card--big {
    border-radius: $radius-big;
  }
}
