/// Project creator card
///
/// @group cards
///
/// @example scss - usage
///
///   @include k-ProjectCreatorCard;
///
/// @example html
///



@mixin k-ProjectCreatorCard {
  $font: 'source-sans-light';

  .k-ProjectCreatorCard {
    overflow: hidden;
  }

  .k-ProjectCreatorCard__grid {
    padding: 0 k-px-to-rem(20px);
  }

  .k-ProjecrCreatorCard__date {
    @include k-typographyFontSize(-3);
    @include k-typographyFont($font);
  }
}
