/// Project creator card
///
/// @group cards
///
/// @example scss - usage
///
///   @include k-ProjectCreatorCard;
///
/// @example html
///
///   <div class="k-ProjectCreatorCard k-Card k-Card--light k-Card--tinyRounded
///               k-Card--translateOnHover k-Card--withBorder"
///     <div class="k-ProjectCreatorCard__grid">
///       <div class="k-ProjectCreatorCard__link--flex">
///         <div class="k-ProjectCreatorCard__content">
///           <svg />
///         </div>
///         …
///         <p class="k-ProjectCreatorCard__text k-Paragraph--primary
///                   k-Paragraph--withoutMargin"
///       </div>
///     </div>
///     <a class="k-ProjectCreatorCard__link">
///       <div class="k-ProjectCreatorCard__grid k-ProjectCreatorCard__grid--withBorderTop">
///         <div class="k-ProjectCreatorCard__link--flex">
///         </div>
///       </div>
///     </a>
///   </div>

@mixin k-ProjectCreatorCard {
  $font: 'source-sans-light';
  $statusSize: k-px-to-rem(10px);

  .k-ProjectCreatorCard {
    width: 100%;
  }

  .k-ProjectCreatorCard__grid {
    overflow: hidden;
    padding: 0 k-px-to-rem(20px);
  }

  .k-ProjectCreatorCard__grid--flex {
    display: flex;
    justify-content: space-between;
  }

  .k-ProjectCreatorCard__content {
    display: flex;
    align-items: center;
  }

  .k-ProjectCreatorCard__date {
    margin-left: k-px-to-rem(5px);

    @include k-typographyFontSize(-3);
    @include k-typographyFont($font);
  }

  .k-ProjectCreatorCard__text {
    margin-right: k-px-to-rem(50px);
  }

  .k-ProjectCreatorCard__link {
    display: block;
    text-decoration: none;
    color: map-get($k-colors, 'font-1');
    &:hover {
      background-color: map-get($k-colors, 'background-2');
    }
  }

  .k-ProjectCreatorCard__status {
    display: flex;
    align-items: center;
  }

  .k-ProjectCreatorCard__status--icon {
    width: $statusSize;
    height: $statusSize;
    margin-right: k-px-to-rem(5px);

    box-sizing: border-box;
    border-radius: $statusSize / 2;
    border: 1px solid transparent;
  }

  .k-ProjectCreatorCard__status--text {
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-3);
  }

}
