/// Project card
///
/// @group cards
///
/// @example scss - usage
///
///   @include k-ProjectCard;
///
/// @example html
///
///   <div class="k-ProjectCard">
///     …
///   </div>

@mixin k-ProjectCard {
  .k-ProjectCard {
    box-sizing: border-box;
    max-width: k-px-to-rem(350px);

    // TODO: remove this.
    margin: 0 k-px-to-rem(10px) k-px-to-rem(20px);

    background: map-get($k-colors, 'background-1');
    border: 1px solid map-get($k-colors, 'line-1');

    // TODO: move in component.
    box-shadow: 0 5px 15px map-get($k-colors, 'line-1');
    cursor: pointer;
    transition: transform .4s, box-shadow .4s;

    &:hover {
      box-shadow: 0 5px 15px map-get($k-colors, 'line-2');
      transform: translateY(-10px);
    }
  }

  .k-ProjectCard__grid {
    padding: 0 k-px-to-rem(20px);
  }

  .k-ProjectCard__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .k-ProjectCard__flex--spaceBetween {
    justify-content: space-between;
  }

  .k-ProjectCard__flex__fluid {
    flex: 1;
  }

  .k-ProjectCard__borderTop {
    border-top: 1px solid map-get($k-colors, 'line-1');
  }

  .k-ProjectCard__img {
    display: block;
    width: 100%;
  }

  .k-ProjectCard__status {
    text-align: center;
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-1);
  }

  .k-ProjectCard__status--consideration {
    background: map-get($k-colors, 'primary-1');
    color: map-get($k-colors, 'background-1');;
  }

  .k-ProjectCard__status--succeed {
    background-color: map-get($k-colors, 'tertiary-1');
    color: map-get($k-colors, 'font-1');
  }

  .k-ProjectCard__status--defaulted {
    background-color: map-get($k-colors, 'primary-2');
  }
}
