/// Vertical padding schema.
///
/// @group typography
///
/// @type Map
$k-vertical-padding-schema: (
  type: 'map',
  properties:
    (top: k-number-schema($unit: none), bottom: k-number-schema($unit: none))
);
