/// Side Grid.
///
/// @group grid
///
/// @example scss - usage
///
///     @include k-SideGrid;
///
/// @example html
///
///   <div class="k-SideGrid k-SideGrid--asideLeft">
///     <div class="k-SideGrid__container">
///       <div class="k-SideGrid__row">
///         <div class="k-SideGrid__aside k-SideGrid__aside--col-4">
///           <div class="k-SideGrid__asideContent">…</div>
///         </div>
///
///         <div class="k-SideGrid__content k-SideGrid__content--col-8">…</div>
///       </div>
///     </div>
///   </div>

@mixin k-SideGrid {
  $number-of-columns: k-map-fetch($k-grid, 'columns');

  $background: map-get($k-colors, 'background-1');
  $aside-background: map-get($k-colors, 'background-2');
  $aside-border-color: map-get($k-colors, 'line-1');
  $aside-border-width: 1px;
  $half-gutter: k-px-to-rem(10px);

  .k-SideGrid {
    background: linear-gradient(
      to right,
      $background 0%,
      $background 50%,
      $aside-background 50%,
      $aside-background 100%
    );
  }

  .k-SideGrid--asideLeft {
    background: linear-gradient(
      to left,
      $background 0%,
      $background 50%,
      $aside-background 50%,
      $aside-background 100%
    );
  }

  .k-SideGrid__container {
    @include k-container;
  }

  .k-SideGrid__row {
    @include k-grid;
  }

  .k-SideGrid__content {
    display: flex;
    background-color: $background;
  }

  .k-SideGrid__aside {
    display: flex;
    border-left: $half-gutter solid $background;

    .k-SideGrid--asideLeft & {
      border-left: none;
      border-right: $half-gutter solid $background;
    }
  }

  .k-SideGrid__asideContent {
    display: flex;
    border-left: $aside-border-width solid $aside-border-color;
    background-color: $aside-background;

    .k-SideGrid--asideLeft & {
      border-left: none;
      border-right: $aside-border-width solid $aside-border-color;
    }
  }

  // Custom grid with column modifiers.

  @for $columns from 1 through $number-of-columns {
    .k-SideGrid__content--col-#{$columns} {
      @include k-grid-col($columns);
    }

    .k-SideGrid__aside--col-#{$columns} {
      @include k-grid-col($columns);
      padding-left: 0;
      padding-right: $half-gutter;

      .k-SideGrid--asideLeft & {
        padding-left: $half-gutter;
        padding-right: 0;
      }
    }
  }
}
