/// Vertical grid.
///
/// A flexible vertical grid system based on flexbox.
///
/// @group grid
///
/// @example scss
///
///     @include k-VerticalGrid;
///
/// @example html
///
///     <html class="k-VerticalGrid">
///       <body class="k-VerticalGrid__page">
///         <div>…</div>
///         <div>…</div>
///         <div class="k-VerticalGrid__fluid">…</div>
///       </body>
///     </html>

@mixin k-VerticalGrid {
  .k-VerticalGrid {
    height: 100%;
  }

  .k-VerticalGrid__page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .k-VerticalGrid__fluid {
    flex-basis: 100%;
  }

  .k-VerticalGrid__container {
    display: flex;
    height: 100%;
  }
}
