.has-overrides {
  &.show-flex{
    .k-u-flex,
    .k-u-inlineFlex {
      height: k-px-to-rem(150px);
      padding: k-px-to-rem(4px);
      border: k-px-to-rem(1px) solid k-map-fetch($k-colors, 'primary-4');

      & > * {
        margin: 0;
        border: k-px-to-rem(1px) solid k-map-fetch($k-colors, 'primary-1');
      }
    }
  }
}
