<%= example "button with text on the right" do %>

  <button class="k-ButtonImageWithText">
    <span class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img"
           src="https://placekitten.com/g/40/40"
           width="40"
           height="40" />
    </span>

    <p class="k-ButtonImageWithText__text">Firstname</p>
  </button>

<% end %>

<%= example "button with text on the left" do %>

  <button class="k-ButtonImageWithText">
    <p class="k-ButtonImageWithText__text">Firstname</p>

    <span class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img"
           src="https://placekitten.com/g/40/40"
           width="40"
           height="40" />
    </span>
  </button>

<% end %>

<%= example "button with text on the top" do %>

  <button class="k-ButtonImageWithText k-ButtonImageWithText--vertical">
    <p class="k-ButtonImageWithText__text">Firstname</p>

    <span class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img"
           src="https://placekitten.com/g/40/40"
           width="40"
           height="40" />
    </span>
  </button>

<% end %>

<%= example "button with text on the bottom" do %>

  <button class="k-ButtonImageWithText k-ButtonImageWithText--vertical">
    <span class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img"
           src="https://placekitten.com/g/40/40"
           width="40"
           height="40" />
    </span>

    <p class="k-ButtonImageWithText__text">Firstname</p>
  </button>

<% end %>
