<%= example "button with text on the right" do %>

  <div class="k-ButtonImageWithText">
    <button class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img" src="https://placekitten.com/40/40">
    </button>

    <p class="k-ButtonImageWithText__text">Firstname</p>
  </div>

<% end %>

<%= example "button with text on the left" do %>

  <div class="k-ButtonImageWithText">
    <p class="k-ButtonImageWithText__text">Firstname</p>

    <button class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img" src="https://placekitten.com/40/40">
    </button>
  </div>

<% end %>

<%= example "button with text on the top" do %>

  <div class="k-ButtonImageWithText k-ButtonImageWithText--vertical">
    <p class="k-ButtonImageWithText__text">Firstname</p>

    <button class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img" src="https://placekitten.com/40/40">
    </button>
  </div>

<% end %>

<%= example "button with text on the bottom" do %>

  <div class="k-ButtonImageWithText k-ButtonImageWithText--vertical">
    <button class="k-ButtonImage" title="Profil">
      <img class="k-ButtonImage__img" src="https://placekitten.com/40/40">
    </button>

    <p class="k-ButtonImageWithText__text">Firstname</p>
  </div>

<% end %>
