<%= example do %>
  <div class="k-PressQuotes">
    <p class="k-PressQuotes__title">
      Inscriptio huius sepulchri
    </p>
    <div class="k-PressQuotes__quotes">
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
          “Dis Manibus
          Calpurnia Felicla
          Germulio coniugi”
        </blockquote>
        <img src="https://placehold.it/80x40/4a84ff/4a84ff"
             width="80"
             height="40"
             alt="" />
      </div>
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
          “Musio appellatus, quod muribus infestus sit.”
        </blockquote>
        <img src="https://placehold.it/60x40/4a84ff/4a84ff"
             width="60"
             height="40"
             alt="" />
      </div>
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
           “fulgore luminis noctis tenebras superet.”
        </blockquote>
        <img src="https://placehold.it/40x40/4a84ff/4a84ff"
             width="40"
             height="40"
             alt="" />
      </div>
    </div>
  </div>
<% end %>
