<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Press quotes' do %>
      <div class="k-PressQuotes">
        <p class="k-PressQuotes__title">
          Inscriptio huius sepulchri
        </p>
        <div class="k-PressQuotes__quotes">
          <div class="k-PressQuotes__quote">
            <blockquote class="k-PressQuotes__quote__text">
              “Dis Manibus
              Calpurnia Felicla
              Germulio coniugi”
            </blockquote>
            <img src="https://placehold.it/80x40/caf4fe/caf4fe"
                 width="80"
                 height="40"
                 alt="" />
          </div>
          <div class="k-PressQuotes__quote">
            <blockquote class="k-PressQuotes__quote__text">
              “Musio appellatus, quod muribus infestus sit.”
            </blockquote>
            <img src="https://placehold.it/60x40/caf4fe/caf4fe"
                 width="60"
                 height="40"
                 alt="" />
          </div>
          <div class="k-PressQuotes__quote">
            <blockquote class="k-PressQuotes__quote__text">
               “fulgore luminis noctis tenebras superet.”
            </blockquote>
            <img src="https://placehold.it/40x40/caf4fe/caf4fe"
                 width="40"
                 height="40"
                 alt="" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
