<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example "two results" do %>
      <div class="k-SimulatorResult">
        <div class="k-SimulatorResult__item">
          <div class="k-SimulatorResult__item__label">Age</div>
          <div class="k-SimulatorResult__item__value">3&nbsp;months</div>
        </div>
        <div class="k-SimulatorResult__item is-last">
          <div class="k-SimulatorResult__item__label">Love</div>
          <div class="k-SimulatorResult__item__value">54%</div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example "three results" do %>
      <div class="k-SimulatorResult">
        <div class="k-SimulatorResult__item">
          <div class="k-SimulatorResult__item__label">Age</div>
          <div class="k-SimulatorResult__item__value">3&nbsp;months</div>
        </div>
        <div class="k-SimulatorResult__item">
          <div class="k-SimulatorResult__item__label">Love</div>
          <div class="k-SimulatorResult__item__value">54%</div>
        </div>
        <div class="k-SimulatorResult__item is-last">
          <div class="k-SimulatorResult__item__label">Cost</div>
          <div class="k-SimulatorResult__item__value">$1,999.99</div>
        </div>
      </div>
    <% end %>
  </div>
</div>
