@import 'kitten/molecules/navigation/horizontal-nav';

// Horizontal nav variables
$horizontal-nav: (
  multiplier: $major-second,
  font: 'source-sans-semi-bold',
  colors: (
    base: (
      background-color: #fff,
      border-color: #eee,
      color: #333,
    ),
    hover: (
      color: #4a84ff,
    ),
    focus: (
      border-color: #4a84ff,
      color: #4a84ff,
    ),
    is-selected: (
      color: #333,
      border-color: #333,
    )
  )
);

@include k-HorizontalNav($horizontal-nav);
