@include k-HorizontalNav((
  font: source-sans-semi-bold-uppercase,
  font-step: -2,
  colors: (
    base: (
      background-color: #fff,
      border-color: #eee,
      color: #333,
    ),
    hover: (
      color: #4a84ff,
    ),
    focus: (
      border-color: #4a84ff,
      color: #4a84ff,
    ),
    is-selected: (
      color: #4a84ff,
      border-color: #4a84ff,
    )
  )
));
