@import 'kitten/molecules/navigation/user-menu';

@include k-UserMenu((
  font: 'source-sans-semi-bold',
  font-step: -2,
  color: #333,
  background-color: #fbfbfb,
  border-color: #eee,
  background-color-hover: #f8f8f8,
  border-color-hover: #333,
));
