@import 'kitten/molecules/navigation/user-menu';

@include k-UserMenu((
  font: 'source-sans-semi-bold',
  font-step: -2,
  colors: (
    base: #333,
    background: #fbfbfb,
    border: #eee,
    background-hover: #eee,
    border-active: #333,
  ),
));
