@include k-UserMenu((
  font: 'source-sans-semi-bold',
  font-step: -2,
  colors: (
    base: #333,
    background: #fbfbfb,
    border: #eee,
    background-hover: #eee,
    color-active: #4a84ff,
    border-active: #4a84ff,
  ),
));
