<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--2@l">
    <div class="k-Grid">
      <%= example 'Button tooltip' do %>
        <%= react_component('KarlButtonIconTooltip', props: {
          tooltipText: 'Hello word',
        }) %>
      <% end %>
    </div>
  </div>
</div>
