<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'New Tooltip Icon' do %>
      <%= react_component('NewTooltip', props: {
          children: 'Lorem ipsum',
          arrowLeftPosition: '30px',
        }
      ) %>
    <% end %>
  </div>
</div>
