// Kitten library
@import 'kitten';

// Configuration
@import 'kitten/config';

// Components instanciation
@import 'kitten/components';
@import 'kitten/utilities';

@import '~react-day-picker/lib/style';

// Custom styles for stories

@import 'custom/flex';

// Custom styles for StoryBook iFrame.
body {
  margin: 0;
}
