.karl-FooterLendo__network__text {
  text-align: center;

  @include k-media-min('l') {
    text-align: left;
  }
}

.karl-FooterLendo__network__followText {
  text-align: center;

  @include k-media-min('l') {
    text-align: right;
    margin-right: k-px-to-rem(15px);
  }
}

.karl-FooterLendo__network__follow {
  align-self: center;
}

.karl-FooterLendo__network__input {
  align-self: center;
}

.karl-FooterLendo__network__logo {
  @include k-media-min('l') {
    display: flex;
    justify-content: flex-end;
  }
}

.karl-FooterLendo__notice__text {
  text-align: center;

  @include k-media-min('l') {
    text-align: left;
  }
}

.karl-FooterLendo__notice__copyright {
  text-align: center;

  @include k-media-min('l') {
    text-align: right;
    align-self: flex-end;
    margin-top: 0;
  }
}

.karl-FooterLendo__notice__logo {
  @include k-media-min('l') {
    display: flex;
    text-align: left;
  }
}

.karl-FooterLendo__logo__img {
  text-align: center;

  @include k-media-min('l') {
    line-height: 4rem;
    margin-bottom: 0;
    margin-right: k-px-to-rem(16px);
  }
}

.karl-FooterLendo__logo__imgMangopay {
  width: k-px-to-rem(100px);

  @include k-media-max('m') {
    height: k-px-to-rem(50px);
  }
}

.karl-FooterLendo__logo__img__imgTag {
  vertical-align: middle;

   @include k-media-min('l') {
    display: block;
    vertical-align: top;
  }
}
