<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <%= example 'Default' do %>
      <%= react_component 'ButtonSwitch', props: {
        firstText: 'Suivre le projet',
        secondText: 'Projet suivi',
      } %>
    <% end %>
  </div>
</div>
