<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On the right' do %>
          <button class="karl-u-align-center@xs-down k-ButtonImageWithText">
            <span class="k-ButtonImage">
              <img class="k-ButtonImage__img"
                   src="https://placehold.it/40x40/caf4fe/caf4fe"
                   width="40"
                   height="40" />
            </span>
            <p class="k-ButtonImageWithText__text">Firstname</p>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On the left' do %>
          <button class="karl-u-align-center@xs-down k-ButtonImageWithText">
            <p class="k-ButtonImageWithText__text">Firstname</p>
            <span class="k-ButtonImage">
              <img class="k-ButtonImage__img"
                   src="https://placehold.it/40x40/caf4fe/caf4fe"
                   width="40"
                   height="40" />
            </span>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On the top' do %>
          <button class="karl-u-align-center@xs-down
                         k-ButtonImageWithText
                         k-ButtonImageWithText--vertical">
            <p class="k-ButtonImageWithText__text">Firstname</p>
            <span class="k-ButtonImage">
              <img class="k-ButtonImage__img"
                   src="https://placehold.it/40x40/caf4fe/caf4fe"
                   width="40"
                   height="40" />
            </span>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--3@m k-Grid__col--12@l">
        <%= example 'On the bottom' do %>
          <button class="karl-u-align-center@xs-down
                         k-ButtonImageWithText
                         k-ButtonImageWithText--vertical">
            <span class="k-ButtonImage">
              <img class="k-ButtonImage__img"
                   src="https://placehold.it/40x40/caf4fe/caf4fe"
                   width="40"
                   height="40" />
            </span>
            <p class="k-ButtonImageWithText__text">Firstname</p>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
