<div class="Karl-Example__column">
  <%= example 'Payment button' do %>
    <%= react_component('KarlPaymentButtonVisa', props: {
        name: 'payment-button-1'
      }
    ) %>

    <%= react_component('KarlPaymentButtonMastercard', props: {
        name: 'payment-button-1',
        defaultChecked: true,
        id: "checked-payment-button"
      }
    ) %>
  <% end %>
</div>
