<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@m k-Grid__col--12@l">
        <%= example 'Social' do %>
          <%= react_component 'KarlFacebookButtonIconWords'%>
          <%= react_component 'KarlTwitterButtonIconWords'%>
          <%= react_component 'KarlLinkedinButtonIconWords'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
