<div class="karl-Example__column">
  <%= example "Hydrogen tag button" do %>
    <%= react_component('TagButton') %>
  <% end %>

  <%= example "Selected tag button" do %>
    <%= react_component('TagButton', props: {
        selected: true,
      }
    ) %>
  <% end %>
</div>
