<%= example do %>
  <div class="k-SimulatorResult">
    <div class="k-SimulatorResult__item">
      <div class="k-SimulatorResult__item__label">Age</div>
      <div class="k-SimulatorResult__item__value">3 months</div>
    </div>
    <div class="k-SimulatorResult__item is-last">
      <div class="k-SimulatorResult__item__label">Sofa scratched</div>
      <div class="k-SimulatorResult__item__value">54%</div>
    </div>
  </div>
<% end %>

<%= example do %>
  <div class="k-SimulatorResult">
    <div class="k-SimulatorResult__item">
      <div class="k-SimulatorResult__item__label">Age</div>
      <div class="k-SimulatorResult__item__value">3 months</div>
    </div>
    <div class="k-SimulatorResult__item">
      <div class="k-SimulatorResult__item__label">Sofa scratched</div>
      <div class="k-SimulatorResult__item__value">54%</div>
    </div>
    <div class="k-SimulatorResult__item is-last">
      <div class="k-SimulatorResult__item__label">Cost</div>
      <div class="k-SimulatorResult__item__value">$1,999.99</div>
    </div>
  </div>
<% end %>
