<h2 class="k-StyleguideTitle__breadcrumb" name="form" >Form</h2>

<%= render 'layouts/kitten/component',
           component: 'molecules/form/label-with-info',
           title: 'Label with info',
           description: 'Adwords Keyword research for beginners When you embark on your first PPC journey, you need to keep a small number of keywords at first. Keyword lists that are thousands of words long should be left to the more experienced PPC marketer. ' %>

<%= render 'layouts/kitten/component',
           component: 'molecules/form/slider',
           title: 'Slider',
           description: 'Adwords Keyword research for beginners When you embark on your first PPC journey, you need to keep a small number of keywords at first. Keyword lists that are thousands of words long should be left to the more experienced PPC marketer. ',
           examples_display: :vertical
           %>

<%= render 'layouts/kitten/component',
           component: 'molecules/form/text-input-with-unit',
           title: 'Text input with unit',
           description: 'Adwords Keyword research for beginners When you embark on your first PPC journey, you need to keep a small number of keywords at first. Keyword lists that are thousands of words long should be left to the more experienced PPC marketer. ' %>
