<h2 class="k-StyleguideTitle__breadcrumb">Navigation</h2>

<%= render 'layouts/kitten/component',
           component: 'molecules/navigation/tap-bar',
           title: 'Tap bar',
           description: 'Adwords Keyword research for beginners When you embark on your first PPC journey, you need to keep a small number of keywords at first. Keyword lists that are thousands of words long should be left to the more experienced PPC marketer. '
           %>
