<div class="k-StyleguideTitle__breadcrumb" name="navigation">Navigation</div>

<%= render 'layouts/kitten/component',
           component: 'molecules/navigation/horizontal-nav',
           title: 'Horizontal-nav',
           anchor: 'horizontal-nav',
           description: 'Horizontal nav is used when the user needs to go from one page or section to another. It requires that the horizontal nav stays visible when page/section changes. ' %>
