<h2 class="k-StyleguideTitle__breadcrumb">Simulators</h2>

<%= render 'layouts/kitten/component',
           component: 'molecules/simulators/simulator-result',
           title: 'Simulators result',
           anchor: 'simulators-result',
           description: 'Simulator results is used to display data. Data are changing with user’s actions. Cf. the Molecules “Simulators” for more details on the usage . ' %>
