/// Simple uploader theme.
///
/// @group uploaders
///
/// @example scss - usage
///
///   @include k-SimpleUploader;
///
/// @example html
///
///   <div class="k-SimpleUploader">
///     <button class="k-SimpleUploader__button">…</button>
///     <span class="k-SimpleUploader__text">…</span>
///   </div>

@mixin k-SimpleUploader {
  .k-SimpleUploader {
    display: flex;
    align-items: center;
    text-align: left;

    @include k-media-max('s') {
      flex-wrap: wrap;
    }
  }

  .k-SimpleUploader__button {
    flex-shrink: 0;
    cursor: pointer;
  }

  .k-SimpleUploader__link {
    display: flex;
    max-width: 100%;

    @include k-media-max('s') {
      margin-top: 5px;
    }
  }

  .k-SimpleUploader__text {
    @include k-typographyFont('light');
    @include k-typographyFontSize(-1, normal);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .k-SimpleUploader__buttonIcon {
    margin-left: k-px-to-rem(10px);
  }
}
