/// Simple uploader theme.
///
/// @group uploaders
///
/// @example scss - usage
///
///   @include k-SimpleUploader;
///
/// @example html
///
///   <div class="k-SimpleUploader">
///     <button class="k-SimpleUploader__button">…</button>
///     <span class="k-SimpleUploader__text">…</span>
///   </div>

@mixin k-SimpleUploader {
  .k-SimpleUploader {
    display: flex;
    align-items: center;

    @include k-media-max('s') {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  .k-SimpleUploader__button {
    flex-shrink: 0;
    cursor: pointer;

    @include k-media-max('s') {
      margin: 0 auto;
    }
  }

  .k-SimpleUploader__link {
    @include k-media-max('s') {
      display: flex;
      overflow: hidden;
      max-width: k-px-to-rem(140px);
      margin-left: k-px-to-rem(10px);
      margin: 5px auto;
    }
  }

  .k-SimpleUploader__text {
    display: flex;
    overflow: hidden;
    max-width: k-px-to-rem(140px);
    margin-left: k-px-to-rem(10px);

    @include k-typographyFont('light');
    @include k-typographyFontSize(-1, normal);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .k-SimpleUploader__buttonIcon {
    margin-left: k-px-to-rem(10px);
  }
}
