<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--3">
    <%= example 'Default' do %>
      <%= react_component 'BackerCard', props: {
        title: 'Backer name',
        subTitle: 'SubTitle',
        imgProps: { src: 'https://placehold.it/80x80/caf4fe/caf4fe' },
        description: 'Description'
      } %>
    <% end %>
  </div>
</div>
