<%= example "Light" do %>
  <div style="background: #333; padding: 3rem">
    <div class="k-Card k-Card--light">
      <img src="https://placehold.it/1000x600/4a84ff/4a84ff"
           alt=""
           style="width: 100%; display: block" />
    </div>
  </div>
<% end %>

<%= example "Padded" do %>
  <div style="background: #333; padding: 3rem">
    <div class="k-Card k-Card--light k-Card--padded">
      <img src="https://placehold.it/1000x600/4a84ff/4a84ff"
           alt=""
           style="width: 100%; display: block"/>
    </div>
  </div>
<% end %>
