<%= example "Light" do %>
  <div style="background: #333; padding: 3rem">
    <div class="k-Card k-Card--light">
      <img src="https://placekitten.com/1000/600"
           alt=""
           style="width: 100%; display: block" />
    </div>
  </div>
<% end %>

<%= example "Padded" do %>
  <div style="background: #333; padding: 3rem">
    <div class="k-Card k-Card--light k-Card--padded">
      <img src="https://placekitten.com/1000/600"
           alt=""
           style="width: 100%; display: block"/>
    </div>
  </div>
<% end %>
