<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <%= example 'Project creator card' do %>
      <%= react_component 'ProjectCreatorCard', props: {
          ownerDate: 'Le 15 juin 2016',
          ownerTitle: 'Et si on révolutionnait encore plus l’entraide ?',
        } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <%= example 'Project creator card with link' do %>
      <%= react_component 'ProjectCreatorCard', props: {
          ownerDate: 'Le 15 juin 2016',
          ownerTitle: 'Et si on révolutionnait encore plus l’entraide ?',
          linkContent: true,
        } %>
    <% end %>
  </div>
</div>
