<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <%= example 'Project creator card' do %>
      <%= react_component 'ProjectCreatorCard', props: {
          date: '17 August 2017',
          children: 'Post emensos insuperabilis expeditionis eventus.',
          statusBackgroundColor: '#f3fafd',
          statusBorderColor: '#cbe8f9',
          statusText: 'New',
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <%= example 'Project creator card with link' do %>
      <%= react_component 'ProjectCreatorCard', props: {
          date: '17 August 2017',
          children: 'Post emensos insuperabilis expeditionis eventus.',
          linkText: 'Lorem Ipsum',
          statusBackgroundColor: '#68ffa0',
          statusText: 'Success',
          href: '#',
      } %>
    <% end %>
  </div>
</div>
