<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--10">
    <%= example 'Reward card' do %>
      <%= react_component 'RewardCard', props: {
        titleMount: 'Pour 15€',
        titleDescription: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
        textDescription: 'In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.',
      } %>
    <% end %>
  </div>
</div>
