@import 'kitten/atoms/buttons/button-image';

@include k-ButtonImage((
  colors: (
    base: (
      color: #333,
      background-color: #fff
    ),
    hover: (
      color: #333,
      border-color: #d8d8d8,
      background-color: #fff,
    ),
    active: (
      color: #333,
      border-color: #d8d8d8,
      background-color: #fff,
    )
  )
));
