@import 'kitten/atoms/buttons/button';

@include k-Button((
  font: 'source-sans-semi-bold-uppercase',
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8,
    ),
    primary: (
      color: #fff,
      background-color: #4a84ff,
      border-color: #4a84ff,
    ),
    focus: (
      color: #fff,
      background-color: #4a84ff,
      border-color: transparent,
    ),
    focus-primary: (
      color: #fff,
      background-color: #3b75f0,
      border-color: #3b75f0,
    ),
    hover: (
      color: #fff,
      background-color: #4a84ff,
      border-color: transparent,
    ),
    hover-primary: (
      color: #fff,
      background-color: #3b75f0,
      border-color: #3b75f0,
    ),
    active: (
      color: #fff,
      background-color: #2c66e1,
      border-color: #2c66e1,
    ),
    active-primary: (
      color: #fff,
      background-color: #2c66e1,
      border-color: #2c66e1,
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8,
      border-color: #d8d8d8,
    )
  )
));
