@import 'kitten/atoms/buttons/button';

@include k-Button((
  font: 'source-sans-semi-bold-uppercase',
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #333
    ),
    focus: (
      color: #fff,
      background-color: #ddd,
    ),
    active: (
      color: #fff,
      background-color: #151515
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    )
  )
));
