@import 'kitten/atoms/buttons/button-icon';

@include k-ButtonIcon((
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8,
    ),
    hover: (
      color: #4a84ff,
      background-color: #fff,
      border-color: #c8daff,
    ),
    focus: (
      color: #4a84ff,
      background-color: #fff,
      border-color: #c8daff,
    ),
    active: (
      color: #fff,
      background-color: #4a84ff,
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8,
    )
  )
));
