@include k-Button((
  font: 'source-sans-semi-bold-uppercase',
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #4a84ff,
    ),
    focus: (
      color: #fff,
      background-color: #4a84ff,
    ),
    active: (
      color: #fff,
      background-color: #2c66e1,
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8,
    )
  )
));
