<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Link box with doc icon' do %>
      <%= react_component 'DocLinkBox', props: {
        title: 'Lorem Ipsum ',
        text: 'Aenean leo ligula, porttitor eu, vitae eleifend
            ac, enimiquam ante.',
        } %>
    <% end %>
  </div>
</div>
