<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6@l">
    <%= example 'Link box' do %>
      <%= react_component('LinkBox', props: {
        title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
        }
      ) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--6@l">
    <%= example 'Link box with text' do %>
      <%= react_component('LinkBox', props: {
        title: 'Lorem ipsum',
        text: 'Aenean leo ligula, porttitor eu, vitae eleifend
            ac, enimiquam ante.',
        }
      ) %>
    <% end %>
  </div>
</div>
