<%= example do %>
  <div class="k-PressQuotes">
    <p class="k-PressQuotes__title">
      Inscriptio huius sepulchri
    </p>
    <div class="k-PressQuotes__quotes">
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
          “Dis Manibus
          Calpurnia Felicla
          Germulio coniugi”
        </blockquote>
        <img src="https://placekitten.com/g/80/40" width="80" alt="" />
      </div>
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
          “Musio appellatus, quod muribus infestus sit.”
        </blockquote>
        <img src="https://placekitten.com/g/60/40" width="60" alt="" />
      </div>
      <div class="k-PressQuotes__quote">
        <blockquote class="k-PressQuotes__quote__text">
           “fulgore luminis noctis tenebras superet.”
        </blockquote>
        <img src="https://placekitten.com/g/40/40" width="40" alt="" />
      </div>
    </div>
  </div>
<% end %>
