@import 'kitten/definitions/button';
@import 'kitten/helpers/button/border';
@import 'kitten/helpers/button/browser-fixes';

/// Apply button basic display.
///
/// This mixin will apply pseudo-classes and state classes on the parent class
/// that is calling it:
///   - `:hover`
///   - `:focus`
///   - `:active`
///   - `:disabled` (optionnal)
///   - `.is-selected` (optionnal)
///
/// The `:focus` pseudo-class is optionnal. If it is not defined, the `:hover`
/// styles will be applied to `:focus` pseudo-class.
///
/// When `border-color` is not defined, `transparent` is used by default.
///
/// @group 0610_buttons_helpers
///
/// @parameter {Map} $button - a button specification
///
/// @example scss - Usage
///   $button: (
///     colors: (
///       base: (
///         color: #333,
///         background-color: #fff,
///         border-color: #d8d8d8
///       ),
///       hover: (
///         color: #fff,
///         background-color: #333,
///       ),
///       active: (
///         color: #fff,
///         background-color: #151515
///       ),
///       disabled: (
///         color: #fff,
///         background-color: #d8d8d8
///       ),
///       is-selected: (
///         color: #fff,
///         background-color: #151515
///       ),
///     ),
///     ...
///   )
///
///   .k-MyButton {
///     @include buttonBase($button);
///   }
///
/// @example css - CSS output
///   .k-MyButton {
///     display: inline-block;
///     border: 1px solid #d8d8d8;
///
///     background-color: #fff;
///     color: #333;
///     cursor: pointer;
///  }
///
///   .k-MyButton:hover {
///     border: 1px solid transparent;
///     background-color: #333;
///     color: #fff;
///   }
///
///   .k-MyButton:focus {
///     border: 1px solid transparent;
///     background-color: #333;
///     color: #fff;
///   }
///
///   .k-MyButton:active {
///     border: 1px solid transparent;
///     background-color: #151515;
///     color: #fff;
///   }
///
///   .k-MyButton:disabled {
///     border: 1px solid transparent;
///     background-color: #d8d8d8;
///     color: #fff;
///   }
///
///   .k-MyButton.is-selected {
///     border: 1px solid transparent;
///     background-color: #151515;
///     color: #fff;
///   }
@mixin k-buttonBase($button) {
  $button: k-button-base-definition($button);

  $colors: map-get($button, 'colors');

  // base colors
  $base-color: map-get-deep($colors, ('base', 'color'));
  $base-border-color: map-get-deep($colors, ('base', 'border-color'));
  $base-background-color: map-get-deep($colors, ('base', 'background-color'));

  // hover  colors
  $hover-color: map-get-deep($colors, ('hover', 'color'));
  $hover-border-color: map-get-deep($colors, ('hover', 'border-color'));
  $hover-background-color: map-get-deep($colors, ('hover', 'background-color'));

  // active colors
  $active-color: map-get-deep($colors, ('active', 'color'));
  $active-border-color: map-get-deep($colors, ('active', 'border-color'));
  $active-background-color: map-get-deep($colors, ('active', 'background-color'));

  // disabled colors
  $disabled-color: map-get-deep($colors, ('disabled', 'color'));
  $disabled-border-color: map-get-deep($colors, ('disabled', 'border-color'));
  $disabled-background-color: map-get-deep(
    $colors, ('disabled', 'background-color')
  );

  // focus colors (optional)
  $focus-color: map-get-deep($colors, ('focus', 'color'));
  $focus-border-color: map-get-deep($colors, ('focus', 'border-color'));
  $focus-background-color: map-get-deep($colors, ('focus', 'background-color'));

  // state 'is-selected' colors (optional)
  $is-selected-color: map-get-deep($colors, ('is-selected', 'color'));
  $is-selected-border-color: map-get-deep($colors, ('is-selected', 'border-color'));
  $is-selected-background-color: map-get-deep($colors, ('is-selected', 'background-color'));

  @include k-buttonBrowserFixes();
  @include k-buttonBorder($base-border-color);

  display: inline-block;
  box-sizing: border-box;

  background-color: $base-background-color;
  color: $base-color;
  cursor: pointer;
  outline: 0;

  &:hover {
    @include k-buttonBorder($hover-border-color);

    background-color: $hover-background-color;
    color: $hover-color;
  }

  &:focus {
    @if map-has-key($colors, 'focus') {
      @include k-buttonBorder($focus-border-color);

      background-color: $focus-background-color;
      color: $focus-color;
    }
    @else {
      @include k-buttonBorder($hover-border-color);

      background-color: $hover-background-color;
      color: $hover-color;
    }
  }

  &:active {
    @include k-buttonBorder($active-border-color);

    background-color: $active-background-color;
    color: $active-color;
  }

  &:disabled {
    @include k-buttonBorder($disabled-border-color);

    background-color: $disabled-background-color;
    color: $disabled-color;
    cursor: not-allowed;
  }

  &.is-selected {
    @include k-buttonBorder($is-selected-border-color);

    background-color: $is-selected-background-color;
    color: $is-selected-color;
  }
}
