@import 'kitten/schema';
@import 'kitten/helpers/button/colors-schema';
@import 'kitten/helpers/typography/typography-schema';

/// The schema used to validate button definitions.
///
/// @group 0610_buttons_helpers
///
/// @type Map
$k-button-base-schema: (
  type: 'map',

  properties: (
    base:     $k-button-colors-schema,
    hover:    $k-button-colors-schema,
    active:   $k-button-colors-schema,
    disabled: $k-button-colors-schema
  ),

  required: (
    'base',
    'hover',
    'active',
    'disabled'
  )
);
