/// Set a border of 1px on a button.
///
/// Given a border color, this mixin will use the passed color to set the
/// `border` CSS rule. If the color is not `null`, it will use the color passed
/// as parameter. Otherwise, it will use `transparent`.
///
/// @group buttons
///
/// @parameter {Color} $border-color [transparent] - button border color
///
/// @example scss - Usage
///   @include k-buttonBorder(#eee);
///
/// @example css - CSS output
///   border: 1px solid #eee;

@mixin k-buttonBorder($border-color) {
  $button-border-width: 2px;

  $border-color: transparent !default; // Default value.
  $border-color: k-color-definition($border-color);

  border: $button-border-width solid $border-color;
}
