/// Set a border of 2px on a button.
///
/// Given a border color, this mixin will use the passed color to set the
/// `border` CSS rule. If the color is not `null`, it will use the color passed
/// as parameter. Otherwise, it will use `transparent`.
///
/// @group buttons
///
/// @parameter {Color} $border-color [transparent] - button border color
/// @parameter {Style} $border-style [solid] - button border style
///
/// @example scss - Usage
///   @include k-buttonBorder(#eee, solid);
///
/// @example css - CSS output
///   border: 2px solid #eee;

@mixin k-buttonBorder($border-color, $border-style) {
  // Border size
  $button-border-width: k-px-to-rem(2px);

  $border-color: transparent !default; // Default value.
  $border-color: k-color-definition($border-color);
  $border-style: solid;

  border: $button-border-width $border-style $border-color;
}
