@import 'kitten/schema';
@import 'kitten/helpers/logic';
@import 'kitten/helpers/typography/typography-schema';
@import 'modular-scale';

/// Apply a font size using a modular scale and a defined line-height.
///
///
/// @group 0310_typography_helpers
///
/// @parameter {Map}    $typography  - a typography object
/// @parameter {Number} $multiplier  - the modular scale base ratio
/// @parameter {Number} $step        - the modular scale step to compute
/// @parameter {Number} $line-height - a line-height depending on the base
///                                    font-size
///
/// @example scss - Usage
///   $typography: (
///     font-size:   1rem,
///     ...
///   );
///
///   @include k-buttonFontSize($typography, 1.618, 3, 2.5);
///
/// @example css - CSS output
///   font-size:   4.236rem;
///   line-height: 4.5rem;
@mixin k-buttonFontSize($typography, $multiplier, $step, $line-height) {
  $valid:
    k-all(
      k-validate(
        $typography, $k-typography-schema,
        'k-buttonFontSize', '$typography'
      ),
      k-validate(
        $multiplier, k-number-schema($unit: none),
        'k-buttonFontSize', '$multiplier'
      ),
      k-validate(
        $step, k-number-schema($unit: none),
        'k-buttonFontSize', '$step'
      ),
      k-validate(
        $line-height, k-number-schema($unit: none),
        'k-buttonFontSize', '$line-height'
      )
    );

  // The starting font size applied to the body element.
  $base-font-size: map-get($typography, 'font-size');

  // The base line height.
  $base-line-height: map-get($typography, 'line-height');

  // Given the requested step on our modular scale, compute font size.
  $font-size: ms($step, $base-font-size, $multiplier);

  // Apply font size and line height.
  font-size: $font-size;
  line-height: $line-height;
}
