/// Set paddings and border-radius for get a rounded button.
///
/// Given a size of button and a size of picto, this mixin will calculate
/// automaticaly the paddings and the border-radius.
///
/// @group 0610_buttons_helpers
///
/// @parameter {Number} $button-size - button size
/// @parameter {Number} $icon-width  - icon width
/// @parameter {Number} $icon-height - icon height
///
/// @example scss - Usage
///   @include k-buttonRounded(40px, 14px, 12px);
///
/// @example css - CSS output
///    padding: 0.875rem 0.8125rem;
///    border-radius: 1.25rem;

@mixin k-buttonRounded($button-size, $icon-width, $icon-height) {
  // Validations
  $button-size: k-required($button-size, 'button-size');
  $icon-width: k-required($icon-width, 'icon-width');
  $icon-height: k-required($icon-height, 'icon-height');
  $button-size: k-number-definition($button-size, 'px');
  $icon-width: k-number-definition($icon-width);
  $icon-height: k-number-definition($icon-height);

  // Button element default settings.
  $button-size: k-px-to-rem($button-size);

  // Calculate padding around svg picto.
  $button-padding-x: ($button-size - $icon-width) / 2;
  $button-padding-y: ($button-size - $icon-height) / 2;

  // The button element is rounded. So the radius is the button size / 2.
  $button-radius: $button-size / 2;

  padding: $button-padding-y $button-padding-x;
  border-radius: $button-radius;
}
