/// Set border-radius for get a rounded button.
///
/// Given a size of button and a size of picto, this mixin will calculate
/// automaticaly the paddings and the border-radius.
///
/// @group buttons
///
/// @parameter {Number} $button-size - button size
/// @parameter {Number} $icon-width  - icon width
/// @parameter {Number} $icon-height - icon height
///
/// @example scss - Usage
///   @include k-buttonRounded(40px, 14px, 12px);
///
/// @example css - CSS output
///    border-radius: 1.25rem;

@mixin k-buttonRounded($rounded) {
  // The button element is rounded.
  // So the radius is the button size / 2.
  $button-radius: ($button-size + $border-size) / 2;

  @include k-buttonPadding($button-radius);
  padding: $button-padding-y $button-padding-x;
  border-radius: $button-radius;
}



