@import 'kitten/schema';

/// TODO: Documentation…

@mixin k-buttonSize($button-size, $icon-width, $icon-height) {
  /// TODO: Validations…

  // Button element default settings.
  $k-button-size: ($button-size / 16px) * 1rem;

  // Calculate padding around svg picto.
  $k-button-padding-x: ($k-button-size - $icon-width) / 2;
  $k-button-padding-y: ($k-button-size - $icon-height) / 2;

  // The button element is rounded. So the radius is the button size / 2.
  $k-button-radius: $k-button-size / 2;

  padding: $k-button-padding-y $k-button-padding-x;
  border-radius: $k-button-radius;
}
