<%= example do %>
  <div class="k-TestimonyList">
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">What our customer say</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/200/200"
           width="200"
           height="200" />
      <div class="k-Testimony__text">
        “I never touched that sofa. It scratched itself.”
      </div>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">A unique relationship</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/201/201"
           width="200"
           height="200" />
      <div class="k-Testimony__text">
        “Can I haz cheezburger?”
      </div>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">Purr pleasure</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/202/202"
           width="200"
           height="200" />
      <div class="k-Testimony__text">
        “Meow”
      </div>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">Cuteness overload</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/203/203"
           width="200"
           height="200" />
      <div class="k-Testimony__text">
        “I love you more than anything in the world. Please adopt me now.”
      </div>
    </div>
  </div>
<% end %>
