<%= example do %>
  <div class="k-TestimonyList">
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">What our customer say</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/150/150"
           width="150"
           height="150" />
      <blockquote class="k-Testimony__text">
        “I never touched that sofa. It scratched itself.”
      </blockquote>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">A unique relationship</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/151/151"
           width="150"
           height="150" />
      <blockquote class="k-Testimony__text">
        “Can I haz cheezburger?”
      </blockquote>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">Purr pleasure</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/152/152"
           width="150"
           height="150" />
      <blockquote class="k-Testimony__text">
        “Meow”
      </blockquote>
    </div>
    <div class="k-TestimonyList__item k-Testimony">
      <div class="k-Testimony__title">Cuteness overload</div>
      <img class="k-Testimony__image"
           alt="Cute kitten"
           src="https://placekitten.com/g/153/153"
           width="150"
           height="150" />
      <blockquote class="k-Testimony__text">
        “I love you more than anything in the world. Please adopt me now.”
      </blockquote>
    </div>
  </div>
<% end %>
