<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Default' do %>
      <ul class="k-BulletList">
        <li class="k-BulletList__item">
          Dis Manibus
        </li>
        <li class="k-BulletList__item">
          Calpurnia Felicla
        </li>
        <li class="k-BulletList__item">
          Germulio coniugi<br />
          suo bene merenti et<br />
          sibi vixit <a class="k-BulletList__link" href="#">ann. XXXXV</a><br />
          Calpurnia Felicla V an.
        </li>
      </ul>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--4@m k-Grid__col--4@l">
    <%= example 'Large items' do %>
      <ul class="k-BulletList">
        <li class="k-BulletList__item k-BulletList__item--large">
          Dis Manibus
        </li>
        <li class="k-BulletList__item k-BulletList__item--large">
          Calpurnia Felicla
        </li>
        <li class="k-BulletList__item k-BulletList__item--large">
          Germulio coniugi<br />
          suo bene merenti et<br />
          sibi vixit <a class="k-BulletList__link" href="#">ann. XXXXV</a><br />
          Calpurnia Felicla V an.
        </li>
      </ul>
    <% end %>
  </div>
</div>
