<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--5 k-Grid__col--offset-5">
    <%= example 'Large timeline' do %>
      <%= react_component 'KarlLargeTimeline' %>
    <% end %>
  </div>
  <div class="k-Grid__col k-Grid__col--5 k-Grid__col--offset-5">
    <%= example 'Thin timeline' do %>
      <%= react_component 'KarlThinTimeline' %>
    <% end %>
  </div>
</div>
