<div class="k-Container">
  <div class="k-Grid">
    <div class="k-Grid__col k-Grid__col--10 k-Grid__col--offset-1">
      <%= example 'Timeline' do %>
        <%= react_component 'KarlTimeline' %>
      <% end %>
    </div>
  </div>
</div>
