/// Submit row usually at the end of a form.
///
/// @group form
///
/// @example scss - Usage
///
///   @include k-FormRow;
///
/// @example html
///
///   <div class="k-FormRow">
///     <span>…</span>
///     <span>…</span>
///   </div>

@mixin k-FormRow {
  .k-FormRow {
    display: flex;
    justify-content: flex-start;
  }

  .k-FormRow__item {
    margin-right: k-px-to-rem(20px);
  }
}
