/// Submit actions usually at the end of a form.
///
/// @group form
///
/// @example scss - Usage
///
///   @include k-FormActions;
///
/// @example html
///
///   <div class="k-FormActions">
///     <div class="k-FormActions__item">…</div>
///     <div class="k-FormActions__item">…</div>
///   </div>

@mixin k-FormActions {
  .k-FormActions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .k-FormActions--spreadOut\@s-up {
    @include k-media-min('s') {
      justify-content: space-between;

      .k-FormActions__item {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .k-FormActions__item {
    margin-left: k-px-to-rem(5px);
    margin-right: k-px-to-rem(5px);
  }
}
