/// Radio button
///
/// Available size modifiers:
/// - `.k-RadioButton__label--large`
/// - `.k-RadioButton__labelContents--large`
///
/// @group form
///
/// @example scss - usage
///
///   @include k-RadioButton;
///
/// @example html
///
///   <div class="k-RadioButton">
///    <input id="karl-radio-button-1"
///           type="radio"
///           name="karl-radio-button"
///           class="k-RadioButton__input" />
///    <label for="karl-radio-button-1" class="k-RadioButton__label">
///      Default
///    </label>
///  </div>

@mixin k-RadioButton {
  // Font
  $font: 'light';
  $font-step: 0;
  $font-step-on-media: 3;
  $font-step-content: -1;
  $font-step-content-large: 0;
  $line-height: normal;

  // Error
  $color-error: map-get($k-colors, 'error');

  // Colors
  $background-color: map-get($k-colors, 'background-1');
  $background-color-checked: map-get($k-colors, 'primary-1');
  $background-color-active: map-get($k-colors, 'primary-3');
  $background-color-disabled: map-get($k-colors, 'line-1');
  $border-color: map-get($k-colors, 'line-2');
  $border-color-hover: map-get($k-colors, 'primary-1');

  // Background-image
  $background-image: url('~icons/input-checked.svg');
  $background-size: k-px-to-rem(6px);

  $radio-button-size: k-px-to-rem(16px);
  $space-button-label: k-px-to-rem(10px);
  $border-radius: 50%;

  $transition-duration: .1s;

  .k-RadioButton {
    margin: k-px-to-rem(10px) 0;
  }

  .k-RadioButton__label {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-step, $line-height);

    display: inline-flex;
    align-items: center;
    align-self: flex-start;

    cursor: pointer;
    transition: color ($transition-duration * 2);

    &:before {
      box-sizing: border-box;
      display: inline-block;
      width: $radio-button-size;
      height: $radio-button-size;
      margin-right: $space-button-label;

      content: '';
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;

      transition: border $transition-duration;
    }

    &:active {
      color: $background-color-active;
    }

    .k-RadioButton__input:focus + &:before {
      border-color: $border-color-hover;
    }

    .k-RadioButton__input:checked:focus + &:before {
      box-shadow: 0 0 k-px-to-rem(3px) $background-color-checked;
    }

    .k-RadioButton__input:checked + &:before {
      position: relative;

      background-image: $background-image;
      background-size: $background-size;
      background-position: center center;
      background-color: $background-color-checked;
      background-repeat: no-repeat;
      border: k-px-to-rem(1px) solid $background-color-checked;
    }

    .k-RadioButton__input:checked:disabled + &:before {
      background-color: white;
    }

    .k-RadioButton__input:disabled + & {
      cursor: not-allowed;

      &:before {
        background-color: $background-color-disabled;
        border-color: $border-color;
      }
    }

    .k-RadioButton__input.is-error + & {
      border-color: $color-error;

      &:before {
        border-color: $color-error;
      }
    }

    .k-RadioButton__input.is-error:checked:focus + &:before {
      box-shadow: 0 0 k-px-to-rem(3px) $color-error;
    }

    .k-RadioButton__input.is-error:checked + &:before {
      position: relative;

      background-image: $background-image;
      background-size: $background-size;
      background-position: center center;
      background-color: $color-error;
      background-repeat: no-repeat;
      border: k-px-to-rem(1px) solid $color-error;
    }
  }

  .k-RadioButton__label--large {
    @include k-typographyFontSize($font-step-on-media);
  }

  .k-RadioButton__labelContents {
    display: block;
    margin-top: k-px-to-rem(10px);
    margin-left: $radio-button-size + $space-button-label;

    @include k-typographyFontSize($font-step-content);
  }

  .k-RadioButton__labelContents--large {
    @include k-typographyFontSize($font-step-content-large);
  }

  .k-RadioButton__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
