/// Radio button set
///
/// @group form
///
/// @example scss - usage
///
///   @include k-RadioButtonSet;
///
/// @example html
///
///   <div class="k-RadioButtonSet">
///     <div class="k-RadioButton k-RadioButtonSet__radioButton">
///       <input id="karl-radio-button-1"
///              type="radio"
///              name="karl-radio-button"
///              class="k-RadioButton__input" />
///       <label for="karl-radio-button-1" class="k-RadioButton__label">
///         Default
///       </label>
///     </div>
///
///     <div class="k-RadioButton k-RadioButtonSet__radioButton">
///       <input id="karl-radio-button-2"
///              type="radio"
///              name="karl-radio-button"
///              class="k-RadioButton__input" />
///       <label for="karl-radio-button-2" class="k-RadioButton__label">
///         Default
///       </label>
///     </div>
///   </div>

@mixin k-RadioButtonSet {
  .k-RadioButtonSet {
    text-align: left;
    line-height: 1.3rem;
  }

  .k-RadioButtonSet__radioButton {
    @include k-inputSet;
  }
}
