/// Text input with counter
///
/// A simple text input.
///
/// @group form
///
/// @example scss - Usage
///
///   @include k-TextInputWithCounter;
///
/// @example html
///
///   <div class="k-TextInputCounter">
///     <input class="k-TextInputCounter__input" />
///     <div class="k-TextInputCounter__counter">…</div>
///   </div>

@mixin k-TextInputWithCounter {
  $font: 'source-sans';
  $font-size: -2;
  $line-height: 1.3;

  // Margin counter
  $margin-counter: k-px-to-rem(5px);

  // Counter color
  $color: map-get($k-colors, 'font-2');
  $error-color: map-get($k-colors, 'error');
  $active-color: map-get($k-colors, 'font-1');

  .k-TextInputCounter {
    position: relative;
    display: block;
  }

  .k-TextInputCounter__counter {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-size, $line-height);
    position: absolute;
    right: 0;
    top: 0;

    margin-top: $margin-counter;
    margin-right: $margin-counter;

    color: $color;

    .k-TextInputCounter__input:focus ~ & {
      color: $active-color;
    }

    &.is-error {
      &,
      .k-TextInputCounter__input:focus ~ & {
        color: $error-color;
      }
    }
  }
}
