/// Text input with unit
///
/// @group form
///
/// @example scss - usage
///
///   @include k-TextInputWithUnit((
///     input-font: 'regular',
///     unit-font: 'bold',
///     border-color: #d8d8d8,
///     color: #333;
///     unit-color: #4a84ff,
///     unit-colors-is-valid: #70c050,
///     unit-colors-is-error: #ff4146,
///     unit-colors-is-inactive: #b8b8b8,
///   ));
///
/// @example html
///
/// <div class="k-TextInputWithUnit">
///   <input class="k-TextInput k-TextInputWithUnit__input"
///          placeholder="Lorem ipsum dolor sit amet"
///          type="number" />
///
///   <span class="k-TextInputWithUnit__unit">€</span>
/// </div>

@mixin k-TextInputWithUnit($input) {
  $input-font: k-string-definition(k-map-fetch($input, 'input-font'));
  $unit-font: k-string-definition(k-map-fetch($input, 'unit-font'));
  $border-color: k-color-definition(k-map-fetch($input, 'border-color'));
  $color: k-color-definition(k-map-fetch($input, 'color'));

  // Border
  $unit-color: k-color-definition(k-map-fetch($input, 'unit-color'));

  // Valid
  $unit-color-is-valid: k-color-definition(
    k-map-fetch($input, 'unit-colors-is-valid'));

  // Error
  $unit-color-is-error: k-color-definition(
    k-map-fetch($input, 'unit-colors-is-error'));

  // Inactive
  $unit-color-is-inactive: k-color-definition(
    k-map-fetch($input, 'unit-colors-is-inactive'));

  // Disable
  $background-disabled: map-get($k-colors, 'line-1');
  $border-disabled: map-get($k-colors, 'line-2');

  // Border radius Text - input
  $border-text-input: k-px-to-rem(4px);

  // Transition
  $transition-speed: .2s;

  .k-TextInputWithUnit {
    display: table;
    position: relative; // to place an absolute unit

    border-collapse: separate;
    box-sizing: border-box;
  }

  // Input
  .k-TextInputWithUnit__input {
    display: table-cell;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    outline: none; // since we introduce our own focus styles

    transition: all $transition-speed;

    @include k-typographyFont($input-font);
    @include k-formRemoveNumberSpinner;

    &:focus ~ .k-TextInputWithUnit__unit {
      border-color: $unit-color;
      color: $color;
    }

    &:disabled + .k-TextInputWithUnit__unit {
      background: $background-disabled;
      border-color: $border-disabled;
    }
  }

  .k-TextInputWithUnit--fullWidth {
    width: 100%;

    .k-TextInputWithUnit__unit {
      width: 1%; // To let the input take all the remaining space
    }
  }

  // Unit
  .k-TextInputWithUnit__unit {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    border-top-right-radius: $border-text-input;
    border-bottom-right-radius: $border-text-input;
    border: 1px solid $border-color;
    border-left: 0;
    box-sizing: border-box;
    height: 100%;
    padding: k-px-to-rem(11px) k-px-to-rem(14px);

    color: $color;

    white-space: nowrap;

    transition: all $transition-speed;

    @include k-typographyFont($unit-font);
    @include k-typographyFontSize(-1);

    &.is-valid {
      border-color: $unit-color-is-valid;
      color: $unit-color-is-valid;
    }

    &.is-error {
      border-color: $unit-color-is-error;
      color: $unit-color-is-error;
    }

    &.is-inactive {
      border-color: $unit-color-is-inactive;
      color: $unit-color-is-inactive;
    }
  }

  .k-TextInputWithUnit__unit--tiny {
    padding: k-px-to-rem(7px) k-px-to-rem(9px);
  }
}
