/// Text input with button
///
/// @group form
///
/// @parameter {Map} $input - a input specification
///
/// @example scss - Usage
///
/// @include k-TextInputWithButton;
///
/// <form role="button">
///   <div class="k-TextInputWithButton">
///     <input class="k-TextInput k-TextInputWithButton__input"
///            type="text"
///            name=""
///            placeholder="Lorem ipsum dolor sit amet" />
///
///     <input class="k-TextInputWithButton__button"
///            type="submit"
///            value="Button" />
///   </div>
/// </form>

@mixin k-TextInputWithButton {
  $font: 'regular';
  $font-size: -1; // 14px
  $line-height: normal;

  $color: map-get($k-colors, 'background-1');

  // Background-color
  $button-background: map-get($k-colors, 'font-1');
  $button-background-is-valid: map-get($k-colors, 'valid');
  $button-background-is-error: map-get($k-colors, 'error');
  $button-background-disabled: map-get($k-colors, 'line-2');

  // Border radius Text - input
  $border-text-input: k-px-to-rem(0px);

  .k-TextInputWithButton {
    display: flex;
    position: relative;
  }

  .k-TextInputWithButton__input {
    outline: none; // since we introduce our own focus styles

    &:focus ~ .k-TextInputWithButton__button {
      background-color: $button-background;
    }
  }

  .k-TextInputWithButton__button {
    @include k-typographyFont($font);
    @include k-typographyFontSize(
      $font-size,
      $line-height: $line-height
    );

    position: absolute;
    right: 0;

    height: 100%;
    width: k-px-to-rem(104px);

    background-color: $button-background;
    border-radius: $border-text-input;
    border: none;

    color: $color;

    outline: none;
    cursor: pointer;

    appearance: none;

    &.is-valid {
      background-color: $button-background-is-valid;
    }

    &.is-error {
      background-color: $button-background-is-error;
    }

    &.is-disabled {
      background-color: $button-background-disabled;
    }
  }
}
