@mixin k-TextInputWithCounter {
  $font: 'source-sans';
  $font-size: -2;
  $line-height: 1.3;

  // Counter
  $color: map-get($k-colors, 'font-2');

  .k-TextInputCounter {
    position: relative;
  }

  .k-TextInput__counter {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-size, $line-height);
    position: absolute;

    color: $color;
  }
}
