/// SupTitle
///
/// @group typography
///
/// @example scss -usage
///
///   @include k-SupTitle;
///
/// @example html
///
///   <div class='k-SupTitle'>Step 1</div>

@mixin k-SupTitle {
  $font: 'bold';

  .k-SupTitle {
    @include k-typographyFont($font);
    @include k-typographyFontScale($font-step: -1,
                                   $line-height: normal);
    text-transform: uppercase;
  }
}
