/// Header
///
/// @group headers
///
/// @example scss - usage
///
///   @include k-Header;
///
/// @example html
///
///   <header class="k-Header">
///     <div class="k-Header__items">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///
///     <div class="k-Header__items__right">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///   </div>

@mixin k-Header {
  $background-color: #fff;
  $border-color: #eee;
  $border-width: 1px;

  $item-spacing: k-px-to-rem(10px);
  $z-index: 10;

  .k-Header {
    background-color: $background-color;
    border-bottom: $border-width solid $border-color;
    position: relative;
    box-sizing: border-box;

    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $z-index;

      width: 100%;
    }
  }

  .k-Header__grid {
    @include k-container;

    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .k-Header__items {
    display: flex;
    align-items: center;

    // Since all items have left and right padding, negate it for the first
    // and last elements.
    margin-left: -$item-spacing;
    margin-right: -$item-spacing;
  }

  .k-Header__items--pull-end {
    align-self: auto;
    margin-left: auto;
  }

  .k-Header__item {
    display: flex;
    margin: 0;
    padding: 0 $item-spacing;

    @include k-media-sm {
      margin: $item-spacing 0;
    }

    @include k-media-xs {
      margin: $item-spacing 0;
    }
  }

  .k-Header__nav {
    position: relative;
    top: $border-width;

    padding: 0 $item-spacing;

    @include k-media-sm {
      display: none;
    }

    @include k-media-xs {
      display: none;
    }
  }

  .k-Header__search {
    @include k-media-xs {
      display: none;
    }
  }

  .k-Header__signup,
  .k-Header__logged {
    @include k-media-xs {
      display: none;
    }
  }

  .k-Header__signupIcon {
    display: none;

    @include k-media-xs {
      display: block;;
    }
  }
}
