/// Header
///
/// @group headers
///
/// @example scss - usage
///
///   @include k-Header;
///
/// @example html
///
///   <header class="k-Header">
///     <div class="k-Header__items">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///
///     <div class="k-Header__items__right">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///   </div>

@mixin k-Header {
  $background-color: #fff;
  $border-color: #eee;
  $border-width: 1px;
  $gutter: 20px;
  $max-width: 1420px;
  $z-index: 10;

  .k-Header {
    background-color: $background-color;
    border-bottom: $border-width solid $border-color;
    position: relative;
    box-sizing: border-box;

    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $z-index;

      width: 100%;
    }
  }

  .k-Header__grid {
    display: flex;
    align-items: center;
    align-self: flex-start;
    max-width: $max-width;
    margin: 0 auto;
  }

  .k-Header__items {
    display: flex;
    align-items: center;
  }

  .k-Header__items--end {
    align-self: auto;
    margin-left: auto;
  }

  .k-Header__item {
    padding: 0 $gutter / 2;
  }

  .k-Header__nav {
    position: relative;
    top: $border-width;

    @include k-media-sm {
      display: none;
    }

    @include k-media-xs {
      display: none;
    }
  }

  .k-Header__signup {
    @include k-media-sm {
      display: none;
    }

    @include k-media-xs {
      display: none;
    }
  }
}
