/// Header
///
/// @group headers
///
/// @example scss - usage
///
///   @include k-Header;
///
/// @example html
///
///   <header class="k-Header">
///     <div class="k-Header__items">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///
///     <div class="k-Header__items__right">
///       <div class="k-Header__item">
///         …
///       </div>
///     </div>
///   </div>

@mixin k-Header {
  $background-color: #fff;
  $border-color: #eee;
  $border-width: 1px;

  $height: 65px;
  $item-spacing: k-px-to-rem(10px);
  $item-spacing-xxs: k-px-to-rem(15px);
  $z-index: 10;

  .k-Header {
    background-color: $background-color;
    border-bottom: $border-width solid $border-color;
    position: relative;
    box-sizing: border-box;

    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $z-index;

      width: 100%;
    }
  }

  .k-Header__container {
    @include k-container;
    position: relative;
  }

  .k-Header__row {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;

    height: k-px-to-rem($height);

    // Since all items have left and right padding, negate it for the first
    // and last elements.
    margin-left: -$item-spacing;
    margin-right: -$item-spacing;

    @include k-media-within('xxs') {
      margin-left: -$item-spacing-xxs;
      margin-right: -$item-spacing-xxs;
    }
  }

  .k-Header__items {
    display: flex;
    align-items: center;
  }

  .k-Header__items--fixedSize {
    flex-shrink: 0;
  }

  .k-Header__item {
    display: flex;
    margin: 0;
    padding: 0 $item-spacing;
  }

  .k-Header__nav {
    position: relative;
    top: $border-width;

    padding: 0 $item-spacing;

    @include k-media-max('s') {
      display: none;
    }
  }

  .k-Header__nav__item {
    height: k-px-to-rem($height - $border-width);
  }

  .k-Header__item__logo {
    padding-left: k-px-to-rem(5px);
  }

  .k-Header__logo {
    display: flex;
    overflow: hidden;

    svg, img {
      height: k-px-to-rem(30px);

      @include k-media-within('m') {
        margin-left: -38px;
      }

      @include k-media-within('xxs') {
        margin-left: -38px;
      }
    }
  }

  .k-Header__search {
    @include k-media-max('xxs') {
      display: none;
    }
  }

  .k-Header__signup,
  .k-Header__logged,
  .k-Header__search {
    @include k-media-max('xs') {
      display: none;
    }
  }

  .k-Header__signup {
    @include k-media-within('m') {
      display: none;
    }

    @include k-media-within('xxs') {
      padding-left: 0px;
    }
  }

  .k-Header__signupIcon {
    @include k-media-min('s') {
      display: none;
    }

    @include k-media-within('m') {
      display: block;
    }

    @include k-media-within('xxs') {
      padding-left: 0px;
    }
  }

  .k-Header__button {
    padding-left: 0;
    padding-right: 0;
  }
}
