/// Popover
///
/// @group popovers
///
/// @example scss - usage
///   @include k-Popover;
///
/// @example html
/// <div class="k-Popover"
///      role="dialog"
///      id="mytour"
///      aria-hidden="true"
///      aria-labelledby="dialogtitle">
///   <div class="k-Popover__container">
///     …
///   </div>
/// </div>

@mixin k-Popover {
  $background-color: #fff;
  $border-color: #eee;
  $border-size: 1px;
  $border-radius: k-px-to-rem(15px);
  $margin-container: k-px-to-rem(11px);

  .k-Popover {
    display: flex;

    max-width: k-px-to-rem(465px);
    min-height: k-px-to-rem(218px);
    box-sizing: border-box;

    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-size solid $border-color;
  }

  .k-Popover__container {
    display: flex;
    margin: $margin-container $margin-container k-px-to-rem(30px) $margin-container;
  }
}
