/// Tour
///
/// @group popovers
///
/// @example scss - usage
///   @include k-Tour;
///
/// @example html
/// <div class="k-Popover"
///      role="dialog"
///      id="mytour"
///      aria-hidden="true"
///      aria-labelledby="dialogtitle">
///   <div class="k-Popover__container">
///     <svg> … </svg>
///   </div>
///   <div class="k-Tour__popover__content">
///     <p id="dialogtitle" class="k-Tour__popover__title"> … </p>
///       <p class="k-Tour__popover__text"> … </p>
///     <div class="k-Tour__popover__navigation">
///       <p class="k-Tour__popover__numbering"> … </p>
///       <button title="Précédent" class="k-Tour__popover__button
///                                        k-Button
///                                        k-Button--default
///                                        k-Button--tiny
///                                        k-Button--icon"
///                                        disabled>
///         <svg class="k-Button__icon" … ></svg>
///         Prec
///       </button>
///       <button title="Suivant" class="k-Tour__popover__button
///                                      k-Button
///                                      k-Button--default
///                                      k-Button--tiny
///                                      k-Button--icon
///                                      k-Button--iconRight">
///         Suiv
///         <svg class="k-ButtonIcon__svg" … ></svg>
///       </button>
///     </div>
///   </div>
/// </div>

@mixin k-Tour {

  .k-Tour__popover__svg {
    display: flex;
    align-items: center;
  }

  .k-Tour__popover__svgColor {
    fill: map-get($k-colors, 'primary-1');
  }

  .k-Tour__popover__content {
    @include k-typographyFont('source-sans-light');
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  .k-Tour__popover__title {
    @include k-typographyFontSize(2);
    margin-top: 0;
    margin-bottom: 0;
  }

  .k-Tour__popover__text {
    @include k-typographyFontSize(-1);
    margin-top: k-px-to-rem(5px);
  }

  .k-Tour__popover__navigation {
    display: flex;
    margin-top: auto;
  }

  .k-Tour__popover__numbering {
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-1);

    margin: 0;
    padding-right: k-px-to-rem(78px);
  }

  .k-Tour__popover__button {
    margin-right: k-px-to-rem(10px);

    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    &:hover {
      transform: translateX(-2px);
      -webkit-transform: translateX(-2px);
    }
  }

  .k-Tour__popover__buttonRight {
    margin-right: k-px-to-rem(10px);

    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    &:hover {
      transform: translateX(2px);
      -webkit-transform: translateX(2px);
    }
  }
}
