/// Shadow utilities.
///
/// @group shadow
///
/// @example scss - Usage
///
///   @include k-utilities-shadow;
///
/// @example html
///
///   <div class="k-u-shadow-xs">…</div>
///   <div class="k-u-shadow-s">…</div>
///   <div class="k-u-shadow-m">…</div>
///   <div class="k-u-shadow-l">…</div>
///   <div class="k-u-shadow-xl">…</div>

@mixin k-utilities-shadow {
  .k-u-shadow-xs {
    box-shadow: var(--shadow-xs) !important;
  }

  .k-u-shadow-s {
    box-shadow: var(--shadow-s) !important;
  }

  .k-u-shadow-m {
    box-shadow: var(--shadow-m) !important;
  }

  .k-u-shadow-l {
    box-shadow: var(--shadow-l) !important;
  }

  .k-u-shadow-xl {
    box-shadow: var(--shadow-xl) !important;
  }
}
