/// Active text utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-active;
///
/// @example html
///
///     <p class="k-u-text--active">…</p>
///
///     <p class="k-u-text--active--important">…</p>

@mixin k-utilities-active {
  .k-u-text--active {
    color: map-get($k-colors, 'primary-1');

    &--important{
    color: map-get($k-colors, 'primary-1') !important;
    }
  }
}
