/// Text alignment utilities.
/// Utilities to align items according to media-queries
///   (aligns : center, left, right).
///
/// @group text
///
/// @example scss - Usage
///
///   @include k-utilities-align;
///
/// @example html
///
///   <div class="k-u-align-center@xxs-down">…</div>
///   <div class="k-u-align-center@xs-down">…</div>
///   <div class="k-u-align-center@s-down">…</div>
///   <div class="k-u-align-center@m-down">…</div>
///   <div class="k-u-align-center@l-down">…</div>
///
///   <div class="k-u-align-center@xs-up">…</div>
///   <div class="k-u-align-center@s-up">…</div>
///   <div class="k-u-align-center@m-up">…</div>
///   <div class="k-u-align-center@l-up">…</div>
///   <div class="k-u-align-center@xl-up">…</div>
///
///   <div class="k-u-align-center">…</div>
///   <div class="k-u-align-left">…</div>
///   <div class="k-u-align-right">…</div>
///
///   <div class="k-u-spacedHorizontally">…</div>
///   <div class="k-u-spacedVertically">…</div>
///   <div class="k-u-spaced">…</div>
///   <div class="k-u-align-center-block">…</div>
///
///   <div class="k-u-align-center@xxs-down--important">…</div>
///   <div class="k-u-align-center@xs-down--important">…</div>
///   <div class="k-u-align-center@s-down--important">…</div>
///   <div class="k-u-align-center@m-down--important">…</div>
///   <div class="k-u-align-center@l-down--important">…</div>
///
///   <div class="k-u-align-center@xs-up--important">…</div>
///   <div class="k-u-align-center@s-up--important">…</div>
///   <div class="k-u-align-center@m-up--important">…</div>
///   <div class="k-u-align-center@l-up--important">…</div>
///   <div class="k-u-align-center@xl-up--important">…</div>
///
///   <div class="k-u-align-center--important">…</div>
///   <div class="k-u-align-left--important">…</div>
///   <div class="k-u-align-right--important">…</div>
///
///   <div class="k-u-spacedHorizontally--important">…</div>
///   <div class="k-u-spacedVertically--important">…</div>
///   <div class="k-u-spaced--important">…</div>
///   <div class="k-u-align-center-block--important">…</div>
///
///  @example html - Deprecated
///
///    <div class="k-u-centered">…</div>

@mixin k-u-align($position, $align) {
  $value: $align;

  .k-u-align-#{$position} {
    text-align: $value;

    &--important {
      text-align: $value !important;
    }
  }

  @each $name, $query in $k-media-queries {
    @if $name != "xl" {
      .k-u-align-#{$position}\@#{$name}-down {
        @include k-media-max($name) {
          text-align: $value;

          &--important {
            text-align: $value !important;
          }
        }
      }
    }

    @if $name != "xxs" {
      .k-u-align-#{$position}\@#{$name}-up {
        @include k-media-min($name) {
          text-align: $value;

          &--important {
            text-align: $value !important;
          }
        }
      }
    }
  }
}

@mixin k-utilities-align {

  @include k-u-align('center', center);
  @include k-u-align('left', left);
  @include k-u-align('right', right);

  .k-u-spacedHorizontally {
    margin: k-px-to-rem(10px) 0;

    &--important {
      margin: k-px-to-rem(10px) 0 !important;
    }
  }

  .k-u-spacedVertically {
    margin: 0 k-px-to-rem(10px);

    &--important {
      margin: 0 k-px-to-rem(10px) !important;
    }
  }

  .k-u-spaced {
    margin: k-px-to-rem(10px);

    &--important {
      margin: k-px-to-rem(10px) !important;
    }
  }

  .k-u-align-center-block {
    margin-left: auto;
    margin-right: auto;

    &--important {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  // DEPRECATED
  .k-u-centered {
    text-align: center;
  }
}
