/// Text alignment utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-align;
///
/// @example html
///
///     <div class="k-u-centered">…</div>
///     <div class="k-u-spacedHorizontally">…</div>
///     <div class="k-u-spacedVertically">…</div>
///     <div class="k-u-spaced">…</div>
@mixin k-utilities-align {
  .k-u-centered {
    text-align: center;
  }

  .k-u-spacedHorizontally {
    margin: k-px-to-rem(10px) 0;
  }

  .k-u-spacedVertically {
    margin: 0 k-px-to-rem(10px);
  }

  .k-u-spaced {
    margin: k-px-to-rem(10px);
  }
}
