/// Text decoration utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-decoration;
///
/// @example html
///
///     <p class="k-u-decoration-underline">…</p>
///
///     <p class="k-u-decoration-underline--important">…</p>

@mixin k-utilities-decoration {
  .k-u-decoration-underline {
    text-decoration: underline;
  }
  .k-u-decoration-underline--important {
    text-decoration: underline !important;
  }

  .k-u-decoration-none {
    text-decoration: none;
  }
  .k-u-decoration-none--important {
    text-decoration: none !important;
  }
}
