/// Text decoration utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-decoration;
///
/// @example html
///
///     <p class="k-u-decoration-overline">…</p>
///     <p class="k-u-decoration-line-through">…</p>
///     <p class="k-u-decoration-underline">…</p>

@mixin k-utilities-decoration {
  .k-u-decoration-overline {
    text-decoration: overline;
  }

  .k-u-decoration-line-through {
    text-decoration: line-through;
  }

  .k-u-decoration-underline {
    text-decoration: underline;
  }
}
