/// Text ellipsis utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-ellipsis;
///
/// @example html
///
///     <p class="k-u-ellipsis-underline">…</p>

@mixin k-utilities-ellipsis {
  .k-u-ellipsis {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
  }
}
