/// Line height utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-line-height;
///
/// @example html
///
///     <p class="k-u-line-height-normal">…</p>

@mixin k-utilities-line-height {
  .k-u-line-height-normal {
    line-height: normal !important;
  }

  .k-u-line-height-1 {
    line-height: 1 !important;
  }

  .k-u-line-height-1-25 {
    line-height: 1.25 !important;
  }

  .k-u-line-height-1-3 {
    line-height: 1.3 !important;
  }

  .k-u-line-height-1-4 {
    line-height: 1.4 !important;
  }
}
