/// Font style utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-style;
///
/// @example html
///
///     <p class="k-u-style-normal">…</p>
///     <p class="k-u-style-italic">…</p>
///
///     <p class="k-u-style-normal--important">…</p>
///     <p class="k-u-style-italic--important">…</p>

@mixin k-utilities-style {
  .k-u-style-normal {
    font-style: normal;

    &--important {
      font-style: normal !important;
    }
  }

  .k-u-style-italic {
    font-style: italic;

    &--important {
      font-style: italic !important;
    }
  }
}
