/// Font style utilities.
///
/// @group text
///
/// @example scss - Usage
///
///     @include k-utilities-style;
///
/// @example html
///
///     <p class="k-u-style-normal">…</p>
///     <p class="k-u-style-italic">…</p>

@mixin k-utilities-style {
  .k-u-style-normal {
    font-style: normal !important;
  }

  .k-u-style-italic {
    font-style: italic !important;
  }
}
