/// Apply stroke small basic display.
///
/// @group stroke-small
///
/// @example scss - Usage
///   .k-MyStrokeSmall {
///     @include strokeSmallBase;
///   }
///
/// @example css - CSS output
///
/// @example html
///   .k-MyStrokeSmall {
///     margin-top: 20px;
///     margin-bottom: 30px;
///     border: none;
///     background-color: map-get($k-colors, 'font-1');
///   }

@mixin k-strokeSmallBase {
  margin-top: k-px-to-rem(20px);
  margin-bottom: k-px-to-rem(30px);
  border: none;
  background: map-get($k-colors, 'font-1');
}
