// Buttons

@include k-Button((
  font: 'source-sans-semi-bold-uppercase',
  primary: (
    colors:(
      base: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-1'),
        background-color: map-get($k-colors, 'primary-1'),
      ),
      hover: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      focus: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      ),
    ),
  ),
  secondary: (
    colors: (
      base: (
        color: map-get($k-colors, 'font-1'),
        border-color: map-get($k-colors, 'line-2'),
        background-color: #fff,
      ),
      hover: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-1'),
        background-color: map-get($k-colors, 'primary-1'),
      ),
      focus: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-1'),
        background-color: map-get($k-colors, 'primary-1'),
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      ),
    ),
  ),
  secondary-light: (
    colors:(
      base: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: #fff,
      ),
      hover: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      focus: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      ),
    ),
  ),
  secondary-color: (
    colors:(
      base: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: map-get($k-colors, 'primary-5'),
      ),
      hover: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      focus: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      )
    )
  )
));

@include k-ButtonIcon((
  primary: (
    colors: (
      base: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-1'),
        background-color: map-get($k-colors, 'primary-1'),
      ),
      hover: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      focus: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-2'),
        background-color: map-get($k-colors, 'primary-2'),
      ),
      active: (
        color: #fff,
        background-color: map-get($k-colors, 'primary-3'),
        border-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        background-color: map-get($k-colors, 'primary-3'),
        border-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      )
    )
  ),
  secondary: (
    colors: (
      base: (
        color: #333,
        border-color: map-get($k-colors, 'line-2'),
        background-color: #fff,
      ),
      hover: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: #fff,
      ),
      focus: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: #fff,
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      )
    )
  )
));

@include k-ButtonImage((
  colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      background-color: #fff
    ),
    hover: (
      color: map-get($k-colors, 'font-1'),
      background-color: #fff,
    ),
    focus: (
      color: map-get($k-colors, 'font-1'),
      background-color: #fff,
    ),
    active: (
      color: map-get($k-colors, 'font-1'),
      background-color: #fff,
    )
  )
));

@include k-ButtonTag((
  secondary: (
    colors: (
      base: (
        color: map-get($k-colors, 'font-1'),
        border-color: map-get($k-colors, 'line-2'),
        background-color: #fff,
      ),
      hover: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: #fff,
      ),
      focus: (
        color: map-get($k-colors, 'primary-1'),
        border-color: map-get($k-colors, 'primary-4'),
        background-color: #fff,
      ),
      active: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      is-selected: (
        color: #fff,
        border-color: map-get($k-colors, 'primary-3'),
        background-color: map-get($k-colors, 'primary-3'),
      ),
      disabled: (
        color: #fff,
        border-color: map-get($k-colors, 'line-2'),
        background-color: map-get($k-colors, 'line-2'),
      )
    )
  )
));

// Form

@include k-Checkbox;

@include k-Label;

@include k-TextInput((
  font: 'source-sans',
  font-size: -1,
  colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border: map-get($k-colors, 'line-2'),
      background: #fff,
    ),
    focus: (
      border: map-get($k-colors, 'primary-1'),
    ),
    disabled: (
      color: #fff,
      border: #fff,
      background: map-get($k-colors, 'line-2'),
    ),
    is-valid: (
      color: #70c050,
      border: #70c050,
    ),
    is-error: (
      color: #ff4146,
      border: #ff4146,
    )
  )
));

// Notifications

@include k-Badge((
  colors: (
    base: #fff,
    background: map-get($k-colors, 'primary-1'),
  )
));

// Typography

@include k-TypographyBodyCopy((
  family: 'source-sans',
  color: map-get($k-colors, 'font-1')
));

@include k-TypographyScale((
  styles: (
    TitleH1: (
      family: 'source-sans-light',
      step: 13,
      line-height: 1.13,
    ),

    TitleH1Dosis: (
      family: 'dosis',
      step: 14,
      line-height: 1.2,
    ),

    TitleH2: (
      family: 'source-sans-semi-bold',
      step: 9,
      line-height: 1.16,
    ),

    TitleH2Dosis: (
      family: 'dosis',
      step: 10,
      line-height: 1,
    ),

    TitleH3: (
      family: 'source-sans-semi-bold',
      step: 6,
      line-height: 1.8,
    ),

    TitleH3Dosis: (
      family: 'dosis',
      step: 6,
      line-height: 0.8,
    ),

    TitleH4: (
      family: 'source-sans-semi-bold',
      step: 2,
      line-height: 1.4,
    ),

    TitleH4Dosis: (
      family: 'dosis',
      step: 2,
      line-height: 1.3,
    ),

    // Paragraph (line-height) KissKissBankBank et Lendopolis
    ParagraphXl: (
      family: 'source-sans',
      step: 2,
      line-height: 1.6,
    ),
    // Paragraph (line-height et font-weight) HelloMerci
    ParagraphXlLight: (
      family: 'source-sans-light',
      step: 2,
      line-height: 1.3,
    ),

    ParagraphLg: (
      family: 'source-sans',
      step: 1,
    ),

    ParagraphMd: (
      family: 'source-sans',
      step: 0,
    ),

    ParagraphSm: (
      family: 'source-sans',
      step: -1,
    ),

    ParagraphXsSemiBold: (
      family: 'source-sans-semi-bold',
      step: -2,
    ),

    ParagraphXs: (
      family: 'source-sans',
      step: -2,
    )
  )
));
