// Buttons

@include k-ButtonImageWithText((
  colors: (
    base: map-get($k-colors, 'font-1'),
    hover: map-get($k-colors, 'primary-1'),
    active: map-get($k-colors, 'primary-3'),
  )
));

@include k-ButtonWithBadge;

@include k-ButtonIconWords;

// Cards

@include k-Card((
  colors: (
    light-background: #fff,
    light-text: map-get($k-colors, 'font-1'),
  ),
));

// Footer

@include k-Footer;

// Form

@include k-LabelWithInfo((
  colors: (
    active: black,
    inactive: #aaa,
  ),
));

@include k-SearchInput;

@include k-Select((
  colors: (
    input-bg: #fff,
    input-border: #d8d8d8,
    input-border-focus: map-get($k-colors, 'primary-1'),
    option-bg: #fbfbfb,
  ),
));

@include k-SliderTooltip((
  colors: (
    border: map-get($k-colors, 'primary-4'),
    border-inactive: #eee,
    background: map-get($k-colors, 'background-2'),
    background-inactive: #fbfbfb,
    text: map-get($k-colors, 'primary-1'),
    text-inactive: #b8b8b8,
  )
));

@include k-Slider((
  colors: (
    progress: map-get($k-colors, 'primary-1'),
    progress-disabled: #d8d8d8,
    ramp: #eee,
    handle: map-get($k-colors, 'primary-1'),
    handle-disabled: #d8d8d8,
    icon: #fff,
    icon-disabled: #fff,
    border: map-get($k-colors, 'primary-1'),
  )
));


@include k-TextInputWithButton((
  font: 'source-sans-semi-bold',
  font-size: -4,
  color: #fff,
  button-background: map-get($k-colors, 'primary-1'),
  button-background-is-valid: #70c050,
  button-background-is-error: #ff4146,
));

@include k-TextInputWithInfo((
  label: (
    font: 'source-sans-semi-bold',
    font-size: -2,
    color: map-get($k-colors, 'font-1'),
  ),
  error: (
    font: 'source-sans',
    font-size: -2,
    color: #ff4146,
  )
));

@include k-TextInputWithUnit((
  input-font: 'source-sans',
  unit-font: 'source-sans-semi-bold',
  border-color: #d8d8d8,
  color: map-get($k-colors, 'font-1'),
  unit-color: map-get($k-colors, 'primary-1'),
  unit-colors-is-valid: #70c050,
  unit-colors-is-error: #ff4146,
  unit-colors-is-inactive: #fff,
));

// Grid

@include k-Grid;

@include k-Row((
  colors: (
    light-background: map-get($k-colors, 'background-2'),
    dark-background: #999,
    light-bottom-border: #eee,
  )
));

// Heroes

@include k-Hero((
  font: 'source-sans',
));

// Links

@include k-ExternalRichLink;

@include k-LinkList((
  colors: (
    link: map-get($k-colors, 'font-1'),
    link-active: map-get($k-colors, 'primary-3'),
    link-hover: map-get($k-colors, 'primary-1'),
  ),
));

// Navigation

@include k-HorizontalNav((
  font: source-sans-semi-bold-uppercase,
  font-step: -2,
  colors: (
    base: (
      background-color: #fff,
      border-color: #eee,
      color: map-get($k-colors, 'font-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
    ),
    focus: (
      border-color: map-get($k-colors, 'primary-1'),
      color: map-get($k-colors, 'primary-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
    )
  )
));

@include k-PlatformSwitch((
  colors: (
    background: #fbfbfb,
    border: #eee,
    background-hover: #eee,
    border-active: map-get($k-colors, 'primary-1'),
  )
));

@include k-TabBar((
  font: source-sans-uppercase,
  font-step: -4,
  line-height: 1.5,
  background-color: map-get($k-colors, 'primary-1'),
  border-color: #5c90ff,
  color: map-get($k-colors, 'primary-4'),
  color-current: #fff,
  z-index: 50,
));

@include k-UserMenu((
  font: 'source-sans-semi-bold',
  font-step: -2,
  colors: (
    base: map-get($k-colors, 'font-1'),
    background: #fbfbfb,
    border: #eee,
    background-hover: #eee,
    color-active: map-get($k-colors, 'primary-1'),
    border-active: map-get($k-colors, 'primary-1'),
  ),
));

// Press

@include k-PressQuotes;

// Simulators

@include k-SimulatorResult((
  colors: (
    border: #eee,
    background: #fbfbfb,
    text: map-get($k-colors, 'font-1')
  ),
  label-font: source-sans-uppercase,
  value-font: source-sans-semi-bold,
));

// Teaser

@include k-Teaser;

// Testimonies

@include k-TestimonyList;

@include k-Testimony((
  font: 'source-sans-light',
));

// Titles

@include k-TitleWithActions;
