// Dropdowns

@include k-Dropdown;
@include k-PhoneDropdown;

// Header

@include k-Header;

// Simulators

@include k-LoanSimulator((
  colors: (
    error: red
  )
));

// Tours

@include k-Tour;
@include k-HeaderTour;

// Popover

@include k-Popover;

// LinkBox

@include k-LinkBox((
  colors: (
    background: map-get($k-colors, 'background-1'),
    border: map-get($k-colors, 'line-1'),
    background-active: map-get($k-colors, 'line-1'),
  )
));
