// Focus

@include k-utilities-removeOutlineWhenUnfocused;

// Text

@include k-utilities-active;
@include k-utilities-align;
@include k-utilities-inactive;
@include k-utilities-size;
@include k-utilities-weight;
