// Text

@include k-utilities-active;
@include k-utilities-align;
@include k-utilities-background-color;
@include k-utilities-border;
@include k-utilities-color;
@include k-utilities-hidden;
@include k-utilities-inactive;
@include k-utilities-k-u-margin;
@include k-utilities-responsive;
@include k-utilities-size;
@include k-utilities-weight;
