/// A vertical navigation to platform switch.
///
/// @group navigation
///
/// @parameter {Map} $nav - a nav specification
///
/// @example scss - usage
///
///   @include k-PlatformSwitch((
///     background-color: #fbfbfb,
///     border-color: #eee,
///     background-color-hover: #f8f8f8,
///     border-color-hover: ##333,
///   ));
///
/// @example html
///
///   <ul class="k-PlatformSwitch">
///     <li>
///       <a class="k-PlatformSwitch__item" href="#">
///         <div class="k-PlatformSwitch__item__element">
///           …
///         </div>
///
///         <div class="k-PlatformSwitch__item__element
///                     k-PlatformSwitch__item__element--pull-end
///                     k-PlatformSwitch__item__element--animate">
///           …
///         </div>
///       </a>
///     </li>
///   </ul>

@mixin k-PlatformSwitch($nav) {
  @include k-with-module('k-PlatformSwitch') {

    $background-color: k-color-definition(
      k-map-fetch($nav, ('colors', 'background')));
    $border-color: k-color-definition(
      k-map-fetch($nav, ('colors', 'border')));
    $background-color-hover: k-color-definition(
      k-map-fetch($nav, ('colors', 'background-hover')));
    $border-color-hover: k-color-definition(
      k-map-fetch($nav, ('colors', 'border-hover')));

    .k-PlatformSwitch {
      display: block;
      margin: 0 auto;
      padding: 0;
      border-top: 1px solid $border-color;
      list-style: none;
    }

    .k-PlatformSwitch__item {
      display: flex;
      align-items: center;
      align-self: flex-start;

      margin: 0;
      padding: k-px-to-rem(5px) k-px-to-rem(10px);
      border: 1px solid $border-color;
      border-top: none;
      background: $background-color;
      text-decoration: none;
      transition: background-color .2s, border-color .2s;

      &:focus,
      &:hover {
        outline: none;
        border-right-color: $border-color-hover;
        background-color: $background-color-hover;
      }
    }

    .k-PlatformSwitch__item__element {
      margin: 0 k-px-to-rem(10px);
      display: flex;
    }

    .k-PlatformSwitch__item__element--pull-end {
      align-self: auto;
      margin-left: auto;
    }

    // Class for animate element (move left to right slightly)
    .k-PlatformSwitch__item__element--animate {
      position: relative;
      left: 0;
      transition: left .2s;

      .k-PlatformSwitch__item:focus &,
      .k-PlatformSwitch__item:hover & {
        left: 5px;
      }
    }
  }
}
