/// A tab bar navigation, used in mobile and tablet versions.
///
/// @group navigation
///
/// @parameter {Map} $tabbar - a tabbar specification
///
/// @example scss - usage
///
///   @include k-TabBar((
///     font: source-sans-uppercase,
///     font-step: 4,
///     line-height: 1.5,
///     background-color: #4a84ff,
///     border-color: #5c90ff,
///     color: #b7ceff,
///     color-current: #fff,
///     z-index: 50,
///   ));
///
/// @example html
///
///   <div class="k-TabBar k-TabBar--responsive is-fixed">
///     <ul class="k-TabBar__nav">
///       <li>
///         <a class="k-TabBar__item is-selected" href="#">
///           Link selected
///         </a>
///       </li>
///       <li>
///         <a class="k-TabBar__item" href="#">
///           Link
///         </a>
///       </li>
///       …
///     </ul>
///   </div>

@mixin k-TabBar($tabbar) {
  @include k-with-module('k-TabBar: $tabbar') {

    // Variables & Validations
    $font: k-map-fetch($tabbar, 'font');
    $font-step: k-number-definition(
      k-map-fetch($tabbar, 'font-step'), $unit: none);
    $line-height: k-number-definition(k-map-fetch($tabbar, 'line-height'));

    $color: k-color-definition(
      k-map-fetch($tabbar, 'color'));
    $color-current: k-color-definition(
      k-map-fetch($tabbar, 'color-current'));
    $background-color: k-color-definition(
      k-map-fetch($tabbar, 'background-color'));
    $border-color: k-color-definition(
      k-map-fetch($tabbar, 'border-color'));

    $round-size: k-px-to-rem(25px);
    $z-index: k-number-definition(map-get($tabbar, 'z-index'));
    $border-width: 1px;

    .k-TabBar__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0 $border-width 0 $border-color;

      list-style-type: none;
      width: 100%;
      margin: 0;
      padding: 0;
      background: $background-color;

      .k-TabBar.is-fixed & {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: $z-index;
      }
    }

    .k-TabBar__item {
      @include k-typographyFont($font);
      @include k-typographyFontSize($font-step, $line-height);
      letter-spacing: k-px-to-rem(0.8px);
      text-decoration: none;
      text-align: center;

      padding: k-px-to-rem(11px) k-px-to-rem(18px);
      display: block;
      position: relative;
      outline: none;
      background-color: $background-color;
      border-top: $border-width solid $border-color;
      cursor: pointer;
      color: $color;
      transition: color .2s, border-color .2s;

      &:hover,
      &:focus {
        color: $color-current;
        text-decoration: none;
      }

      &.is-selected {
        border-color: $color-current;
        color: $color-current;
      }
    }

    .k-TabBar__item--singleLine {
      padding-top: k-px-to-rem(18px);
      padding-bottom: k-px-to-rem(18px);
    }

    .k-TabBar__item--thinGutters {
      padding-left: k-px-to-rem(6px);
      padding-right: k-px-to-rem(6px);

      @include k-media-min('xs') {
        padding-left: k-px-to-rem(12px);
        padding-right: k-px-to-rem(12px);
      }
    }

    .k-TabBar--responsive {
      display: flex;

      &.is-fixed {
        // approximate size of the final element so that it doesn't hide
        // the last elements on the page
        min-height: k-px-to-rem(50px);
      }

      @include k-media-min('m') {
        display: none;
      }
    }
  }
}
