/// TapBar

@mixin k-TapBar($tapbar) {
  $font: map-get($tapbar, 'font');
  $background-color: #333;
  $color: #fff;

  $round-size: k-px-to-rem(25px);

  .k-TapBar {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $background-color;

    &.is-fixed {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 10;
    }
  }

  .k-TapBar__item {
    @include k-font($font);
    font-size: k-px-to-rem(10px);
    line-height: 1;
    letter-spacing: k-px-to-rem(0.8px);
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: $color;
    outline: none;
    padding: 0 k-px-to-rem(40px) k-px-to-rem(3px);
    background-color: $background-color;

    &:before {
      content: '';
      display: block;
      margin: k-px-to-rem(6px) auto;
      width: $round-size;
      height: $round-size;
      box-sizing: border-box;
      border: 1px solid $color;
      border-radius: $round-size / 2;
      transition: background-color .2s;
    }

    &:hover,
    &:active,
    &:focus,
    &.is-selected {
      &:before {
        background-color: $color;
      }
    }
  }
}
