/// A user menu.
///
/// @group navigation
///
/// @parameter {Map} $menu - a menu specification
///
/// @example scss - usage
///
///   @include k-UserMenu((
///     font: 'source-sans-semi-bold',
///     font-step: -2,
///     colors: (
///       default: (
///         base: #333,
///         background: #fbfbfb,
///         border: #eee,
///         background-hover: #f8f8f8,
///         border-hover: #333,
///      ),
///       secondary: (
///         base: #b8b8b8,
///         background: #fbfbfb,
///         border: #eee,
///      ),
///     ),
///   ));
///
/// @example html
///
///   <ul class="k-UserMenu">
///     <li>
///       <a class="k-UserMenu__item" href="#">
///         Item
///       </a>
///     </li>
///     <li>
///       <a class="k-UserMenu__item k-UserMenu__separation" href="#">
///         Item
///       </a>
///     </li>
///     …
///   </ul>

@mixin k-UserMenu($menu) {
  @include k-with-module('k-UserMenu: $menu') {

    $font: k-map-fetch($menu, 'font');
    $default: k-map-fetch($menu, ('colors', 'default'));
    $secondary: k-map-fetch($menu, ('colors', 'secondary'));

    $font-step: k-number-definition(
      k-map-fetch($menu, 'font-step'), $unit: none);
    $color: k-color-definition(
      k-map-fetch($default, 'base'));
    $background-color: k-color-definition(
      k-map-fetch($default, 'background'));
    $border-color: k-color-definition(
      k-map-fetch($default, 'border'));
    $background-color-hover: k-color-definition(
      k-map-fetch($default, 'background-hover'));
    $color-active: k-color-definition(
      k-map-fetch($default, 'color-active'));
    $border-color-active: k-color-definition(
      k-map-fetch($default, 'border-active'));

    $secondary-color: k-color-definition(
      k-map-fetch($secondary, 'base'));
    $secondary-background-color: k-color-definition(
      k-map-fetch($secondary, 'background'));
    $secondary-border-color: k-color-definition(
      k-map-fetch($secondary, 'border'));

    $arrow-size: 9px;
    $border-size: 1px;

    .k-UserMenu {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      border: $border-size solid $border-color;
      border-left: none;
      list-style-type: none;

      @include k-media-xs {
        border-right: none;
      }
    }

    .k-UserMenu__arrow {
      position: absolute;
      top: -($arrow-size - $border-size);
      right: 50%;

      display: block;
      width: 0;
      height: $arrow-size;

      &:after,
      &:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: " ";
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $background-color;
        border-width: $arrow-size - 3;
        margin-left: -($arrow-size - 3);
      }

      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $border-color;
        border-width: $arrow-size - 2;
        margin-left: -($arrow-size - 2);
      }

      &.is-hover:after {
        border-bottom-color: $background-color-hover;
      }
    }

    .k-UserMenu__item {
      display: block;
      padding: k-px-to-rem(15px) k-px-to-rem(20px);
      outline: none;
      border-left: $border-size solid $border-color;
      background: $background-color;

      @include k-typographyFont($font);
      @include k-typographyFontSize($font-step, 1);
      text-decoration: none;
      color: $color;

      transition: color .2s, background-color .2s, border-color .2s;

      &:hover {
        background-color: $background-color-hover;
        color: $color-active;
        text-decoration: none;
      }

      &:focus {
        background-color: $background-color-hover;
        border-left-color: $border-color-active;
        color: $color-active;
        text-decoration: none;
      }

      &.is-selected {
        border-left-color: $border-color-active;
        color: $color-active;
      }

      @include k-media-xs {
        border-left: none;
      }
    }

    .k-UserMenu__item--secondary {
      border-left: $border-size solid $secondary-border-color;
      background: $secondary-background-color;

      color: $secondary-color;
    }

    .k-UserMenu__separation {
      border-top: $border-size solid $border-color;
    }
  }
}
