/// A user menu.
///
/// @group navigation
///
/// @parameter {Map} $menu - a menu specification
///
/// @example scss - usage
///
///   @include k-UserMenu((
///     font: 'source-sans-semi-bold',
///     font-step: -2,
///     colors: (
///       base: #333,
///       background: #fbfbfb,
///       border: #eee,
///       background-hover: #f8f8f8,
///       border-hover: #333,
///     ),
///   ));
///
/// @example html
///
///   <ul class="k-UserMenu">
///     <li>
///       <a class="k-UserMenu__item" href="#">
///         Item
///       </a>
///     </li>
///     <li>
///       <a class="k-UserMenu__item k-UserMenu__separation" href="#">
///         Item
///       </a>
///     </li>
///     …
///   </ul>

@mixin k-UserMenu($menu) {
  @include k-with-module('k-UserMenu: $menu') {

    $font: k-map-fetch($menu, 'font');
    $font-step: k-number-definition(
      k-map-fetch($menu, 'font-step'), $unit: none);
    $color: k-color-definition(
      k-map-fetch($menu, ('colors', 'base')));
    $background-color: k-color-definition(
      k-map-fetch($menu, ('colors', 'background')));
    $border-color: k-color-definition(
      k-map-fetch($menu, ('colors', 'border')));
    $background-color-hover: k-color-definition(
      k-map-fetch($menu, ('colors', 'background-hover')));
    $border-color-hover: k-color-definition(
      k-map-fetch($menu, ('colors', 'border-hover')));

    $arrow-size: 8px;
    $border-size: 1px;

    .k-UserMenu {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      border: $border-size solid $border-color;
      border-left: none;
      list-style-type: none;
    }

    .k-UserMenu__arrow {
      position: absolute;
      top: -(k-px-to-rem($arrow-size - $border-size));
      right: 50%;

      display: block;
      width: 0;
      height: k-px-to-rem($arrow-size);

      &:after,
      &:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: " ";
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $background-color;
        border-width: $arrow-size - 3;
        margin-left: -($arrow-size - 3);
      }

      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $border-color;
        border-width: $arrow-size - 2;
        margin-left: -($arrow-size - 2);
      }
    }

    .k-UserMenu__item {
      display: block;
      padding: k-px-to-rem(15px) k-px-to-rem(20px);
      outline: none;
      border-left: $border-size solid $border-color;
      background: $background-color;

      @include k-typographyFont($font);
      @include k-typographyFontSize($font-step, 1);
      text-decoration: none;
      color: $color;

      transition: background-color .2s, border-color .2s;

      &:hover,
      &:focus {
        background-color: $background-color-hover;
        border-left-color: $border-color-hover;
      }
    }

    .k-UserMenu__separation {
      border-top: $border-size solid $border-color;
    }
  }
}
