<%= example 'Switch platform dropdown' do %>
  <div id="switch-platform-dropdown" class="karl-Dropdown--platformSwitch"></div>
  <script type="text/babel">
    const svg = (<svg className="k-ButtonIcon__svg" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 6.243L3.586 4.828 7.828.586 9.243 2z"/>
      <path d="M5 6.243L.757 2 2.172.586l4.242 4.242z"/>
    </svg>)

    ReactDOM.render(
      React.createElement(Dropdown, {
        label: 'k-PlatformSwitch',
        positionnedWith: 'parent',
        positionnedWithBorder: false,
        triggerButton: {
          className: 'k-ButtonIcon k-ButtonIcon--tiny',
          contentElement: {
            expanded: svg,
            collapsed: svg
          }
        },
        dropdownList: {
          className: 'k-PlatformSwitch',
          items: [
            <ExternalRichLink className="k-PlatformSwitch__item"></ExternalRichLink>,
            <ExternalRichLink className="k-PlatformSwitch__item"></ExternalRichLink>,
            <ExternalRichLink className="k-PlatformSwitch__item"></ExternalRichLink>
          ]
        }
      }),
      document.getElementById('switch-platform-dropdown')
    )
  </script>
<% end %>
