<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <div class="k-Grid">

      <% colors.each do |color| %>

        <div class="k-Grid__col k-Grid__col--3">
          <div class="karl-Colors">
            <div class="karl-Colors__cardBackground"
               style="background-color: <%= color[:hexa] %>;
                border-color: <%= color[:border] %>">
            </div>
            <div class="karl-Colors__cardDescription">
              <p class="karl-Colors__cardParagraph k-ParagraphXsSemiBold"><%= color[:name] %></p>
              <p class="karl-Colors__cardParagraph k-ParagraphXs"><%= color[:hexa] %></p>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

