<div class="karl-Example__column">
  <%= example "Button Tooltip" do %>
    <%= react_component('ButtonTooltip', props: {
        children: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
        id: 'button-tooltip',
        place: 'bottom',
      }
    ) %>
  <% end %>
</div>
