<%= example do %>
  <%#<div id="loan-simulator"></div>%>

  <%#<script type="text/babel">%>
    <%#ReactDOM.render(%>
      <%#React.createElement(LoanSimulator,%>
        <%#{ amountLabel: "J’ai besoin de",%>
          <%#amountPlaceholder: 'Entre 200 € et 10 000 €',%>
          <%#amountMin: 200,%>
          <%#amountMax: 10000,%>

          <%#amountEmptyError: 'Veuillez renseigner un montant',%>
          <%#amountOutOfBoundsError:%>
            <%#'Veuillez renseigner un montant compris entre 200 et 10 000 €',%>

          <%#installmentLabel: 'Je rembourse',%>
          <%#installmentName: 'duration',%>

          <%#durationText: 'Durée',%>
          <%#durationMin: 1,%>
          <%#durationMax: 36,%>
          <%#durationSymbol: 'mois',%>
          <%#durationSymbolPlural: 'mois',%>

          <%#feeText: 'Commission hellomerci',%>
          <%#feeForDuration: function(duration) {%>
            <%#if (duration > 24)%>
              <%#return 0.06%>
            <%#if (duration > 18)%>
              <%#return 0.05%>
            <%#if (duration > 10)%>
              <%#return 0.04%>
            <%#return 0.03%>
          <%#},%>

          <%#currencySymbol: '€',%>
          <%#locale: 'fr',%>

          <%#actionLabel: 'C’est parti !'%>
        <%#}),%>
      <%#document.getElementById('loan-simulator')%>
    <%#)%>
  <%#</script>%>
<% end %>
