@import 'kitten/atoms/buttons/button';
@import 'kitten/atoms/buttons/button-icon';

$button: (
  typography: $typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center
  ),
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #333
    ),
    focus: (
      color: #fff,
      background-color: #ddd,
    ),
    active: (
      color: #fff,
      background-color: #151515
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    )
  )
);

$button-icon: (
  size: (
    tiny: 30px,
    default: 40px,
    big: 50px
  ),
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #333
    ),
    focus: (
      color: #fff,
      background-color: #ddd,
    ),
    active: (
      color: #fff,
      background-color: #151515
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    )
  )
);

$icon: (
  width: 14px,
  height: 12px
);

@include k-Button($button);
@include k-ButtonIcon($button-icon, $icon);
