@import 'kitten';
@import 'kitten/atoms/typography/scale';
@import 'kitten/atoms/typography/body-copy';
@import 'kitten/atoms/buttons/button';

$typography: (
  root:        16px,
  font-size:   1rem,
  font-weight: 400,
  line-height: 1.5rem,

  typeface: (
    source-sans: (
      family: '"Source Sans Pro", Helvetica, Arial, sans-serif'
    ),
    source-sans-semi-bold: (
      family: '"Source Sans Pro", Helvetica, Arial, sans-serif'
    )
  ),

  body-copy: (
    family: 'source-sans',
    color: #333
  )
);

$typographic-scale: (
  typography: $typography,
  multiplier: $major-second,

  styles: (
    ParagraphXl: (
      family: 'source-sans',
      step: 2,

      font-weight: 400
    ),

    ParagraphLg: (
      family: 'source-sans',
      step: 1,

      font-weight: 400
    ),

    ParagraphMd: (
      family: 'source-sans',
      step: 0,

      font-weight: 400
    ),

    ParagraphSm: (
      family: 'source-sans',
      step: -1,

      font-weight: 400
    ),

    ParagraphXs: (
      family: 'source-sans',
      step: -2,

      font-weight: 400
    )
  )
);

$button: (
  typography: $typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center
  ),
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #333
    ),
    focus: (
      color: #fff,
      background-color: #ddd,
    ),
    active: (
      color: #fff,
      background-color: #151515
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    )
  )
);

@include k-TypographyScale($typographic-scale);
@include k-TypographyBodyCopy($typography);
@include k-Button($button);
