// Compiled by webpack, not by Sprockets.

// Kitten library
@import 'kitten';

// Style guide
@import 'kitten/karl';

$k-fonts: (
  source-sans-light: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 300
  ),
  source-sans: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  source-sans-semi-bold: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600
  ),
  source-sans-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400,
    transform: uppercase
  ),
  source-sans-semi-bold-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600,
    letter-spacing: 1px,
    transform: uppercase
  ),
  dosis: (
    family: ("Dosis", Helvetica, Arial, sans-serif),
    weight: 400
  )
);

$k-typography: k-typography-definition((
  root: 16px,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  scale-multiplier: $major-second
));

// ---------
// Utilities
// ---------

@import 'utilities/text/align';

// ------
// Atoms
// ------

// Buttons
@import 'atoms/buttons/button';
@import 'atoms/buttons/button-icon';
@import 'atoms/buttons/button-image';

// Form
@import 'atoms/form/checkbox';
@import 'atoms/form/label';
@import 'atoms/form/text-input';

// Notifications
@import 'atoms/notifications/badge';

// Typography
@import 'atoms/typography/body-copy';
@import 'atoms/typography/scale';

// ----------
// Molecules
// ----------

// Buttons
@import 'molecules/buttons/button-image-with-text';
@import 'molecules/buttons/button-with-badge';

// Cards
@import 'molecules/cards/card';

// Footer
@import 'molecules/footer/footer';

// Form
@import 'molecules/form/label-with-info';
@import 'molecules/form/search-input';
@import 'molecules/form/select';
@import 'molecules/form/slider-tooltip';
@import 'molecules/form/slider';
@import 'molecules/form/text-input-with-button';
@import 'molecules/form/text-input-with-info';
@import 'molecules/form/text-input-with-unit';

// Grid
@import 'molecules/grid/grid';
@import 'molecules/grid/row';

// Hero
@import 'molecules/heroes/hero';

// Links
@import 'molecules/links/external-rich-link';
@import 'molecules/links/link-list';

// Navigation
@import 'molecules/navigation/horizontal-nav';
@import 'molecules/navigation/tab-bar';
@import 'molecules/navigation/user-menu';
@import 'molecules/navigation/platform-switch';

// Simulators
@import 'molecules/simulators/simulator-result';

// Teaser
@import 'molecules/teaser/teaser';

// Testimonies
@import 'molecules/testimonies/testimony';
@import 'molecules/testimonies/testimony-list';

// ----------
// Organisms
// ----------

// Headers
@import 'organisms/headers/header';

// Simulators
@import 'organisms/simulators/loan-simulator';

// Dropdowns
@import 'organisms/dropdowns/dropdown';



// TODO move to assets/stylesheets/kitten/molecules/grid/line-of-actions
//
// Represents a title followed by two buttons, used on a homepage for example.
.k-LineOfActions {
  @include k-grid;
  text-align: center;
}
.k-LineOfActions__title {
  @include k-grid-col(12);
  @include k-typographyFont('source-sans-light');
  @include k-typographyFontSize(2);

  @include k-media-min('m') {
    @include k-grid-col(8);
    @include k-grid-offset(2);
    @include k-typographyFontSize(3);
  }

  @include k-media-min('l') {
    @include k-grid-col(6);
    @include k-grid-offset(3);
  }
}
.k-LineOfActions__action {
  // one button per line
  //     [ x ]
  //     [ x ]
  @include k-grid-col(12);

  @include k-media-min('m') {
    // one line of two buttons next to each other
    //    [ x ] [ x ]
    @include k-grid-col(6);
    &:nth-of-type(1) { text-align: right; }
    &:nth-of-type(2) { text-align: left; }
  }
}
