// Compiled by webpack, not by Sprockets.

// Kitten library
@import 'kitten';

// Style guide
@import 'kitten/karl';

$k-fonts: (
  source-sans: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  source-sans-semi-bold: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600
  ),
  source-sans-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400,
    transform: uppercase
  ),
  source-sans-semi-bold-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600,
    letter-spacing: 1px,
    transform: uppercase
  )
);

$k-typography: k-typography-definition((
  root: 16px,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  scale-multiplier: $major-second
));

// ------
// Atoms
// ------

// Buttons
@import 'atoms/buttons/button';
@import 'atoms/buttons/button-icon';
@import 'atoms/buttons/button-image';

// Form
@import 'atoms/form/label';
@import 'atoms/form/text-input';

// Typography
@import 'atoms/typography/body-copy';
@import 'atoms/typography/scale';

// ----------
// Molecules
// ----------

// Cards
@import 'molecules/cards/card';

// Form
@import 'molecules/form/label-with-info';
@import 'molecules/form/slider';
@import 'molecules/form/text-input-with-unit';
@import 'molecules/form/search-input';

// Hero
@import 'molecules/heroes/hero';

// Navigation
@import 'molecules/navigation/horizontal-nav';
@import 'molecules/navigation/tab-bar';
@import 'molecules/navigation/user-menu';
@import 'molecules/navigation/platform-switch';

// Simulators
@import 'molecules/simulators/simulator-result';

// Testimonies
@import 'molecules/testimonies/testimony';
@import 'molecules/testimonies/testimony-list';

// Links
@import 'molecules/links/external-rich-link';

// ----------
// Organisms
// ----------

// Headers
@import 'organisms/headers/header';

// Simulators
@import 'organisms/simulators/loan-simulator';

// Dropdowns
@import 'organisms/dropdowns/dropdown';
