// Vendor dependencies
@import '~modularscale-sass/stylesheets/modularscale';

// Helpers
@import './kitten/schema';
@import './kitten/definitions';
@import './kitten/helpers';

// Default config
@import 'kitten/default-config';

$k-typography: k-typography-definition((
  root: 16px,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  scale-multiplier: $major-second
));

// Buttons
@import './kitten/components/buttons/button-icon';
@import './kitten/components/buttons/button-image';
@import './kitten/components/buttons/button';

// Cards
@import './kitten/components/cards/card';

// Dev
@import './kitten/components/dev/dev-breakpoint';
@import './kitten/components/dev/dev-grid';

// Form
@import './kitten/components/form/label';
@import './kitten/components/form/text-input';
@import './kitten/components/form/text-input-with-button';

// Grid
@import './kitten/components/grid/container';
@import './kitten/components/grid/grid';

// Layout
@import './kitten/components/layout/horizontal-stroke';

// Lists
@import './kitten/components/lists/bullet-list';

// Navigation
@import './kitten/components/navigation/horizontal-nav';
@import './kitten/components/navigation/tab-bar';

// Notifications
@import './kitten/components/notifications/alert';
@import './kitten/components/notifications/badge';
@import './kitten/components/notifications/icon-badge';


// Typography
@import './kitten/components/typography/body-copy';
@import './kitten/components/typography/paragraph';
@import './kitten/components/typography/title';


// INCLUDES

@include k-Badge;
@include k-BulletList;
@include k-Button;
@include k-ButtonIcon;
@include k-ButtonImage;
@include k-Card;
@include k-Container;
@include k-Grid;
@include k-HorizontalNav;
@include k-HorizontalStroke;
@include k-Label;
@include k-Paragraph;
@include k-TabBar((z-index: 50));
@include k-TextInputWithButton;
@include k-Title;
