// Vendor dependencies
@import '~modularscale-sass/stylesheets/modularscale';

// Helpers
@import './kitten/schema';
@import './kitten/definitions';
@import './kitten/helpers';

// Default config
@import 'kitten/default-config';

$k-typography: k-typography-definition((
  root: 16px,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  scale-multiplier: $major-second
));

// Buttons
@import './kitten/components/buttons/button';

// Grid
@import './kitten/components/grid/container';
@import './kitten/components/grid/grid';
@import './kitten/components/grid/row';
@import './kitten/components/grid/vertical-grid';



// INCLUDES

@include k-Button;
@include k-Grid;
@include k-Row;
@include k-VerticalGrid;
