/// Tour
///
/// @group tours
///
/// @example scss - usage
///
///   @include k-Tour;
///
/// @example html
///
///   <div id="tour" class="k-Tour">
///     <div class="k-Tour__container">
///       <span class="k-Tour__close"></span>
///       <svg> … </svg>
///     </div>
///     <div class="k-Tour__content">
///       <p class="k-Tour__title"> … </p>
///       <p class="k-Tour__text"> … </p>
///       <div class="k-Tour__navigation">
///         <p class="k-Tour__numbering"> … </p>
///         <button class="k-Button
///                k-Button--default
///                k-ButtonIconWords
///                k-ButtonIconWords--default
///                k-ButtonIconWords--tiny
///                k-Tour--button"
///                disabled>
///         <span class="k-ButtonIcon
///                      k-ButtonIcon--default
///                      k-ButtonIcon--tiny
///                      is-disabled">
///           <svg class="k-ButtonIcon__svg" … ></svg>
///         </span>
///         Prec
///       </button>
///       <button class="k-Button
///                k-Button--default
///                k-ButtonIconWords
///                k-ButtonIconWords--default
///                k-ButtonIconWords--tiny
///                k-ButtonIconWords--iconRight
///                k-Tour--button">
///         Suiv
///         <span class="k-ButtonIcon
///                      k-ButtonIcon--default
///                      k-ButtonIcon--tiny">
///           <svg class="k-ButtonIcon__svg" … ></svg>
///         </span>
///       </button>
///       </div>
///     </div>
///   </div>

@mixin k-Tour {
  $background-color: #fff;
  $border-color: #eee;
  $border-size: 1px;

  // The composant `Tour`has a radius of .87rem (15px)
  // (designed border-radius) / 16px (base font-size)
  $border-radius: .87rem;

  .k-Tour {
    display: flex;

    max-width: k-px-to-rem(465px);
    min-height: k-px-to-rem(218px);

    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-size solid $border-color;
    box-sizing: border-box;
  }

  .k-Tour__container {
    display: flex;
    margin: .68rem .68rem 1.87rem .68rem;
  }

  .k-Tour__svg {
    display: flex;
    align-items: center;
  }

  .k-Tour__content {
    @include k-typographyFont('source-sans-light');
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  .k-Tour__title {
    @include k-typographyFontSize(2);
    margin-top: 0;
    margin-bottom: 0;
  }

  .k-Tour__text {
    @include k-typographyFontSize(-1);
  }

  .k-Tour__navigation {
    display: flex;
    margin-top: auto;
  }

  .k-Tour__numbering{
    @include k-typographyFont('source-sans-semi-bold');
    margin: 0;
    padding-right: 2.4rem;
    font-size: .87rem;
  }

  .k-Tour__button {
    margin-right: .62rem;
  }
}
