/// Tour
///
/// @group tours
///
/// @example scss - usage
///   @include k-Tour;
///
/// @example html
/// <div class="k-Tour"
///      role="dialog"
///      id="mytour"
///      aria-hidden="true"
///      aria-labelledby="dialogtitle">
///   <div class="k-Tour__container">
///     <svg> … </svg>
///   </div>
///   <div class="k-Tour__content">
///     <p id="dialogtitle" class="k-Tour__title"> … </p>
///       <p class="k-Tour__text"> … </p>
///     <div class="k-Tour__navigation">
///       <p class="k-Tour__numbering"> … </p>
///       <button title="Précédent" class="k-Tour__button
///                                        k-Button
///                                        k-Button--default
///                                        k-Button--tiny
///                                        k-Button--icon"
///                                        disabled>
///         <svg class="k-Button__icon" … ></svg>
///         Prec
///       </button>
///       <button title="Suivant" class="k-Tour--button
///                                      k-Button
///                                      k-Button--default
///                                      k-Button--tiny
///                                      k-Button--icon
///                                      k-Button--iconRight">
///         Suiv
///         <svg class="k-ButtonIcon__svg" … ></svg>
///       </button>
///     </div>
///   </div>
/// </div>

@mixin k-Tour {
  $background-color: #fff;
  $border-color: #eee;
  $border-size: 1px;
  $border-radius: k-px-to-rem(15px);
  $margin-container: k-px-to-rem(11px);

  .k-Tour {
    display: flex;

    max-width: k-px-to-rem(465px);
    min-height: k-px-to-rem(218px);
    box-sizing: border-box;

    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-size solid $border-color;
  }

  .k-Tour__container {
    display: flex;
    margin: $margin-container $margin-container k-px-to-rem(30px) $margin-container;
  }

  .k-Tour__svg {
    display: flex;
    align-items: center;
  }

  .k-Tour__content {
    @include k-typographyFont('source-sans-light');
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  .k-Tour__title {
    @include k-typographyFontSize(2);
    margin-top: 0;
    margin-bottom: 0;
  }

  .k-Tour__text {
    @include k-typographyFontSize(-1);
  }

  .k-Tour__navigation {
    display: flex;
    margin-top: auto;
  }

  .k-Tour__numbering {
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-1);

    margin: 0;
    padding-right: k-px-to-rem(78px);
  }

  .k-Tour__button {
    margin-right: k-px-to-rem(10px);
  }
}
