/// Tour
///
/// @group tours
///
/// @example scss - usage
///   @include k-Tour;
///
/// @example html
/// <div class="k-Popover"
///      role="dialog"
///      id="mytour"
///      aria-hidden="true"
///      aria-labelledby="dialogtitle">
///   <div class="k-Popover__container">
///     <svg> … </svg>
///   </div>
///   <div class="k-Tour__popover__content">
///     <p id="dialogtitle" class="k-Tour__popover__title"> … </p>
///       <p class="k-Tour__popover__text"> … </p>
///     <div class="k-Tour__popover__navigation">
///       <p class="k-Tour__popover__numbering"> … </p>
///       <button title="Précédent" class="k-Tour__popover__button
///                                        k-Button
///                                        k-Button--default
///                                        k-Button--tiny
///                                        k-Button--icon"
///                                        disabled>
///         <svg class="k-Button__icon" … ></svg>
///         Prec
///       </button>
///       <button title="Suivant" class="k-Tour__popover__button
///                                      k-Button
///                                      k-Button--default
///                                      k-Button--tiny
///                                      k-Button--icon
///                                      k-Button--iconRight">
///         Suiv
///         <svg class="k-ButtonIcon__svg" … ></svg>
///       </button>
///     </div>
///   </div>
/// </div>

@mixin k-Tour {
  // Button transition animation.
  $animation-duration: .4s;

  // Target hightlight.
  $target-highlight-width: k-px-to-rem(30px);
  $target-highlight-height: k-px-to-rem(30px);
  $target-highlight-radius: k-px-to-rem(30px);

  .k-Tour {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .k-Tour__popover__illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: k-px-to-rem(80px);
  }

  .k-Tour__popover__svg--primary {
    fill: map-get($k-colors, 'primary-1');
  }

  .k-Tour__popover__container {
    display: flex;
  }

  .k-Tour__popover__content {
    @include k-typographyFont('source-sans-light');

    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  .k-Tour__popover__title {
    @include k-typographyFontSize(2);

    margin-top: 0;
    margin-bottom: 0;
  }

  .k-Tour__popover__text {
    @include k-typographyFontSize(-1);

    margin-top: k-px-to-rem(5px);
  }

  .k-Tour__popover__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .k-Tour__popover__numbering {
    @include k-typographyFont('source-sans-semi-bold');
    @include k-typographyFontSize(-1);

    margin: 0;
  }

  .k-Tour__popover__buttons {
    display: flex;
  }

  .k-Tour__popover__button {
    margin-right: k-px-to-rem(10px);

    transition: all $animation-duration ease;
    -webkit-transition: all $animation-duration ease;

    &:hover {
      transform: translateX(-2px);
      -webkit-transform: translateX(-2px);
    }

    &:disabled {
      transform: none;
      -webkit-transform: none;
    }
  }

  .k-Tour__popover__button--right {
    margin-right: 0;

    transition: all $animation-duration ease;
    -webkit-transition: all $animation-duration ease;

    &:hover {
      transform: translateX(2px);
      -webkit-transform: translateX(2px);
    }

    &:disabled {
      transform: none;
      -webkit-transform: none;
    }
  }

  .k-Tour__step__targetHighlight {
    position: absolute;
    width: $target-highlight-width;
    height: $target-highlight-height;
    border-radius: $target-highlight-radius;
    background: transparent;
    border: 1px solid map-get($k-colors, 'primary-1');

    &:before {
      content: "";

      @include k-tour-targetHighlightAnimation(
        $width: $target-highlight-width,
        $height: $target-highlight-height
      )
    }

    &:after {
      content: "";
      animation-delay: 0.8s;

      @include k-tour-targetHighlightAnimation(
        $width: $target-highlight-width,
        $height: $target-highlight-height
      )
    }

    .k-Tour__step__targetHighlightContent {
      transform: translate(-50%, -50%);
      display:block;
      animation-delay: 1.6s;

      @include k-tour-targetHighlightAnimation;
    }
  }
}

@keyframes k-tour-targetHighlightAnimationKeyframes {
  0% { transform: translate(-50%, -50%) scale(1); opacity:1; }
  100% { transform: translate(-50%, -50%) scale(2.5); opacity:0; }
}

@mixin k-tour-targetHighlightAnimation($width: 100%, $height: 100%) {
  $animation-duration: 3.5s;

  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(map-get($k-colors, 'primary-1'), 0.4);
  width: $width;
  height: $height;
  border-radius: 100%;
  animation-name: k-tour-targetHighlightAnimationKeyframes;
  animation-duration: $animation-duration;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
