/// Label With Info
///
/// Helps add information to the right of a label, usually over an input.
///
/// @group 0000_form
///
/// @example scss - usage
///
///   @include k-LabelWithInfo;
///
/// @example html
///
///   <div class="k-LabelWithInfo">
///     <label class="k-LabelWithInfo__label">Age</label>
///     <div class="k-LabelWithInfo__info">Your current age</div>
///   </div>
///   <input />
@mixin k-LabelWithInfo($label-with-info) {
  $colors: map-get($label-with-info, 'colors');
  $active-color: map-get($colors, 'active');
  $inactive-color: map-get($colors, 'inactive');

  .k-LabelWithInfo {
    display: flex;
    align-items: center;
  }

  .k-LabelWithInfo__label {
    flex: 1;
  }

  .k-LabelWithInfo__info {
    transition: color .25s;

    &.is-inactive {
      color: $inactive-color;
    }

    &.is-active {
      color: $active-color;
    }
  }
}
