/// Search input with icon.
///
/// @group form
///
/// @example scss - usage
///
///   @include k-SearchInput;
///
/// @example html
///
///   <form class="k-SearchInput">
///     <input class="k-TextInput k-SearchInput__input"
///            type="text"
///            name="foobar"
///            placeholder="Foobar" />
///     <input class="k-SearchInput__submit"
///            type="submit"
///            name="foobar_submit"
///            value="Search" />
///   </form>

@mixin k-SearchInput {

  $icon-data: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9Ii0wLjcgLTAuNyAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI3IiBjeT0iNyIgcj0iNyIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuMSIgZmlsbD0ibm9uZSIgLz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMTMgMTEgTDE3IDE1IEwxNS41IDE2LjUgTDExLjUgMTIuN3oiIC8+PC9zdmc+Cg==';
  $icon-size: k-px-to-rem(17px);

  .k-SearchInput {
    position: relative;
    display: inline-block;
  }

  .k-SearchInput__input {
    width: k-px-to-rem(160px);
    padding-right: k-px-to-rem(37px);
  }

  .k-SearchInput__submit {
    position: absolute;
    top: k-px-to-rem(12px);
    right: k-px-to-rem(12px);

    display: block;
    width: $icon-size;
    height: $icon-size;

    background: transparent url($icon-data) no-repeat;

    font: 0/0;
    line-height: 1;
    color: transparent;
    text-shadow: none;
    border: none;
    cursor: pointer;
  }
}
