/// Text input with unit
///
/// @group 0000_form
///
/// @example scss - usage
///
///   $text-input-with-unit: (
///     font: sans-serif,
///     colors: (
///       border: blue,
///       error: red
///     )
///   )
///
///   @include k-TextInputWithUnit($text-input-with-unit);
///
/// @example html
///
///   <div class="k-TextInputWithUnit">
///     <input class="k-TextInputWithUnit__input" />
///     <span class="k-TextInputWithUnit__unit">$</span>
///   </div>
@mixin k-TextInputWithUnit($text-input-with-unit) {
  $input-font: map-get($text-input-with-unit, 'input-font');
  $unit-font: map-get($text-input-with-unit, 'unit-font');
  $colors: map-get($text-input-with-unit, 'colors');
  $error-color: map-get($colors, 'error');
  $border-color: map-get($colors, 'border');

  .k-TextInputWithUnit {
    display: flex;
    border: 1px solid $border-color;
    border-radius: .3em;

    &.is-error {
      border-color: $error-color;
    }
  }

  .k-TextInputWithUnit__input {
    flex: 1;
    padding: 1em 2em; // ems to adapt to text size

    border: 0;
    background: transparent;

    @include k-font($input-font);

    // remove spinners on number inputs
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  .k-TextInputWithUnit__unit {
    padding: 1em 1.5em;
    border-left: 1px solid $border-color;

    @include k-font($unit-font);
    @include k-fontSize(1);

    .k-TextInputWithUnit.is-error & {
      border-color: $error-color;
    }
  }
}
