/// Text input with unit
///
/// @group form
///
/// @example scss - usage
///
///   @include k-TextInputWithUnit((
///     input-font: 'source-sans',
///     unit-font: 'source-sans-semi-bold',
///     border-color: #d8d8d8,
///     color: #333;
///     colors: (
///       unit: (
///         color: #4a84ff,
///       ),
///       is-valid: (
///         color: #70c050,
///       ),
///       is-error: (
///         color: #ff4146,
///       ),
///       inactive: (
///         color: #fff,
///       )
///     )
///   ));
///
/// @example html
///
///   <div class="k-TextInputWithUnit k-TextInputWithUnit--large">
///     <input class="k-TextInputWithUnit__input" />
///     <span class="k-TextInputWithUnit__unit">$</span>
///   </div>

@mixin k-TextInputWithUnit($input) {
  $input-font: k-string-definition(k-map-fetch($input, 'input-font'));
  $unit-font: k-string-definition(k-map-fetch($input, 'unit-font'));
  $border-color: k-color-definition(k-map-fetch($input, 'border-color'));
  $color: k-color-definition(k-map-fetch($input, 'color'));

  // Border
  $unit-color: k-color-definition(
    k-map-fetch($input, ('colors', 'unit', 'color')));

  // Valid
  $unit-color-is-valid: k-color-definition(
    k-map-fetch($input, ('colors', 'is-valid', 'color')));

  // Error
  $unit-color-is-error: k-color-definition(
    k-map-fetch($input, ('colors', 'is-error', 'color')));

  // Inactive
  $unit-color-inactive: k-color-definition(
    k-map-fetch($input, ('colors', 'inactive', 'color')));

  // Border radius Text - input
  $border-text-input: k-px-to-rem(4px);

  // Transition
  $transition-speed: .2s;

  .k-TextInputWithUnit {
    display: flex;
    position: relative; // to place an absolute unit

    box-sizing: border-box;
  }

  // Input
  .k-TextInputWithUnit__input {
    box-sizing: border-box;
    padding-right: k-px-to-rem(50px);
    outline: none; // since we introduce our own focus styles

    transition: all $transition-speed;

    @include k-typographyFont($input-font);
    @include k-formRemoveNumberSpinner;

    &:focus ~ .k-TextInputWithUnit__unit {
      border: 1px solid $unit-color;
      color: $color;
    }
  }

  // Unit
  .k-TextInputWithUnit__unit {
    position: absolute;
    right: 0;

    box-sizing: border-box;
    height: 100%;
    width: k-px-to-rem(50px);
    padding: k-px-to-rem(11px) k-px-to-rem(18px);

    border-top-right-radius: $border-text-input;
    border-bottom-right-radius: $border-text-input;
    border: 1px solid $border-color;

    color: $color;

    transition: all $transition-speed;

    @include k-typographyFont($unit-font);
    @include k-typographyFontSize(1);

    &.tiny {
      padding: k-px-to-rem(7px) k-px-to-rem(18px);
    }

    &.is-valid {
      border: 1px solid $unit-color-is-valid;
      color: $unit-color-is-valid;
    }

    &.is-error {
      border: 1px solid $unit-color-is-error;
      color: $unit-color-is-error;
    }

    &.inactive {
      border-left: 1px solid $unit-color-inactive;
      color: $unit-color-inactive;
    }
  }
}
