$k-fonts: (
  source-sans: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  source-sans-semi-bold: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600
  )
);

@import 'normalize';
@import 'kitten';
@import 'typography';
@import 'buttons';
@import 'styleguide';
@import 'form';
@import 'simulator';
