@import 'kitten/atoms/buttons/button';
@import 'kitten/atoms/buttons/button-icon';
@import 'kitten/atoms/buttons/button-image';

$button: (
  typography: $typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center
  ),
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #fff,
      background-color: #333
    ),
    focus: (
      color: #fff,
      background-color: #151515,
    ),
    active: (
      color: #fff,
      background-color: #151515
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    )
  )
);

$button-icon: (
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #333,
      background-color: #fff,
      border-color: #333
    ),
    focus: (
      color: #333,
      background-color: #fff,
      border-color: #333
    ),
    active: (
      color: #fff,
      background-color: #333
    ),
    disabled: (
      color: #fff,
      background-color: #d8d8d8
    ),
    is-selected: (
      color: #fff,
      background-color: #333
    )
  )
);

$button-image: (
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    hover: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    ),
    active: (
      color: #333,
      background-color: #fff,
      border-color: #d8d8d8
    )
  )
);

@include k-Button($button);
@include k-ButtonIcon($button-icon);
@include k-ButtonImage($button-image);
