@import 'kitten/atoms/navs';

$typography: map-merge($typography, (
  font-size:   k-px-to-rem(12px),
  line-height: k-px-to-rem(64px)
));

$horizontal-nav: (
  typography: $typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center
  ),
  colors: (
    base: (
      color: #333,
      background-color: #fff,
      border-color: #eee
    ),
    hover: (
      color: #4a84ff
    ),
    focus: (
      color: #4a84ff,
      border-color: #4a84ff,
    ),
    active: (
      color: #4a84ff,
      border-color: #4a84ff,
    ),
    is-selected: (
      color: #333,
      border-color: #333,
    )
  )
);

@include k-HorizontalNav($horizontal-nav);
