@import 'kitten/molecules/navs/horizontal-nav';

$horizontal-nav: (
  font: source-sans-semi-bold-uppercase,
  font-size: 12px,
  line-height: 24px,
  colors: (
    base: (
      background-color: #fff,
      border-color: #eee,
      color: #333,
    ),
    hover: (
      color: #4a84ff,
    ),
    focus: (
      border-color: #4a84ff,
      color: #4a84ff,
    ),
    is-selected: (
      color: #333,
      border-color: #333,
    )
  )
);

@include k-HorizontalNav($horizontal-nav);
