@import 'kitten/molecules/navigation/horizontal-nav';
@import 'kitten/molecules/navigation/tap-bar';

$typography: map-merge($typography, (
  font-size: k-px-to-rem(12px),
  line-height: k-px-to-rem(16px)
));

$horizontal-nav: (
  typography: $typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center,
  ),
  colors: (
    base: (
      background-color: #fff,
      border-color: #eee,
      color: #333,
    ),
    hover: (
      color: #4a84ff,
    ),
    focus: (
      border-color: #4a84ff,
      color: #4a84ff,
    ),
    is-selected: (
      color: #333,
      border-color: #333,
    )
  )
);

$tapbar: (
  font: source-sans-uppercase,
  font-step: -4,
  background-color: #333,
  color: #fff,
  z-index: 10
);

@include k-HorizontalNav($horizontal-nav);
@include k-TapBar($tapbar);
