@import 'kitten/molecules/simulators/simulator-result';
@import 'kitten/organisms/simulators/loan-simulator';

$simulator-result: (
  colors: (
    border: black,
    background: whitesmoke,
    text: black
  ),
  label-font: source-sans-uppercase,
  value-font: source-sans-semi-bold,
);

@include k-LoanSimulator;
@include k-SimulatorResult($simulator-result);
