//= require kitten/normalize

$k-fonts: (
  source-sans: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400
  ),
  source-sans-semi-bold: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600
  ),
  source-sans-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 400,
    transform: uppercase
  ),
  source-sans-semi-bold-uppercase: (
    family: ("Source Sans Pro", Helvetica, Arial, sans-serif),
    weight: 600,
    transform: uppercase,
    letter-spacing: 1px
  )
);

@import 'kitten';
@import 'typography';
@import 'buttons';
@import 'styleguide';
@import 'form';
@import 'simulator';
@import 'navs';
@import 'header';
