@import 'kitten/normalize';

$blue: #4a84ff;
$sapphire: #3b75f0;
$light-navy: #2c66e1;
$light-grey-1: #fbfbfb;
$light-grey-2: #d8d8d8;
$light-grey-3: #eeeeee; //border branding card

.karl-Container {
  background-color: $light-grey-1;
}

.karl-Content {
  padding-left: 15rem;
}

// Header
.karl-Title__header {
  padding-left: 1rem;

  background-color: $blue;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 4rem;
}

.karl-Title {
  // padding-left: 1rem;

  // background-color: $blue;
  // color: white;
  // font-size: 1.2rem;
  // font-weight: 300;
  // line-height: 4rem;

  padding-top: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-bottom: 3px solid $light-grey-2;

  color: #333;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.karl-Title__breadcrumb {
  padding-top: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-bottom: 2px solid $light-grey-2;

  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4rem;
  text-transform: capitalize;
}

// Menu Dropdown
.karl-Menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  z-index: 2;

  background-color: $sapphire;
  color: white;

  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  ul { margin: 0; padding: 0; }
}

.karl-Menu__title {
  float: right;
  padding-right: 1rem;
  margin-top: 1.3rem;

  font-size: .75rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
}

.karl-Menu__list {
  & > a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }
}

.karl-Menu__listTitle {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding: 3.125rem 0 1rem 1rem;
  display: block;

  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

.karl-Menu__listItem {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding: 1.5rem 0 .75rem 1rem;
  display: block;

  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.with-arrow {
    &:after {
      position: absolute;
      content: "\022C1";
      right: 1.8em;
    }

    &.is-opened {
      background-color: $light-navy;

      &:after {
        content: "\022C0";
      }
    }
  }
  &:hover,
  &:focus {
    background-color: $light-navy;
  }
}

.karl-Menu__subListItem {
  position: relative;
  border-bottom: 1px solid $light-navy;
  padding-left: 2rem;
  display: block;

  list-style: none;

  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 3.2rem;
  color: inherit;
  text-decoration: none;

  &.with-arrow {
    &:after {
      position: absolute;
      content: "\022C1";
      right: 1.8em;
    }

    &.is-opened {
      background-color: $light-navy;

      &:after {
        content: "\022C0";
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $light-navy;
  }
}

.karl-Menu__subList,
.karl-Menu__subSecondList {
  display: none;

  &.is-opened {
    display: block;
  }
}

.karl-Menu__subSecondListItem {
  border-bottom: 1px solid $light-navy;
  display: block;
  padding-left: 3rem;

  list-style: none;

  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 3.2rem;
  color: #cadbfd;
  text-decoration: none;

  &:hover,
  &:focus,
  &.is-selected,
  &.is-opened {
    background-color: $light-navy;
  }
}

// Branding/Colors
.karl-Colors__content {
  display: flex;
}

.karl-Colors__card {
  float: left;
  width: 180px;
  margin: .6rem 4.5rem 2.5rem 0;
}

.karl-Colors__cardBackground {
  padding-top: 8rem;
  background-color: $light-navy;
  border: solid 1px $light-grey-3;
}

.karl-Colors__cardDescription {
  padding: .12rem .6rem;
  border: solid 1px $light-grey-3;
  background-color: white;
}

.karl-Colors__cardParagraph {
  margin: .12rem 0;
}

// Branding/Fonts
.karl-Fonts__content {
  display: flex;
}

.karl-Fonts__card {
  float: left;
  width: 180px;
  height: 120px;
  border: solid 1px $light-grey-3;
  background-color: white;
  margin: .6rem 4.5rem 2.5rem 0;
}

.karl-Fonts__cardDescription {
  text-align: center;
}

.karl-Fonts__cardTitle {
  font-size: 1.125rem;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.karl-Fonts__cardParagraph {
  font-size: .75rem;
}

// Section

.karl-Section {
  padding: 3.25em 8em;
}

.karl-Section__example {
  margin: 2rem 8rem 0 8rem;

  display: flex;
  flex-direction: row;
}

@media (max-width: 1100px) {
  .karl-Section__example {
    display: block;
  }
}

.karl-Section__example--vertical {
  margin: 2rem 8rem 0 8rem;

  flex-direction: column;
}

.karl-Section__title {
  margin: 4rem 0 0 8rem;

  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

// Section Example
.karl-Example {
  padding-right: 3rem;
}

.karl-Example__title {
  color: $blue;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
}

.karl-Example__title--margin {
  padding-right: 2rem;
}

.karl-Example__description {
  margin-right: 6rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
  width: 40%;
}

@media (max-width: 1100px) {
  .karl-Example__description {
    width: 90%;
    padding-right: 6em;
  }
}

.karl-Example__bloc {
  margin-top: 1.5rem;
  background-color: $blue;
  width: 470px;
  height: 272px;
}

@media (max-width: 1100px) {
  .karl-Example__bloc {
    width: 90%;
  }
}


// Utilities

.k-u-clearfix:after {
  content: " ";
  display: table;
  clear: both;
}


// Overlay grid

.karl-OverGrid {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99999;
}

.karl-OverGrid__row {
  @include container;
  box-sizing: border-box;
  padding: 0 gutter();

  height: 100%;
  outline: 1px dotted rgba(0, 0, 0, .2);
}

.karl-OverGrid__col {
  @include span(1);
  height: 100%;
  min-height: 3rem;
  background: rgba(0, 0, 0, .1);
}
