/// Card
///
/// @group cards
///
/// @example scss - usage
///
///   @include k-Card;
///
/// @example html
///
///   <div class="k-Card k-Card--light">
///     <div style="k-Card--padded">...</div>
///   </div>
@mixin k-Card {
  $light-background-color: map-get($k-colors, 'background-1');
  $light-text-color: map-get($k-colors, 'font-1');

  $radius: 1rem;

  .k-Card {
    padding-top: $radius;
    padding-bottom: $radius;

    border-radius: $radius;
  }

  .k-Card--light {
    background: $light-background-color;
    color: $light-text-color;
  }

  .k-Card--padded {
    padding-left: k-px-to-rem(50px);
    padding-right: k-px-to-rem(50px);
  }
}
