/// A list of links, used for example in the footer.
///
/// @group links
///
/// @example scss - usage
///   @include k-LinkList((
///     colors: (
///       link: black,
///       link-active: grey,
///       link-hover: blue,
///     ),
///   ));
///
/// @example html
///   <ul class="k-LinkList">
///     <li class="k-LinkList__item">
///       <a class="k-LinkList__link" href="#">Link A</a>
///      </li>
///     <li class="k-LinkList__item">
///       <a class="k-LinkList__link" href="#">Link B</a>
///      </li>
///   </ul>

@mixin k-LinkList($link-list) {
  $link-color: k-default(map-get-deep($link-list, ('colors', 'link')), inherit);
  $active-color: map-get-deep($link-list, ('colors', 'link-active'));
  $hover-color: map-get-deep($link-list, ('colors', 'link-hover'));

  .k-LinkList {
    // override ul defaults
    text-align: center;
    list-style-type: none;
    padding: 0;

    @include k-media-min('l') {
      text-align: left;
    }
  }

  .k-LinkList__item {
    margin: 0 0 k-px-to-rem(10px);
  }

  .k-LinkList__link {
    @include k-typographyFont('light');
    @include k-typographyFontSize(2);

    text-decoration: none;

    color: $link-color;

    &:active,
    &.is-active {
     color: $active-color;
    }

    &:hover {
      color: $hover-color;
    }

    transition: color .2s;
  }

  .k-LinkList--withoutMargin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
