<div class="k-Container">
  <div class="k-Grid">
    <div class="k-Grid__col k-Grid__col--12">
      <%= example 'Embed player' do %>
        <%= react_component 'EmbedPlayer', props: {
          previewProps: {
            thumbnail: {
              src: 'https://placehold.it/620x376/caf4fe/caf4fe',
              alt: 'Une image',
            },
            badgeComponent: nil,
          },
          playButtonLabel: 'Play',
          ratio: (376.0 / 620) * 100,
          iframeVideo:
            '<iframe
              width="620"
              height="376"
              src="https://www.youtube.com/embed/30wT8ZJOeDA"
              frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen
            ></iframe>',
        } %>
      <% end %>
    </div>
  </div>
</div>
