/// Apply separator basic display.
///
/// @group separators
///
/// @example scss - Usage
///   .k-MySeparator {
///     @include separatorBase;
///   }
///
/// @example css - CSS output
///
/// @example html
///   .k-MySeparator {
///     margin: 0;
///     border: none;
///     background: map-get($k-colors, 'line-1');
///   }

@mixin k-separatorBase {
  margin: 0;
  border: none;
  background: map-get($k-colors, 'line-1');
}
