<%= example 'Badge with one number' do %>
  <p>
    <span class="k-Badge">4</span>
  </p>
<% end %>

<%= example 'Badge with two numbers' do %>
  <p>
    <span class="k-Badge">42</span>
  </p>
<% end %>

<%= example 'Badge with more numbers' do %>
  <p>
    <span class="k-Badge">4242</span>
  </p>
<% end %>
