<%= example "button" do %>
  <span class="k-Button">
    button
  </span>
<% end %>

<%= example "long button" do %>
  <span class="k-Button">
    button with many words
  </span>
<% end %>

<%= example "disable" do %>
  <span class="k-Button">
    button
  </span>
<% end %>
