<%= example "button" do %>
  <button class="k-Button">
    button
  </button>
<% end %>

<%= example "long button" do %>
  <button class="k-Button">
    button with many words
  </button>
<% end %>

<%= example "disable" do %>
  <button class="k-Button" disabled="disabled">
    button
  </button>
<% end %>
