<%= example "Button" do %>
  <span class="k-Button">
    button
  </span>
<% end %>

<%= example "LongButton" do %>
  <span class="k-Button">
    button with many words
  </span>
<% end %>

<%= example "Disable" do %>
  <span class="k-Button">
    button
  </span>
<% end %>
