<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--10">
    <%= example 'Comment' do %>
      <%= react_component 'CommentForm', props: {
        ownerImgProps: { src: 'https://placehold.it/80x80/caf4fe/caf4fe' },
        ownerName: 'Camille',
        ownerTime: '2 min',
        placeholder: 'Laisser un commentaire sur le projet',
        commentButton: 'Comment',
      } %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--10">
    <%= example 'Comment Error' do %>
      <%= react_component 'CommentForm', props: {
        ownerImgProps: { src: 'https://placehold.it/80x80/caf4fe/caf4fe' },
        ownerName: 'Camille',
        ownerTime: '2 min',
        placeholder: 'Laisser un commentaire sur le projet',
        commentButton: 'Comment',
        errorMessage: 'Bastien parle trop',
      } %>
    <% end %>
  </div>
</div>
