<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12 k-Grid__col--6@l">
    <div class="k-Grid">
      <div class="k-Grid__col k-Grid__col--12 k-Grid__col--12@m k-Grid__col--12@l">
        <%= example 'Tiny' do %>
          <%= react_component 'FormPhoneNumber', props: {
              areaOptions: [
                { value: '+33', label: '+33' },
                { value: '+44', label: '+44' },
                { value: '+34', label: '+34' },
                { value: '+39', label: '+39' }
              ],
              areaName: 'area',
              areaValue: '+44',
              placeholder: 'Lorem ipsum dolor sit amet',
              tiny: true,
            } %>
        <% end %>

        <%= example 'Normal' do %>
          <%= react_component 'FormPhoneNumber', props: {
              areaOptions: [
                { value: '+33', label: '+33' },
                { value: '+44', label: '+44' },
                { value: '+34', label: '+34' },
                { value: '+39', label: '+39' }
              ],
              areaName: 'area',
              areaValue: '+33',
              placeholder: 'Lorem ipsum dolor sit amet',
            } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
