<%= example 'default' do %>
  <div class="k-SliderTooltip">
    <div class="k-SliderTooltip__tip">
      <div class="k-SliderTooltip__tip__content">
        Drag me
      </div>
    </div>
    <div class="k-SliderTooltip__arrow">
      <div class="k-SliderTooltip__arrow__content"></div>
    </div>
  </div>
<% end %>

<%= example 'inactive' do %>
  <div class="k-SliderTooltip is-inactive">
    <div class="k-SliderTooltip__tip">
      <div class="k-SliderTooltip__tip__content">
        Drag me
      </div>
    </div>
    <div class="k-SliderTooltip__arrow">
      <div class="k-SliderTooltip__arrow__content"></div>
    </div>
  </div>
<% end %>


<%= example 'with slider' do %>
  <div class="k-SliderTooltip">
    <div class="k-SliderTooltip__tip">
      <div class="k-SliderTooltip__tip__content"
           id="slidertooltip-tip">
        You are here
      </div>
    </div>
    <div class="k-SliderTooltip__arrow">
      <div class="k-SliderTooltip__arrow__content"
           id="slidertooltip-arrow"></div>
    </div>
  </div>
  <div class="k-Slider">
    <div class="k-Slider__ramp">
      <div class="k-Slider__progress"
           style="width: 25%"
           id="slidertooltip-progress"></div>
      <div class="k-Slider__handle"
           tabindex="0"
           style="left: 25%"
           id="slidertooltip-handle">
        <svg class="k-Slider__handleIcon" viewBox="0 0 100 100">
          <path d="M0 0 v100 h20 v-100 z" />
          <path d="M40 0 v100 h20 v-100 z" />
          <path d="M80 0 v100 h20 v-100 z" />
        </svg>
      </div>
    </div>
  </div>
  <script>
    setInterval(function() {
      var percentage = Math.random() * 100 + '%'
      document.getElementById('slidertooltip-tip').style.left = percentage
      document.getElementById('slidertooltip-arrow').style.left = percentage
      document.getElementById('slidertooltip-progress').style.width = percentage
      document.getElementById('slidertooltip-handle').style.left = percentage
    }, 2000)
  </script>
<% end %>
