/// A testimony
///
/// @group testimonies
///
/// @example scss - usage
///
///   @include k-Testimony((
///     font: 'source-sans',
///   ));
///
/// @example html
///
///   <div class="k-Testimony">
///     <div class="k-Testimony__title">…</div>
///     <img class="k-Testimony__image" alt="…" src="…" />
///     <blockquote class="k-Testimony__text">…</blockquote>
///   </div>
@mixin k-Testimony($testimony) {
  @include k-with-module('k-Testimony: $testimony') {
    $font: k-map-fetch($testimony, 'font');

    .k-Testimony {
      padding-top: k-px-to-rem(20px);
      padding-bottom: k-px-to-rem(20px);
      text-align: center;
    }

    .k-Testimony__title {
      margin: 0 0 k-px-to-rem(20px) 0;
      @include k-typographyFont($font);
      @include k-typographyFontSize(5);

      @include k-media-min('m') {
        @include k-typographyFontSize(4);
      }
    }

    .k-Testimony__image {
      border-radius: 50%;
    }

    .k-Testimony__text {
      margin: k-px-to-rem(10px) 0 0 0;
      @include k-typographyFont($font);
      @include k-typographyFontSize;
    }
  }
}
