<%= example "List of links" do %>
  <ul class="k-Footer__nav__links k-LinkList">
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Litterae</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Notae</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Bibliographia</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Nexus</a>
    </li>
  </ul>
<% end %>

<%= example "List of links with a selected item" do %>
  <ul class="k-Footer__nav__links k-LinkList">
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Litterae</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Notae</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link is-active" href="#">Bibliographia</a>
    </li>
    <li class="k-LinkList__item">
      <a class="k-LinkList__link" href="#">Nexus</a>
    </li>
  </ul>
<% end %>
