<%= react_component 'KarlHorizontalStrokes' %>

<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6">
    <%= example 'with content' do %>
      <%= react_component 'KarlHorizontalStrokesWithContent' %>
    <% end %>
  </div>
</div>
