<div class="karl-Example__column">
  <%= example "line with tooltip" do %>
    <%= react_component('KarlLineWithTooltip') %>
  <% end %>

  <%= example "line with Big icon" do %>
    <%= react_component('KarlLineWithBigHeart') %>
  <% end %>
</div>
