<div class="karl-Example__column">
  <%= example "line with tooltip" do %>
    <div class='k-Line'>
      <div class='k-Line__item'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <button class="k-ButtonIcon k-ButtonIcon--beryllium k-ButtonIcon--micro k-Line__item">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 4.32 8.32"
          class="k-ButtonIcon__svg"><path d="M3 2.09a.9.9 0 0 0-1-1 1.64 1.64 0 0
          0-1.23.62L0 1a2.72 2.72 0 0 1 2.1-1 2 2 0 0 1 2.22 2c0 1.52-1.87
          2.06-1.7 3.61H1.4C1.15 3.85 3 3.17 3 2.09zM2 6.45a.94.94 0 0 1 0
          1.87.89.89 0 0 1-.89-.94.89.89 0 0 1 .89-.93z">
        </path></svg>
      </button>
    </div>
  <% end %>

  <%= example "line with text" do %>
    <div class='k-Line'>
      <div class='k-Line__item'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <div class='k-Line__item'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eos soluta odit est quod ad aperiam dolore consequatur voluptatum provident fugiat cumque rem labore doloremque ab assumenda nulla, rerum totam.
      </div>
    </div>
  <% end %>
</div>
