<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Normal' do %>
      <%= react_component 'Separator' %>
    <% end %>

    <%= example 'Darker' do %>
      <%= react_component 'Separator', props: {
          darker: true,
      } %>
    <% end %>
  </div>
</div>
