<%= example do %>
  <label class="k-Label k-StyleguideExample__title" for="age">A label</label>
  <input id="age" name="age" />
<% end %>

<%= example do %>
  <span class="k-Label k-StyleguideExample__title" onclick="document.getElementById('m').focus()">
    Another label
  </span>
  <label class="k-StyleguideExample__title--margin"><input type="radio" name="sex" value="m" id="m" /> Male</label>
  <label class="k-StyleguideExample__title--margin"><input type="radio" name="sex" value="f" /> Female</label>
  <label><input type="radio" name="sex" value="n" /> Non-binary</label>
<% end %>
