<%= example do %>
  <div class="k-Checkbox">
    <input id="input-1" type="checkbox" class="k-Checkbox__input" />
    <label for="input-1" class="k-Checkbox__label">Filtre 1</label>
  </div>

  <div class="k-Checkbox">
    <input id="input-2" type="checkbox" class="k-Checkbox__input" />
    <label for="input-2" class="k-Checkbox__label">Filtre 2</label>
  </div>

  <div class="k-Checkbox">
    <input id="input-3" type="checkbox" class="k-Checkbox__input" />
    <label for="input-3" class="k-Checkbox__label">Filtre 3</label>
  </div>

  <div class="k-Checkbox">
    <input id="input-4" type="checkbox" disabled='disabled'
      class="k-Checkbox__input" />
    <label for="input-4" class="k-Checkbox__label">Filtre 4 (disabled)</label>
  </div>
<% end %>
