<%= example 'Checkbox' do %>
  <div class="k-Checkbox">
    <input id="input-1" type="checkbox" class="k-Checkbox__input" />
    <label for="input-1" class="k-Checkbox__label">Filter 1</label>
  </div>

    <div class="k-Checkbox">
      <input id="input-2" type="checkbox" checked="checked"
        class="k-Checkbox__input" />
      <label for="input-2" class="k-Checkbox__label">Filter 2</label>
    </div>

<% end %>

<%= example 'Disabled checkbox' do %>
  <div class="k-Checkbox">
    <input id="input-3"
           type="checkbox"
           disabled
           class="k-Checkbox__input" />
    <label for="input-3" class="k-Checkbox__label">Filter 1</label>
  </div>

  <div class="k-Checkbox">
    <input id="input-4"
           type="checkbox"
           checked
           disabled
           class="k-Checkbox__input" />
    <label for="input-4" class="k-Checkbox__label">
      Filter 2
    </label>
  </div>
<% end %>
