<%= example 'Radio buttons' do %>

  <div class="k-RadioButton">
    <input id="radio-button-1-1"
           type="radio"
           name="radio-button-1"
           class="k-RadioButton__input" />
    <label for="radio-button-1-1" class="k-RadioButton__label">Default</label>
  </div>

  <div class="k-RadioButton">
    <input id="radio-button-1-2"
           type="radio"
           name="radio-button-1"
           checked
           class="k-RadioButton__input" />
    <label for="radio-button-1-2" class="k-RadioButton__label">Default</label>
  </div>

  <div class="k-RadioButton">
    <input id="radio-button-1-3"
           type="radio"
           name="radio-button-1"
           disabled
           class="k-RadioButton__input" />
    <label for="radio-button-1-3" class="k-RadioButton__label">Default</label>
  </div>

<% end %>

<%= example 'Large radio buttons' do %>

  <div class="k-RadioButton">
    <input id="radio-button-2-1"
           type="radio"
           name="radio-button-2"
           class="k-RadioButton__input" />
    <label for="radio-button-2-1" class="k-RadioButton__label k-RadioButton__label--large">Large</label>
  </div>

  <div class="k-RadioButton">
    <input id="radio-button-2-2"
           type="radio"
           name="radio-button-2"
           checked
           class="k-RadioButton__input" />
    <label for="radio-button-2-2" class="k-RadioButton__label k-RadioButton__label k-RadioButton__label--large">Large</label>
  </div>

  <div class="k-RadioButton">
    <input id="radio-button-2-3"
           type="radio"
           name="radio-button-2"
           disabled
           class="k-RadioButton__input" />
    <label for="radio-button-2-3" class="k-RadioButton__label k-RadioButton__label--large">Large</label>
  </div>

<% end %>
