<%= example 'Switch' do %>

  <div class="k-Switch">
    <input id="switch-input-1"
           type="checkbox"
           class="k-Switch__input" />
    <label for="switch-input-1" class="k-Switch__label">Label</label>
  </div>

  <div class="k-Switch">
    <input id="switch-input-2"
           type="checkbox"
           class="k-Switch__input"
           checked />
    <label for="switch-input-2" class="k-Switch__label">Label</label>
  </div>

<% end %>

<%= example 'Switch - Disabled' do %>

  <div class="k-Switch">
    <input id="switch-input-3"
           type="checkbox"
           class="k-Switch__input"
           disabled />
    <label for="switch-input-3" class="k-Switch__label">Label</label>
  </div>

  <div class="k-Switch">
    <input id="switch-input-4"
           type="checkbox"
           class="k-Switch__input"
           checked
           disabled />
    <label for="switch-input-4" class="k-Switch__label">Label</label>
  </div>

<% end %>

<%= example 'Switch with big label' do %>

  <div class="k-Switch">
    <input id="switch-input-5"
           type="checkbox"
           class="k-Switch__input" />
    <label for="switch-input-5" class="k-Switch__label k-Switch__label--big">
      Label
    </label>
  </div>

  <div class="k-Switch">
    <input id="switch-input-6"
           type="checkbox"
           class="k-Switch__input"
           checked />
    <label for="switch-input-6" class="k-Switch__label k-Switch__label--big">
      Label
    </label>
  </div>

<% end %>

<%= example 'Switch with big label - Disabled' do %>

  <div class="k-Switch">
    <input id="switch-input-7"
           type="checkbox"
           class="k-Switch__input"
           disabled />
    <label for="switch-input-7" class="k-Switch__label k-Switch__label--big">
      Label
    </label>
  </div>

  <div class="k-Switch">
    <input id="switch-input-8"
           type="checkbox"
           class="k-Switch__input"
           checked
           disabled />
    <label for="switch-input-8" class="k-Switch__label k-Switch__label--big">
      Label
    </label>
  </div>

<% end %>
