/// Utilities to hide items according to media-queries.
///
/// @group display
///
/// @example scss - Usage
///
///   @include k-utilities-show;
///
/// @example html
///
///   <div class="k-u-show">…</div>
///
///   <div class="k-u-show@xxs-down">…</div>
///   <div class="k-u-show@xs-down">…</div>
///   <div class="k-u-show@s-down">…</div>
///   <div class="k-u-show@m-down">…</div>
///   <div class="k-u-show@l-down">…</div>
///
///   <div class="k-u-show@xs-up">…</div>
///   <div class="k-u-show@s-up">…</div>
///   <div class="k-u-show@m-up">…</div>
///   <div class="k-u-show@l-up">…</div>
///   <div class="k-u-show@xl-up">…</div>

@mixin k-utilities-show {
  .k-u-show {
    display: block;
  }

  @each $name, $query in $k-media-queries {

    @if $name != "xl" {
      .k-u-show\@#{$name}-down {
        @include k-media-max($name) {
          display: block;
        }
      }
    }

    @if $name != "xxs" {
      .k-u-show\@#{$name}-up {
        @include k-media-min($name) {
          display: block;
        }
      }
    }
  }
}
