/// Popover
///
/// @group popovers
///
/// @example scss - usage
///   @include k-Popover;
///
/// @example html
/// <div class="k-Popover"
///      role="dialog"
///      aria-hidden="true"
///      aria-labelledby="dialogtitle">
///   <div class="k-Popover__container">
///     …
///     <div class="k-Popover__close">
///       <button class="k-ButtonIcon
///                      k-ButtonIcon--hydrogen
///                      k-ButtonIcon--tiny">
///         <svg class="k-ButtonIcon__svg k-ButtonIcon__svg--rotate"
///              xmlns="http://www.w3.org/2000/svg"
///              viewBox="-11 -4 125 105">
///           <path d="M91.968 21.407l-70.56 70.56-13.44-13.44 70.56-70.56z"/>
///           <path d="M91.968 78.527l-13.44 13.44-70.56-70.56 13.44-13.44z"/>
///         </svg>
///       </button>
///     </div>
///   </div>
/// </div>

@mixin k-Popover {
  $background-color: map-get($k-colors, 'background-1');
  $border-color: map-get($k-colors, 'line-1');
  $border-size: k-px-to-rem(1px);
  $border-radius: k-px-to-rem(15px);
  $margin-container: k-px-to-rem(10px);

  $text-font: 'light';
  $text-size: 0; // 16px

  $title-font: 'bold';
  $title-size: 2; // 20px

  .k-Popover {
    @include k-typographyFont($text-font);
    position: relative;

    width: k-px-to-rem(465px);
    box-sizing: border-box;

    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-size solid $border-color;
  }

  .k-Popover__container {
    min-height: k-px-to-rem(220px);
    box-sizing: border-box;
    margin: $margin-container;
  }

  .k-Popover__close {
    margin-left: $margin-container;
  }

  .k-Popover__illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: k-px-to-rem(80px);
  }

  .k-Popover__svg--primary {
    fill: map-get($k-colors, 'font-1');
  }

  .k-Popover__container {
    display: flex;
  }

  .k-Popover__content {
    @include k-typographyFont($text-font);

    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  .k-Popover__title {
    @include k-typographyFont($title-font);
    @include k-typographyFontSize($title-size);

    margin-top: 0;
    margin-bottom: 0;
  }

  .k-Popover__text {
    @include k-typographyFont($text-font);
    @include k-typographyFontSize($text-size);

    margin: 1em 0;
  }

  .k-Popover__navigation {
    bottom: k-px-to-rem(20px);

    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: k-px-to-rem(15px);

    width: k-px-to-rem(305px);
  }

  .k-Popover__buttons {
    display: flex;
  }
}
