/// HeaderTour
///
/// @group tours
///
/// @example scss - usage
///   @include k-HeaderTour;

@mixin k-HeaderTour {
  $header-height: 65px;
  $step-top-position: k-px-to-rem($header-height + 10px);
  $step-left-position: k-px-to-rem(20px);

  .k-HeaderTour {
    display: none;

    @include k-media-min("l") {
      display: block;
    }

    .k-Tour__popover {
      position: fixed;
      top: $step-top-position;
      left: $step-left-position;
    }

    .k-Tour__step__targetHighlight {
      position: fixed;
    }
  }
}
