/// Setup a button element.
///
/// This mixin will setup an element to look like a button.
///
/// Vertical paddings depend on the vertical-rhythm and horizontal paddings
/// depend on the font-size.
///
/// k-Button--icon is different to k-ButtonIcon. This class is only used on
/// button-with-icon-words.
/// - `.k-Button--icon`
///
/// Available color modifiers:
/// - `.k-Button--hydrogen`
/// - `.k-Button--helium`
/// - `.k-Button--lithium`
/// - `.k-Button--beryllium`
/// - `.k-Button--carbon`
///
/// Available size modifiers:
/// - `.k-Button--tiny`
/// - `.k-Button--big`
/// - `.k-Button--big@s-up`
///
/// @group buttons
///
/// @example scss button - Usage
///   @include k-Button;
///
/// @example html
///  <button class="k-Button k-Button--hydrogen">My button</button>
///
/// @example html
///  <button class="k-Button
///                 k-Button--hydrogen,
///                 k-Button--icon">
///    <svg class="k-Button__icon" … /></svg>
///    My button
///  </button>

@mixin k-Button {
  $font: 'regular';
  $border-size: 1px;

  // Colors.
  $hydrogen-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $helium-colors: (
    base: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-1'),
    ),
    hover: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-2'),
      background-color: map-get($k-colors, 'primary-2'),
    ),
    focus: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-2'),
      background-color: map-get($k-colors, 'primary-2'),
    ),
    active: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-3'),
    ),
    is-selected: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-3'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $lithium-colors: (
    base: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $beryllium-colors: (
    base: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $carbon-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-2'),
      background-color: map-get($k-colors, 'background-2'),
    ),
    focus: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-2'),
      background-color: map-get($k-colors, 'background-2'),
    ),
    active: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-3'),
      background-color: map-get($k-colors, 'background-3'),
    ),
    is-selected: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-3'),
      background-color: map-get($k-colors, 'background-3'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  // Size settings button.
  $button-size-tiny: 30px - ($border-size * 2);
  $button-size: 40px - ($border-size * 2);
  $button-size-big: 50px - ($border-size * 2);

  $button-tiny-min-width: k-px-to-rem(110px);
  $button-tiny-line-height: k-px-to-rem($button-size-tiny);

  $button-min-width: k-px-to-rem(160px);
  $button-line-height: k-px-to-rem($button-size);

  $button-big-min-width: k-px-to-rem(200px);
  $button-big-line-height: k-px-to-rem($button-size-big);

  // Button radius settings.
  $button-radius: k-px-to-rem(20px);
  $button-big-radius: k-px-to-rem(25px);

  // Button font-size is computed using a modular scale and a defined step of this
  // scale.
  $button-step: -1;

  // SVG element default settings.
  $icon-width: k-px-to-rem(12px);
  $icon-height: k-px-to-rem(14px);

  $icon-width-tiny: k-px-to-rem(10px);
  $icon-height-tiny: k-px-to-rem(12px);

  $transition-speed: .2s;

  // Big size options button.
  $buttonBigOptions: (
    typography-step: $button-step,
    line-height: $button-big-line-height,
    radius: $button-big-radius,
    width: $button-big-min-width,
    icon-size: $button-size-big,
    icon-width: $icon-width,
    icon-height: $icon-height,
  );

  .k-Button {
    @include k-buttonBase;
    @include k-typographyFontSize($button-step, $button-line-height);
    @include k-typographyFont($font);

    padding: 0 $button-radius;
    border-radius: $button-radius;
    min-width: $button-min-width;

    text-align: center;
    text-decoration: none;
  }

  // Colors modifiers.

  .k-Button--hydrogen {
    @include k-buttonColorBase($hydrogen-colors);
    @include k-buttonSvg($hydrogen-colors);
  }

  .k-Button--helium {
    @include k-buttonColorBase($helium-colors);
    @include k-buttonSvg($helium-colors);
  }

  .k-Button--lithium {
    @include k-buttonColorBase($lithium-colors);
    @include k-buttonSvg($lithium-colors);
  }

  .k-Button--beryllium {
    @include k-buttonColorBase($beryllium-colors);
    @include k-buttonSvg($beryllium-colors);
  }

  .k-Button--carbon {
    @include k-buttonColorBase($carbon-colors);
    @include k-buttonSvg($carbon-colors);
  }

  // Size modifiers.

  .k-Button--tiny {
    @include k-typographyFontSize(
      $button-step,
      $button-tiny-line-height
    );

    min-width: $button-tiny-min-width;

    &.k-Button--icon {
      .k-Button__icon {
        @include k-buttonRounded($button-size-tiny, $icon-width, $icon-height);
      }
    }
  }

  .k-Button--big {
    @include k-buttonBig($buttonBigOptions);
  }

  .k-Button--big\@s-up {
    @include k-media-min('s') {
      @include k-buttonBig($buttonBigOptions);
    }
  }

  // Button--icon

  .k-Button--icon {
    padding: 0 $button-radius 0 0;
    min-width: 0;

    .k-Button__icon {
      @include k-buttonRounded($button-size, $icon-width, $icon-height);

      box-sizing: content-box;
      display: inline-block;
      width: $icon-width;
      height: $icon-height;
      vertical-align: bottom;
      transition: fill $transition-speed;

      .k-Button__icon__stroke {
        transition: stroke $transition-speed;
      }
    }

    .k-Button__icon--tiny {
      @include k-buttonRounded(
        $button-size-tiny,
        $icon-width-tiny,
        $icon-height-tiny
      );

      box-sizing: content-box;
      display: inline-block;
      width: $icon-width-tiny;
      height: $icon-height-tiny;
      vertical-align: bottom;
      transition: fill $transition-speed;

      .k-Button__icon--tiny__stroke {
        transition: stroke $transition-speed;
      }
    }
  }

  .k-Button--iconRight {
    padding: 0 0 0 $button-radius;
  }

  .k-Button--iconWithMinWidth {
    padding: 0;
    min-width: $button-min-width;

    .k-Button__icon {
      width: auto;
    }
  }
}
