/// Setup a button icon element.
///
/// This mixin will setup an element to look like a button with a icon inside.
///
/// Paddings depend on the size of button and the size of icon.
/// It is computed automatically with these 2 values.
///
/// Available color modifiers:
/// - `.k-ButtonIcon--hydrogen`
/// - `.k-ButtonIcon--helium`
/// - `.k-ButtonIcon--lithium`
/// - `.k-ButtonIcon--beryllium`
/// - `.k-ButtonIcon--boron`
/// - `.k-ButtonIcon--carbon`
/// - `.k-ButtonIcon--facebook`
/// - `.k-ButtonIcon--twitter`
/// - `.k-ButtonIcon--linkedin`
///
/// Available size modifiers:
/// - `k-ButtonIcon--micro`
/// - `k-ButtonIcon--tiny`
/// - `k-ButtonIcon--big`
///
/// @group buttons
///
/// @example scss button - Usage
///   @include k-ButtonIcon;
///
/// @example html
///   <button class="k-ButtonIcon k-ButtonIcon--hydrogen">
///     <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
///          xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
///          5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
///          5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
///          1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
///          7 2.927z"/></svg>
///   </button>

@mixin k-ButtonIcon {
  $border-size: 1px;

  // Size settings.
  $button-size-micro: 20px - ($border-size * 2);
  $button-size-tiny: 30px - ($border-size * 2);
  $button-size: 40px - ($border-size * 2);
  $button-size-big: 50px - ($border-size * 2);

  // Colors.
  $hydrogen-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $helium-colors: (
    base: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-1'),
    ),
    hover: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-2'),
      background-color: map-get($k-colors, 'primary-2'),
    ),
    focus: (
      color: #fff,
      border-color: map-get($k-colors, 'primary-2'),
      background-color: map-get($k-colors, 'primary-2'),
    ),
    active: (
      color: #fff,
      background-color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
    ),
    is-selected: (
      color: #fff,
      background-color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $lithium-colors: (
    base: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $beryllium-colors: (
    base: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    active: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    is-selected: (
      color: map-get($k-colors, 'primary-3'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-5'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $boron-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'tertiary-1'),
      background-color: map-get($k-colors, 'tertiary-1'),
    ),
    hover: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'tertiary-2'),
      background-color: map-get($k-colors, 'tertiary-2'),
    ),
    focus: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'tertiary-2'),
      background-color: map-get($k-colors, 'tertiary-2'),
    ),
    active: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'tertiary-3'),
      background-color: map-get($k-colors, 'tertiary-3'),
    ),
    is-selected: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'tertiary-3'),
      background-color: map-get($k-colors, 'tertiary-3'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $carbon-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-1'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-2'),
      background-color: map-get($k-colors, 'background-2'),
    ),
    focus: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-2'),
      background-color: map-get($k-colors, 'background-2'),
    ),
    active: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-3'),
      background-color: map-get($k-colors, 'background-3'),
    ),
    is-selected: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'background-3'),
      background-color: map-get($k-colors, 'background-3'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  $facebook-colors: (
    base: (
      color: #fff,
      border-color: #3b5998,
      background-color: #3b5998,
    ),
    hover: (
      color: #fff,
      border-color: #2c4a89,
      background-color: #2c4a89,
    ),
    focus: (
      color: #fff,
      border-color: #2c4a89,
      background-color: #2c4a89,
    ),
    active: (
      color: #fff,
      border-color: #1d3b7a,
      background-color: #1d3b7a,
    ),
    is-selected: (
      color: #fff,
      border-color: #1d3b7a,
      background-color: #1d3b7a,
    ),
    disabled: (
      color: #fff,
      border-color: #d8d8d8,
      background-color: #d8d8d8,
    ),
  );

  $twitter-colors: (
    base: (
      color: #fff,
      border-color: #55acee,
      background-color: #55acee,
    ),
    hover: (
      color: #fff,
      border-color: #469ddf,
      background-color: #469ddf,
    ),
    focus: (
      color: #fff,
      border-color: #469ddf,
      background-color: #469ddf,
    ),
    active: (
      color: #fff,
      border-color: #388ed0,
      background-color: #388ed0,
    ),
    is-selected: (
      color: #fff,
      border-color: #388ed0,
      background-color: #388ed0,
    ),
    disabled: (
      color: #fff,
      border-color: #d8d8d8,
      background-color: #d8d8d8,
    ),
  );

  $linkedin-colors: (
    base: (
      color: #fff,
      border-color: #00669e,
      background-color: #00669e,
    ),
    hover: (
      color: #fff,
      border-color: #00578f,
      background-color: #00578f,
    ),
    focus: (
      color: #fff,
      border-color: #00578f,
      background-color: #00578f,
    ),
    active: (
      color: #fff,
      border-color: #004880,
      background-color: #004880,
    ),
    is-selected: (
      color: #fff,
      border-color: #004880,
      background-color: #004880,
    ),
    disabled: (
      color: #fff,
      border-color: #d8d8d8,
      background-color: #d8d8d8,
    ),
  );

  // SVG element default settings.
  $icon-width: k-px-to-rem(12px);
  $icon-height: k-px-to-rem(14px);

  $transition-speed: .2s;

  // Btn animate transition
  $animation-duration: .4s;

  .k-ButtonIcon {
    @include k-buttonBase;
    @include k-buttonRounded($button-size, $icon-width, $icon-height);
  }

  .k-ButtonIcon__svg {
    display: block;
    margin: 0;
    padding: 0;
    width: $icon-width;
    height: $icon-height;
    transition: fill $transition-speed;

    pointer-events: none;

    .k-ButtonIcon__svg__stroke {
      transition: stroke $transition-speed;
    }
  }

  // Mirror rotate
  // DEPRECATEF
  .k-ButtonIcon__svg--mirror {
    transform : rotate(-180deg);
    webkit-transform : rotate(-180deg);
  }

  // Animate rotate
  .k-ButtonIcon__svg--rotate {
    transition: all $animation-duration ease;
    -webkit-transition: all $animation-duration ease;

    &:hover {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }

  // Colors modifiers.
  .k-ButtonIcon--hydrogen {
    @include k-buttonColorBase($hydrogen-colors);
    @include k-buttonSvg($hydrogen-colors);
  }

  .k-ButtonIcon--helium {
    @include k-buttonColorBase($helium-colors);
    @include k-buttonSvg($helium-colors);
  }

  .k-ButtonIcon--lithium {
    @include k-buttonColorBase($lithium-colors);
    @include k-buttonSvg($lithium-colors);
  }

  .k-ButtonIcon--beryllium {
    @include k-buttonColorBase($beryllium-colors);
    @include k-buttonSvg($beryllium-colors);
  }

  .k-ButtonIcon--boron {
    @include k-buttonColorBase($boron-colors);
    @include k-buttonSvg($boron-colors);
  }

  .k-ButtonIcon--carbon {
    @include k-buttonColorBase($carbon-colors);
    @include k-buttonSvg($carbon-colors);
  }

  .k-ButtonIcon--facebook {
    @include k-buttonColorBase($facebook-colors);
    @include k-buttonSvg($facebook-colors);
  }

  .k-ButtonIcon--twitter {
    @include k-buttonColorBase($twitter-colors);
    @include k-buttonSvg($twitter-colors);
  }

  .k-ButtonIcon--linkedin {
    @include k-buttonColorBase($linkedin-colors);
    @include k-buttonSvg($linkedin-colors);
  }

  // Sizes modifiers.
  .k-ButtonIcon--micro {
    $micro-size: k-px-to-rem(8px);
    @include k-buttonRounded($button-size-micro, $micro-size, $micro-size);

    .k-ButtonIcon__svg {
      width: $micro-size;
      height: $micro-size;
    }
  }

  .k-ButtonIcon--tiny {
    @include k-buttonRounded($button-size-tiny, $icon-width, $icon-height);
  }

  .k-ButtonIcon--big {
    @include k-buttonRounded($button-size-big, $icon-width, $icon-height);
  }

  // Icon modifiers.
  .k-ButtonIcon--heart {
    $heart-size: k-px-to-rem(14px);
    @include k-buttonRounded($button-size-tiny, $heart-size, $heart-size);

    .k-ButtonIcon__svg {
      width: $heart-size;
      height: $heart-size;
    }
  }

  .k-ButtonIcon--signup,
  .k-ButtonIcon--phone {
    $signup-size: k-px-to-rem(18px);
    @include k-buttonRounded($button-size, $signup-size, $signup-size);

    .k-ButtonIcon__svg {
      width: $signup-size;
      height: $signup-size;
    }
  }

  .k-ButtonIcon--dropdown,
  .k-ButtonIcon--horizontalArrow {
    $horizontalArrow-width: k-px-to-rem(10px);
    $horizontalArrow-height: k-px-to-rem(7px);
    @include k-buttonRounded($button-size-tiny,
                             $horizontalArrow-width,
                             $horizontalArrow-height
                            );

    .k-ButtonIcon__svg {
      width: $horizontalArrow-width;
      height: $horizontalArrow-height;
    }
  }

  .k-ButtonIcon--verticalArrow {
    $verticalArrow-width: k-px-to-rem(9px);
    $verticalArrow-height: k-px-to-rem(12px);
    @include k-buttonRounded($button-size-tiny,
                             $verticalArrow-width,
                             $verticalArrow-height
                            );

    .k-ButtonIcon__svg {
      width: $verticalArrow-width;
      height: $verticalArrow-height;
    }
  }

  .k-ButtonIcon--checked--micro {
    $micro-size: k-px-to-rem(10px);
    @include k-buttonRounded($button-size-micro, $micro-size, $micro-size);

    .k-ButtonIcon__svg {
      width: $micro-size;
      height: $micro-size;
    }
  }

  .k-ButtonIcon--cross {
    $cross-size: k-px-to-rem(8px);
    @include k-buttonRounded($button-size-tiny, $cross-size, $cross-size);

    .k-ButtonIcon__svg {
      width: $cross-size;
      height: $cross-size;
    }
  }

  .k-ButtonIcon--empty--micro {
    @include k-buttonRounded($button-size-micro, 0, 0);
  }

  // Misc modifiers.
  .k-ButtonIcon--withoutHover {
    pointer-events: none;
  }
}
