/// Setup a button icon element.
///
/// This mixin will setup an element to look like a button with a icon inside.
///
/// Paddings depend on the size of button and the size of icon.
/// It is computed automatically with these 2 values.
///
/// Available color modifiers:
/// - `.k-ButtonIcon--hydrogen`
/// - `.k-ButtonIcon--helium`
/// - `.k-ButtonIcon--lithium`
/// - `.k-ButtonIcon--beryllium`
/// - `.k-ButtonIcon--carbon`
/// - `.k-ButtonIcon--facebook`
/// - `.k-ButtonIcon--twitter`
/// - `.k-ButtonIcon--linkedin`
///
/// Available size modifiers:
/// - `k-ButtonIcon--micro`
/// - `k-ButtonIcon--tiny`
/// - `k-ButtonIcon--big`
///
/// @group buttons
///
/// @example scss button - Usage
///   @include k-ButtonIcon;
///
/// @example html
///   <button class="k-ButtonIcon k-ButtonIcon--hydrogen">
///     <svg class='k-ButtonIcon__svg' viewBox="0 0 14 12"
///          xmlns="http://www.w3.org/2000/svg"><path d="M7 2.927C6.71 1.267
///          5.262.007 3.52.01 1.574.013-.003 1.595 0 3.543 0 4.485.37 5.34.97
///          5.97l.012.014L7.012 12l5.856-5.88c.698-.646 1.134-1.57
///          1.132-2.597-.002-1.95-1.582-3.525-3.53-3.523C8.73.002 7.284 1.267
///          7 2.927z"/></svg>
///   </button>

@mixin k-ButtonIcon {
  $border-size: 2px;

  // Size settings.
  $button-size-micro: 20px - ($border-size * 2);
  $button-size-tiny: 40px - ($border-size * 2);
  $button-size: 50px - ($border-size * 2);
  $button-size-big: 70px - ($border-size * 2);

  // SVG element default settings.
  $icon-width: k-px-to-rem(12px);
  $icon-height: k-px-to-rem(14px);

  // Button radius
  $button-radius: 0px;

  $transition-speed: .2s;

  // Btn animate transition
  $animation-duration: .4s;

  .k-ButtonIcon {
    @include k-buttonBase;
    @include k-buttonPadding($button-size, $icon-width, $icon-height);

    border-radius: $button-radius;
  }

  .k-ButtonIcon__svg {
    display: block;
    margin: 0;
    padding: 0;
    width: $icon-width;
    height: $icon-height;
    transition: fill $transition-speed;

    pointer-events: none;

    .k-ButtonIcon__svg__stroke {
      transition: stroke $transition-speed;
    }
  }

  .k-ButtonIcon__rounded {
    @include k-buttonPadding($button-size, $icon-width, $icon-height);
  }

  // Mirror rotate
  // DEPRECATED
  .k-ButtonIcon__svg--mirror {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }

  // Animate rotate
  .k-ButtonIcon__svg--rotate {
    transition: all $animation-duration ease;
    -webkit-transition: all $animation-duration ease;

    &:hover {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }

  // Colors modifiers.

  .k-ButtonIcon--hydrogen {
    @include k-buttonColors('hydrogen');
  }

  .k-ButtonIcon--helium {
    @include k-buttonColors('helium');
  }

  .k-ButtonIcon--lithium {
    @include k-buttonColors('lithium');
  }

  .k-ButtonIcon--beryllium {
    @include k-buttonColors('beryllium');
  }

  .k-ButtonIcon--carbon {
    @include k-buttonColors('carbon');
  }

  .k-ButtonIcon--facebook {
    @include k-buttonColors('facebook');
  }

  .k-ButtonIcon--twitter {
    @include k-buttonColors('twitter');
  }

  .k-ButtonIcon--linkedin {
    @include k-buttonColors('linkedin');
  }

  // Sizes modifiers.
  .k-ButtonIcon--micro {
    $micro-size: k-px-to-rem(9px);
    @include k-buttonRounded($button-size-micro);
    @include k-buttonPadding($button-size-micro, $micro-size, $micro-size);

    .k-ButtonIcon__svg {
      width: $micro-size;
      height: $micro-size;
    }
  }

  .k-ButtonIcon--tiny {
    @include k-buttonPadding($button-size-tiny, $icon-width, $icon-height);
  }

  .k-ButtonIcon--big {
    @include k-buttonPadding($button-size-big, $icon-width, $icon-height);
  }

  // Icon modifiers.
  .k-ButtonIcon--heart {
    $heart-size: k-px-to-rem(14px);
    @include k-buttonPadding($button-size-tiny, $icon-width, $icon-height);

    .k-ButtonIcon__svg {
      width: $heart-size;
      height: $heart-size;
    }
  }

  .k-ButtonIcon--signup,
  .k-ButtonIcon--phone {
    $signup-size: k-px-to-rem(18px);
    @include k-buttonPadding($button-size, $signup-size, $signup-size);

    .k-ButtonIcon__svg {
      width: $signup-size;
      height: $signup-size;
    }
  }

  .k-ButtonIcon--dropdown,
  .k-ButtonIcon--horizontalArrow {
    $horizontalArrow-width: k-px-to-rem(10px);
    $horizontalArrow-height: k-px-to-rem(7px);
    @include k-buttonPadding($button-size-tiny,
                             $horizontalArrow-width,
                             $horizontalArrow-height);

    .k-ButtonIcon__svg {
      width: $horizontalArrow-width;
      height: $horizontalArrow-height;
    }
  }

  .k-ButtonIcon--verticalArrow {
    $verticalArrow-width: k-px-to-rem(9px);
    $verticalArrow-height: k-px-to-rem(12px);
    @include k-buttonPadding($button-size-tiny,
                             $verticalArrow-width,
                             $verticalArrow-height);


    .k-ButtonIcon__svg {
      width: $verticalArrow-width;
      height: $verticalArrow-height;
    }
  }

  .k-ButtonIcon--checked--micro {
    $micro-size: k-px-to-rem(10px);
    @include k-buttonRounded($button-size-micro);
    @include k-buttonPadding($button-size-micro, $micro-size, $micro-size);

    .k-ButtonIcon__svg {
      width: $micro-size;
      height: $micro-size;
    }
  }

  .k-ButtonIcon--cross {
    $cross-size: k-px-to-rem(8px);
    @include k-buttonPadding($button-size-tiny, $cross-size, $cross-size);


    .k-ButtonIcon__svg {
      width: $cross-size;
      height: $cross-size;
    }
  }

  .k-ButtonIcon--empty--micro {
    @include k-buttonPadding($button-size-micro, 0, 0);
  }

  // Misc modifiers.
  .k-ButtonIcon--withoutHover {
    pointer-events: none;
  }
}
