/// Apply `Button`, `ButtonIcon` and `TagButton` buttons colors.
///
/// Available color modifiers:
/// - `hydrogen`
/// - `helium`
/// - `lithium`
/// - `beryllium`
/// - `carbon`
/// - `disabled`
/// - `facebook`
/// - `twitter`
/// - `linkedin`
///
/// @group buttons
///
/// @parameter {Map} $button - a map of colors
///
/// @example scss - Usage
///  $colors: (
///    base: (
///      color: #333,
///      border-color: #d8d8d8,
///      background-color: #fff,
///    ),
///    hover: (
///      color: #fff,
///      border-color: #4a84ff,
///      background-color: #4a84ff,
///    ),
///    focus: (…),
///    active: (…),
///    is-selected: (…),
///    disabled: (…),
///  );
///
///  .k-Button--hydrogen {
///    @include k-buttonColorBase($colors)
///  }
///
/// @example css - CSS output
///   .k-Button--hydrogen {
///     border: 1px solid #d8d8d8;
///     background-color: #fff;
///     color: #333;
///   }
///
///   .k-Button--hydrogen:hover {
///     border: 1px solid #4a84ff;
///     background-color: #fff;
///     color: #4a84ff;
///   }

$hydrogen-colors: (
  base: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'line-2'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  hover: (
    color: map-get($k-colors, 'primary-1'),
    border-color: map-get($k-colors, 'primary-1'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  focus: (
    color: map-get($k-colors, 'primary-1'),
    border-color: map-get($k-colors, 'primary-1'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  active: (
    color: map-get($k-colors, 'primary-3'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  is-selected: (
    color: map-get($k-colors, 'primary-3'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$helium-colors: (
  base: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-1'),
    background-color: map-get($k-colors, 'primary-1'),
  ),
  hover: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-2'),
    background-color: map-get($k-colors, 'primary-2'),
  ),
  focus: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-2'),
    background-color: map-get($k-colors, 'primary-2'),
  ),
  active: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'primary-3'),
  ),
  is-selected: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'primary-3'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$lithium-colors: (
  base: (
    color: map-get($k-colors, 'primary-1'),
    border-color: map-get($k-colors, 'primary-4'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  hover: (
    color: map-get($k-colors, 'primary-1'),
    border-color: map-get($k-colors, 'primary-1'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  focus: (
    color: map-get($k-colors, 'primary-1'),
    border-color: map-get($k-colors, 'primary-1'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  active: (
    color: map-get($k-colors, 'primary-3'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  is-selected: (
    color: map-get($k-colors, 'primary-3'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$beryllium-colors: (
  base: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'font-1'),
    background-color: map-get($k-colors, 'font-1'),
  ),
  hover: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-2'),
    background-color: map-get($k-colors, 'primary-2'),
  ),
  focus: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-2'),
    background-color: map-get($k-colors, 'primary-2'),
  ),
  active: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'primary-3'),
  ),
  is-selected: (
    color: map-get($k-colors, 'background-1'),
    border-color: map-get($k-colors, 'primary-3'),
    background-color: map-get($k-colors, 'primary-3'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$boron-colors: (
  base: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'tertiary-1'),
    background-color: map-get($k-colors, 'tertiary-1'),
  ),
  hover: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'tertiary-2'),
    background-color: map-get($k-colors, 'tertiary-2'),
  ),
  focus: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'tertiary-2'),
    background-color: map-get($k-colors, 'tertiary-2'),
  ),
  active: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'tertiary-3'),
    background-color: map-get($k-colors, 'tertiary-3'),
  ),
  is-selected: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'tertiary-3'),
    background-color: map-get($k-colors, 'tertiary-3'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$carbon-colors: (
  base: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'background-1'),
    background-color: map-get($k-colors, 'background-1'),
  ),
  hover: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'background-2'),
    background-color: map-get($k-colors, 'background-2'),
  ),
  focus: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'background-2'),
    background-color: map-get($k-colors, 'background-2'),
  ),
  active: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'background-3'),
    background-color: map-get($k-colors, 'background-3'),
  ),
  is-selected: (
    color: map-get($k-colors, 'font-1'),
    border-color: map-get($k-colors, 'background-3'),
    background-color: map-get($k-colors, 'background-3'),
  ),
  disabled: (
    color: map-get($k-colors, 'font-2'),
    border-color: map-get($k-colors, 'line-1'),
    background-color: map-get($k-colors, 'line-1'),
  ),
);

$facebook-colors: (
  base: (
    color: map-get($k-colors, 'background-1'),
    border-color: #3b5998,
    background-color: #3b5998,
  ),
  hover: (
    color: map-get($k-colors, 'background-1'),
    border-color: #2c4a89,
    background-color: #2c4a89,
  ),
  focus: (
    color: map-get($k-colors, 'background-1'),
    border-color: #2c4a89,
    background-color: #2c4a89,
  ),
  active: (
    color: map-get($k-colors, 'background-1'),
    border-color: #1d3b7a,
    background-color: #1d3b7a,
  ),
  is-selected: (
    color: map-get($k-colors, 'background-1'),
    border-color: #1d3b7a,
    background-color: #1d3b7a,
  ),
  disabled: (
    color: map-get($k-colors, 'background-1'),
    border-color: #d8d8d8,
    background-color: #d8d8d8,
  ),
);

$twitter-colors: (
  base: (
    color: map-get($k-colors, 'background-1'),
    border-color: #55acee,
    background-color: #55acee,
  ),
  hover: (
    color: map-get($k-colors, 'background-1'),
    border-color: #469ddf,
    background-color: #469ddf,
  ),
  focus: (
    color: map-get($k-colors, 'background-1'),
    border-color: #469ddf,
    background-color: #469ddf,
  ),
  active: (
    color: map-get($k-colors, 'background-1'),
    border-color: #388ed0,
    background-color: #388ed0,
  ),
  is-selected: (
    color: map-get($k-colors, 'background-1'),
    border-color: #388ed0,
    background-color: #388ed0,
  ),
  disabled: (
    color: map-get($k-colors, 'background-1'),
    border-color: #d8d8d8,
    background-color: #d8d8d8,
  ),
);

$linkedin-colors: (
  base: (
    color: map-get($k-colors, 'background-1'),
    border-color: #00669e,
    background-color: #00669e,
  ),
  hover: (
    color: map-get($k-colors, 'background-1'),
    border-color: #00578f,
    background-color: #00578f,
  ),
  focus: (
    color: map-get($k-colors, 'background-1'),
    border-color: #00578f,
    background-color: #00578f,
  ),
  active: (
    color: map-get($k-colors, 'background-1'),
    border-color: #004880,
    background-color: #004880,
  ),
  is-selected: (
    color: map-get($k-colors, 'background-1'),
    border-color: #004880,
    background-color: #004880,
  ),
  disabled: (
    color: map-get($k-colors, 'background-1'),
    border-color: #d8d8d8,
    background-color: #d8d8d8,
  ),
)
