/// Setup a tag button element.
///
/// This mixin will setup an element to look like a button with a tag inside.
///
/// Paddings depend on the size of button and the size of the tag.
/// It is computed automatically with these 2 values.
///
/// Available color modifier:
/// - `.k-ButtonIcon--hydrogen`
///
/// Available size modifier:
/// - `.k-TagButton--tiny`
///
/// Available icon modifier:
/// - `.k-TagButton--icon`
///
/// Available svg modifier:
/// - `.k-TagButton__svg`
///
/// @group buttons
///
/// @example scss - Usage
///   @include k-TagButton;
///
/// @example html
///   <button class="k-TagButton k-TagButton--hydrogen">Tag</button>
///
/// @example html
///   <button class="k-TagButton k-TagButton--icon">
///     <svg class="k-TagButton__icon" />
///   </button>

@mixin k-TagButton {
  $font: 'regular';
  $border-size: 1px;

  // Size settings tag-button.
  $tag-button-size-tiny: 30px - ($border-size * 2);
  $tag-button-size: 40px - ($border-size * 2);

  $tag-button-min-width:k-px-to-rem(60px);

  $tag-button-line-height-tiny: k-px-to-rem($tag-button-size-tiny);
  $tag-button-line-height: k-px-to-rem($tag-button-size);


  // Deprecated
  $tag-button-min-width-big: 80px - ($border-size * 2);
  $tag-button-line-height-big: 50px - ($border-size * 2);

  // Colors.
  $hydrogen-colors: (
    base: (
      color: map-get($k-colors, 'font-1'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    hover: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    focus: (
      color: map-get($k-colors, 'primary-1'),
      border-color: map-get($k-colors, 'primary-4'),
      background-color: map-get($k-colors, 'background-1'),
    ),
    active: (
      color: map-get($k-colors, 'background-1'),
      border-color: map-get($k-colors, 'primary-3'),
      background-color: map-get($k-colors, 'primary-3'),
    ),
    is-selected: (
      color: map-get($k-colors, 'background-1'),
      border-color: map-get($k-colors, 'primary-1'),
      background-color: map-get($k-colors, 'primary-1'),
    ),
    disabled: (
      color: map-get($k-colors, 'font-2'),
      border-color: map-get($k-colors, 'line-2'),
      background-color: map-get($k-colors, 'line-1'),
    ),
  );

  // The tag button has a radius of .25rem
  $tag-button-radius: .25rem;

  // Button font-size is computed using a modular scale and a defined step of
  // this scale.
  $button-step: -2; // 12px

  $transition-speed: .2s;

  .k-TagButton {
    @include k-buttonBase;
    @include k-typographyFont($font);
    @include k-typographyFontSize($button-step, $tag-button-line-height);

    padding: 0 k-px-to-rem(20px);
    border-radius: $tag-button-radius;
    min-height: $tag-button-line-height;
    min-width: $tag-button-min-width;
  }

  .k-TagButton--hydrogen {
    @include k-buttonColorBase($hydrogen-colors);
  }

  // Size modifier.
  .k-TagButton--tiny {
    @include k-typographyFontSize($button-step, $tag-button-line-height-tiny);

    min-height: $tag-button-line-height-tiny;
  }

  // Deprecated
  .k-TagButton--big {
    @include k-typographyFontSize($button-step, $tag-button-line-height-big);

    min-width: $tag-button-min-width-big;
    min-height: $tag-button-line-height-big;
  }

  // Icon modifier.
  .k-TagButton--icon {
    @include k-buttonColorBase($hydrogen-colors);
  }

  // svg modifier.
  .k-TagButton__icon {
    vertical-align: middle;
  }
}
