/// Setup a tag button element.
///
/// This mixin will setup an element to look like a button with a tag inside.
///
/// Paddings depend on the size of button and the size of the tag.
/// It is computed automatically with these 2 values.
///
/// Available color modifier:
/// - `.k-ButtonIcon--hydrogen`
///
/// Available size modifier:
/// - `.k-TagButton--big`
///
/// Available icon modifier:
/// - `.k-TagButton--icon`
///
/// Available svg modifier:
/// - `.k-TagButton__svg`
///
/// @group buttons
///
/// @example scss - Usage
///   @include k-TagButton;
///
/// @example html
///   <button class="k-TagButton k-TagButton--hydrogen">Tag</button>
///
/// @example html
///   <button class="k-TagButton k-TagButton--icon">
///     <svg class="k-TagButton__icon" />
///   </button>

@import 'default-colors-buttons';

@mixin k-TagButton {
  $border-size: 1px;

  // Font
  $font: 'bold';

  // Size settings tag-button.
  $tag-button-min-width: k-px-to-rem(60px - ($border-size * 2));
  $tag-button-line-height: k-px-to-rem(40px - ($border-size * 2));

  $tag-button-min-width-big: k-px-to-rem(80px - ($border-size * 2));
  $tag-button-line-height-big: k-px-to-rem(50px - ($border-size * 2));

  // The tag button has a radius of .25rem
  $tag-button-radius: .25rem;

  // Button font-size is computed using a modular scale and a defined step of
  // this scale.
  $button-step: -2;

  $transition-speed: .2s;

  .k-TagButton {
    @include k-buttonBase;
    @include k-typographyFont($font);
    @include k-typographyFontSize($button-step, $tag-button-line-height);

    padding: 0 k-px-to-rem(20px);
    border-radius: $tag-button-radius;
    min-height: $tag-button-line-height;
  }

  .k-TagButton--hydrogen {
    @include k-buttonColorBase($hydrogen-colors);
  }

  // Size modifier.
  .k-TagButton--big {
    @include k-typographyFontSize($button-step, $tag-button-line-height-big);

    min-width: $tag-button-min-width-big;
    min-height: $tag-button-line-height-big;
  }

  // Icon modifier.
  .k-TagButton--icon {
    border-color: map-get($k-colors, 'line-2');
    background-color: map-get($k-colors, 'background-1');

    &:hover {
      border-color: map-get($k-colors, 'primary-1');
      background-color: map-get($k-colors, 'background-1');
    }

    &:active {
      border-color: map-get($k-colors, 'primary-3');
      background-color: map-get($k-colors, 'background-1');
    }
  }

  // svg modifier.
  .k-TagButton__icon {
    vertical-align: middle;
  }
}
