/// Setup a tag button element.
///
/// This mixin will setup an element to look like a button with a tag inside.
///
/// Paddings depend on the size of button and the size of the tag.
/// It is computed automatically with these 2 values.
///
/// Available color modifier:
/// - `.k-TagButton--helium`
/// - `.k-TagButton--carbon`
///
/// Available size modifier:
/// - `.k-TagButton--tiny`
/// - `.k-TagButton--big`
///
/// Available icon modifier:
/// - `.k-TagButton--icon`
///
/// Available svg modifier:
/// - `.k-TagButton__svg`
///
/// @group buttons
///
/// @example scss - Usage
///   @include k-TagButton;
///
/// @example html
///   <button class="k-TagButton k-TagButton--helium">Tag</button>
///
/// @example html
///   <button class="k-TagButton k-TagButton--icon">
///     <svg class="k-TagButton__icon" />
///   </button>

@mixin k-TagButton {
  $font: 'regular';
  $border-size: 2px;

  // Size settings tag-button.
  $tag-button-size-tiny: 30px - ($border-size * 2);
  $tag-button-size: 40px - ($border-size * 2);
  $tag-button-size-big: 50px - ($border-size * 2);

  $tag-button-min-width: k-px-to-rem(60px);

  $tag-button-line-height-tiny: k-px-to-rem($tag-button-size-tiny);
  $tag-button-line-height: k-px-to-rem($tag-button-size);
  $tag-button-line-height-big: k-px-to-rem($tag-button-size-big);

  $tag-button-min-width-big: 80px - ($border-size * 2);

  // The tag button has a radius of 4px
  $tag-button-radius: k-px-to-rem(4px);

  // Button font-size is computed using a modular scale and a defined step of
  // this scale.
  $button-step: -2; // 12px
  $button-big-step: -1; // 14px

  $transition-speed: .2s;

  .k-TagButton {
    @include k-buttonBase;
    @include k-typographyFont($font);
    @include k-typographyFontSize($button-step, $tag-button-line-height);

    padding: 0 k-px-to-rem(20px);
    border-radius: $tag-button-radius;
    min-height: $tag-button-line-height;
    min-width: $tag-button-min-width;
  }

  // Colors modifiers.
  .k-TagButton--helium {
    @include k-tagButtonColors('helium');
  }

  .k-TagButton--carbon {
    @include k-tagButtonColors('carbon');
  }

  // Size modifier.
  .k-TagButton--tiny {
    @include k-typographyFontSize(
      $button-step,
      $tag-button-line-height-tiny
    );

    min-height: $tag-button-line-height-tiny;
  }

  .k-TagButton--big {
    @include k-media-min('s') {
      @include k-typographyFontSize(
        $button-big-step,
        $tag-button-line-height-big
      );

      padding: 0 k-px-to-rem(30px);
      min-width: $tag-button-min-width-big;
      min-height: $tag-button-line-height-big;
    }
  }

  // Icon modifier.
  .k-TagButton--icon {
    @include k-buttonColors('hydrogen', (svg: false));
  }

  // svg modifier.
  .k-TagButton__icon {
    vertical-align: middle;
  }
}
