<%= example "Margin top" do %>
  <div class="k-u-margin-top-single">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-top-double">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-top-triple">
    <div class="">
    </div>
  </div>
<% end %>

<%= example "Margin bottom" do %>
  <div class="k-u-margin-bottom-single">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-bottom-double">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-bottom-triple">
    <div class="">
    </div>
  </div>
<% end %>

<%= example "Margin left" do %>
  <div class="k-u-margin-left-single">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-left-double">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-left-triple">
    <div class="">
    </div>
  </div>
<% end %>

<%= example "Margin right" do %>
  <div class="k-u-margin-right-single">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-right-double">
    <div class="">
    </div>
  </div>

  <div class="k-u-margin-right-triple">
    <div class="">
    </div>
  </div>
<% end %>
