// Default colors
$button-colors: (
  base: (
    color: #333,
    background-color: #fff,
    border-color: #d8d8d8
  ),
  hover: (
    color: #fff,
    background-color: #333
  ),
  focus: (
    color: #fff,
    background-color: #ddd,
  ),
  active: (
    color: #fff,
    background-color: #151515
  ),
  disabled: (
    color: #fff,
    background-color: #d8d8d8
  )
) !default;

$button-icon-colors: (
  base: (
    color: #333,
    background-color: #fff,
    border-color: #d8d8d8
  ),
  hover: (
    color: #333,
    background-color: #fff,
    border-color: #333
  ),
  focus: (
    color: #333,
    background-color: #fff,
    border-color: #333
  ),
  active: (
    color: #fff,
    background-color: #333
  ),
  disabled: (
    color: #fff,
    background-color: #d8d8d8
  ),
  is-selected: (
    color: #fff,
    background-color: #333
  )
) !default;

$button-image-colors: (
  base: (
    color: #333,
    background-color: #fff,
    border-color: #d8d8d8
  ),
  hover: (
    color: #333,
    background-color: #fff,
    border-color: #333
  ),
  active: (
    color: #333,
    background-color: #fff,
    border-color: #151515
  )
) !default;

// Buttons variables
$button: (
  typography: $k-typography,
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center
  ),
  colors: $button-colors
);

$button-icon: (
  colors: $button-icon-colors
);

$button-image: (
  colors: $button-image-colors
);

@include k-Button($button);
@include k-ButtonIcon($button-icon);
@include k-ButtonImage($button-image);
