// Default colors
$label-with-info-colors:(
  active: black,
  inactive: #aaa
) !default;

$slider-color: black !default;

$text-input-with-unit-colors: (
  border: #ddd,
  error: red
) !default;

// Form variables
$label: (
  font: source-sans-semi-bold
);

$label-with-info: (
  colors: $label-with-info-colors
);

$slider: (
  color: $slider-color
);

$text-input-with-unit: (
  input-font: source-sans,
  unit-font: source-sans-semi-bold,
  colors: $text-input-with-unit-colors
);

@include k-Label($label);
@include k-LabelWithInfo($label-with-info);
@include k-Slider($slider);
@include k-TextInputWithUnit($text-input-with-unit);
