@include k-Label((
  font: source-sans-semi-bold
));

@include k-LabelWithInfo((
  colors: (
    active: black,
    inactive: #aaa
  )
));

@include k-Slider((
  colors: (
    progress: #333,
    progress-disabled: #d8d8d8,
    ramp: #eee,
    handle: #fff,
    handle-disabled: #d8d8d8,
    icon: #d8d8d8,
    icon-disabled: #fff,
    border: #eee,
  )
));

@include k-TextInputWithUnit((
  input-font: source-sans,
  unit-font: source-sans-semi-bold,
  colors: (
    border: #d8d8d8,
    error: #ff4146,
    focus: #4a84ff
  )
));
