// Default colors
$horizontal-nav-colors: (
  base: (
    background-color: #fff,
    border-color: #eee,
    color: #333,
  ),
  hover: (
    color: #4a84ff,
  ),
  focus: (
    border-color: #4a84ff,
    color: #4a84ff,
  ),
  is-selected: (
    color: #333,
    border-color: #333,
  )
) !default;

// Horizontal nav variables
$horizontal-nav: (
  typography: map-merge($k-typography, (
    font-size: k-px-to-rem(12px),
    line-height: k-px-to-rem(16px)
  )),
  multiplier: $major-second,
  font: (
    family: 'source-sans',
    font-weight: 600,
    letter-spacing: 1px,
    text-transform: uppercase,
    text-decoration: none,
    text-align: center,
  ),
  colors: $horizontal-nav-colors
);

@include k-HorizontalNav($horizontal-nav);
