// TODO: remove in favor of map-get($k-typography, 'root')
$k-root-font-size: 16px !global;

// TODO: rename to k-typography
// TODO: use k-typography-definition
$typography: (
  root: $k-root-font-size,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  scale-multiplier: $major-second,

  // TODO: remove some day
  typeface: (
    source-sans: (
      family: '"Source Sans Pro", Helvetica, Arial, sans-serif'
    ),
    source-sans-semi-bold: (
      family: '"Source Sans Pro", Helvetica, Arial, sans-serif'
    )
  ),

  // TODO: remove some day
  body-copy: (
    family: 'source-sans',
    font-smooth: subpixel-antialiased,
    color: #333
  )
);

$typographic-scale: (
  styles: (
    ParagraphXl: (
      family: 'source-sans',
      step: 2,

      font-weight: 400
    ),

    ParagraphLg: (
      family: 'source-sans',
      step: 1,

      font-weight: 400
    ),

    ParagraphMd: (
      family: 'source-sans',
      step: 0,

      font-weight: 400
    ),

    ParagraphSm: (
      family: 'source-sans',
      step: -1,

      font-weight: 400
    ),

    ParagraphXs: (
      family: 'source-sans',
      step: -2,

      font-weight: 400
    )
  )
);

@include k-TypographyScale($typographic-scale);

// TODO: do not pass $typography
@include k-TypographyBodyCopy($typography);
