@include k-TypographyScale((
  styles: (
    ParagraphXl: (
      family: 'source-sans',
      step: 2,

      font-weight: 400
    ),

    ParagraphLg: (
      family: 'source-sans',
      step: 1,

      font-weight: 400
    ),

    ParagraphMd: (
      family: 'source-sans',
      step: 0,

      font-weight: 400
    ),

    ParagraphSm: (
      family: 'source-sans',
      step: -1,

      font-weight: 400
    ),

    ParagraphXs: (
      family: 'source-sans',
      step: -2,

      font-weight: 400
    )
  )
));

@include k-TypographyBodyCopy((
  family: 'source-sans',
  color: #333
));
