<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6@s k-Grid__col--4@l">
    <%= example 'Platform switch dropdown (positioned with parent)' do %>
      <div id="k-PlatformSwitchDropdown" class="karl-Dropdown--platformSwitch">
        <%= react_component 'KarlPlatformSwitch' %>
      </div>
    <% end %>
  </div>
</div>

