<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Tab bar' do %>
      <%= react_component "TabBar", props: {
        items: [
          { text: "Lorem\nipsum dolor", href: "#", selected: true },
          { text: "Lorem\nipsum dolor", href: "#" },
          { text: "Lorem\nipsum dolor", href: "#" },
        ]
      } %>
    <% end %>

    <%= example 'Tab bar with 4 items' do %>
      <%= react_component "TabBar", props: {
        items: [
          { text: "Lorem\nipsum dolor", href: "#" },
          { text: "Lorem\nipsum dolor", href: "#" },
          { text: "Lorem\nipsum dolor", href: "#", selected: true },
          { text: "Lorem\nipsum dolor", href: "#" },
        ]
      } %>
    <% end %>
  </div>
</div>
