<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--6@s k-Grid__col--4@l">
    <%= example 'User menu dropdown' do %>
      <div id="k-UserMenuDropdown" class="karl-Dropdown--platformSwitch">
        <%= react_component 'KarlUserMenuDropdown' %>
      </div>
    <% end %>
  </div>
</div>
