<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Title with two buttons' do %>
      <div class="k-titleWithActions">
        <h2 class="k-titleWithActions__title">
          Feles sunt socialis animalibus
        </h2>
        <p class="k-titleWithActions__action is-first">
          <a href="#" class="k-Button k-Button--hydrogen k-titleWithActions__action__button">
            Action 1 title
          </a>
        </p>
        <p class="k-titleWithActions__action is-last">
          <a href="#" class="k-Button k-Button--hydrogen k-titleWithActions__action__button">
            Action 2 title
          </a>
        </p>
      </div>
    <% end %>
  </div>
</div>
