<%= example do %>
  <div class="k-Testimony">
    <h2 class="k-Testimony__title">What our customers say</h2>
    <img class="k-Testimony__image"
         alt="Cute kitten"
         src="https://placekitten.com/g/150/150"
         width="150"
         height="150" />
    <blockquote class="k-Testimony__text">
      “I never touched that sofa. It scratched itself.”
    </blockquote>
  </div>
<% end %>
