<%= example 'Default rich content link' do %>
  <div id="external-rich-link-1"></div>
  <script type="text/babel">
    ReactDOM.render(
      <ExternalRichLink></ExternalRichLink>,
      document.getElementById('external-rich-link-1')
    )
  </script>
<% end %>

<%= example 'Rich content link' do %>
  <div id="external-rich-link-2"></div>
  <script type="text/babel">
    const svg = (<svg width="100px" height="50px" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
      <polyline points="5 20, 20 20, 25 10, 35 30, 45 10, 55 30, 65 10, 75 30, 80 20, 95 20"
                style={ { stroke: 'black', strokeWidth: 3, fill: 'none'} }/>
    </svg>)

    ReactDOM.render(
      <ExternalRichLink>{ svg }</ExternalRichLink>,
      document.getElementById('external-rich-link-2')
    )
  </script>
<% end %>

<%= example 'Image link' do %>
  <div id="external-rich-link-3"></div>
  <script type="text/babel">
    ReactDOM.render(
      <ExternalRichLink>
        <img src="https://placekitten.com/150/51" alt="Kawaiii kitten!" />
      </ExternalRichLink>,
      document.getElementById('external-rich-link-3')
    )
  </script>
<% end %>
