@mixin k-Modal {
  .k-Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    padding: k-px-to-rem(40px) 0;

    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #eee;
    border-radius: 15px;
    text-align: center;

    outline: none;
    overflow: scroll;
  }

  .k-Modal__close {
    position: absolute;
    top: k-px-to-rem(10px);
    right: k-px-to-rem(10px);
  }

  .k-Modal__paragraph {
    padding: 0 k-px-to-rem(20px);

    @include k-media-min('m') {
      padding: 0 k-px-to-rem(70px);
    }
  }

  .k-Modal__action {
    flex-direction: column;
    padding: 0 k-px-to-rem(45px);

    @include k-media-min('m') {
      justify-content: center;
      padding: 0 k-px-to-rem(70px);
    }
  }

  .k-Modal__button--first {
    margin-bottom: k-px-to-rem(10px);

    @include k-media-min('l') {
      margin-right: k-px-to-rem(10px);
      margin-bottom: 0;
    }
  }

  .k-ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: scroll;
  }

// Removes scroll from body
  .ReactModal__Body--open {
    overflow: hidden;
  }
}
