/// Modal
///
/// @group modals
///
/// @example scss - usage
///
///   @include k-Modal((
///     z-index: 10
///   ));
///
/// @example html
///
///   <div class="k-Modal k-Modal--afterOpen">
///     <div class="k-Modal__paragraph"> … </div>
///     <div class="k-Modal__action"> … </div>
///   </div>

@mixin k-Modal($options) {
  .k-Modal {
    position: relative;
    max-height: calc(100vh - #{k-px-to-rem(16px)} * 2);
    max-width: calc(100vw - #{k-px-to-rem(16px)} * 2);
    padding: k-px-to-rem(40px) k-px-to-rem(20px);

    background-color: map-get($k-colors, 'background-1');
    border: 1px solid map-get($k-colors, 'line-1');
    border-radius: 15px;
    text-align: center;

    outline: none;
    box-sizing: border-box;
    overflow: scroll;

    @include k-media-min('s') {
      width: k-px-to-rem(550px);
      padding-right: k-px-to-rem(70px);
      padding-left: k-px-to-rem(70px);
    }
  }

  .k-Modal__close {
    position: absolute;
    top: k-px-to-rem(10px);
    right: k-px-to-rem(10px);
  }

  .k-Modal__button--first {
    @include k-media-min('m') {
     text-align: right;
    }
  }

  .k-Modal__button--last {
    @include k-media-min('m') {
      text-align: left;
    }
  }

  .k-Modal__button--button {
    margin-bottom: k-px-to-rem(10px);

    @include k-media-min('m') {
      margin-right: k-px-to-rem(10px);
      margin-bottom: 0;
    }
  }

  .k-ModalOverlay {
    position: fixed;
    z-index: map-get($options, 'z-index');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.75);
  }

// Removes scroll from body
  .ReactModal__Body--open {
    overflow: hidden;
  }
}
