/// Static Tooltip
///
/// @group tooltips
///
/// @example scss - Usage
///
///   @include k-StaticTooltip;
///
/// @example html
///
///   <div class="k-StaticTooltip">
///     <div class="k-StaticTooltip__content">
///       <span class="k-StaticTooltip__arrow" />
///       Lorem ipsum...
///     </div>
///   </div>

@mixin k-StaticTooltip {
  // Colors Lithium
  $color-lithium: map-get($k-colors, 'primary-1');
  $border-color-lithium: map-get($k-colors, 'primary-4');
  $background-color-lithium: map-get($k-colors, 'background-1');

  $font: 'regular';
  $font-size: -3;
  $line-height: 1.3;

  $arrow-size: k-px-to-rem(8px);

  .k-StaticTooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: k-px-to-rem(10px);
    text-align: left;
  }

  .k-StaticTooltip__content {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-size, $line-height);

    padding: k-px-to-rem(20px);
    margin-top: $arrow-size;
    position: relative;

    background-color: $background-color-lithium;
    border: 1px solid $border-color-lithium;
    border-radius: k-px-to-rem(8px);
    color: $color-lithium;
  }

  .k-StaticTooltip__arrow {
    position: absolute;
    left: 8rem;
    display: block;
    width: 0;
    height: 0;
    border: $arrow-size solid transparent;
    border-bottom-color: $border-color-lithium;
    top: -1rem;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: -$arrow-size;
      margin-top: .09rem;
      border: $arrow-size solid transparent;
      border-bottom-color: white;
      top: -.5rem;
    }
  }
}
