/// Tooltip
///
/// @group tooltips
///
/// @example scss - Usage
///
///   @include k-Tooltip;
///
/// @example html
///
///   <div class="k-Tooltip">
///     <span class="k-Tooltip__arrow" />
///     Lorem ipsum…
///   </div>

@mixin k-Tooltip {
  // Colors helium
  $color-helium: map-get($k-colors, 'background-1');
  $border-color-helium: map-get($k-colors, 'primary-1');
  $background-color-helium: map-get($k-colors, 'primary-1');

  $font: 'source-sans';
  $font-size: -3;
  $line-height: 1.3;

  $arrow-size: k-px-to-rem(8px);

  // DEPRECATED
  $tooltip-margin: k-px-to-rem(18px);

  .k-Tooltip .k-Tooltip__content {
    @include k-typographyFont($font);
    @include k-typographyFontSize($font-size, $line-height);

    padding-right: k-px-to-rem(20px);
    padding-left: k-px-to-rem(20px);
    width: k-px-to-rem(340px);
    box-sizing: border-box;

    background-color: $background-color-helium;
    border: 1px solid $border-color-helium;
    border-radius: k-px-to-rem(8px);
    color: $color-helium;
  }

  .k-Tooltip__arrow {
    position: absolute;
    // TODO this should be set by JavaScript only
    left: 8rem;
    display: block;
    width: 0;
    height: 0;
    border: $arrow-size solid transparent;
    border-top-color: $border-color-helium;
    bottom: -1rem;
  }

  .k-Tooltip__content {
    background-color: $background-color !important;
    color: $color !important;
    opacity: 1 !important;

    padding: k-px-to-rem(20px) !important;

    max-width: k-px-to-rem(340px) !important;
    border-radius: k
  }
}
