/// WithTooltip
///
/// @group tooltips
///
/// @example scss - Usage
///
///   @include k-WithTooltip;
///
/// @example html
///
///   <div class="k-WithTooltip">
///     <Tooltip />
///   </div>

@mixin k-WithTooltip {
  .k-WithTooltip {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .k-WithTooltip__tooltip {
    position: absolute;
    bottom: 30px;
  }
}
