<%= example do %>
  <div class="k-Hero k-Hero--onDark kstyleguide-Hero--catBackground">
    <div class="k-Hero__container">
      <div class="k-Hero__text">
        <h1 class="k-Hero__text__title">Yarn balls</h1>
        <h2 class="k-Hero__text__subtitle">Infinite fun.</h2>
        <h2 class="k-Hero__text__subtitle">Until humans have to roll them back.</h2>
      </div>
      <div class="k-Hero__action">
        <img src="https://placekitten.com/300/400"
             width="300"
             height="400"
             alt="" />
        <p>Kitten after a day of playing whith yarn</p>
      </div>
    </div>
  </div>
<% end %>
