/// Link box
///
/// @group box
///
/// @example scss - usage
///   @include k-Box((
///     background-color: #fff,
///     border-color: #eee,
///     background-color-active: #eee,
///   ));
///
/// @example html
/// <a class="k-Box" href="#">
///   <div class="k-Box__element">
///     <div class="k-Box__container">
///       <div class="k-Box__content">
///         <p class="k-Box__title"></p>
///         <p class="k-Box__text"></p>
///       </div>
///       <div class="k-Box__navigation">
///         <button tittle="Suivant" class="k-Box__button
///                                         k-ButtonIcon
///                                         k-ButtonIcon--default
///                                         k-ButtonIcon--tiny
///                                         k-ButtonIcon--withoutHover">
///           <svg>…</svg>
///         </button>
///       </div>
///     </div>
///   </div>
/// </a>

@mixin k-Box($link-box) {
  @include k-with-module("k-Box: $link-box") {

    $background-color: k-color-definition(
      k-map-fetch($link-box, ('colors', 'background')));
    $border-color: k-color-definition(
      k-map-fetch($link-box, ('colors', 'border')));
    $background-color-active: k-color-definition(
      k-map-fetch($link-box, ('colors', 'background-active')));

    $color: map-get($k-colors, 'font-1');
    $border-size: 1px;
    $border-radius: k-px-to-rem(8px);
    $margin-container: k-px-to-rem(14px) k-px-to-rem(20px);

    a:link {
      text-decoration: none;
    }

    .k-Box__element {
      position: relative;

      width: k-px-to-rem(304px);
      box-sizing: border-box;

      background-color: $background-color;
      border-radius: $border-radius;
      border: $border-size solid $border-color;

      &:active {
        background-color: $background-color-active;
      }
    }

    .k-Box__container {
      min-height: k-px-to-rem(70px);
      box-sizing: border-box;
      margin: $margin-container;
      display: flex;
      justify-content: space-between;
    }

    .k-Box__content {
      max-width: k-px-to-rem(204px);

      p {
        color: $color;
      }
    }

    .k-Box__title {
      @include k-typographyFont('source-sans-semi-bold');
      @include k-typographyFontSize(0);

      margin-top: 0;
      margin-bottom: 0;
    }

    .k-Box__text {
      @include k-typographyFont('source-sans-light');
      @include k-typographyFontSize(-1);

      margin-top: 0;
      margin-bottom: 0;
    }

    .k-Box__navigation {
      display: flex;
      align-items: center;
      justify-content:center;
    }
  }
}
