/// Link box with icon
///
/// @group box
///
/// @example scss - usage
///
///  @include k-LinkBoxWithIcon;
///
/// @example html
///   <a class="k-LinkBox k-LinkBoxWithIcon" href="#">
///     <div class="k-LinkBox__container k-LinkBoxWithIcon__container">
///       <div class="k-LinkBoxWithIcon__image">…</div>
///
///       <div class="k-LinkBoxWithIcon__content">
///         <div class="k-LinkBox__paragraph">
///           <p class="k-LinkBox__title">…</p>
///           <p class="k-LinkBox__text">…</p>
///         </div>
///
///         <div class="k-LinkBox__navigation
///                     k-LinkBox__navigation--withAnimation">
///           <span title="Suivant" class="k-LinkBoxWithIcon__button
///                                        k-ButtonIcon
///                                        k-ButtonIcon--hydrogen
///                                        k-ButtonIcon--tiny
///                                        k-ButtonIcon--withoutHover
///                                        k-ButtonIcon--verticalArrow">
///             <svg class="k-ButtonIcon__svg">…</svg>
///           </span>
///         </div>
///       </div>
///
///     </div>
///   </a>

@mixin k-LinkBoxWithIcon {

  // Color icon
  $background-color-icon: map-get($k-colors, 'primary-4');

  $border-size: 1px;
  $border-radius: k-px-to-rem(8px);
  $padding-container: k-px-to-rem(15px) k-px-to-rem(20px);

  .k-LinkBoxWithIcon__container {
    width: k-px-to-rem(395px);
    padding: 0;
  }

  .k-LinkBoxWithBox__content {
    display: flex;

    max-width: k-px-to-rem(305px);
    box-sizing: border-box;
    padding: $padding-container;
  }

  .k-LinkBoxWithIcon__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: k-px-to-rem(90px);
    background-color: $background-color-icon;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .k-LinkBoxWithIcon__svg {
    width: k-px-to-rem(38px);
  }
}
