<%= example "info" do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label">Age</label>
    <div class="k-LabelWithInfo__info">Your current age</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>

<%= example "info is-inactive" do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label">Label</label>
    <div class="k-LabelWithInfo__info is-inactive">Inactive</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>

<%= example "info is-active" do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label">Label</label>
    <div class="k-LabelWithInfo__info is-active">Active</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>
