<%= example do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label k-StyleguideExample__title">Age</label>
    <div class="k-LabelWithInfo__info">Your current age</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>

<%= example do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label k-StyleguideExample__title">Label</label>
    <div class="k-LabelWithInfo__info is-inactive">Inactive</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>

<%= example do %>
  <div class="k-LabelWithInfo">
    <label class="k-LabelWithInfo__label k-StyleguideExample__title">Label</label>
    <div class="k-LabelWithInfo__info is-active">Active</div>
  </div>
  <p><input style="width: 100%" /></p>
<% end %>
