<%= example do %>
  <div class="k-Slider">
    <div class="k-Slider__ramp">
      <div class="k-Slider__progress" style="width: 0"></div>
      <div class="k-Slider__handle" tabindex="0" style="left: 0">
        <svg class="k-Slider__handleIcon" viewBox="0 0 100 100">
          <path d="M0 0 v100 h20 v-100 z" />
          <path d="M40 0 v100 h20 v-100 z" />
          <path d="M80 0 v100 h20 v-100 z" />
        </svg>
      </div>
    </div>
  </div>
<% end %>

<%= example do %>
  <div class="k-Slider">
    <div class="k-Slider__ramp">
      <div class="k-Slider__progress"
           style="width: 25%"
           id="slider-progress"></div>
      <div class="k-Slider__handle"
           tabindex="0"
           style="left: 25%"
           id="slider-handle">
        <svg class="k-Slider__handleIcon" viewBox="0 0 100 100">
          <path d="M0 0 v100 h20 v-100 z" />
          <path d="M40 0 v100 h20 v-100 z" />
          <path d="M80 0 v100 h20 v-100 z" />
        </svg>
      </div>
    </div>
  </div>
  <script>
    setInterval(function() {
      var percentage = Math.random() * 100 + '%'
      document.getElementById('progress').style.width = percentage
      document.getElementById('handle').style.left = percentage
    }, 2000)
  </script>
<% end %>

<%= example "disabled" do %>
  <div class="k-Slider is-disabled">
    <div class="k-Slider__ramp">
      <div class="k-Slider__progress" style="width: 50%"></div>
      <div class="k-Slider__handle" style="left: 50%">
        <svg class="k-Slider__handleIcon" viewBox="0 0 100 100">
          <path d="M0 0 v100 h20 v-100 z" />
          <path d="M40 0 v100 h20 v-100 z" />
          <path d="M80 0 v100 h20 v-100 z" />
        </svg>
      </div>
    </div>
  </div>
<% end %>
