/// Tooltip
///
/// @group tooltips
///
/// @example scss - Usage
///
///   @include k-Tooltip;
///
/// @example html
///
///   <ReactTooltip id="tooltip"
///                 class="k-Tooltip--custom"
///                 effect="solid">
///     <button class="k-ButtonIcon
///                    k-ButtonIcon--beryllium
///                    k-ButtonIcon--micro
///                    k-ButtonIcon--tooltip">
///       <svg class="k-ButtonIcon__svg"/> … </svg>
///     </button>
///   </ReactTooltip>

@mixin k-Tooltip {

  // Colors
  $background-color: map-get($k-colors, 'primary-1');
  $color: map-get($k-colors, 'background-1');

  .k-Tooltip--custom {
    background-color: $background-color !important;
    color: $color !important;

    max-width: k-px-to-rem(340px);
    border-radius: k-px-to-rem(8px) !important;

    &:after {
      border-top-color: $background-color !important;
      border-top-style: solid !important;
      border-top-width: 8px !important;
    }
  }
}
