// Kitten library
@import 'kitten';

// Configuration
@import 'kitten/config';

// Heroes
.karl-Row--catBackground {
  background-image: url("https://placehold.it/40x40/caf4fe/caf4fe");
}

// Dropdowns
.karl-Dropdown--default {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px #d8d8d8 solid;
  border-radius: 2px;
  background-color: white;
}

.karl-Dropdown--default__button {
  display: block;
  padding: 5px;
  min-width: 100px;

  border: 1px #d8d8d8 solid;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  outline: 0;

  @include k-typographyFontSize(-2, 2);
  @include k-typographyFont('bold-uppercase');
}

.karl-Dropdown--default__item {
  display: block;
  padding: 10px;
  min-width: 160px;

  text-decoration: none;
  color: #333;

  &:focus,
  &:hover {
    background-color: #d8d8d8;
  }
}

.karl-Dropdown--platformSwitch {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  padding-left: 10px;

  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  background: white;
}

.karl-AutoTriggerPopover {
  position: absolute;
  top: 80px;
  right: 20px;
}

.karl-AutoTriggerCallToActionPopover {
  position: absolute;
  top: 80px;
  left: 20px;
}
