// Kitten library
@import 'kitten';

// Configuration
@import 'kitten/config';

// Style guide: these stylesheets are only accessible with the Rails engine.
@import 'kitten/karl';

// For testing purposes, you can uncomment one of the following themes
@import 'kitten/theme-hellomerci';
// @import 'kitten/theme-kisskissbankbank';
// @import 'kitten/theme-lendopolis';

// Components instanciation
@import 'kitten/components';
@import 'kitten/utilities';
