// Your helper should be in kitten/helpers/your-helper-type/_helper-name.scss

@import "kitten/schema";
// Import your helper dependencies.

/// Describe your helper here for SassDoc.
///
/// @group group_name_matching_your_helper_type
///        cf. http://sassdoc.com/annotations/#group
///
/// @parameter {your-param-type} $your-param-name [optional default value] -
///            your parameter description.
///            cf. http://sassdoc.com/annotations/#parameter
///
/// @example scss - usage
///   .foo { @include k-yourHelperName; }
///
/// @example css - css output
///   .foo { border: 1px solid red; }
@mixin k-yourHelperName {
  border: 1px solid red;
}
