// Your atom should be in kitten/atoms/your-atom-type/_atom-name.scss

@import "kitten/schema";
@import "kitten/atoms/your-atom-type/your-atom-schema";

/// Describe your atom here for SassDoc.
///
/// @group group_name_matching_your_atom_type
///        cf. http://sassdoc.com/annotations/#group
///
/// @parameter {Map} $your-map-param-name [optional default value] -
///            your parameter description.
///
/// @example scss - usage
///   @include k-YourAtomName($your-param);
///
/// @example css - css output
///   .k-YourAtomName { color: red; }
@mixin k-YourAtomName($your-param-name) {
  .k-YourAtomName {
    color: red;
  }
}
