@import 'kitten/schema';
// Import your schema dependencies.

/// The schema used to validate your atom definitions.
///
/// @group group_name_matching_your_schema_type
///        Cf. http://sassdoc.com/annotations/#group
///
/// @type Map
$k-your-atom-schema: (
  type: '',

  properties: (
    // typography: $k-typography-schema
  ),

  required: (
    // typography
  )
);
