<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Hero' do %>
      <div class="k-Hero k-Hero--onDark k-Hero--catBackground">
        <div class="k-Hero__text">
          <h1 class="k-Hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
          <p class="k-Hero__subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
        </div>
        <div class="k-Hero__action">
          <img class="k-Hero__img k-u-image-responsive"
               src="https://placehold.it/300x400/fff/fff"
               alt="" />
        </div>
      </div>
    <% end %>
  </div>
</div>
