<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Hero left' do %>
      <%= react_component 'KarlHero' %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Hero right' do %>
      <%= react_component 'KarlHero', props: {
        direction: 'right',
      } %>
    <% end %>
  </div>
</div>
