<div class="k-Grid">
  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Beginning' do %>
      <%= react_component("Stepper", props: {
        items: [
          {
            text: "Catopuma\n Temminckii",
            href: "#",
            linkClassNames: "k-Stepper__link--active",
            iconType: "active",
          },
          {
            text: "Prionaelurus\n planiceps",
            href: "#",
            iconType: "default",
          },
          {
            text: "Serval",
            href: "#",
            iconType: "validated",
          },
          {
            text: "Lynx\n pardinus",
            linkClassNames: "k-Stepper__link--inactive",
            iconType: "default",
          },
        ]
      }) %>
    <% end %>
  </div>

  <div class="k-Grid__col k-Grid__col--12">
    <%= example 'Aligned to start' do %>
      <%= react_component("Stepper", props: {
        withAlignStart: true,
        withTinySpacing: true,
        items: [
          {
            text: "Catopuma\n Temminckii",
            href: "#",
            iconType: "default",
          },
          {
            text: "Prionaelurus\n planiceps",
            href: "#",
            iconType: "default",
          },
          {
            text: "Serval",
            href: "#",
            linkClassNames: "k-Stepper__link--validated",
            iconType: "validated",
          },
          {
            text: "Lynx\n pardinus",
            linkClassNames: "k-Stepper__link--inactive",
            iconType: "default",
          },
        ]
      }) %>
    <% end %>
  </div>
</div>
