:root {
  --border-radius-xs: 0.25rem; /* 4px */
  --border-radius-s: 0.375rem; /* 6px */
  --border-radius-m: 0.5rem; /* 8px */
  --border-radius-l: 0.625rem; /* 10px */
  --border-radius-xl: 1rem; /* 16px */
  --border-radius-rounded: 624.9375rem; /* 9999px */
}
