:root {
  /*!
  * @tokens BordersRadius
    @presenter BordersRadius
  */

  --border-radius-xs: 4px; /* 4px */
  --border-radius-s: 6px; /* 6px */
  --border-radius-m: 8px; /* 8px */
  --border-radius-l: 10px; /* 10px */
  --border-radius-xl: 100px; /* 100px */
}
