:root {
  /*!
  * @tokens BorderRadius
    @presenter BorderRadius
  */

  --border-radius-xs: 4px; /* 4px */
  --border-radius-s: 6px; /* 6px */
  --border-radius-m: 8px; /* 8px */
  --border-radius-l: 10px; /* 10px */
  --border-radius-xl: 16px; /* 16px */
  --border-radius-rounded: 9999px; /* 9999px */
}
