:root {
  /*!
  * @tokens Borders
    @presenter Border
  */

  --border-width: 1px; /* 1px */
  --border: var(--border-width) solid var(--color-grey-400);

  --border-hover: var(--border-width) solid var(--color-grey-500);
  --border-active: var(--border-width) solid var(--color-grey-600);

  --border-hover-primary: var(--border-width) solid var(--color-primary-300);
  --border-active-primary: var(--border-width) solid var(--color-primary-500);

  --border-danger: var(--border-width) solid var(--color-danger-500);
  --border-success: var(--border-width) solid var(--color-success-500);
  --border-warning: var(--border-width) solid var(--color-warning-500);

  --border-disabled: var(--border-width) solid var(--color-grey-400);
  --border-disabled-active: var(--border-width) solid var(--color-grey-500);

  --border-radius-xs: 4px; /* 4px */
  --border-radius-s: 6px; /* 6px */
  --border-radius-m: 8px; /* 8px */
  --border-radius-l: 10px; /* 10px */
  --border-radius-xl: 100px; /* 100px */
}
