:root {
  /*!
  * @tokens Colors
  * @presenter Color
  */

  --color-grey-100: #fbfbfb; /* Almost White */
  --color-grey-200: #f6f6f6; /* Ultra Super Light Grey */
  --color-grey-300: #eeeeee; /* Super Light Grey */
  --color-grey-400: #d8d8d8; /* Light Grey */
  --color-grey-500: #b8b8b8; /* Simply Grey */
  --color-grey-600: #949494; /* Grey Grey */
  --color-grey-700: #636363; /* Dark Grey */
  --color-grey-800: #2d2d2d; /* Very Dark Grey */
  --color-grey-900: #222222; /* Almost Black */
  --color-grey-000: #ffffee; /* White */
  --color-green-100: #e4fbf4; /* Very Light Green */
  --color-green-300: #a4e7d3; /* Light Green */
  --color-green-500: #08a777; /* Green */
  --color-green-700: #0e7758; /* undefined */
  --color-green-900: #004933; /* Dark Green */
  --color-blue-100: #e7f1ff; /* Very Light Blue */
  --color-blue-300: #7bb3ff; /* Light Blue */
  --color-blue-500: #006cff; /* Blue */
  --color-blue-700: #0050bd; /* Dark Blue */
  --color-blue-900: #003a88; /* Very Dark Blue */
  --color-yellow-100: #fff9dc; /* Very Light Yellow */
  --color-yellow-300: #ffe975; /* Light Yellow */
  --color-yellow-500: #ffd600; /* Yellow */
  --color-yellow-700: #b09401; /* Dark Yellow */
  --color-yellow-900: #5a4c00; /* Very Dark Yellow */
  --color-red-100: #ffe9ef; /* Very Light Red Alert (error) */
  --color-red-300: #ffb8cb; /* Light Red Alert (error) */
  --color-red-500: #f60044; /* Red Alert (error) */
  --color-red-700: #d10039; /* Dark Red Alert (error) */
  --color-red-900: #970029; /* Very Dark Red Alert (error) */
}
