:root {
  --color-grey-100: #fbfbfb; /* Almost White */
  --color-grey-200: #f6f6f6; /* Ultra Super Light Grey */
  --color-grey-300: #eeeeee; /* Super Light Grey */
  --color-grey-400: #d8d8d8; /* Light Grey */
  --color-grey-500: #b8b8b8; /* Simply Grey */
  --color-grey-600: #949494; /* Grey Grey */
  --color-grey-700: #636363; /* Dark Grey */
  --color-grey-800: #2d2d2d; /* Very Dark Grey */
  --color-grey-900: #222222; /* Almost Black */
  --color-grey-000: #ffffff; /* White */
  --color-success-100: #e4fbf4; /* Very Light Green */
  --color-success-300: #a4e7d3; /* Light Green */
  --color-success-500: #08a777; /* Green */
  --color-success-700: #0e7758; /* #0e7758 */
  --color-success-900: #004933; /* Dark Green */
  --color-primary-100: #e7f1ff; /* Very Light Blue */
  --color-primary-300: #7bb3ff; /* Light Blue */
  --color-primary-500: #006cff; /* Blue */
  --color-primary-700: #0050bd; /* Dark Blue */
  --color-primary-900: #003a88; /* Very Dark Blue */
  --color-warning-100: #fff3d2; /* Very Light Yellow */
  --color-warning-300: #ffdd84; /* Light Yellow */
  --color-warning-500: #ffb800; /* Yellow */
  --color-warning-700: #906800; /* Dark Yellow */
  --color-warning-900: #4e3800; /* Very Dark Yellow */
  --color-danger-100: #ffe9ef; /* Very Light Red Alert (error) */
  --color-danger-300: #ffb8cb; /* Light Red Alert (error) */
  --color-danger-500: #f60044; /* Red Alert (error) */
  --color-danger-700: #d10039; /* Dark Red Alert (error) */
  --color-danger-900: #970029; /* Very Dark Red Alert (error) */
}
