/// Button image with text
///
/// @group buttons
///
/// @example scss - usage
///
///   @include k-ButtonImageWithText;
///
/// @example html
///
///   <div class="k-ButtonImageWithText">
///     <p class="k-ButtonImageWithText__text">Firstname</p>
///
///     <button class="k-ButtonImage" title="Profil">
///       <img class="k-ButtonImage__img" src="https://placekitten.com/40/40">
///     </button>
///   </div>

@mixin k-ButtonImageWithText {

  .k-ButtonImageWithText {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .k-ButtonImageWithText--vertical {
    flex-direction: column;
  }

  .k-ButtonImageWithText__text {
    margin: k-px-to-rem(10px);

    @include k-typographyFontSize(-1, 1);
    @include k-typographyFont('source-sans-semi-bold');
  }
}
