/// Button image with text
///
/// @group buttons
///
/// @example scss - usage
///
///   @include k-ButtonImageWithText;
///
/// @example html
///
///   <button class="k-ButtonImageWithText">
///     <span class="k-ButtonImage">
///       <img class="k-ButtonImage__img"
///            src="…"
///            width="…"
///            height="…"
///            alt="…" />
///     </span>
///
///     <p class="k-ButtonImageWithText__text">Firstname</p>
///   </button>

@mixin k-ButtonImageWithText {
  $color: map-get($k-colors, 'font-1');
  $color-hover: map-get($k-colors, 'primary-1');
  $color-active: map-get($k-colors, 'primary-3');

  .k-ButtonImageWithText {
    display: flex;
    align-items: center;
    align-self: flex-start;

    padding: 0;

    // Overrides default values of <button>
    border: none;
    background: none;

    cursor: pointer;
  }

  .k-ButtonImageWithText--vertical {
    flex-direction: column;
  }

  .k-ButtonImageWithText__text {
    margin: k-px-to-rem(10px);
    text-align: left;

    @include k-typographyFontSize(-1, 1);
    @include k-typographyFont('source-sans-semi-bold');

    .k-ButtonImageWithText:hover &,
    &:hover {
      color: $color-hover;
    }

    .k-ButtonImageWithText:active &,
    &:active {
      color: $color-active;
    }

    @include k-media-max('m') {
      display: none;
    }
  }

  // Modifiers.

  .k-ButtonImageWithText__text--withoutMarginRight {
    margin-right: 0;
  }

  .k-ButtonImageWithText__text--withEllipsis {
    text-overflow: ellipsis;
    max-width: k-px-to-rem(110px);
    white-space: nowrap;
    overflow: hidden;
  }
}
