/// We could be heroes
///
/// @group heroes
///
/// @example scss - usage
///
///   @include k-Hero((
///     font: 'source-sans',
///   ));
///
/// @example html
///
///  <div class="k-Hero">
///    <div class="k-Hero__container">
///      <div class="k-Hero__text">
///        <h1 class="k-Hero__title">Wool balls</h1>
///        <h2 class="k-Hero__subtitle">Infinite fun.</h2>
///        <h2 class="k-Hero__subtitle">Until you have to roll them back.</h2>
///      </div>
///      <div class="k-Hero__action">
///        <img src="https://placekitten.com/g/300/400" alt="" />
///      </div>
///    </div>
///  </div>

@mixin k-Hero($hero) {
  @include k-with-module('k-Hero') {
    $font: k-map-fetch($hero, 'font');

    .k-Hero {
      text-align: center;

      @include k-media-min('l') {
        @include k-grid;
        text-align: left;
      }
    }

    .k-Hero__text {
      margin: k-px-to-rem(40px) 0;

      @include k-media-min('s') {
        margin-top: k-px-to-rem(62px);
      }

      @include k-media-min('l') {
        @include k-grid-col(7);
        padding-top: k-px-to-rem(107px);
      }

      @include k-media-min('xl') {
        @include k-grid-col(6);
        @include k-grid-offset(1);
      }
    }

    .k-Hero__action {
      margin: k-px-to-rem(40px) 0;
      text-align: left;

      @include k-media-min('s') {
        margin-bottom: k-px-to-rem(80px);
      }

      @include k-media-min('l') {
        @include k-grid-col(5);
      }

      @include k-media-min('xl') {
        @include k-grid-col(4);
      }
    }

    .k-Hero__title {
      margin: 0;
      @include k-typographyFont($font);
      @include k-typographyFontSize(6);

      @include k-media-min('s') {
        @include k-typographyFontSize(10);
      }
    }

    .k-Hero__subtitle {
      margin: 0;
      @include k-typographyFont($font);
      @include k-typographyFontSize;

      @include k-media-min('s') {
        @include k-typographyFontSize(4);
      }
    }

    .k-Hero--onDark {
      color: #fff;

      a {
        color: inherit;
      }
    }
  }
}
