/// We could be heroes
///
/// @group heroes
///
/// @example scss - usage
///
///   @include k-Hero((
///     font: 'source-sans',
///   ));
///
/// @example html
///
///  <div class="k-Hero">
///    <div class="k-Hero__container">
///      <div class="k-Hero__text">
///        <h1 class="k-Hero__title">Wool balls</h1>
///        <h2 class="k-Hero__subtitle">Infinite fun.</h2>
///        <h2 class="k-Hero__subtitle">Until you have to roll them back.</h2>
///      </div>
///      <div class="k-Hero__action">
///        <img src="https://placekitten.com/g/300/400" alt="" />
///      </div>
///    </div>
///  </div>

@mixin k-Hero($hero) {
  @include k-with-module('k-Hero') {
    $font: k-map-fetch($hero, 'font');

    $two-columns-breakpoint: 60em;

    .k-Hero {
      // Apps will want to override with a custom background image and color
      background-size: cover;
      background-repeat: no-repeat;
    }

    .k-Hero__container {
      @include k-container;

      @media (min-width: $two-columns-breakpoint) {
        display: flex;
      }

      align-items: center;
    }

    .k-Hero__text {
      flex: 1;
      margin: 0 gutter();

      @media (max-width: $two-columns-breakpoint) {
        text-align: center;
      }
    }
    .k-Hero__action {
      box-sizing: border-box;
      margin: 0 gutter();
      padding-top: 3rem;

      @media (min-width: $two-columns-breakpoint) {
        width: span(5 of 12);
      }
    }

    .k-Hero__title {
      margin: 0;
      @include k-typographyFontSize(10);
      @include k-typographyFont($font);
    }

    .k-Hero__subtitle {
      margin: .5rem 0;
      @include k-typographyFontSize(2);
      @include k-typographyFont($font);
    }

    .k-Hero--onDark {
      // Apps will want to override the background color and image
      background-color: #333;

      color: #fff;

      a {
        color: inherit;
      }
    }
  }
}
