<div class="karl-Example__column">
  <%= example "Hydrogen tag button" do %>
    <button class="k-ButtonTag k-ButtonTag--hydrogen">
      Tag
    </button>
  <% end %>

  <%= example "Selected tag button" do %>
    <button class="k-ButtonTag k-ButtonTag--hydrogen is-selected">
      Tag
    </button>
  <% end %>
</div>
