<div class="karl-Example__column">
  <%= example "Tag" do %>
    <button class="k-ButtonTag">
      Tag
    </button>
  <% end %>

  <%= example "Tag is selected" do %>
    <button class="k-ButtonTag is-selected">
      Tag
    </button>
  <% end %>
</div>
