<div class="karl-Example__column">
  <%= example "Default tag button" do %>
    <button class="k-ButtonTag k-ButtonTag--default">
      Tag
    </button>
  <% end %>

  <%= example "Selected tag button" do %>
    <button class="k-ButtonTag k-ButtonTag--default is-selected">
      Tag
    </button>
  <% end %>
</div>
